.row-card-color{
    background: #ecf0f1;
}

.child div:first-child{
    margin-left: 0;
}
// fieldset
// {
//   background-color:#CCC;
//   max-width:500px;
//   padding:16px;	
// }
.cardBox{
margin-bottom: 0 !important;
}


.modelView{
    position: absolute;
    right: 13px;
    top: -4px;
    font-size: 14px;
    color: #813f93;
}
hr.line {
    border-top: 2px solid #ccc;
    margin-top:0 !important;
  }