<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
  <app-header></app-header>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="fourtabview">
                <input name="nav" type="radio" class="about-radio" id="summary" (change)="changeTabIndex(2)"
                  [checked]="tabIndex == 2" />
                <div class="fourtabs  about-page">
                  <app-remb-summary *ngIf="tabIndex == 2" (myEvent)="changeTabIndexForRedirect($event)"
                    (policyNumber)="redirectToMaster($event)">
                  </app-remb-summary>
                </div>
                <label class="nav" for="summary">
                  <span>Summary </span>
                </label>

                <input name="nav" type="radio" class="nav home-radio" id="Master" (change)="changeTabIndex(1)"
                  [checked]="tabIndex == 1" />
                <div class="fourtabs  about-page">
                  <app-remb-registration *ngIf="tabIndex == 1" [policyNumber]="policyNumber"> </app-remb-registration>
                </div>
                <label class="nav" for="Master">
                  <span>Registration </span>
                </label>

                <input name="nav" type="radio" class="about-radio" id="Declaration" (change)="changeTabIndex(0)"
                  [checked]="tabIndex == 0" />
                <div class="fourtabs  about-page">
                  <app-remb-claim-nontax #licdeclaration [data]="data" *ngIf="tabIndex == 0"></app-remb-claim-nontax>
                </div>

                <label class="nav" for="Declaration">
                  <span>Claim - Non Taxable </span>
                </label>
                
                <input name="nav" type="radio" class="about-radio" id="claimtax" (change)="changeTabIndex(3)"
                  [checked]="tabIndex == 3" />
                <div class="fourtabs  about-page ">
                  <app-remb-claim-taxable #licdeclaration [data]="data" *ngIf="tabIndex == 3"></app-remb-claim-taxable>
                </div>

                <label class="nav" for="claimtax">
                  <span>Claim -Taxable </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
          <button type="button" class="btn active" data-toggle="button" aria-pressed="true" tooltip="Top"
            (click)="scrollToTop()">
            <i class="fa fa-angle-double-up text-white font-18"></i>
          </button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<router-outlet></router-outlet>