<app-leftmenu></app-leftmenu>
<div class="page">
  <app-header></app-header>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <!-- <div class="tabview-contents"> -->
              <!-- <div class="row mt-11"> -->
              <!-- <div class="col-9"> -->
              <!-- <div class="page"> -->
              <!-- <div class="row mt-"> -->
              <!-- <div class="col-12"> -->
              <!-- <div class="card"> -->
              <div class="mb-12 row">
                <div class="col-md-6">
                  <h3 class="font-14 text-purple font-bold">Sec. 80C Summary</h3>
                </div>
                <div class="col-md-6">
                  <span class="font-bold text-link float-left"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive Custom_Table">
                    <table class="table table-striped table-hover table-bordered m-b-0">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col" class="font700 wd-8">Sr. No.</th>
                          <th scope="col" class="font700 wd-50">Section</th>
                          <th scope="col" class="font700 wd-14">Declared</th>
                          <th scope="col" class="font700 wd-14">Actual</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor="let summary of summaryGridData; let i = index">
                                                    <td scope="row">
                                                        <span tooltip="1">{{summary.srNo}}</span>
                                                    </td>
                                                    <td class="align-left">
                                                        <span tooltip="{{summary.section}}">{{summary.section}}</span>
                                                    </td>
                                                    <td class="wd-15 align-right">
                                                        <span class="padding-right-12" tooltip="{{summary.declarationTotal | number:'1.2-2'}}">
                                                    {{summary.declarationTotal | number:'1.2-2'}}
                                                  </span>
                                                                          </td>
                                                                          <td class="wd-15 align-right">
                                                                              <span class="padding-right-12" tooltip="{{summary.actualTotal | number:'1.2-2'}}">
                                                    {{summary.actualTotal | number:'1.2-2'}}
                                                  </span>
                                                                          </td>
                                                                      </tr> -->


                       <tr let i=index>
                          <td scope="row">
                            <span tooltip="1">1</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="Employee Contribution to Privident Fund (PF)">Employee Contribution to
                              Privident Fund (PF)</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>


                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="2">2</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="Employee Contribution to Privident Fund (PF)">	Voluntary Provident Fund (PF)</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>


                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="3">3</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="Employee Cont.- National Pension Scheme 80-CCD(1)">Employee Cont.- National Pension Scheme 80-CCD(1)</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>

                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="4">4</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="Principle Repayment Housing Loan">Principle Repayment Housing Loan</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>

                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="5">5</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="House Property- Stamp Duty and Registration Charges">House Property- Stamp Duty and Registration Charges</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>

                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="6">6</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="	National Saving Certificate(NSC)- Accrued Interest">	National Saving Certificate(NSC)- Accrued Interest</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>

                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="7">7</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="Life Insurance Premium (LIP)">Life Insurance Premium (LIP)</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>

                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="8">8</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="Pension Plan U/s 80-CCC">Pension Plan U/s 80-CCC</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>

                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="9">9</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="National Saving Certificate (NSC)">National Saving Certificate (NSC)</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>

                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="10">10</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="Public Provident Fund (PPF)">Public Provident Fund (PPF)</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>

                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="11">11</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="Tuition Fees">Tuition Fees</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>

                        <tr let i=index>
                          <td scope="row">
                            <span tooltip="12">12</span>
                          </td>
                          <td class="align-left">
                            <span tooltip="Unit Linked Insurance Plan (ULIP)">Unit Linked Insurance Plan (ULIP)</span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                          <td class="wd-15 align-right">
                            <span class="padding-right-12">
                              00
                            </span>
                          </td>
                        </tr>



                        <tr class="table-light-color">
                          <td colspan="2" class="align-right font700">Total &nbsp;
                            <span class="Letterbadge">A</span>
                          </td>
                          <td> <span class="padding-right-12" tooltip="{{grandTotalDeclared | number:'1.2-2'}}">
                              {{grandTotalDeclared | number:'1.2-2'}}
                            </span>
                          </td>
                          <td>
                            <span class="padding-right-12" tooltip="{{grandTotalActual | number:'1.2-2'}}">
                              {{grandTotalActual | number:'1.2-2'}}
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="4">
                            <h3 class="align-left font-14 text-purple font-bold">Computation</h3>
                          </td>
                        </tr>
                        <tr class="table-light-color">
                          <td colspan="2" class="align-right font700">Limit Under Section 80-C &nbsp; <span
                              class="Letterbadge">B</span></td>
                          <td> <span class="padding-right-12" tooltip="{{limit | number:'1.2-2'}}">
                              {{limit | number:'1.2-2'}}
                            </span>
                          </td>
                          <td> <span class="padding-right-12" tooltip="{{limit | number:'1.2-2'}}">
                              {{limit | number:'1.2-2'}}
                            </span>
                          </td>
                        </tr>
                        <tr class="table-light-color">
                          <td colspan="2" class="align-right font700">
                            Benefit Under Section 80-C &nbsp;
                            <span class="Letterbadge">C </span> = Mininum of &nbsp;<span class="Letterbadge">
                              A</span> & &nbsp;<span class="Letterbadge"> B </span>
                          </td>
                          <td> <span class="padding-right-12" tooltip="{{benefitAvailableDeclared | number:'1.2-2'}}">
                              {{benefitAvailableDeclared | number:'1.2-2'}}
                            </span> </td>
                          <td> <span class="padding-right-12" tooltip="{{benefitAvailableActual | number:'1.2-2'}}">
                              {{benefitAvailableActual | number:'1.2-2'}}
                            </span> </td>
                        </tr>
                      </tbody>


                    </table>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <!-- </div> -->
              <!-- </div> -->
              <!-- </div> -->
              <!-- </div> -->
              <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
