<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="BasicInfoForm" (ngSubmit)="personalInfoSubmit(personalInformationModel)">
                                <!-- <div class="tabview"> -->
                                <div class="row">
                                    <!-- <div class="card-body col-sm-6"> -->
                                    &nbsp;&nbsp;
                                    <div class="circle thumbnail" (click)="fileInput.click($event, fileInput)">
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                                (change)="uploadFile($event, fileInput)" hidden
                                                [(ngModel)]="selectedImg" formControlName="image" />
                                        </div>
                                        <img [src]="imageUrl" alt="">
                                        <p class="image-size-info">Selected Image size should be less than 1 MB</p>
                                    </div>
                                    <!-- <h6 class="mt-3 mb-0">Michelle Green</h6>
                                    <span>jason-porter@info.com</span>
                                    <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                        <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                        <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    <button class="btn btn-default btn-sm">Follow</button>
                                    <button class="btn btn-default btn-sm ml-1">Message</button> -->
                                    <!-- </div> -->
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="col-sm-6 col-md-3 code-line">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.empCode' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Employee Code"
                                            formControlName="employeeCode"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.employeeCode">
                                    </div>
                                    <div class="col-sm-6 col-md-3 code-line">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.alternateCode' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Alternate Code"
                                            formControlName="alternateCode"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.alternateEmployeeCode">
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.title' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Title"
                                            formControlName="title" (change)="concateFullName()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.title">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.firstName' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Enter First Name"
                                            formControlName="firstName" (change)="concateFullName()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.firstName"
                                            [ngClass]="{'is-invalid' : BasicInfoForm.get('firstName').status == 'INVALID'}">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.middleName' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Middle Name"
                                            formControlName="middleName" (change)="concateFullName()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.middleName">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.lastName' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Last Name"
                                            formControlName="lastName" (change)="concateFullName()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.lastName">
                                    </div>
                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3  mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.fullName' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Full Name"
                                            formControlName="fullName"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.fullName">
                                    </div>
                                    <div class="col-sm-6 col-md-3  mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.displayName' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Display Name"
                                            formControlName="displayName"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.displayName">
                                    </div>
                                    <!-- </div> -->

                                    <!-- <br> -->
                                    <!-- <div class="row"> -->
                                    <div class="col-sm-6 col-md-3  mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.gender' | transloco }}</label>
                                        <select class="form-control" placeholder="Select Gender"
                                            formControlName="gender"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.gender"
                                            [ngClass]="{'is-invalid' : BasicInfoForm.get('gender').status == 'INVALID'}">
                                            <option *ngFor="let gender of allGenders" [value]="gender">
                                                {{gender}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3  mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.birthDate' | transloco }}</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                    data-provide="datepicker" data-date-autoclose="true"
                                                    class="form-control" placeholder="Select Birth Date" bsDatepicker
                                                    formControlName="birthDate"
                                                    [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.dateOfBirth"
                                                    (bsValueChange)="birthDateValidation(); birthD();"
                                                    [ngClass]="{'is-invalid' : BasicInfoForm.get('birthDate').status == 'INVALID'}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3  mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.bloodGroup' | transloco }}</label>
                                        <select class="form-control" formControlName="bloodGroup"
                                            [(ngModel)]="personalInformationModel.bloodGroup"
                                            placeholder="Select Blood Group">
                                            <option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">
                                                {{bloodGroup}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3  mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.nationality' | transloco }}</label>
                                        <select class="form-control" formControlName="nationality"
                                            [(ngModel)]="personalInformationModel.nationality"
                                            (change)="validateNationalty(country)" placeholder="Select Nationality">
                                            <option *ngFor="let country of countryList" [value]="country">
                                                {{country}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.maritalStatus' | transloco }}</label>
                                        <select class="form-control" formControlName="maritalStatus"
                                            [(ngModel)]="personalInformationModel.maritialStatus"
                                            (change)="clearMarriageDate(status)" placeholder="Select Marital Status">
                                            <option *ngFor="let status of maritalStatus" [value]="status">
                                                {{status}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10"
                                        *ngIf="personalInformationModel.maritialStatus == 'Married'">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.marriageDate' | transloco }}</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                    data-provide="datepicker" data-date-autoclose="true"
                                                    [max]="tomorrow" class="form-control"
                                                    placeholder="Select Marriage Date" bsDatepicker
                                                    formControlName="marriageDate"
                                                    [(ngModel)]="personalInformationModel.anniversaryDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.physicallyChallengedBoolean' | transloco }}</label>
                                        <select class="form-control"
                                            formControlName="physicallyChallengedBoolean" [(ngModel)]="Physically"
                                            placeholder="Select Option" (change)="validatePhysically(option)">
                                            <option *ngFor="let option of physicallyChallengedBoolean" [value]="option">
                                                {{option}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10" *ngIf="Physically == 'Yes'">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.physicallyChallengedDropdown' | transloco }}</label>
                                        <select class="form-control"
                                            formControlName="physicallyChallengedOption"
                                            [(ngModel)]="personalInformationModel.disabilityType"
                                            placeholder="Select Disability Type">
                                            <option *ngFor="let physically of physicallyChallengedDropdown"
                                                [value]="physically">
                                                {{physically}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10" *ngIf="Physically == 'Yes'">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.securityLevel' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Severity Level"
                                            formControlName="severityLevel"
                                            [(ngModel)]="personalInformationModel.severityLevel">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.expat' | transloco }}</label>
                                        <select class="form-control" formControlName="isExpatWorker"
                                            [(ngModel)]="expatBoolean1" placeholder="Select Disability Type"
                                            (change)="validateExpatBoolean(expatBoolean1)">
                                            <option *ngFor="let expat of expatBooleanOptions" [value]="expat">
                                                {{expat}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10" *ngIf="expatBoolean1 == 'Yes'">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.countryOfOrigin' | transloco }}</label>
                                        <select class="form-control" formControlName="countryOfOrigin"
                                            [(ngModel)]="internationalWorkerRequestDTO.countryOfOrigin">
                                            <option *ngFor="let originCountry of countryList" [value]="originCountry">
                                                {{originCountry}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10" *ngIf="expatBoolean1 == 'Yes'">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.weatherOnCOC' | transloco }}</label>
                                        <select class="form-control" formControlName="isOnCOC"
                                            [(ngModel)]="weatherOnCOC1" (change)="validateWeatherOnCOC(whetherOption)">
                                            <option *ngFor="let whetherOption of weatherOnCOCOptions"
                                                [value]="whetherOption">
                                                {{whetherOption}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10"
                                        [hidden]="!weatherOnCOC1 || weatherOnCOC1 == 'No'">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.cocNo' | transloco }}</label>
                                        <input type="text" class="form-control" placeholder="Enter COC No."
                                            formControlName="cocNo"
                                            [(ngModel)]="internationalWorkerRequestDTO.cocNumber">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10"
                                        [hidden]="!weatherOnCOC1 || weatherOnCOC1 == 'No'">
                                        <label
                                            class="form-label">{{ 'PersonalInformationForm.cocValidTill' | transloco }}</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                    data-provide="datepicker" data-date-autoclose="true"
                                                    class="form-control" placeholder="Select COC Valid till date"
                                                    bsDatepicker formControlName="cocValidTill"
                                                    [(ngModel)]="internationalWorkerRequestDTO.cocValidTill">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-15">
                                    <div class="col-12">
                                        <div class="float-right mb-15">
                                            <button type="submit"
                                                [disabled]="BasicInfoForm.invalid || BasicInfoForm.untouched"
                                                class="custom_button custom_btn btn-labeled btn-labeled-left"
                                                tooltip="Save" [ngClass]="{'disabled-btn-bg-green' : BasicInfoForm.invalid || BasicInfoForm.untouched,
                           'btn-bg-green': !BasicInfoForm.invalid}"><b><i class="fa fa-floppy-o"></i></b> Save</button>


                                            <button type="button" tooltip="Reset" (click)="resetForm()"
                                                class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                                                        class="fa fa-times"></i></b> Reset</button>
                                            <!-- <button type="button" *ngIf="isCancel" (click)="cancelView()"
                                             class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                                             tooltip="Cancel"><b><i class="fa fa-times-circle" ></i></b> Cancel</button> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <br>
                                <div class="row">
                                   
                                   
                                </div>

                                <br>
                                <div class="row">
                                  
                                </div>

                                <br>
                                <div class="row">
                              
                                </div> -->
                            </form>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>