.code-line{
    margin-top: 31px;

}

.thumbnail {
    // position: absolute;
    width: 123px;
    height: 152px;
    overflow: hidden;
    cursor: pointer;
    // border: ridge 3px #e7deec;
  }
.thumbnail img {
    cursor: pointer;
    // position: absolute;
    left: 52px;
    top: 71px;
    width: 100%;
    height: auto;
    display: block;
    border: ridge;
    // -webkit-transform: translate(-50%,-50%);
    //     -ms-transform: translate(-50%,-50%);
    //         transform: translate(-50%,-50%);
  }

  .image-size-info{
    font-size: 10px;
    text-align: center;
  }
  .disabled-btn-bg-green{
    background-color: #94c1c1!important;
}