<form class="card" role="form" (ngSubmit)="addCycleDefinition()" [formGroup]="CycleDefinationForm"
  #formDirective="ngForm" method="post" novalidate>


  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-sm-6 col-md-3">
          <label class="form-label">Cycle Definition</label>
          <input type="text" ngClass="{'is-invalid' : CycleDefinationForm.get('cycleName').status == 'INVALID'}"
            [readonly]="!disabled" formControlName="cycleName" class="form-control"
            placeholder="Enter Cycle Definition">
        </div>


        <div class="col-sm-6 col-md-3" ngClass="[disabled ? 'searchclosebutton2' : 'disableDiv']">
          <label class="form-label">Business Year</label>
          <select placeholder="select" name="businessYearDefinitionId" id="businessYearDefinitionId"
            class="form-control  " formControlName="businessYearDefinitionId"
            ngClass="{'is-invalid' : CycleDefinationForm.get('businessYearDefinitionId').status == 'INVALID'}">
            <option *ngFor="let businessYearList of BusinessyearList"
              [value]="businessYearList.businessYearDefinitionId">
              {{businessYearList.yearDefinition}}
              <!-- {{businessYearList.businessYearDefinitionId}} -->
            </option>
          </select>
        </div>

        <div class="col-sm-6 col-md-3" ngClass="[disabled ? 'searchclosebutton2' : 'disableDiv']">
          <label class="form-label">Frequency</label>
          <select [disabled]="!disabled" name="frequencyMasterId" id="frequencyMasterId"
            (change)="onChangeFrequencyFromCycleDefinition($event.target.value);" class="form-control  "
            formControlName="frequencyMasterId"
            ngClass="{'is-invalid' : CycleDefinationForm.get('frequencyMasterId').status == 'INVALID'}">
            <option *ngFor="let activeFrequency of activeFrequencyList" [value]="activeFrequency.id">
              {{activeFrequency.name}}
            </option>
          </select>
        </div>

        <div class="col-sm-6 col-md-3" *ngIf="isViewAddDays == true">
          <label class="form-label">Add Days</label>
          <input type="number" [min]=1 formControlName="addDays" class="form-control" placeholder="Enter Days">
        </div>


        <div class="col-sm-6 col-md-3" *ngIf="CycleupdateFlag"
          [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
          <label class="form-label">Services</label>
          <select name="services" id="services" class="form-control  " formControlName="services">
            <option *ngFor="let Services of serviceNameDropDownList" [value]="Services.serviceName">
              {{Services.serviceName}}
            </option>
          </select>
        </div>

        <div class="col-sm-6 col-md-3" *ngIf="!CycleupdateFlag">
          <label class="form-label">Services</label>
          <ng-multiselect-dropdown [placeholder]="'None Selected'" #multiSelect style="font-size: small;"
            [settings]="dropdownSettings" [data]="serviceNameDropDownList" (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)" formControlName="serviceName"
            [ngClass]="{'is-invalid' : CycleDefinationForm.get('serviceName').status == 'INVALID'}">
          </ng-multiselect-dropdown>
        </div>



      </div>
    </div>
  </div>

  <div class="row mt-15">
    <div class="col-12">
      <div class="float-right mb-15">
        <button type="submit" *ngIf="!CycleupdateFlag" [disabled]="CycleDefinationForm.invalid"
          [ngClass]="{'disabled-btn-bg-green' : CycleDefinationForm.invalid,'btn-bg-green': !CycleDefinationForm.invalid}"
          class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Save"><b><i
              class="fa fa-floppy-o"></i></b>
          Save</button>

        <button type="submit" *ngIf="CycleupdateFlag1"
          [ngClass]="{'disabled-btn-bg-green' : CycleDefinationForm.invalid,'btn-bg-green': !CycleDefinationForm.invalid}"
          class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Update"><b><i
              class="fa fa-floppy-o"></i></b>
          Update</button>

        <button type="button" (click)="CancelBusiness()" *ngIf="CycleupdateFlag"
          class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10" tooltip="Cancel"><b><i
              class="fa fa-times" aria-hidden="true"></i></b>
          Cancel</button>

        <button type="button" (click)="CancelBusiness()" *ngIf="!CycleupdateFlag"
          class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10" tooltip="Reset"><b><i
              class="fa fa-refresh" aria-hidden="true"></i></b>
          Reset</button>
      </div>
    </div>
  </div>


  <div class="tabview-contents">
    <div class="row mt-20">
      <div class="col-12">
        <div class="card">
          <div class="mb-0">
            <h3 class="font-14 text-purple font-bold">Summary2</h3>
          </div>
          <div class="">
            <div class="table-responsive Custom_Table">
              <table class="table table-striped table-hover table-bordered m-b-0">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="wd-8">Sr. No. </th>
                    <th scope="col" class="wd-30">Cycle Definition </th>
                    <th scope="col" class="wd-15">Description</th>
                    <th scope="col" class="wd-15">Service Name</th>
                    <th scope="col" class="wd-15">Business Year</th>
                    <th scope="col" class="wd-20">Action</th>

                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let summary of CycleDefinitionList; let i = index">
                    <td class="align-center wd-8">
                      <span>{{i+1}}</span>
                    </td>
                    <td class="wd-15">
                      <span>{{summary.cycleName}}</span>
                    </td>
                    <td class="wd-15">
                      <span>{{summary.description}}</span>
                    </td>
                    <td class="wd-30">
                      <span>{{summary.serviceName}}</span>
                    </td>
                    <td class="wd-15">
                      <span>{{summary.businessYearDefinition.yearDefinition}} </span>
                    </td>


                    <td>
                      <button *ngIf="!summary.isUsed" type="button" class="btn btn-icon" title="Edit"><i
                          (click)="GetCycleDefinitionbyId(summary.id)" class="fa fa-edit"></i></button>

                      <button (click)="GetCycleDefinitionbyIdDisable(summary.id)" *ngIf="summary.isUsed" type="button"
                        class="btn btn-icon" title="View">
                        <i class="fa fa-eye"></i></button>

                      <button *ngIf="!summary.isUsed" type="button"
                        (click)="UploadModal1(templatecycle);getCycleName(summary.cycleName)" data-toggle="modal"
                        data-target="#UploadModal" class="btn btn-icon js-sweetalert" title="Delete"
                        data-type="confirm"><i class="fa fa-trash-o"></i></button>
                    </td>

                    <ng-template #templatecycle>
                      <div class="modal-header">
                        <h5 class="modal-title" id="UploadModalLabel">Delete
                          Cycle Definition</h5>
                        <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                          aria-label="Close"><span aria-hidden="true">×</span></button>
                      </div>
                      <div class="modal-body">
                        <div class="card">
                          <div class="card-body">
                            <div class="row clearfix">
                              <div class="col-md-12">
                                <label class="form-label">Are
                                  you sure want to
                                  delete Cycle
                                  Definition
                                  {{CycleName}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                          (click)="DeleteCycleDefinitionById(summary.id);modalRef.hide()">Yes</button>
                        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
                      </div>
                    </ng-template>

                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</form>