<form class="card" role="form" (ngSubmit)="addCycleDefinition()" [formGroup]="cycleDefinitionForm" method="post"
  #formDirective="ngForm" novalidate>


  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-sm-6 col-md-3">
          <label class="form-label">Cycle Definition</label>
          <input type="text" [readonly]="!disabled" formControlName="cycleName" class="form-control"
            (keypress)="keyPressedSpaceNotAllow($event)"
            [ngClass]="{'is-invalid' : cycleDefinitionForm.get('cycleName').status == 'INVALID'}"
            placeholder="Enter Cycle Definition">
        </div>


        <div class="col-sm-6 col-md-3" [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
          <label class="form-label">Business Year</label>
          <select placeholder="select" name="businessYearDefinitionId" id="businessYearDefinitionId"
            class="form-control  " formControlName="businessYearDefinitionId"
            (change)="onChangeBusinessYear($event.target.value)"
            [ngClass]="{'is-invalid' : cycleDefinitionForm.get('businessYearDefinitionId').status == 'INVALID'}">
            <option selected value=''>Select </option>
            <option *ngFor="let businessYearList of BusinessyearList"
              [value]="businessYearList.businessYearDefinitionId">
              {{businessYearList.description}}
            </option>
          </select>
        </div>

        <div class="col-sm-6 col-md-3">
          <label class="form-label">From Date - To Date</label>
          <input type="text" [readonly]="!disabled" formControlName="yearDefinition" class="form-control">
        </div>





        <div class="col-sm-6 col-md-3" [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
          <label class="form-label">Frequency</label>
          <select [disabled]="!disabled" name="frequencyMasterId" id="frequencyMasterId"
            (change)="onChangeFrequencyFromCycleDefinition($event.target.value);" class="form-control  "
            formControlName="frequencyMasterId"
            [ngClass]="{'is-invalid' : cycleDefinitionForm.get('frequencyMasterId').status == 'INVALID'}">
            <option selected value=''>Select </option>
            <option *ngFor="let activeFrequency of sortedFrequencyList" [value]="activeFrequency.id">
              {{activeFrequency.name}}
            </option>
          </select>
        </div>

        <div class="col-sm-6 col-md-3" *ngIf="isViewAddDays == true">
          <label class="form-label">Days In Cycle</label>
          <input type="number" formControlName="addDays" class="form-control" placeholder="Enter Days">
        </div>





      </div>

      <div class="row">
        <!-- <div class="col-sm-6 col-md-3" *ngIf="CycleupdateFlag"
          [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
          <label class="form-label">Services</label>
          <select name="services" id="services" class="form-control  " formControlName="services"
            [ngClass]="{'is-invalid' : cycleDefinitionForm.get('services').status == 'INVALID'}">
            <option selected value=''>Select </option>
            <option *ngFor="let Services of serviceNameDropDownList" [value]="Services.serviceName">
              {{Services.serviceName}}
            </option>
          </select>
        </div> -->

        <div class="col-sm-6 col-md-3" *ngIf="!CycleupdateFlag">
          <label class="form-label">Services</label>
          <ng-multiselect-dropdown [placeholder]="'None Selected'" #multiSelect style="font-size: small;"
            [ngClass]="{'is-invalid' : cycleDefinitionForm.get('multiselectServices').status == 'INVALID'}"
            [settings]="dropdownSettings" [data]="serviceNameDropDownList" (onSelect)="onItemSelect($event)"
            formControlName="multiselectServices" (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemDeSelect($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>

    </div>

  </div>

  <div class="row mt-15">
    <div class="col-12">
      <div class="float-right mb-15">
        <button type="submit" *ngIf="!CycleupdateFlag" [disabled]="cycleDefinitionForm.invalid"
          [ngClass]="{'disabled-btn-bg-green' : cycleDefinitionForm.invalid,'btn-bg-green': !cycleDefinitionForm.invalid}"
          class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Save"><b><i
              class="fa fa-floppy-o"></i></b>
          Save</button>

        <button type="submit" *ngIf="CycleupdateFlag1"
          [ngClass]="{'disabled-btn-bg-green' : cycleDefinitionForm.invalid,'btn-bg-green': !cycleDefinitionForm.invalid}"
          class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Update"><b><i
              class="fa fa-floppy-o"></i></b>
          Update</button>

        <button type="button" (click)="CancelBusiness()" *ngIf="CycleupdateFlag"
          class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10" tooltip="Cancel"><b><i
              class="fa fa-times" aria-hidden="true"></i></b>
          Cancel</button>

        <button type="button" (click)="CancelBusiness()" *ngIf="!CycleupdateFlag"
          class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10" tooltip="Reset"><b><i
              class="fa fa-refresh" aria-hidden="true"></i></b>
          Reset</button>
      </div>
    </div>
  </div>


  <!-- <div class="tabview-contents">
    <div class="row mt-20">
      <div class="col-12">
        <div class="card">
          <div class="mb-0">
            <h3 class="font-14 text-purple font-bold">Summary</h3>
          </div>
          <div class="">
            <div class="table-responsive Custom_Table">
              <table class="table table-striped table-hover table-bordered m-b-0">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="wd-8">Sr. No. </th>
                    <th scope="col" class="wd-30">Cycle Definition </th>
                    <th scope="col" class="wd-15">Description</th>
                    <th scope="col" class="wd-15">Service Name</th>
                    <th colspan="2" scope="col" class="wd-15">Business Year</th>
                    <th scope="col" class="wd-20">Action</th>

                  </tr>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let summary of CycleDefinitionList ; let i = index">
                    <td class="align-center wd-8">
                      <span>{{i+1}}</span>
                    </td>
                    <td class="align-left wd-15">
                      <span>{{summary.cycleName}}</span>
                    </td>
                    <td class="align-left wd-15">
                      <span>{{summary.description}}</span>
                    </td>
                    <td class="align-left wd-30">
                      <span>{{summary.serviceName}}</span>
                    </td>
                    <td class="align-left wd-15">
                      <span>{{summary.businessYearDefinition.fullFromDate}} </span>
                    </td>

                    <td class="align-left wd-15">
                      <span>{{summary.businessYearDefinition.fullToDate}} </span>
                    </td>

                    <td>
                      <button *ngIf="!summary.isUsed" type="button" class="btn btn-icon" title="Edit"><i
                          (click)="GetCycleDefinitionbyId(summary.id)" class="fa fa-edit"></i></button>

                      <button (click)="GetCycleDefinitionbyIdDisable(summary.id)" *ngIf="summary.isUsed" type="button"
                        class="btn btn-icon" title="View">
                        <i class="fa fa-eye"></i></button>

                      <button *ngIf="!summary.isUsed" type="button"
                        (click)="UploadModal1(templatecycle);getCycleName(summary.cycleName)" data-toggle="modal"
                        data-target="#UploadModal" class="btn btn-icon js-sweetalert" title="Delete"
                        data-type="confirm"><i class="fa fa-trash-o"></i></button>
                    </td>

                    <ng-template #templatecycle>
                      <div class="modal-header">
                        <h5 class="modal-title" id="UploadModalLabel">Delete
                          Cycle Definition</h5>
                        <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                          aria-label="Close"><span aria-hidden="true">×</span></button>
                      </div>
                      <div class="modal-body">
                        <div class="card">
                          <div class="card-body">
                            <div class="row clearfix">
                              <div class="col-md-12">
                                <label class="form-label">Are
                                  you sure want to
                                  delete Cycle
                                  Definition
                                  {{CycleName}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                          (click)="DeleteCycleDefinitionById(summary.id);modalRef.hide()">Yes</button>
                        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
                      </div>
                    </ng-template>

                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->



  <div class="row">
    <div class="col-md-10">




      <div class="cycle-table mt-4">
        <h3 class="font-14 text-purple font-bold">Summary</h3>

        <!-- <p-table [value]="CycleDefinitionList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10,25,50]"> -->

          <p-table [value]="CycleDefinitionList" [paginator]="true" [rows]="10"
          [showCurrentPageReport]="true" [pageLinks]="5" (onPage)="paginate($event)"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          totalRecords={{CycleDefinitionList.length}} [rowsPerPageOptions]="[10,25,50,100,200]">
          <ng-template pTemplate="header">
            <tr>
              <th rowspan="1" class="wd-8 text-center">
                Sr. No.
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Cycle Definition
                  <div class="Sort_Filter_Position">
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                  </div>
                </div>
              </th>

              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Description
                  <div class="Sort_Filter_Position">
                    <p-sortIcon field="representative.name"></p-sortIcon>
                    <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false"
                      [showOperator]="false" [showAddButton]="false" class="p-ml-auto">
                      <ng-template pTemplate="header">
                        <div class="p-px-3 p-pt-3 p-pb-0">
                          <span class="p-text-bold">Agent Picker</span>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                          (onChange)="filter($event.value)" optionLabel="name">
                          <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-representative-option">
                              <img [alt]="option.label"
                                src="../../../../../assets/showcase/images/demo/avatar/{{option.image}}" width="32"
                                style="vertical-align: middle" />
                              <span class="p-ml-1">{{option.name}}</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>
                    </p-columnFilter>
                  </div>
                </div>
              </th>
              <th class="wd-8">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Service Name
                  <div class="Sort_Filter_Position">
                    <p-sortIcon field="date"></p-sortIcon>
                    <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto"></p-columnFilter>
                  </div>
                </div>
              </th>
              <th colspan="2" class="wd-16">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Business Year
                  <div class="Sort_Filter_Position">
                    <p-sortIcon field="date"></p-sortIcon>
                    <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto"></p-columnFilter>
                  </div>
                </div>
              </th>
              <th rowspan="1" class="wd-10 text-center">
                Action
              </th>

              <!-- <th rowspan="2">
                                          <div class="p-d-flex p-jc-between p-ai-center">
                                              Updation Field
                                              <div class="Sort_Filter_Position">
                                                  <p-sortIcon field="balance"></p-sortIcon>
                                                  <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="p-ml-auto"></p-columnFilter>
                                              </div>
                                          </div>
                                      </th> -->



              <!-- <th style="width: 8rem"></th> -->
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th scope="col">From Date</th>
              <th scope="col">To Date</th>
              <th></th>

            </tr>

          </ng-template>



          <ng-template pTemplate="body" let-user1 let-rowIndex="rowIndex">
            <tr class="p-selectable-row">
              <!-- <td><label class="custom-control custom-checkbox checkbox-center" tooltip="Select All">
                  <input type="checkbox" class="custom-control-input" name="select" /> <span
                    class="custom-control-label"></span>
                </label></td> -->
              <td class="bg-color-light_gray text-center"><label class="form-lable mb-0">{{rowIndex+1}}</label></td>
              <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.cycleName}}</label></td>
              <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.description}}</label></td>
              <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.serviceName}}</label></td>
              <td class="bg-color-light_gray"><label
                  class="form-lable mb-0">{{user1.businessYearDefinition.fullFromDate}}</label></td>
              <td class="bg-color-light_gray"><label
                  class="form-lable mb-0">{{user1.businessYearDefinition.fullToDate}}</label></td>
              <td>
                <button *ngIf="!user1.isUsed" type="button" class="btn btn-icon text-blue" tooltip="Edit"><i
                    (click)="GetCycleDefinitionbyId(user1.id)" class="fa fa-edit"></i></button>

                <button (click)="GetCycleDefinitionbyIdDisable(user1.id)" *ngIf="user1.isUsed" type="button"
                  class="btn btn-icon text-blue" tooltip="View">
                  <i class="fa fa-eye"></i></button>

                <button *ngIf="!user1.isUsed" type="button"
                  (click)="UploadModal1(templatecycle);getCycleName(user1.cycleName)" data-toggle="modal"
                  data-target="#UploadModal" class="btn btn-icon js-sweetalert text-blue" tooltip="Delete"
                  data-type="confirm"><i class="fa fa-trash-o"></i></button>
              </td>


              <ng-template #templatecycle>
                <div class="modal-header">
                  <h5 class="modal-title" id="UploadModalLabel">Delete
                    Cycle Definition</h5>
                  <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                  <div class="card">
                    <div class="card-body">
                      <div class="row clearfix">
                        <div class="col-md-12">
                          <label class="form-label">Are
                            you sure want to
                            delete Cycle
                            Definition
                            {{CycleName}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary"
                    (click)="DeleteCycleDefinitionById(user1.id);modalRef.hide()">Yes</button>
                  <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
                </div>
              </ng-template>
            </tr>
          </ng-template>
          <ng-template pTemplate="let-user1.length ==0">
            <tr>
              <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                  Available</span></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>













</form>
