<form class="card" role="form" (ngSubmit)="addCycleDefinition()" [formGroup]="cycleDefinitionForm" method="post"
  #formDirective="ngForm" novalidate>


  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-sm-6 col-md-3">
          <label class="form-label">Cycle Definition</label>
          <input type="text" formControlName="cycleName" class="form-control"
            (keypress)="keyPressedSpaceNotAllow($event)"
            [ngClass]="{'is-invalid' : cycleDefinitionForm.get('cycleName').status == 'INVALID'}"
            placeholder="Enter Cycle Definition">
        </div>


        <div class="col-sm-6 col-md-3" [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
          <label class="form-label">Business Year Defination</label>
          <select placeholder="select" name="businessYearDefinitionId" id="businessYearDefinitionId"
            class="form-control  " formControlName="businessYearDefinitionId"
            (change)="onChangeBusinessYear($event.target.value)"
            [ngClass]="{'is-invalid' : cycleDefinitionForm.get('businessYearDefinitionId').status == 'INVALID'}">
            <option selected value=''>Select </option>
            <option *ngFor="let businessYearList of BusinessyearList"
              [value]="businessYearList.businessYearDefinitionId">
              {{businessYearList.description}}
            </option>
          </select>
        </div>

        <div class="col-sm-6 col-md-3">
          <label class="form-label">From Date - To Date</label>
          <input type="text" [readonly]="!disabled" formControlName="yearDefinition" class="form-control">
        </div>





        <div class="col-sm-6 col-md-3" [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
          <label class="form-label">Frequency</label>
          <select [disabled]="!disabled" name="frequencyMasterId" id="frequencyMasterId"
            (change)="onChangeFrequencyFromCycleDefinition($event.target.value);" class="form-control  "
            formControlName="frequencyMasterId"
            [ngClass]="{'is-invalid' : cycleDefinitionForm.get('frequencyMasterId').status == 'INVALID'}">
            <option selected value=''>Select </option>
            <option *ngFor="let activeFrequency of sortedFrequencyList" [value]="activeFrequency.id">
              {{activeFrequency.name}}
            </option>
          </select>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="col-sm-6 col-md-3">
          <label class="form-label">Last Cycle Crossing financial Year</label>
          <select class="form-control">
            <option selected value=''>Select</option>
            <option value="Do Nothing">Do Nothing</option>
            <option value="Force Stop Till Business Year Ends">Force Stop Till Business Year Ends</option>
            <option value="Remove Last Cycle">Remove Last Cycle</option>
          </select>
        </div>
        <br>
        <br>
        <br>
        <br>


        <div class="col-sm-6 col-md-3" *ngIf="isViewAddDays == true">
          <label class="form-label">Days In a Cycle</label>
          <input type="number" formControlName="addDays" class="form-control" placeholder="Enter Days">
        </div>

        <div class="col-sm-6 col-md-3"
          *ngIf="frequencyId == 1 || frequencyId == 2 || frequencyId == 3 || frequencyId == 4 || (frequencyId == 5 ) || CycleupdateFlag1">
          <!-- && cycleDefinitionForm.controls.addDays.value > '30' -->
          <!-- *ngIf="activeFrequencyList.name != Quarterly || activeFrequencyList.name != Yearly  -->
          <!-- || activeFrequencyList.name != Half-Yearly || activeFrequencyList.name != Adhoc" -->
          <!-- <label class="form-label">Incomplete Days Falls</label> -->

          <label class="form-label">Cycle spanning two months-
            <br>Treat as part of which month {{CycleupdateFlag1}}</label>
          <select formControlName="incompleteDaysFalls" name="incompleteDaysFalls" id="" class="form-control">
            <option selected value=''>Select </option>
            <option value="Start">Start</option>
            <option value="End">End</option>
          </select>
        </div>






      </div>

      <div class="row">
      </div>

    </div>

  </div>

  <div class="row mt-15">
    <div class="col-12">
      <div class="float-right mb-15">
        <button type="submit" *ngIf="!CycleupdateFlag" [disabled]="cycleDefinitionForm.invalid"
          [ngClass]="{'disabled-btn-bg-green' : cycleDefinitionForm.invalid,'btn-bg-green': !cycleDefinitionForm.invalid}"
          class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Save"><b><i
              class="fa fa-floppy-o"></i></b>
          Save</button>

        <button type="submit" *ngIf="CycleupdateFlag1"
          [ngClass]="{'disabled-btn-bg-green' : cycleDefinitionForm.invalid,'btn-bg-green': !cycleDefinitionForm.invalid}"
          class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Update"><b><i
              class="fa fa-floppy-o"></i></b>
          Update</button>

        <button type="button" (click)="CancelBusiness()" *ngIf="CycleupdateFlag"
          class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10" tooltip="Cancel"><b><i
              class="fa fa-times" aria-hidden="true"></i></b>
          Cancel</button>

        <button type="button" (click)="CancelBusiness()" *ngIf="!CycleupdateFlag"
          class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10" tooltip="Reset"><b><i
              class="fa fa-refresh" aria-hidden="true"></i></b>
          Reset</button>
      </div>
    </div>
  </div>






  <div class="row">


    <div class="col-md-10">
      <div class="col-md-11">
        <h3 class="font-14 text-purple font-bold">Summary</h3>
        <div class="cycle-table">
          <div class="cycle-value pt-10 pb-40 bg-color-light_gray">
            <div class="col-md-12 pt-10 pb-10 bg-color-light_gray">
              <!-- <span class="font-14 text-purple font-bold">Summary</span> -->
              <div class="float-right d-flex  justify-content">

                <div class="rup mt-2">
                  <div class="input-icon mb-3">
                    <input (input)="dt.filterGlobal($event.target.value, 'contains')" type="text" pInputText
                      class="form-control" placeholder="Search...">
                    <span class="input-icon-addon"><i class="fe fe-search"></i></span>
                  </div>
                </div>
                &nbsp;&nbsp;
                <i (click)="exportAsXLSX()" class="fa fa-file-excel-o font-25 text-dark-green pt-10 mb-3"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>


        <div class="cycle-table mt-4">



          <p-table [value]="CycleDefinitionList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [pageLinks]="5" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            totalRecords={{CycleDefinitionList.length}} [rowsPerPageOptions]="[10,25,50,100,200]" #dt
            [globalFilterFields]="['cycleName','incompleteDaysFalls','description','fullFromDate','fullToDate']">
            <ng-template pTemplate="header">

              <tr>
                <th rowspan="1" class="wd-8 text-center">
                  Sr. No.
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Cycle Definition
                    <div class="Sort_Filter_Position">
                      <p-sortIcon field="cycleName"></p-sortIcon>
                      <p-columnFilter type="text" field="cycleName" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                  </div>
                </th>



                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Description
                    <div class="Sort_Filter_Position">
                      <p-sortIcon field="description"></p-sortIcon>
                      <p-columnFilter type="text" field="description" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                  </div>
                </th>

                <th colspan="2" class="wd-16">
                  <div class="p-d-flex p-ai-center p-jc-center">
                    Business Year
                  </div>
                </th>

                <th colspan="1">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Cycle spanning two months-Treat as part of which month

                    <div class="Sort_Filter_Position">
                      <p-sortIcon field="incompleteDaysFalls"></p-sortIcon>
                      <p-columnFilter type="text" field="incompleteDaysFalls" display="menu" class="p-ml-auto">
                      </p-columnFilter>
                    </div>
                  </div>
                </th>



                <th rowspan="1" class="wd-10 text-center">
                  Action
                </th>


              </tr>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <!-- <th></th> -->
                <!-- <th scope="col">From Date</th> -->
                <th scope="col" class="wd-14">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    From Date
                    <div class="Sort_Filter_Position">
                      <p-sortIcon field="fullFromDate"></p-sortIcon>
                      <p-columnFilter type="date" field="fullFromDate" display="menu" class="p-ml-auto">
                      </p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- <th scope="col">To Date</th> -->
                <th scope="col" class="wd-14">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    To Date
                    <div class="Sort_Filter_Position">
                      <p-sortIcon field="fullToDate"></p-sortIcon>
                      <p-columnFilter type="date" field="fullToDate" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <!-- <th></th> -->

              </tr>

            </ng-template>



            <ng-template pTemplate="body" let-user1 let-rowIndex="rowIndex">
              <tr class="p-selectable-row">
                <!-- <td><label class="custom-control custom-checkbox checkbox-center" tooltip="Select All">
                    <input type="checkbox" class="custom-control-input" name="select" /> <span
                      class="custom-control-label"></span>
                  </label></td> -->
                <td class="bg-color-light_gray text-center"><label class="form-lable mb-0">{{rowIndex+1}}</label></td>
                <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.cycleName}}</label></td>

                <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.description}}</label></td>

                <td class="bg-color-light_gray"><label
                    class="form-lable mb-0">{{user1.businessYearDefinition.fullFromDate | date: 'dd-MMM'}}</label>
                </td>
                <td class="bg-color-light_gray">
                  <label class="form-lable mb-0">{{user1.businessYearDefinition.fullToDate
                    | date: 'dd-MMM'}}</label>
                </td>
                <td class="bg-color-light_gray"><label class="form-lable mb-0"></label>{{user1.incompleteDaysFalls}}
                </td>

                <td class="wd-10 text-center">
                  <!-- commented edit -suggested by rakesh sir -17th Nov 2021 -->

                  <!-- <button *ngIf="!user1.isUsed" type="button" class="btn btn-icon text-dark-green" tooltip="Edit"><i
                      (click)="GetCycleDefinitionbyId(user1.id)" class="fa fa-edit"></i></button> -->

                  <button (click)="GetCycleDefinitionbyIdDisable(user1.id)" type="button" class="btn btn-icon text-blue"
                    tooltip="View">
                    <i class="fa fa-eye"></i></button>

                  <!-- commented delete -suggested by rakesh sir -17th Nov 2021 -->

                  <!-- <button *ngIf="!user1.isUsed" type="button"
                    (click)="UploadModal1(templatecycle);getCycleName(user1.cycleName)" data-toggle="modal"
                    data-target="#UploadModal" class="btn btn-icon js-sweetalert text-red" tooltip="Delete"
                    data-type="confirm"><i class="fa fa-trash"></i></button> -->
                </td>


                <ng-template #templatecycle>
                  <div class="modal-header">
                    <h5 class="modal-title" id="UploadModalLabel">Delete
                      Cycle Definition</h5>
                    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <div class="card-body">
                        <div class="row clearfix">
                          <div class="col-md-12">
                            <label class="form-label">Are
                              you sure want to
                              delete Cycle
                              Definition
                              {{CycleName}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                      (click)="DeleteCycleDefinitionById(user1.id);modalRef.hide()">Yes</button>
                    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
                  </div>
                </ng-template>
              </tr>
            </ng-template>
            <ng-template pTemplate="let-user1.length ==0">
              <tr>
                <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                    Available</span></td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </div>


    </div>
  </div>
</form>