.disabled{
    cursor: not-allowed !important;
    pointer-events: none;
}
.btn-bg-blue{
    color: white;
    background: blue;
}
.btn-bg-grey{
    color: white;
    background:grey;
}

// .badge-reOpen{
//     color:blue !important;
//     }
//     .badge-approved{
//     color:orange !important;
//     }
//     .badge-sendBack{
//     color: chocolate !important;
//     }
//     .badge-submitted{
//         color: green !important;
//     }
//     .badge-pending{
//         color: red !important;
//     }
    .changeColor span:hover {
        cursor: pointer;
    background-color: blue !important;
      }
      
    //   .badge-reOpen{
    //     color:purple !important;
    //     }
    //     .badge-approved{
    //     color:rgb(18, 192, 18) !important;
    //     }
    //     .badge-sendBack{
    //     color: brown!important;
    //     }
    //     .badge-submitted{
    //         color: blue !important;
    //     }