<!-- <app-leftmenu></app-leftmenu>

<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12"> -->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>User Group</legend>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" placeholder="Enter Name">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" name="example-textarea-input" rows="1" placeholder="Content.."> </textarea>

                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3 text-center mt-15">
                            <button type="button" tooltip="Assign / Un-Assign Group" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" (click)="AssignedGroup(template)"><b><i class="fa fa-file"></i></b> Assign / Un-Assign Group</button>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-md-3">
                            <label class="custom-control custom-checkbox checkbox-center mt-30">
                                              <input type="checkbox"  class="custom-control-input" name="active"/> <span class="custom-control-label">Default</span>
                                         </label>
                        </div>
                        <div class="col-md-3">
                            <label class="custom-control custom-checkbox checkbox-center mt-30">
                                              <input type="checkbox"  class="custom-control-input" name="active"/> <span class="custom-control-label">Active</span>
                                         </label>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Remark</label>
                            <textarea class="form-control" name="example-textarea-input" rows="2" placeholder="Content.."> </textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row mt-15 mb-3">
            <div class="col-md-12">
                <div class="float-right">
                    <button type="button" tooltip="Save" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-3"><b><i class="fa fa-save"></i></b> Save</button>
                    <button type="button" tooltip="Reset" class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left"><b><i class="fa fa-refresh"></i></b> Reset</button>
                </div>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-md-8">
                <p-table [value]="data" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="wd-10 text-center">
                                Sr. No.
                            </th>
                            <th class="wd-30">
                                <div class="p-d-flex p-jc-center p-ai-center">
                                    User Group &nbsp;&nbsp;
                                    <div class="Sort_Filter_Position d-flex ">
                                        <p-sortIcon field="usergrup" pSortableColumn="usergrup"></p-sortIcon>
                                        <p-columnFilter field="usergrup" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </div>
                            </th>
                            <th class="wd-40">
                                <div class="p-d-flex p-jc-center p-ai-center">
                                    Description &nbsp;&nbsp;
                                    <div class="Sort_Filter_Position d-flex ">
                                        <p-sortIcon field="desc" pSortableColumn="desc"></p-sortIcon>
                                        <p-columnFilter field="desc" display="menu" class="p-ml-auto">

                                        </p-columnFilter>
                                    </div>
                                </div>
                            </th>
                            <th class="wd-10 text-center">
                                Action
                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr class="p-selectable-row">
                            <td class="text-center">{{data.srno}}</td>
                            <td><label class="mb-0 text-link" (click)="Grouplist(template2)">{{data.usergrup}} </label></td>
                            <td>{{data.desc}}</td>
                            <td class="wd-5 text-center">
                                <i class="fa fa-edit font-16 text-blue cursor-pointer" tooltip="Edit"></i> &nbsp;&nbsp;
                                <i class="fa fa-eye font-16 text-blue cursor-pointer" tooltip="View"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4" class="font-14 font500 text-center text-red"><span>No Data
                   Available</span>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </div>



    </div>
</div>
<!-- </div>
                <div class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
                    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" tooltip="Top" (click)="scrollToTop()">
            <i class="fa fa-angle-double-up text-white font-18"></i>
          </button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div> -->
<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title" id="UploadModalLabel">Assign Group</h5>
        <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
      aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="form-label">User Group</label>
                        <input type="text" class="form-control" disabled>

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <div class="form-group mt-20">

                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-append"><button class="btn btn-bg-green" type="button">Go!</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p-table [value]="assigndata" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="wd-10 text-center">
                                        <label class="custom-control custom-checkbox checkbox-center" tooltip="Select All">
                                  <input type="checkbox"  class="custom-control-input" name="select"/> <span class="custom-control-label"></span>
                                  </label>

                                    </th>
                                    <th class="wd-25">
                                        <div class="p-d-flex p-jc-center p-ai-center">
                                            Group Code &nbsp;
                                            <div class="Sort_Filter_Position d-flex ">
                                                <p-sortIcon field="grupcode" pSortableColumn="grupcode"></p-sortIcon>
                                                <p-columnFilter field="grupcode" display="menu" class="p-ml-auto"></p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="wd-25">
                                        <div class="p-d-flex p-jc-center p-ai-center">
                                            Short Name &nbsp;&nbsp;
                                            <div class="Sort_Filter_Position d-flex ">
                                                <p-sortIcon field="shrtname" pSortableColumn="shrtname"></p-sortIcon>
                                                <p-columnFilter field="shrtname" display="menu" class="p-ml-auto"></p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="wd-40">
                                        <div class="p-d-flex p-jc-center p-ai-center">
                                            Group Name &nbsp;&nbsp;
                                            <div class="Sort_Filter_Position d-flex ">
                                                <p-sortIcon field="grupname" pSortableColumn="grupname"></p-sortIcon>
                                                <p-columnFilter field="grupname" display="menu" class="p-ml-auto">

                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-assigndata>
                                <tr class="p-selectable-row">
                                    <td class="text-center">
                                        <label class="custom-control custom-checkbox checkbox-center">
                                      <input type="checkbox"  class="custom-control-input" name="select"/> <span class="custom-control-label"></span>
                                      </label>

                                    </td>
                                    <td>{{assigndata.grupcode}}</td>
                                    <td>{{assigndata.shrtname}}</td>
                                    <td>{{assigndata.grupname}}</td>


                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="4" class="font-14 font500 text-center text-red"><span>No Data
 Available</span>
                                    </td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-3"><b><i class="fa fa-save"></i></b> Save</button>
        <button type="button" class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left" (click)="modalRef.hide()"><b><i class="fa fa-refresh"></i></b> Reset</button>
    </div>
</ng-template>

<ng-template #template2>
    <div class="modal-header">
        <h5 class="modal-title" id="UploadModalLabel">Group List</h5>
        <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
  aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="form-label">User Group</label>
                        <input type="text" class="form-control" disabled>

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-20">

                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-append"><button class="btn btn-bg-green" type="button">Go!</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p-table [value]="Grplistdata" [paginator]="true" appendTo="body" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [scrollable]="true" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="wd-25">
                                        <div class="p-d-flex  p-ai-center">
                                            Group Name &nbsp;
                                            <div class="Sort_Filter_Position d-flex">
                                                <p-sortIcon field="grupcode" pSortableColumn="grupcode"></p-sortIcon>
                                                <p-columnFilter field="grupcode" display="menu" class="p-ml-auto" appendTo="body"></p-columnFilter>
                                            </div>
                                        </div>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Grplistdata>
                                <tr class="p-selectable-row">

                                    <td>{{Grplistdata.grupnm}}</td>




                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="4" class="font-14 font500 text-center text-red"><span>No Data
Available</span>
                                    </td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-3"><b><i class="fa fa-save"></i></b> Save</button>
        <button type="button" class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left" (click)="modalRef.hide()"><b><i class="fa fa-refresh"></i></b> Reset</button>
    </div>
</ng-template>