<app-leftmenu></app-leftmenu>
<div class="page">
  <app-header></app-header>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="queryGenerationForm" >
                <div class="cardborder">
                  <div>
                    <div class="row" *ngIf="perticularEmpDetails">
                      <div class="col-md-12 pl-0 pr-0">
                        <div class="border-dark-card radius-10 p-2 mt-3">
                          <div class="row">
                            <div class="col-md-2">
                              <label class="form-label mt-1 mb-0" >Employee No. & Name </label >
                              <label class="font-12 text-ellipsis mt-1 mb-0" >{{perticularEmpDetails.employeeCode  +''+  perticularEmpDetails.fullName}}</label >
                            </div>
                            <div class="col-md-2">
                              <label class="form-label mt-1 mb-0">Date of Joining</label >
                                <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.joiningDate|date: 'dd-MMM-yyyy'}}</label >
                            </div>
                            <div class="col-md-2">
                              <label class="form-label mt-1 mb-0">Establishment</label>
                              <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.establishment}}</label>
                            </div>
                            <div class="col-md-2">
                              <label class="form-label mt-1 mb-0">Employee Type</label>
                              <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.employeeType}}</label>
                            </div>
                            <div class="col-md-1">
                              <label class="form-label mt-1 mb-0">Grade</label>
                              <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.grade}}</label>
                            </div>
                            <div class="col-md-2">
                              <label class="form-label mt-1 mb-0" >Designation</label >
                              <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.designation}}</label>
                            </div>
                            <div class="col-md-1">
                              <label class="form-label mt-1 mb-0">Status</label>
                              <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.status}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mt-25">
                      <div class="col-md-3" *ngIf="editQuerySummaery">
                        <label class="form-label">Query No.</label>
                        <input type="text" class="form-control" formControlName="queryNumber" value="{{editQuerySummaery.queryNumber}}" disabled />
                      </div>
                      <div class="col-md-3" *ngIf="editQuerySummaery">
                        <label class="form-label">Submission Date & Time</label>
                        <div class="form-group">
                          <div class="input-group">
                            <!-- <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                              </span>
                            </div> -->
                            <input
                              data-provide="datepicker"
                              data-date-autoclose="true"
                              class="form-control"
                              placeholder="Date"
                              bsDatepicker
                              disabled  value="{{editQuerySummaery.submissionDate |date: 'dd-MMM-yyyy' }}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3" *ngIf="editQuerySummaery">
                        <label class="form-label">Escalation Date </label>
                        <div class="form-group">
                          <div class="input-group">
                            <!-- <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                              </span>
                            </div> -->
                            <input
                              data-provide="datepicker"
                              data-date-autoclose="true"
                              class="form-control"
                              placeholder="Date"
                              bsDatepicker
                              disabled value="{{editQuerySummaery.escalationDate |date: 'dd-MMM-yyyy' }}"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <label class="form-label">Module Name</label>
                        <select formControlName="applicationModuleId"
                         [ngClass]="{'is-invalid' : queryGenerationForm.get('applicationModuleId').status == 'INVALID'}"
                         class="form-control" (change)="moduleChange($event.target.value)" >
                          <option [ngValue]="null" selected >Select</option>
                          <option value="{{module.applicationModuleId}}" *ngFor="let module of moduleListData ">
                            {{module.applicationModuleName}}</option>
                        </select>
                      </div>

                    </div>
                    <div class="row mt-25">

                      <div class="col-md-3">
                        <label class="form-label">Query Type</label>
                        <!-- (change)="queryTypeChange($event.target.value)" -->
                        <!-- <pre>{{querySubQueryTypeQAData | json}}</pre> -->
                        <!-- <pre *ngIf="getByIdData">{{getByIdData.queryTypeMasterId}}</pre> -->
                        <select
                          formControlName="queryTypeMasterId"
                          class="form-control" (change)="getSubQueryListData($event.target.value)"
                          [ngClass]="{'is-invalid':queryGenerationForm.get('queryTypeMasterId').status == 'INVALID'}">
                          <option [ngValue]="null" selected >Select</option>
                          <option  *ngFor="let module of querySubQueryTypeQAData" value="{{module.queryTypeMasterId}}">
                            {{module.queryTypeDescription}}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label class="form-label">Sub-Query Type</label>
                        <select
                          formControlName="subQueTypeMasterId"
                          class="form-control" >
                          <option [ngValue]="0" selected >Select</option>
                          <option  *ngFor="let module of subQueryData"  value="{{module.subQueTypeMasterId}}">
                            {{module.subQueryTypeDescription}}</option>

                        </select>
                      </div>
                      <div class="col-md-3">
                        <label class="form-label">Priority</label>
                        <select
                          formControlName="priority"
                          class="form-control" >
                          <option [ngValue]="null
                          " selected >Select</option>
                          <option *ngFor="let module of priorityData" value="{{module.priorityType}}">{{module.priorityType}}</option>

                        </select>
                      </div>

                      <div class="col-md-3"  [disabled]="viewFlag">
                        <label class="form-label">Query Template</label>

                        <select
                          class="form-control" formControlName="queAnsMasterId" (change)="queryTempChange($event.target.value)"
                          [ngClass]="{'is-invalid': queryGenerationForm.get('queAnsMasterId').status == 'INVALID'}">
                          <option [ngValue]="null" selected >Select</option>
                          <option *ngFor="let module of listQAData " value="{{module.queAnsMasterId}}">{{module.questionDescription}}</option>
                        </select>

                      </div>
                    </div>
                    <div class="row mt-25" >
                      <div class="col-md-12">

                          <label
                              class="form-label">Subject</label>
                              <input type="text"  class="form-control" formControlName="subject" placeholder="Subject"
                              [ngClass]="{'is-invalid': queryGenerationForm.get('subject').status == 'INVALID'}">

                        <br />
                        <label class="form-label">Description</label>
                        <ckeditor formControlName = "queryDescription"
                        [ngClass]="{'is-invalid': queryGenerationForm.get('queryDescription').status == 'INVALID'}"> </ckeditor>
                      </div>
                    </div>
                    <div class="row mt-25" >
                      <div class="col-md-6">
                        <div class="table-responsive Custom_Table">
                            <table class="table table-striped table-hover table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="font700 wd-8">Sr No.</th>
                                        <!-- <th scope="col" class="font700 wd-40">Document Name</th> -->
                                        <th scope="col" class="font700 wd-40">Attachment</th>
                                        <th scope="col" class="font700 wd-12"  *ngIf="hideEditTime" >Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!editflag || !hideEditTime1">
                                    <tr  >
                                        <th scope="row"><span tooltip="1">1</span></th>

                                        <!-- <td><span tooltip="Premium Receipt/ Premium Statement"></span>Rent Agreement</td> -->

                                        <td>
                                          <!-- <pre>{{listDoc | json}}</pre> -->
                                          <span *ngFor="let item of listDoc"  tooltip="{{item.name}},"><i
                                           aria-hidden="true"></i>&nbsp;{{item.name}},</span>
                                                              <div class="col-md-12" *ngFor="let doc of listDoc; let i = index"> {{ doc.fileName }}
                                                                  <div class="labelbox mb-0" placement="bottom" tooltip="{{ doc.fileName }}">
                                                                      <i class="fa fa-paperclip text-orange"  (click)="docViewer(template1,i)"></i> &nbsp;
                                                                      <!-- {{ doc.fileName }} -->
                                                                  </div>
                                                              </div>
                                        </td>

                                        <td *ngIf="hideEditTime">
                                            <i class="fa fa-upload font-16 text-blue cursor-pointer" tooltip="Upload" (click)="UploadModal(template)" data-toggle="modal" data-target="#UploadModal" >
                                 </i>&nbsp;&nbsp;
                                        </td>
                                    </tr>

                                </tbody>
                                <tbody *ngIf="editflag && hideEditTime1 ">
                                  <tr  *ngFor="let item of listDoc; let i = index">
                                      <th scope="row"><span tooltip="1">{{i+1}}</span></th>

                                      <!-- <td><span tooltip="Premium Receipt/ Premium Statement"></span>Rent Agreement</td> -->

                                      <td>
                                        <!-- <pre>{{listDoc | json}}</pre> -->
                                        <span  class="text-orange" tooltip="{{item.name}}" (click)="docViewer(template1,i)"><i
                                        class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;{{item.fileName}},</span>
                                                            <!-- <div class="col-md-12" *ngFor="let doc of listDoc; let i = index"> {{ doc.fileName }}
                                                                <div class="labelbox mb-0" placement="bottom" tooltip="{{ doc.fileName }}">
                                                                    <i class="fa fa-paperclip text-orange"  ></i> &nbsp;
                                                                    {{ doc.fileName }}
                                                                </div>
                                                            </div> -->
                                      </td>

                                      <td *ngIf="hideEditTime">
                                          <i class="fa fa-upload font-16 text-blue cursor-pointer" tooltip="Upload" (click)="UploadModal(template)" data-toggle="modal" data-target="#UploadModal" >
                                    </i>&nbsp;&nbsp;
                                      </td>
                                  </tr>

                              </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- upload document pop up  -->
                    <ng-template #template>
                      <div class="modal-header">
                          <h5 class="modal-title" id="UploadModalLabel">Upload Document</h5>
                          <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">×</span></button>
                      </div>
                      <div class="modal-body">
                          <div class="card">
                              <div class="card-body">
                                  <div class="row clearfix">
                                      <!-- <div class="col-md-12">
                                     <label class="form-label">Upload File here :</label>
                                  </div> -->
                                      <div class="col-md-12">
                                          <div class="fileuploadbox bg-color-lightgray">
                                              <label class="filelabel">
                                  <i class="fa fa-upload">
                                  </i>
                                  <span class="title">
                                    Choose file
                                  </span>
                                  <input class="FileUpload1" class="dropify" (change)="onMasterUpload($event,'listDoc');"
                                    accept=".jpg , .jpeg, .pdf , .png" id="FileInput" type="file" multiple />
                                </label>
                                          </div>
                                          <div *ngIf="listDoc.length > 0 " class="fileuploadbox">
                                              <span class="text-purple font-14 font700">Selected Files</span>
                                              <label *ngFor="let item of listDoc;  let index = index;" class="filelabeldisplay">
                                  <div class="text-ellipsis"><i class="fa fa-paperclip">
                                    </i>
                                    <span class="title" tooltip="{{item.name}}">
                                      {{ item.name }}
                                    </span>
                                  </div>
                                  <div>
                                    <i class="fa fa-times text-red font-18" (click)="removeSelectedLicMasterDocument(index ,'listDoc')"></i>
                                  </div>
                                </label>
                                          </div>
                                      </div>
                                      <div class="col-md-12 mt-10">
                                          <label class="form-label">Remark</label>
                                      </div>
                                      <div class="col-md-12">
                                          <textarea class="form-control"  rows="2"></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Ok</button>
                      </div>
                  </ng-template>

                  <!-- Document view  -->
                  <ng-template #template1>
                    <div class="modal-header">
                      <h5 class="modal-title" id="jasdjgh">Document Viewer</h5>
                      <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <!-- <button (click)="previousDocViewer()" [disabled]="urlIndex == 0">previous</button>
                  <button (click)="nextDocViewer()" [disabled]="urlIndex == (urlArray.length-1)">next</button> -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-1">
                          <button type="button" class="btn active Next_Previous_Btn" tooltip="Previous Document"
                            (click)="previousDocViewer()" [disabled]="urlIndex == 0">
                            <i class="fa fa-angle-left text-white font-30 p-10"></i>
                          </button>
                        </div>
                        <div class="col-md-10">
                          <iframe style="height: 100vh; width: 100%; display: block" [src]="urlSafe" provider="google"></iframe>
                          <!-- <img src="https://paysquare-images.s3.ap-south-1.amazonaws.com/download.jpg" alt="not fouund"> -->
                        </div>
                        <div class="col-md-1">
                          <button type="button" class="btn active Next_Previous_Btn" tooltip="Next Document" (click)="nextDocViewer()"
                            [disabled]="urlIndex == listDoc.length - 1">
                            <i class="fa fa-angle-right text-white font-30 p-10"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <!-- <button type="button" class="btn btn-primary">Save</button>  -->
                      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
                        Ok
                      </button>
                    </div>
                  </ng-template>

                    </div>




                  </div>
                </div>
                <div class="row mt-25">
                  <div class="col-md-12">
                    <div class="float-right">

                      <button type="button" tooltip="Previous" *ngIf="isPrevious"
                        class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left mr-10" >
                        <b><i class="fa fa-angle-double-left"></i></b> Previous
                      </button>

                      <button type="button" tooltip="Save Draft & Next" *ngIf="isSaveDraftNext"
                        class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-10" >
                        <b><i class="fa fa-file"></i></b> Save Draft & Next
                      </button>

                      <button  type="submit" tooltip =" Save Draft " *ngIf="isSaveDraft"  [routerLink]="['/admin-query-generation']"
                        class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-10"
                        (click)="saveandDraftPopUp(saveanddraftQueryGeneration)" [disabled]="!queryGenerationForm.valid"
                        [ngClass]="{'disabled-btn-bg-green' : queryGenerationForm.invalid,'btn-bg-green': !queryGenerationForm.invalid}" >
                        <b><i class="fa fa-file"></i></b> Save Draft </button>

                        <ng-template #saveanddraftQueryGeneration>
                          <div class="modal-header">
                              <h5 class="modal-title" id="UploadModalLabel">Confirmation</h5>
                              <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body mb-0 pb-0 pt-0">
                              <div class="card mb-0">
                                  <div class="card-body">
                                      <div class="row clearfix">
                                          <div class="col-md-12">
                                              <label class="form-label"> <i class="fa fa-question-circle font-16 text-purple"></i> &nbsp;&nbsp;Are
                                            you sure want to
                                            draft Query
                                           </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-primary" (click)="queryGenerationFormSubmit('Draft');modalRef.hide()">Yes</button>
                              <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
                          </div>
                      </ng-template>

                      <button type="button" tooltip=" Save & next" *ngIf="isSaveNext"
                        class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-10">
                        <b><i class="fa fa-save"></i></b> Save & next</button>

                      <button type="submit" class="custom_button custom_btn btn-labeled btn-labeled-left" *ngIf="isSave" [routerLink]="['/admin-query-generation']"
                      tooltip="Save"[disabled]="!queryGenerationForm.valid" (click)="savePopUp(saveQueryGeneration)"
                       [ngClass]="{'disabled-btn-bg-green' : queryGenerationForm.invalid,'btn-bg-green': !queryGenerationForm.invalid}">
                       <b> <i class="fa fa-floppy-o" aria-hidden="true"></i></b>Save</button>&nbsp;

                       <ng-template #saveQueryGeneration>
                        <div class="modal-header">
                            <h5 class="modal-title" id="UploadModalLabel">Confirmation</h5>
                            <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body mb-0 pb-0 pt-0">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <label class="form-label"> <i class="fa fa-question-circle font-16 text-purple"></i> &nbsp;&nbsp;Are
                                          you sure want to
                                          Save Query
                                         </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="queryGenerationFormSubmit('Save');modalRef.hide()">Yes</button>
                            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
                        </div>
                    </ng-template>


                      <button  type="button" tooltip="Reset" *ngIf="isReset" (click)="reset()"
                        class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left mr-10">
                        <b><i class="fa fa-refresh"></i></b> Reset </button>

                      <button type="submit" tooltip="Update"class="custom_button custom_btn btn-labeled btn-labeled-left"
                        [disabled]="!queryGenerationForm.valid" *ngIf="isUpdate " (click)="updateQueryGeneration('Save')"
                        [ngClass]="{'disabled-btn-bg-green' : queryGenerationForm.invalid,'btn-bg-green': !queryGenerationForm.invalid}">
                        <b> <i class="fa fa-floppy-o" aria-hidden="true"></i></b>Update</button >&nbsp;

                        <button type="submit" tooltip="Update"class="custom_button custom_btn btn-labeled btn-labeled-left"
                        [disabled]="!queryGenerationForm.valid" *ngIf="isUpdateDraft " (click)="updateQueryGeneration('Draft')"
                        [ngClass]="{'disabled-btn-bg-green' : queryGenerationForm.invalid,'btn-bg-green': !queryGenerationForm.invalid}">
                        <b> <i class="fa fa-floppy-o" aria-hidden="true"></i></b>Update</button >&nbsp;

                      <button type="button" tooltip="Cancel" (click)="cancel()" *ngIf="isCancle"
                        class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left mr-10">
                        <b><i class="fa fa-times"></i></b> Cancel  </button>

                      <button type="button" tooltip="Next" *ngIf="isnext"
                        class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left mr-10" >
                        <b><i class="fa fa-angle-double-right"></i></b> Next
                      </button>

                    </div>
                  </div>
                </div>
                <!-- <div class="tabview-contents">
                  <div class="row mt-20">
                    <div class="col-md-12">
                      <h3 class="font-14 text-purple font-bold">Summary</h3>
                      <div class="table-responsive Custom_Table table-striped table-hover table-bordered">
                        <p-table [value]="getAllQueryGenerationData"  [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                          <ng-template pTemplate="header">
                            <tr>
                              <th >Sr. No.</th>
                              <th >
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Query No.
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="name" pSortableColumn="queryNumber"></p-sortIcon>
                                    <p-columnFilter
                                      type="text"
                                      field="queryNumber"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Submission Date
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="date" pSortableColumn="submissionDate"></p-sortIcon>
                                    <p-columnFilter
                                      type="date"
                                      field="submissionDate"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Creator Name
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="date" pSortableColumn="createdBy"></p-sortIcon>
                                    <p-columnFilter
                                      type="date"
                                      field="createdBy"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Employee Code
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="status" pSortableColumn="employeeCode"></p-sortIcon>
                                    <p-columnFilter
                                      field="employeeCode"
                                      matchMode="equals"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div
                                  class="p-d-flex justify-content-center p-ai-center"
                                >
                                  Employee Name
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="activity" pSortableColumn="empName"></p-sortIcon>
                                    <p-columnFilter
                                      field="empName"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Company Name
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="activity" pSortableColumn="companyName"></p-sortIcon>
                                    <p-columnFilter
                                      field="companyName"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  <span tooltip="Unit of Measure"
                                    >Module Name</span
                                  >
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="activity" pSortableColumn="applicationModuleName"></p-sortIcon>
                                    <p-columnFilter
                                      field="applicationModuleName"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  <span tooltip="Unit of Measure"
                                    >Query Type</span
                                  >
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="activity" pSortableColumn="queryTypeCode"></p-sortIcon>
                                    <p-columnFilter
                                      field="queryTypeCode"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div
                                  class="p-d-flex p-ai-center justify-content-center">
                                  Sub-Query Type
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="activity" pSortableColumn="subQueryTypeCode"></p-sortIcon>
                                    <p-columnFilter
                                      field="subQueryTypeCode"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th>
                                <div
                                  class="p-d-flex p-ai-center justify-content-center"
                                >
                                  Subject
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="activity" pSortableColumn="subject"></p-sortIcon>
                                    <p-columnFilter
                                      field="subject"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div
                                  class="p-d-flex p-ai-center justify-content-center"
                                >
                                  Priority
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="activity" pSortableColumn="priority"></p-sortIcon>
                                    <p-columnFilter
                                      field="priority"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div
                                  class="p-d-flex p-ai-center justify-content-center"
                                >
                                  Escalation Date
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="activity" pSortableColumn="escalationDate"></p-sortIcon>
                                    <p-columnFilter
                                      field="escalationDate"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th >
                                <div
                                  class="p-d-flex p-ai-center justify-content-center"
                                >
                                  Status
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="activity" pSortableColumn="status"></p-sortIcon>
                                    <p-columnFilter
                                      field="status"
                                      display="menu"
                                      class="p-ml-auto"
                                    >
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th class="wd-20">Action</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-queryGenerationSummary let-rowIndex="rowIndex">
                            <tr class="p-selectable-row textcenter ">
                              <td class="text-center">{{ rowIndex + 1 }}</td>
                              <td>
                                <label class="form-lable mb-0">{{ queryGenerationSummary.queryNumber}}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.submissionDate | date :"dd-MMM-yyyy"
                                }}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.createdBy
                                }}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.employeeCode
                                }}</label>
                              </td>

                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.empName
                                }}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.companyName
                                }}</label>
                              </td>

                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.applicationModuleName
                                }}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.queryTypeCode
                                }}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.subQueryTypeCode
                                }}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.subject
                                }}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.priority
                                }}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.escalationDate |date:"dd-MMM-yyyy"
                                }}</label>
                              </td>
                              <td>
                                <label class="form-lable mb-0">{{
                                  queryGenerationSummary.status
                                }}</label>
                              </td>
                              <td>
                                <span >
                                    <i class="fa fa-edit font-16 text-dark-green cursor-pointer mr-2 ml-3" tooltip="Edit" aria-hidden="true" (click)="editQuery(queryGenerationSummary)" ></i>
                                    <i class="fa fa-eye font-16 text-blue cursor-pointer mr-2 ml-3" tooltip="View" aria-hidden="true" style="color:darkcyan" (click)="viewQuery(queryGenerationSummary)"></i>
                                    <i class="fa fa-trash font-16 text-red cursor-pointer mr-2 ml-3" tooltip="Delete" aria-hidden="true" (click)="getDeleteById(queryGenerationSummary,deleteTemp)" ></i ></span>

                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr>
                              <td
                                colspan="15"
                                class="font-14 font500 text-center text-red"
                              >
                                <span>No Data Available</span>
                              </td>
                            </tr>
                          </ng-template>

                          <ng-template #deleteTemp>
                            <div class="modal-header">
                              <h5 class="modal-title" id="UploadModalLabel">Delete Business Year Definition</h5>
                              <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
                                  aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              <div class="card">
                                <div class="card-body">
                                  <div class="row clearfix">
                                    <div class="col-md-12">
                                      <label class="form-label">Are you sure Delete query?</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary"
                                (click)="deletePreviewCycleDiscard();modalRef1.hide();modalRef.hide()">Yes</button>
                              <button type="button" class="btn btn-secondary" (click)="modalRef1.hide()">No</button>
                            </div>
                          </ng-template>

                        </p-table>
                      </div>
                    </div>
                  </div>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
