<app-leftmenu></app-leftmenu>
<form class="card" role="form" [formGroup]="form" #formDirective="ngForm" method="post" novalidate>
  <div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
      <div class="container-fluid" style="border: 1px solid #ccc; background-color: #fff;">
        <div class="tabview-contents">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <legend>Establishment Details</legend>

                        <div class="row">

                          <div class="col-sm-3">
                            <label class="form-label">Code</label>
                            <input type="text" formControlName="establishmentCode" class="form-control"
                              autocomplete="off"
                              [ngClass]="{'is-invalid' : form.get('establishmentCode').status == 'INVALID'}"
                              name="establishmentCode" placeholder="Enter Establishment Code">
                          </div>


                          <div class="col-sm-3">
                            <label class="form-label">Description</label>
                            <input type="text" formControlName="description" class="form-control" autocomplete="off"
                              [ngClass]="{'is-invalid' : form.get('description').status == 'INVALID'}"
                              name="description" placeholder="Enter Description">
                          </div>

                          <div class="col-sm-3">
                            <label class="form-label">Type</label>
                            <select name="typeOfEstablishment" id="typeOfEstablishment" class="form-control"
                              formControlName="typeOfEstablishment"
                              [ngClass]="{'is-invalid' : form.get('typeOfEstablishment').status == 'INVALID'}"
                              (change)='onSelectTypeOfEstablishment($event.target.value)'>
                              <option selected value=''>Select </option>
                              <option *ngFor="let reason of typeOfEstablishmentList" [value]="reason.label">
                                {{reason.label}}
                              </option>
                            </select>
                          </div>


                          <div class="col-sm-3">
                            <label class="form-label">Primary Business Activity</label>
                            <select name="primaryBusinessActivity" id="primaryBusinessActivity" class="form-control"
                              formControlName="primaryBusinessActivity"
                              [ngClass]="{'is-invalid' : form.get('primaryBusinessActivity').status == 'INVALID'}"
                              (change)='onSelectPrimaryBusinessActivity($event.target.value)'>
                              <option selected value=''>Select </option>
                              <option *ngFor="let issuedBy of primaryBusinessActivityList" [value]="issuedBy">
                                {{issuedBy}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="row mt-20">




                          <div class="col-sm-3">
                            <label class="form-label">Date of Setup</label>
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" formControlName="dateOfSetup"
                                (bsValueChange)="onBsValueChangeDateOfSetup()" data-provide="datepicker"
                                placement="center" [maxDate]="today" data-date-autoclose="true" class="form-control"
                                placeholder="Date of Setup" bsDatepicker>
                            </div>
                          </div>

                          <div class="col-sm-3">
                            <label class="form-label">Office Premises - Ownership</label>
                            <select name="issuedBy" id="officePremisesOwnership" class="form-control"
                              formControlName="officePremisesOwnership"
                              [ngClass]="{'is-invalid' : form.get('officePremisesOwnership').status == 'INVALID'}"
                              (change)='onSelectOfficePremisesOwnership($event.target.value)'>
                              <option selected value=''>Select </option>
                              <option *ngFor="let issuedBy of officePremisesOwnershipList" [value]="issuedBy">
                                {{issuedBy}}
                              </option>
                            </select>
                          </div>

                          <div class="col-sm-3">
                            <label class="form-label">Region</label>
                            <select name="regionMasterId" id="regionMasterId" class="form-control"
                              formControlName="regionMasterId"
                              [ngClass]="{'is-invalid' : form.get('regionMasterId').status == 'INVALID'}"
                              (change)='onSelectRegionMasterId($event.target.value)'>
                              <option selected value=''>Select </option>
                              <option *ngFor="let issuedBy of regionMasterDetails" [value]="issuedBy.masterId">
                                {{issuedBy.masterCode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                  <div class="row mt-10">
                    <div class="col-md-12">

                      <fieldset>
                        <legend>Registration Details</legend>
                        <div class="row">

                          <div class="col-sm-3">
                            <label class="form-label">GST No.</label>
                            <input type="text" formControlName="gstNumber" class="form-control" name="gstNumber"
                              autocomplete="off" placeholder="Enter GST No.">
                          </div>




                          <div class="col-sm-3">
                            <label class="form-label">Issued Date</label>
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" formControlName="gstIssueDate"
                                (bsValueChange)="onBsValueChangeDateOfGstIssueDate()" data-provide="datepicker"
                                data-date-autoclose="true" class="form-control" placement="center"
                                [ngClass]="{'is-invalid' : form.get('gstIssueDate').status == 'INVALID'}"
                                placeholder="GST Issued Date" bsDatepicker>
                            </div>
                          </div>

                          <div class="col-sm-3">
                            <label class="form-label">LIN No.</label>
                            <input type="text" formControlName="linNumber" class="form-control" name="linNumber"
                              placeholder="Enter LIN No." autocomplete="off"
                              [ngClass]="{'is-invalid' : form.get('linNumber').status == 'INVALID'}">
                          </div>

                          <div class="col-sm-3">
                            <label class="form-label">Issued Date</label>
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" formControlName="linIssueDate"
                                (bsValueChange)="onBsValueChangeLinIssueDate()" data-provide="datepicker"
                                data-date-autoclose="true" class="form-control" placement="center"
                                [ngClass]="{'is-invalid' : form.get('linIssueDate').status == 'INVALID'}"
                                placeholder="LIN Issued Date" bsDatepicker>
                            </div>
                          </div>

                        </div>
                        <!-- <div class="row mt-20">



                   </div> -->

                        <div class="row mt-20">

                          <div class="col-sm-3">
                            <label class="form-label">STPI No.</label>
                            <input type="text" formControlName="stpi" class="form-control" name="stpi"
                              autocomplete="off" placeholder="Enter STPI No."
                              [ngClass]="{'is-invalid' : form.get('stpi').status == 'INVALID'}">
                          </div>

                          <div class="col-sm-3">
                            <label class="form-label">Issued Date</label>
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" formControlName="stpiIssueDate"
                                (bsValueChange)="onBsValueChangeStpiIssueDate()" data-provide="datepicker"
                                data-date-autoclose="true" class="form-control" placement="center"
                                [ngClass]="{'is-invalid' : form.get('stpiIssueDate').status == 'INVALID'}"
                                placeholder="STPI Issued Date" bsDatepicker>
                            </div>
                          </div>
                        </div>
                      </fieldset>

                    </div>
                  </div>
                  <!-- end of row -->



                  <!-- end of row -->



                  <div class="row mt-10">
                    <div class="col-md-12">


                      <fieldset>
                        <legend>Address Details</legend>



                        <div class="col-12">

                          <div class="row">
                            <div class="col-sm-3">
                              <label class="form-label"> Address 1</label>
                              <input type="text" formControlName="address1" class="form-control " name="address1"
                                autocomplete="off" [ngClass]="{'is-invalid' : form.get('address1').status == 'INVALID'}"
                                placeholder="Enter Address 1">
                            </div>

                            <div class="col-sm-3">
                              <label class="form-label"> Address 2</label>
                              <input type="text" formControlName="address2" class="form-control " name="address2"
                                autocomplete="off" placeholder="Enter Address 2">
                            </div>

                            <div class="col-sm-3">
                              <label class="form-label"> Address 3</label>
                              <input type="text" formControlName="address3" class="form-control " name="address3"
                                autocomplete="off" placeholder="Enter Address 3">
                            </div>

                            <div class="col-sm-3">
                              <label class="form-label">Country</label>
                              <select name="country" id="country" class="form-control"
                                [ngClass]="{'is-invalid' : form.get('country').status == 'INVALID'}"
                                formControlName="country">
                                <option selected value=''>Select </option>

                                <option *ngFor="let country of countries" [value]="country">
                                  {{country}}
                                </option>
                              </select>
                            </div>



                          </div> <!-- end of row -->


                          <div class="row mt-20 mb-10">



                            <div class="col-sm-3">
                              <label class="form-label">PIN</label>
                              <input type="text" class="form-control" placeholder="Enter PIN" minlength="1"
                                autocomplete="off" maxlength="6" formControlName="pinCode" pattern="[0-9]{6}"
                                [ngClass]="{'is-invalid' : form.get('pinCode').status == 'INVALID'}"
                                (keypress)="keyPress($event)"
                                (keyup)="checkLocalAddress(); getPermanentAddressFromPIN();">
                            </div>

                            <div class="col-sm-3">
                              <label class="form-label">State</label>
                              <input type="text" formControlName="state" class="form-control " name="state"
                                disabled=true placeholder="Enter state">
                            </div>

                            <div class="col-sm-3">
                              <label class="form-label">City</label>
                              <input type="text" formControlName="city" class="form-control " name="city" disabled=true
                                autocomplete="off" placeholder="Enter City">
                            </div>


                            <div class="col-sm-3">
                              <label class="form-label">Village</label>
                              <input type="text" formControlName="village" class="form-control " name="village"
                                autocomplete="off" placeholder="Enter Village">
                            </div>

                          </div>

                        </div>
                      </fieldset>
                    </div>
                  </div>











                  <div class="col-12 mt-20">

                    <div class="float-right mb-15">
                      <ng-container *ngIf="showButtonSaveAndReset">

                        <ng-container *ngIf="isSaveAndReset; else newDeb">

                          <button type="submit" [disabled]="form.invalid"
                            class="custom_button custom_btn btn-labeled btn-labeled-left" tooltip="Save"
                            (click)="save()"
                            [ngClass]="{'disabled-btn-bg-green' : form.invalid,'btn-bg-green': !form.invalid}"><b><i
                                class="fa fa-floppy-o"></i></b> Save</button>




                          <button type="button" tooltip="Reset" (click)="cancelView()"
                            class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                                class="fa  fa-refresh"></i></b> Reset</button>

                        </ng-container>

                        <ng-template #newDeb>

                          <!-- <button type="submit" [ngClass]="{'disabled-btn-bg-lightgrey' : form.invalid,
                        'btn-bg-green': !form.invalid}"
                            class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Update"
                            (click)="save()" [disabled]="form.invalid"><b><i class="fa fa-floppy-o"></i></b>
                            Update</button> -->
                          <button type="submit"
                            [ngClass]="form.invalid ? 'disabled-button' + ' btn-bg-green': 'btn-bg-green'"
                            class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Update"
                            (click)="save()" [disabled]="form.invalid">
                            <b><i class="fa fa-floppy-o"></i></b>Update</button>


                          <button type="button"
                            class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                            tooltip="Cancel" (click)="cancelView()"><b><i class="fa fa-times-circle"></i></b>
                            Cancel</button>

                        </ng-template>

                      </ng-container>
                      <ng-container *ngIf="!showButtonSaveAndReset">
                        <button type="button"
                          class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                          tooltip="Cancel" (click)="cancelView()"><b><i class="fa fa-times-circle"></i></b>
                          Cancel</button>
                      </ng-container>
                    </div>
                  </div> <!-- <end of div col-6 -->


                </div> <!-- card body -->
              </div>
            </div>
          </div>




<!-- 
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="mb-0">
                  <h3 class="font-14 text-purple font-bold">Summary</h3>
                </div>
                
                <div class="table-responsive Custom_Table">
                  <table class="table table-striped table-hover table-bordered m-b-0">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" class="wd-8">Sr. No.</th>
                        <th scope="col" class="wd-20">Establishment Code</th>
                        <th scope="col" class="wd-20">Description</th>
                        <th scope="col" class="wd-12">Type Of Establishment</th>
                        <th scope="col" class="wd-10">GST No.</th>
                        <th scope="col" class="wd-10">City</th>
                        <th scope="col" class="wd-10">Village</th>
                        <th scope="col" class="wd-10">Action</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let summary of summaryHtmlDataList; let i = index">
                        <td class="wd-10"><span tooltip="{{summary.SrNo}}">{{summary.SrNo}}</span>
                        </td>
                        <td class="wd-10"><span
                            tooltip="{{summary.establishmentCode}}">{{summary.establishmentCode}}</span>
                        </td>
                        <td class="wd-10"><span tooltip="{{summary.description}}">{{summary.description}}</span>
                        </td>
                        <td class="wd-10"><span
                            tooltip="{{summary.typeOfEstablishment}}">{{summary.typeOfEstablishment}}</span>
                        </td>

                        <td class="wd-10"><span tooltip="{{summary.gstNumber}}">{{summary.gstNumber}}</span>
                        </td>

                        <td class="wd-10"><span tooltip="{{summary.city}}">{{summary.city}}</span>
                        </td>
                        <td class="wd-10"><span tooltip="{{summary.village}}">{{summary.village}}</span>
                        </td>









                        <td class="wd-10">
                          <i class="fa fa-edit font-16 text-dark-green cursor-pointer"
                            (click)="editMaster(i,summary.establishmentMasterId )" tooltip="Edit"></i>

                          <i class="fa fa-eye font-16 text-blue cursor-pointer ml-3" (click)="viewMaster(i)"
                            tooltip="View"></i>
                        </td>
                      </tr>
                      <tr *ngIf="!summaryHtmlDataList?.length">
                        <td colspan="10">
                          <span class="font-14 font500 align-center text-red">No Data Available</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div> -->


  <br>
                <div class="row mb-0">
                  <div class="col-md-12">
      
                    <span class="font-14 text-purple font-bold">Summary</span>
      
                    <div class="justify-content-end p-d-inline-flex float-right">
                      <div class="input-icon mb-3">
                        <span class="p-input-icon-left p-ml-auto">
                          <i class="pi pi-search" style="top: 9px !important"></i>
                          <input pInputText type="text"
                            (input)="
                            dt.filterGlobal(
                                $event.target.value,
                                'contains'
                              )
                            "
                            placeholder="Search keyword"
                          />
                        </span>
                      </div>
      
                      &nbsp;
                      <i class="fa fa-file-excel-o  font-28 text-dark-green cursor-pointer"
                        tooltip="Export To Excel" (click)="exportAsXLSX()"></i>
      
                    </div>
                  </div>
                 </div>
      
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="card">
                      <p-table #dt [value]="summaryHtmlDataList" [paginator]="true" [rows]="10"
                      [showCurrentPageReport]="true"
                      (sortFunction)="customSort($event)"
                       [customSort]="true"
                        [pageLinks]="5" 
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                       totalRecords={{summaryHtmlDataList.length}} 
                       [rowsPerPageOptions]="[10,25,50,100,200]"
                       
                       [globalFilterFields]="['establishmentCode', 'description',  'typeOfEstablishment','gstNumber','city',
                       'village']">
    
                         <ng-template pTemplate="header">
                           <tr>
                             <th class=" text-center">
                              Sr. No.
                               
                             </th>
                            
    
                           <th class="text-center">
                              <div class="p-d-flex  justify-content-center p-ai-center">Establishment Code
                                <div class="Sort_Filter_Position">
                                  <p-sortIcon field="establishmentCode" pSortableColumn="establishmentCode"></p-sortIcon>
                                  <p-columnFilter field="establishmentCode" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                                </div>
                              </div>
                            </th>
    
                            <th class="text-center">
                              <div class="p-d-flex  justify-content-center p-ai-center">Description
                                <div class="Sort_Filter_Position">
                                  <p-sortIcon field="description" pSortableColumn="description"></p-sortIcon>
                                  <p-columnFilter field="description" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                                </div>
                              </div>
                            </th>
                             <th class="text-center">
                              <div class="p-d-flex  justify-content-center p-ai-center">Type Of Establishment
                                <div class="Sort_Filter_Position">
                                  <p-sortIcon field="typeOfEstablishment" pSortableColumn="typeOfEstablishment"></p-sortIcon>
                                  <p-columnFilter field="typeOfEstablishment" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                                </div>
                              </div>
                            </th>
    
                            <th class="text-center">
                              <div class="p-d-flex  justify-content-center p-ai-center">GST No.
                                <div class="Sort_Filter_Position">
                                  <p-sortIcon field="gstNumber" pSortableColumn="gstNumber"></p-sortIcon>
                                  <p-columnFilter field="gstNumber" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                                </div>
                              </div>
                            </th>

                            <th class="text-center">
                              <div class="p-d-flex  justify-content-center p-ai-center">City
                                <div class="Sort_Filter_Position">
                                  <p-sortIcon field="city" pSortableColumn="city"></p-sortIcon>
                                  <p-columnFilter field="city" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                                </div>
                              </div>
                            </th>
    
                            <th class="text-center">
                              <div class="p-d-flex  justify-content-center p-ai-center">Village
                                <div class="Sort_Filter_Position">
                                  <p-sortIcon field="village" pSortableColumn="village"></p-sortIcon>
                                  <p-columnFilter field="village" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                                </div>
                              </div>
                            </th>
                            <th class="text-center">
                              Action
                            </th>        
                           </tr>
                         </ng-template>
                         <ng-template pTemplate="body" let-summary  let-rowIndex="rowIndex" >
                          <tr class="p-selectable-row">
                              <td class="text-center">{{rowIndex + 1}}</td>
                              <td>
                                  <label
                                      class="form-lable mb-0">
                                      {{summary.establishmentCode}}</label>
                              </td>
                              <td>
                                  <label
                                      class="form-lable mb-0 ">{{summary.description}}</label>
                              </td>
    
                              <td> <label
                                      class="form-lable mb-0 ">{{summary.typeOfEstablishment}}</label>
                                      </td>
                                      <td> <label
                                        class="form-lable mb-0 ">{{summary.gstNumber}}</label>
                                        </td>
                                        <td> <label
                                          class="form-lable mb-0 ">{{summary.city}}</label>
                                          </td>
                                          <td> <label
                                            class="form-lable mb-0 ">{{summary.village}}</label>
                                            </td>
                                           
                                          <td class="text-center">
                                            
                          <i class="fa fa-edit font-16 text-dark-green cursor-pointer"
                            (click)="editMaster(rowIndex,summary.establishmentMasterId )" tooltip="Edit"></i>

                          <i class="fa fa-eye font-16 text-blue cursor-pointer ml-3" (click)="viewMaster(rowIndex)"
                            tooltip="View"></i>
                        </td>
                                         
                          </tr>
                      </ng-template>
    
                         <ng-template pTemplate="emptymessage">
                           <tr>
                             <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                 Available</span>
                             </td>
                           </tr>
                         </ng-template>
                       </p-table>
    </div>
    </div>
    </div>




        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</form>
