
    
       
            <form  [formGroup]="form" #formDirective="ngForm"
                (ngSubmit)="addPayrollAreaInfo(form,formDirective)" method="post" novalidate>
                <!-- <div class="tabview-contents"> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body p-0">

                                    <div class="col-12 mt-10">

                            
                                        <br>

                                        <div class="row mt-10">
                                            <div class="col-sm-3">
                                                <label class="form-label"> Payroll Area</label>
                                                <select name="payrollArea" formControlName="payrollAreaCode" [ngClass]="{ 'is-invalid': form.get('payrollAreaCode').touched && form.get('payrollAreaCode').errors }"
                                                    class="form-control" (change)="changepayrollCode()">
                                                    <option value=""> Select</option>
                                                    <option *ngFor="let list of payrollAreaList"
                                                        [value]="list.payrollAreaCode">
                                                        {{list.payrollAreaCode}} </option>

                                                </select>
                                                <div *ngIf="form.get('payrollAreaCode').touched && form.get('payrollAreaCode').errors">
                                                    
                                                </div>

                                            </div>

                                            <div class="col-sm-3">
                                                <label class="form-label">Description</label>

                                                <input type="text" formControlName="description" class="form-control"
                                                    placeholder="Enter Description" disabled>

                                            </div>






                                        </div> <!-- end of row -->


                                        <div class="row mt-20">
                                            <div class="col-sm-3">
                                                <label class="form-label">Type</label>


                                                <select name="type" formControlName="type" class="form-control">
                                                    <option value=""> Select </option>
                                                    <option *ngFor="let type of payrollType" [value]="type"> {{type}} </option>

                                                </select>


                                            </div>

                                            <div class="col-sm-3">
                                                <label class="form-label">Primary Area Name</label>


                                                <select formControlName="primaryAreaName" name="PrimaryArea" (change)="changePrimaryAreaName()"
                                                    class="form-control">
                                                    <option value=""> Select </option>
                                                    <option *ngFor="let value of primaryPayrollList"
                                                        [value]="value.payrollAreaCode">
                                                        {{value.payrollAreaCode}}</option>

                                                </select>

                                            </div>



                                            <div class="col-sm-3">
                                                <label class="form-label">From Date</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                    <input formControlName="payrollAreaFromDate" data-provide="datepicker" [minDate]="fromDateValidation"
                                                    [maxDate]="toDateValidation"    
                                                    [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                        placement="center" data-date-autoclose="true"
                                                        class="form-control" placeholder="Date" bsDatepicker>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="form-label">To Date</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                    <input data-provide="datepicker" formControlName="payrollAreaToDate" [minDate]="fromDateValidation"
                                                    [maxDate]="toDateValidation"
                                                        [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                        placement="center" data-date-autoclose="true"
                                                        class="form-control" placeholder="Date" bsDatepicker>
                                                </div>

                                            </div>

                                        </div>

                                        <br>


                                        <div class="row mt-15">
                                            <div class="col-12">
                                                <div class="float-right mb-15">
                                                    <button *ngIf="!viewFlag" type="submit"  [disabled]="form.invalid"
                                                        class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"
                                                        tooltip="Save" 
                                                        [ngClass]="{'disabled-btn-bg-green' : form.invalid }"><b>
                                                            <i class="fa fa-floppy-o"></i></b> Save</button>&nbsp;
                                                    <button type="button"
                                                        class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left "
                                                        tooltip="Reset"><b>
                                                            <i class="fa fa-refresh"></i></b> Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="mb-0">
                                            <h3 class="font-14 text-purple font-bold">Summary</h3>
                                        </div>
                                        <p-table [value]="summaryData" [paginator]="true" [rows]="10"
                                            [showCurrentPageReport]="true"
                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                            [rowsPerPageOptions]="[10,25,50]">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th rowspan="2" class="wd-7 text-center">Sr. No.</th>
                                                    <th rowspan="2" class="wd-6 text-center">
                                                        <div class="p-d-flex p-jc-between p-ai-center">Payroll Area
                                                            <div class="Sort_Filter_Position">
                                                                <p-sortIcon field="payrollAreaCode" pSortableColumn="payrollAreaCode"></p-sortIcon>
                                                                <p-columnFilter type="text" field="payrollAreaCode"
                                                                    display="menu" class="p-ml-auto">
                                                                </p-columnFilter>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th rowspan="2" class="wd-6 text-center">
                                                        <div class="p-d-flex p-jc-between p-ai-center"> Description
                                                            <div class="Sort_Filter_Position">
                                                                <p-sortIcon field="description"
                                                                    pSortableColumn="description"></p-sortIcon>
                                                                <p-columnFilter type="text" field="description" display="menu"
                                                                    class="p-ml-auto">
                                                                </p-columnFilter>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th rowspan="2" class="wd-8 text-center">
                                                        <div class="p-d-flex p-jc-between p-ai-center"> Type
                                                            <div class="Sort_Filter_Position">
                                                                <p-sortIcon field="type" pSortableColumn="type">
                                                                </p-sortIcon>
                                                                <p-columnFilter type="type" field="type" display="menu"
                                                                    class="p-ml-auto"> </p-columnFilter>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th rowspan="2" class="wd-8 text-center">
                                                        <div class="p-d-flex p-jc-between p-ai-center"> Primary Area
                                                            Name

                                                            <div class="Sort_Filter_Position">
                                                                <p-sortIcon field="primaryAreaName"
                                                                    pSortableColumn="primaryAreaName"></p-sortIcon>
                                                                <p-columnFilter field="primaryAreaName" matchMode="equals"
                                                                    display="menu" class="p-ml-auto"></p-columnFilter>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th rowspan="2" class="wd-8 text-center">
                                                        <div class="p-d-flex justify-content-center p-ai-center">From
                                                            Date
                                                            <div class="Sort_Filter_Position">
                                                                <p-sortIcon field="payrollAreaFromDate" pSortableColumn="payrollAreaFromDate">
                                                                </p-sortIcon>
                                                                <p-columnFilter field="payrollAreaFromDate" display="menu"
                                                                    class="p-ml-auto">
                                                                </p-columnFilter>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th rowspan="2" class="wd-8 text-center">
                                                        <div class="p-d-flex p-jc-between p-ai-center">To Date
                                                            <div class="Sort_Filter_Position">
                                                                <p-sortIcon field="payrollAreaToDate" pSortableColumn="payrollAreaToDate">
                                                                </p-sortIcon>
                                                                <p-columnFilter field="payrollAreaToDate" display="menu"
                                                                    class="p-ml-auto">
                                                                </p-columnFilter>
                                                            </div>
                                                        </div>
                                                    </th>


                                                    <th rowspan="2" class="wd-6 text-center"> Action </th>
                                                    <!-- <th rowspan="2"></th> -->
                                                </tr>

                                            </ng-template>
                                            <ng-template pTemplate="body" let-payroll let-rowIndex="rowIndex">
                                                <tr class="p-selectable-row">
                                                    <!-- <td class="text-center"></td> -->
                                                    <td class="bg-color-light_gray text-center"><label
                                                            class="form-lable mb-0 text-center">{{rowIndex+1}}</label>
                                                    </td>

                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                            tooltip="{{payroll.payrollAreaCode}}">{{payroll.payrollAreaCode}}</label>
                                                    </td>

                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                            tooltip="{{payroll.description}}">{{payroll.description}}</label>
                                                    </td>

                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                            tooltip="{{payroll.type}}">{{payroll.type}}</label>
                                                    </td>

                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                            tooltip="{{payroll.primaryAreaName}}">{{payroll.primaryAreaName}}</label>
                                                    </td>

                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                            tooltip="{{payroll.fromDate}}">{{payroll.payrollAreaFromDate}}</label>
                                                    </td>
                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                            tooltip="{{payroll.toDate}}">{{payroll.payrollAreaToDate}}</label>
                                                    </td>

                                                    <td>
                                                        <span class="ml-1 mt-2"><i
                                                                class="fa fa-edit font-18 text-dark-green cursor-pointer" (click)="editPayroll(payroll)"
                                                                aria-hidden="true"></i></span>&nbsp;
                                                        <span class="ml-1 mt-2"><i
                                                                class="fa fa-eye font-18 text-blue cursor-pointer" (click)="viewPayroll(payroll)"
                                                                aria-hidden="true"></i></span>&nbsp;
                                                        <span class="ml-1 mt-2"><i
                                                                class="fa fa-trash font-18 text-red cursor-pointer" (click)="deletePayroll(payroll.payrollAreaInformationId)"
                                                                aria-hidden="true"></i></span>&nbsp;
                                                    </td>
                                                </tr>

                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <td colspan="15" class="font-14 font500 text-center text-red">
                                                        <span>No Data
                                                            Available</span>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>

                                    </div>

                                </div> <!-- card body -->

                            </div>
                        </div>

                    </div>
                <!-- </div> -->
            </form>
           
       