<div [hidden]="assignmentModel">
    <div class="col-sm-6 col-lg-3">
        <label class="form-label">Employee Contribution Method</label>
        <p-autoComplete [suggestions]="filteredContributionMethods" placeholder="Select"
            (completeMethod)="filterContributionMethods($event)" [dropdown]="true" [(ngModel)]="assignmentModel">
        </p-autoComplete>
    </div>


    <br>
    <br>
    <legend style="font-size: 17px !important;">Summary
    </legend>
    <p-table [value]="EducationSummaryData" [scrollable]="true" [style]="{width:'1000px'}" scrollHeight="200px">
        <ng-template pTemplate="colgroup" let-education>
            <colgroup>
                <col style="width:150px">
                <col style="width:120px">
                <col style="width:170px">
                <col style="width:175px">
                <col style="width:120px">
                <col style="width:170px">
                <col style="width:175px">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="primeng-table-header-center">Compliance Type</th>
                <th class="primeng-table-header-center">Display Name</th>
                <th class="primeng-table-header-center">Employee Code
                </th>
                <th class="primeng-table-header-center">Membership No.</th>
                <th class="primeng-table-header-center">Start Date</th>
                <th class="primeng-table-header-center">End Date
                </th>
                <th class="primeng-table-header-center">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-education>
            <tr>
                <td class="primeng-table-header-center"><span>
                        Provident Fund
                    </span></td>

                <td class="primeng-table-header-center"><span>
                        Provident Fund
                    </span></td>


                <td class="primeng-table-header-center"><span>
                        000001</span></td>

                <td class="primeng-table-header-center"><span>
                        12345</span></td>

                <td class="primeng-table-header-center"><span>
                        25-Dec-2020</span></td>

                <td class="primeng-table-header-center"><span>
                        14-Dec-2020</span></td>


                <td class="primeng-table-header-center"><span><i
                            class="fa fa-pencil font-16 text-blue cursor-pointer mr-10" tooltip="Edit"></i>

                        <i class="fa fa-eye font-16 text-blue cursor-pointer mr-1" tooltip="View"></i></span>

                    <i class="fa fa-times font-16 text-red cursor-pointer" tooltip="Delete"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-sub-compliance-type-information *ngIf="assignmentModel" [assignmentModel]="assignmentModel">
</app-sub-compliance-type-information>