<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="BasicInfoForm" (ngSubmit)="personalInfoSubmit(personalInformationModel)">
                                <!-- <div class="tabview"> -->
                                <div class="row">
                                    <!-- <div class="card-body col-sm-6"> -->
                                    &nbsp;&nbsp;
                                    <div class="circle thumbnail" (click)="fileInput.click($event, fileInput)">
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                                (change)="uploadFile($event, fileInput)" hidden
                                                [(ngModel)]="selectedImg" formControlName="image" />
                                        </div>
                                        <img [src]="imageUrl" alt="">
                                        <h4 class="image-size-info" tooltip="Size should be
                                        less than 1 MB">Select Image <p class="small-size">(Size should be
                                                less than 1 MB)</p>
                                        </h4>
                                    </div>
                                    <!-- <h6 class="mt-3 mb-0">Michelle Green</h6>
                                    <span>jason-porter@info.com</span>
                                    <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                        <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                        <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    <button class="btn btn-default btn-sm">Follow</button>
                                    <button class="btn btn-default btn-sm ml-1">Message</button> -->
                                    <!-- </div> -->
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="col-sm-6 col-md-3 code-line">
                                        <label class="form-label">{{ PersonalInfoLabels.employeeCode }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Employee Code"
                                            formControlName="employeeCode" (keyup)="formTouch()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.employeeCode"
                                            [ngClass]="{'is-invalid' : BasicInfoForm.get('employeeCode').status == 'INVALID'}">
                                    </div>
                                    <div class="col-sm-6 col-md-3 code-line">
                                        <label class="form-label">{{ PersonalInfoLabels.alternateEmployeeCode }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Alternate Code"
                                            formControlName="alternateCode" (keyup)="formTouch()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.alternateEmployeeCode"
                                            [ngClass]="{'is-invalid' : BasicInfoForm.get('alternateCode').status == 'INVALID'}">
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 mt-10 mb-1" [hidden]="PersonalInfoLabels.title== ''">
                                        <label class="form-label">{{ PersonalInfoLabels.title }}</label>
                                        <select class="form-control" placeholder="Select" formControlName="title"
                                            (change)="concateFullName()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.title">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let title of titleList" [value]="title">
                                                {{title}}
                                            </option>
                                        </select>


                                        <!-- <input type="text" class="form-control" placeholder="Enter Title"
                                            formControlName="title" (change)="concateFullName()" (keyup)="formTouch()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.title"> -->
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10 mb-1"
                                        [hidden]="PersonalInfoLabels.firstName== ''">
                                        <label class="form-label">{{ PersonalInfoLabels.firstName }}</label>
                                        <input type="text" class="form-control" placeholder="Enter First Name"
                                            formControlName="firstName" (change)="concateFullName()"
                                            (keyup)="formTouch()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.firstName"
                                            [ngClass]="{'is-invalid' : BasicInfoForm.get('firstName').status == 'INVALID'}">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10 mb-1"
                                        [hidden]="PersonalInfoLabels.middleName== ''">
                                        <label class="form-label">{{ PersonalInfoLabels.middleName }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Middle Name"
                                            formControlName="middleName" (change)="concateFullName()"
                                            (keyup)="formTouch()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.middleName"
                                            [ngClass]="{'is-invalid' : BasicInfoForm.get('middleName').status == 'INVALID'}">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10 mb-1"
                                        [hidden]="PersonalInfoLabels.lastName== ''">
                                        <label class="form-label">{{ PersonalInfoLabels.lastName }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Last Name"
                                            formControlName="lastName" (change)="concateFullName()"
                                            (keyup)="formTouch()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.lastName"
                                            [ngClass]="{'is-invalid' : BasicInfoForm.get('lastName').status == 'INVALID'}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-md-3 mt-20">
                                        <label class="form-label">{{ PersonalInfoLabels.fullName }}</label>
                                        <input type="text" class="form-control" placeholder="Full Name"
                                            formControlName="fullName"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.fullName">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-20">
                                        <label class="form-label">{{ PersonalInfoLabels.displayName }}</label>
                                        <input type="text" class="form-control" placeholder="Enter Display Name"
                                            formControlName="displayName" (keyup)="formTouch()"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.displayName">
                                    </div>
                                    <!-- </div> -->

                                    <!-- <br> -->
                                    <!-- <div class="row"> -->
                                    <div class="col-sm-6 col-md-3 mt-20" [hidden]="PersonalInfoLabels.gender == ''">
                                        <label class="form-label">{{ PersonalInfoLabels.gender }}</label>
                                        <select class="form-control" placeholder="Select" formControlName="gender"
                                            [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.gender"
                                            (change)="validateDropdown(); validateGender()"
                                            [ngClass]="{'is-invalid' : BasicInfoForm.get('gender').status == 'INVALID'}">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let gender of allGenders" [value]="gender">
                                                {{gender}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-20">
                                        <label class="form-label">{{ PersonalInfoLabels.dateOfBirth }}</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                    data-provide="datepicker" data-date-autoclose="true"
                                                    class="form-control" placeholder="Select Birth Date" bsDatepicker
                                                    [maxDate]="today" formControlName="birthDate"
                                                    [(ngModel)]="personalInformationModel.employeeMasterRequestDTO.dateOfBirth"
                                                    (click)="birthDateClickEvent($event)"
                                                    (bsValueChange)="birthDateValidation(personalInformationModel.employeeMasterRequestDTO.dateOfBirth);"
                                                    [ngClass]="{'is-invalid' : BasicInfoForm.get('birthDate').status == 'INVALID'}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label class="form-label">{{ 'PersonalInformationForm.bloodGroup' | transloco
                                            }}</label>
                                        <select class="form-control" formControlName="bloodGroup"
                                            [(ngModel)]="personalInformationModel.bloodGroup" placeholder="Select"
                                            (change)="validateDropdown()">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">
                                                {{bloodGroup}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label class="form-label">{{ 'PersonalInformationForm.nationality' | transloco
                                            }}</label>
                                        <select class="form-control" formControlName="nationality"
                                            [(ngModel)]="personalInformationModel.nationality"
                                            (change)="validateNationalty(country);" placeholder="Select">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let country of countryList" [value]="country">
                                                {{country}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label class="form-label">{{ 'PersonalInformationForm.maritalStatus' | transloco
                                            }}</label>
                                        <select class="form-control" formControlName="maritalStatus"
                                            [(ngModel)]="personalInformationModel.maritialStatus"
                                            (change)="clearMarriageDate(personalInformationModel.maritialStatus);validateDropdown()"
                                            placeholder="Select">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let status of maritalStatus" [value]="status">
                                                {{status}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10"
                                        *ngIf="personalInformationModel.maritialStatus == 'Married'">
                                        <label class="form-label">{{ 'PersonalInformationForm.marriageDate' | transloco
                                            }}</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                    data-provide="datepicker" data-date-autoclose="true"
                                                    class="form-control" [maxDate]="today"
                                                    [minDate]="personalInformationModel.employeeMasterRequestDTO.dateOfBirth"
                                                    placeholder="Select Marriage Date" bsDatepicker
                                                    formControlName="marriageDate"
                                                    [(ngModel)]="personalInformationModel.anniversaryDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-10">
                                        <label class="form-label">{{
                                            'PersonalInformationForm.physicallyChallengedBoolean' | transloco }}</label>
                                        <select class="form-control" formControlName="physicallyChallengedBoolean"
                                            [(ngModel)]="Physically" placeholder="Select"
                                            (change)="validatePhysically(Physically)">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let option of physicallyChallengedBoolean" [value]="option">
                                                {{option}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-20" *ngIf="Physically == 'Yes'">
                                        <label class="form-label">{{
                                            'PersonalInformationForm.physicallyChallengedDropdown' | transloco
                                            }}</label>
                                        <select class="form-control" formControlName="physicallyChallengedOption"
                                            [(ngModel)]="personalInformationModel.disabilityType" placeholder="Select"
                                            (change)="enableSeverity()">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let physically of physicallyChallengedDropdown"
                                                [value]="physically">
                                                {{physically}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-20" *ngIf="Physically == 'Yes'">
                                        <label class="form-label">{{ 'PersonalInformationForm.securityLevel' | transloco
                                            }}</label>
                                        <input type="number" class="form-control" placeholder="Enter Severity Level"
                                            formControlName="severityLevel" maxlength="3" max="100"
                                            (keyup)="formTouch()"
                                            (change)="validateSaverityLevel(personalInformationModel.severityLevel)"
                                            [(ngModel)]="personalInformationModel.severityLevel">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-20">
                                        <label class="form-label">{{ 'PersonalInformationForm.expat' | transloco
                                            }}</label>
                                        <select class="form-control" formControlName="isExpatWorker"
                                            [(ngModel)]="expatBoolean1" placeholder="Select"
                                            (change)="validateExpatBoolean(expatBoolean1)">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let expat of expatBooleanOptions" [value]="expat">
                                                {{expat}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-20" *ngIf="expatBoolean1 == 'Yes'">
                                        <label class="form-label">{{ 'PersonalInformationForm.countryOfOrigin' |
                                            transloco }}</label>
                                        <select class="form-control" formControlName="countryOfOrigin"
                                            [(ngModel)]="internationalWorkerRequestDTO.countryOfOrigin"
                                            (change)="enableWhetherOnCOC()" placeholder="Select">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let originCountry of countryList" [value]="originCountry">
                                                {{originCountry}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-20" *ngIf="expatBoolean1 == 'Yes'">
                                        <label class="form-label">{{ 'PersonalInformationForm.weatherOnCOC' | transloco
                                            }}</label>
                                        <select class="form-control" formControlName="isOnCOC" placeholder="Select"
                                            [(ngModel)]="weatherOnCOC1" (change)="validateWeatherOnCOC(weatherOnCOC1)">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let whetherOption of weatherOnCOCOptions"
                                                [value]="whetherOption">
                                                {{whetherOption}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-20"
                                        [hidden]="!weatherOnCOC1 || weatherOnCOC1 == 'No'">
                                        <label class="form-label">{{ 'PersonalInformationForm.cocNo' | transloco
                                            }}</label>
                                        <input type="text" class="form-control" placeholder="Enter COC No."
                                            formControlName="cocNo" (keyup)="formTouch()"
                                            [(ngModel)]="internationalWorkerRequestDTO.cocNumber">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mt-20"
                                        [hidden]="!weatherOnCOC1 || weatherOnCOC1 == 'No'">
                                        <label class="form-label">{{ 'PersonalInformationForm.cocValidTill' | transloco
                                            }}</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                    data-provide="datepicker" data-date-autoclose="true"
                                                    class="form-control" placeholder="Select COC Valid till date"
                                                    bsDatepicker formControlName="cocValidTill" [minDate]="today"
                                                    [(ngModel)]="internationalWorkerRequestDTO.cocValidTill">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-3 mt-20"
                                        [hidden]="PersonalInfoLabels.PersonalAdditional1 == ''">
                                        <label class="form-label">{{ PersonalInfoLabels.PersonalAdditional1 }}</label>
                                        <input type="text" class="form-control"
                                            placeholder="Enter {{ PersonalInfoLabels.PersonalAdditional1 }}"
                                            formControlName="PersonalAdditional1" (keyup)="formTouch()"
                                            [(ngModel)]="personalInformationModel.PersonalAdditional1">
                                    </div>

                                    <div class="col-sm-6 col-md-3 mt-20"
                                        [hidden]="PersonalInfoLabels.PersonalAdditional2 == ''">
                                        <label class="form-label">{{ PersonalInfoLabels.PersonalAdditional2 }}</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                    data-provide="datepicker" data-date-autoclose="true"
                                                    class="form-control" (keyup)="formTouch()"
                                                    placeholder="Select {{PersonalInfoLabels.PersonalAdditional2}}"
                                                    bsDatepicker formControlName="PersonalAdditional2"
                                                    [(ngModel)]="personalInformationModel.PersonalAdditional2">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-15">
                                    <div class="col-12">
                                        <div class="float-right mb-15">
                                            <button type="button" tooltip="Previous" [disabled]="!employeeMasterId"
                                                [ngClass]="{'next-previous-disabled' : !employeeMasterId,
                                   'bg-teal-400': employeeMasterId}"
                                                [routerLink]="['/employee-master/employee-summary']"
                                                class="custom_button custom_btn btn-labeled btn-labeled-left ml-10"><b><i
                                                        class="fa fa-chevron-circle-left"
                                                        aria-hidden="true"></i></b>Previous</button>

                                            <button type="button" tooltip="Next" [disabled]="!employeeMasterId"
                                                [ngClass]="{'next-previous-disabled' : !employeeMasterId,
                                            'bg-teal-400': employeeMasterId}"
                                                [routerLink]="['/employee-master/employment-information/joining-information']"
                                                class="custom_button custom_btn btn-labeled btn-labeled-left ml-10"><b><i
                                                        class="fa fa-chevron-circle-right"
                                                        aria-hidden="true"></i></b>Next</button>

                                            <button type="button"
                                                (click)="saveNextPersonalInfoSubmit(personalInformationModel)"
                                                [disabled]="BasicInfoForm.invalid || BasicInfoForm.untouched || severityCountValidation == false"
                                                class="custom_button custom_btn btn-labeled btn-labeled-left ml-10"
                                                tooltip="Save & Next" [ngClass]="{'disabled-btn-bg-green' : BasicInfoForm.invalid || BasicInfoForm.untouched || severityCountValidation == false,
                                   'btn-bg-green': !BasicInfoForm.invalid || severityCountValidation == true}"><b><i class="fa fa-floppy-o"></i></b>
                                                Save & Next</button>

                                            <button type="submit"
                                                [disabled]="BasicInfoForm.invalid || BasicInfoForm.untouched || severityCountValidation == false"
                                                class="custom_button custom_btn btn-labeled btn-labeled-left ml-10"
                                                tooltip="Save" [ngClass]="{'disabled-btn-bg-green' : BasicInfoForm.invalid || BasicInfoForm.untouched || severityCountValidation == false,
                           'btn-bg-green': !BasicInfoForm.invalid || severityCountValidation == true}"><b><i class="fa fa-floppy-o"></i></b> Save</button>


                                            <button type="button" tooltip="Reset" (click)="resetForm()"
                                                class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                                                        class="fa fa-refresh" aria-hidden="true"></i></b> Reset</button>
                                            <!-- <button type="button" *ngIf="isCancel" (click)="cancelView()"
                                             class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                                             tooltip="Cancel"><b><i class="fa fa-times-circle" ></i></b> Cancel</button> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <br>
                                <div class="row">
                                   
                                   
                                </div>

                                <br>
                                <div class="row">
                                  
                                </div>

                                <br>
                                <div class="row">
                              
                                </div> -->
                            </form>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>