.disabled-btn-bg-green{
    background-color: #94c1c1!important;
}


.add-icon{
    cursor: pointer;
    // margin: auto;
    margin-top: 27px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 800;
    color: #713f93;
}

.form-control.is-invalid {
    background-image: none!important;
  }