<app-loan-master></app-loan-master>
<app-leftmenu></app-leftmenu>
<div class="page">
  <div class="section-body">
    <div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="tabs about-page">
                <form [formGroup]="paymentLoanForm">
                  <fieldset>
                    <legend>Loan Eligibility</legend>
                    <div class="tabview-contents">
                      <div class="row">
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">Service Period - SDM Name</label>
                          <select class="form-control" formControlName="servicePeriod" (change)="getAllDerivedSDMServicePeriod($event.target.value)">
                            <option value="">Select</option>
                            <option *ngFor="let sdmList of getAllApprovalSDMData" value="{{ sdmList.sdmMasterId }}">
                              {{ sdmList.sdmName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">Service Period - Derived Name</label>
                          <select class="form-control" formControlName="servicePeriodDerivedName">
                            <option value = 0>Select</option>
                            <option *ngFor=" let derivedList of getAllDerivedSDMServicePerioddata" value="{{derivedList.sdmDerivedMasterId}}">
                              {{ derivedList.derivedName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">% Of Underlining Asset - SDM Name</label>
                          <select class="form-control" formControlName="underliningAsset" (change)="getAllDerivedSDMUnderliningAsset($event.target.value)">
                            <option value="">Select</option>
                            <option *ngFor="let sdmList of getAllApprovalSDMData" value="{{ sdmList.sdmMasterId }}">
                              {{ sdmList.sdmName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">% Of Underlining Asset - Derived Name</label>
                          <select class="form-control" formControlName="underlyingAssetDerivedName">
                            <option value= 0>Select</option>
                            <option *ngFor=" let derivedList of getAllDerivedSDMUnderliningAssetData" value="{{derivedList.sdmDerivedMasterId}}">
                              {{ derivedList.derivedName }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="row mt-15">
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">Number of times of salary - SDM Name</label>
                          <select class="form-control" formControlName="noOfTimesOfSalary" (change)="getAllDerivedSDMNumberoftimesofsalary($event.target.value)">
                            <option value="">Select</option>
                            <option *ngFor="let sdmList of getAllApprovalSDMData" value="{{ sdmList.sdmMasterId }}">
                              {{ sdmList.sdmName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">Number of times of salary - Derived Name</label>
                          <select class="form-control" formControlName="noOfTimeOfSalaryDerivedName">
                            <option value= 0>Select</option>
                            <option *ngFor=" let derivedList of getAllDerivedSDMNumberoftimesofsalaryData" value="{{derivedList.sdmDerivedMasterId}}">
                              {{ derivedList.derivedName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">Salary Definition</label>
                          <select class="form-control" formControlName="salaryDefinition">
                            <option value="">Select</option>
                            <option *ngFor="let salaryDefinitionlist of getsalaryDefinationData"
                             value="{{salaryDefinitionlist.formulaName}}">
                              {{salaryDefinitionlist.formulaName}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="row mt-15">
                        <div class="col-sm-3 col-md-3  mt-15">
                          <label class="form-label">Max Amount Allowed - SDM Name</label>
                          <select class="form-control" formControlName="maxAmountLoan" (change)="getAllDerivedSDMMaxAmountAllowed($event.target.value)">
                            <option value="">Select</option>
                            <option *ngFor="let sdmList of getAllApprovalSDMData" value="{{ sdmList.sdmMasterId }}">
                              {{ sdmList.sdmName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3 mt-15">
                          <label class="form-label">Max Amount Allowed - Derived Name</label>
                          <select class="form-control" formControlName="maxAmountAllowedDerivedName">
                            <option value=0>Select</option>
                            <option *ngFor=" let derivedList of getAllDerivedSDMMaxAmountAllowedData" value="{{derivedList.sdmDerivedMasterId}}">
                              {{ derivedList.derivedName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3 ">
                          <label class="form-label">Gap - Earlier loan application & New loan Application
                            (Months) - SDM Name</label>
                          <select class="form-control" formControlName="gapBetTwoLoanApp" (change)="getAllDerivedSDMEarlierloanapplication($event.target.value)">
                            <option value="">Select</option>
                            <option *ngFor="let sdmList of getAllApprovalSDMData" value="{{ sdmList.sdmMasterId }}">
                              {{ sdmList.sdmName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3 mt-15 ">
                          <label class="form-label">Gap - Earlier loan application & New loan Application
                            (Months) - Derived Name</label>
                          <select class="form-control" formControlName="gapEarilerLoanDerivedName">
                            <option value=0>Select</option>
                            <option *ngFor=" let derivedList of getAllDerivedSDMEarlierloanapplicationData" value="{{derivedList.sdmDerivedMasterId}}">
                              {{ derivedList.derivedName }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3 col-md-3  mt-30">
                          <label class="form-label">Gap - End of Earlier Loan & Loan Application
                            (Months) - SDM Name</label>
                          <select class="form-control" formControlName="gapEndOfEarlierLoanAndNewLoanApp" (change)="getAllDerivedSDMEndofEarlierLoan($event.target.value)">
                            <option value="">Select</option>
                            <option *ngFor="let sdmList of getAllApprovalSDMData" value="{{ sdmList.sdmMasterId }}">
                              {{ sdmList.sdmName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3  mt-30">
                          <label class="form-label">Gap - End of Earlier Loan & Loan Application
                            (Months) - Derived Name</label>
                          <select class="form-control" formControlName="gapEndLoanDerivedName">
                            <option value=0>Select</option>
                            <option *ngFor=" let derivedList of getAllDerivedSDMEndofEarlierLoanData" value="{{derivedList.sdmDerivedMasterId}}">
                              {{ derivedList.derivedName }}
                            </option>
                          </select>
                        </div>
                      </div>


                      <label class="form-label mt-15">Minimum Remaining Service</label>
                      <div class="row">
                        <div class="col-sm-3 col-md-3 mt-10">
                          <label class="form-label">Loan Application - SDM Name</label>
                          <select class="form-control" formControlName="minRemainingServiceLoanApplication" (change)="getAllDerivedSDMMinimumRemainingService($event.target.value)">
                            <option value="">Select</option>
                            <option *ngFor="let sdmList of getAllApprovalSDMData" value="{{ sdmList.sdmMasterId }}">
                              {{ sdmList.sdmName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3 mt-10">
                          <label class="form-label">Loan Application - Derived Name</label>
                          <select class="form-control" formControlName="loanAppplicationDerivedName">
                            <option value=0>Select</option>
                            <option *ngFor=" let derivedList of getAllDerivedSDMMinimumRemainingServiceData" value="{{derivedList.sdmDerivedMasterId}}">
                              {{ derivedList.derivedName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3 mt-10">
                          <label class="form-label">Loan Completion - SDM Name</label>
                          <select class="form-control" formControlName="minRemainingServiceLoanCompletion" (change)="getAllDerivedSDMLoanCompletion($event.target.value)">
                            <option value="">Select</option>
                            <option *ngFor="let sdmList of getAllApprovalSDMData" value="{{ sdmList.sdmMasterId }}">
                              {{ sdmList.sdmName }}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 col-md-3 mt-10">
                          <label class="form-label">Loan Completion - Derived Name</label>
                          <select class="form-control" formControlName="loanCompletionDerivedName">
                            <option value=0>Select</option>
                            <option *ngFor=" let derivedList of getAllDerivedSDMLoanCompletionData" value="{{derivedList.sdmDerivedMasterId}}">
                              {{ derivedList.derivedName }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="row mt-15">
                        <div class="col-sm-6 col-md-6">
                          <label class="form-label">No. Of Instances</label>
                          <div class="table-responsive Custom_Table">
                            <table class=" table table-striped table-hover table-bordered m-b-0 ">
                              <thead class="thead-dark">
                                <tr>
                                  <th>No. of Loans</th>
                                  <th>Month</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="d-flex">
                                      <input class="form-control" type="text" [ngModelOptions]="{ standalone: true }"
                                        [(ngModel)]="loanValue" (focusout)="getInstanceNoLoan($event.target.value) "/>&nbsp;
                                      <!-- [disabled]="loandata != ''" -->
                                      <span style="margin-top: 8px">IN</span>
                                    </div>
                                  </td>
                                  <td>
                                    <input class="form-control" [ngModelOptions]="{ standalone: true }"
                                      [(ngModel)]="monthValue" (focusout)="
                                      getInstanceMonth($event.target.value) " />
                                    <!-- [disabled]="loandata != ''" -->
                                  </td>
                                  <td>
                                    <i class="fa fa-plus-circle" style="color: green;" aria-hidden="true" (click)="setInstanceData()"></i>
                                  </td>
                                </tr>
                                <tr *ngFor=" let instance of Instances; let index = index ">
                                  <td>
                                    <div class="d-flex">

                                      <input class="form-control" value="{{ instance.noOfLoan }}"
                                        [disabled]="loandata != ''" />

                                      <span style="margin-top: 8px">IN</span>
                                    </div>
                                  </td>
                                  <td>
                                    <input class="form-control" value="{{ instance.month }}"
                                      [disabled]="loandata != ''" />
                                  </td>
                                  <td>
                                    <i class="fa fa-times" aria-hidden="true" style="color: red;" (click)="removeInstanceData(index)"></i>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>Node Settings</legend>
                    <div class="tabview-contents">
                      <div class="row">
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">Principal Amount</label>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" name="principalradio"  value="withNode"
                                (change)="getPrincipalAmount($event.target)"
                                [checked]="principalWithNodeFlag == 'withNode'" />
                                <!-- formControlName="principalAmountWithNode" -->
                              <div class="custom-control-label">With Node</div>
                            </label>
                            <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" name="principalradio"  value="withoutNode"
                                (change)="getPrincipalAmount($event.target)"
                                [checked]="principalWithNodeFlag == 'withoutNode'" />
                                <!-- formControlName="principalAmountWithoutNode" -->
                              <div class="custom-control-label">Without Node</div>
                            </label>
                          </div>
                          <div class="mt-10" *ngIf="PricipalNode == 'withNode'">
                            <label class="form-label">Node Value</label>
                            <input type="text" class="form-control" placeholder="Gap Between Two Nodes"
                              formControlName="amountNodeValue"
                              [ngClass]="{'is-invalid' : paymentLoanForm.get('amountNodeValue').status == 'INVALID'}" />
                          </div>
                        </div>

                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">Rate of Interest</label>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" name="interestradio"  value="withNode"
                                (change)="getInterestAmount($event.target)"
                                [checked]="intrestWithNodeFlag == 'withNode'" />
                                <!-- formControlName="interestWithNode" -->
                              <div class="custom-control-label">With Node</div>
                            </label>
                            <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" name="interestradio"  value="withoutNode"
                                (change)="getInterestAmount($event.target)"
                                [checked]="intrestWithNodeFlag == 'withoutNode'" />
                                <!-- formControlName="interestWithoutNode" -->

                              <div class="custom-control-label">Without Node</div>
                            </label>
                            <div class="mt-10" *ngIf="InterestNode == 'withNode'">
                              <label class="form-label">Node Value {{InterestNode}}</label>
                              <input type="text" class="form-control" placeholder="Gap Between Two Nodes"
                                formControlName="interestNodeValue"
                                [ngClass]="{'is-invalid' : paymentLoanForm.get('interestNodeValue').status == 'INVALID'}" />
                            </div>

                          </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">No Of Installment</label>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" name="noinstallmentradio"
                                value="withNode" (change)="getTenureValue($event.target)"
                                [checked]="noOfInstallWithNodeFlag == 'withNode'" />
                                <!-- formControlName="noOfInstallmenttWithNode" -->

                              <div class="custom-control-label">With Node</div>
                            </label>
                            <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" name="noinstallmentradio"
                                value="withoutNode" (change)="getTenureValue($event.target)" [checked]="
                                noOfInstallWithNodeFlag == 'withoutNode' " />
                                <!-- formControlName="noOfInstallmenttWithoutNode" -->

                              <div class="custom-control-label">Without Node</div>
                            </label>
                            <div class="mt-10" *ngIf="TenureNode == 'withNode'">
                              <label class="form-label">Node Value</label>
                              <input type="text" class="form-control" placeholder="Gap Between Two Nodes"
                                formControlName="noOfInstallmentNodeValue"
                                [ngClass]="{'is-invalid' : paymentLoanForm.get('noOfInstallmentNodeValue').status == 'INVALID'}" />
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>Permissible Deviation (%)</legend>
                    <div class="tabview-contents">
                      <div class="row">
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">Loan Amount</label>
                          <input type="text" class="form-control" formControlName="deviationAmount" placeholder="Loan Amount"
                          [ngClass]="{'is-invalid' : paymentLoanForm.get('deviationAmount').status == 'INVALID'}"/>
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">Rate of Interest</label>
                          <input type="text" class="form-control" formControlName="deviationInterest" placeholder="Rate of Interest"
                          [ngClass]="{'is-invalid' : paymentLoanForm.get('deviationInterest').status == 'INVALID'}"/>
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <label class="form-label">No. Of Installment</label>
                          <input type="text" class="form-control" formControlName="deviationNoOfInstallment" placeholder="No. of Installment"
                          [ngClass]="{'is-invalid' : paymentLoanForm.get('deviationNoOfInstallment').status == 'INVALID'}"/>
                        </div>
                      </div>
                    </div>
                  </fieldset>

                  <div class="row text-right" style="margin: 10px; float: right">
                    <button type="button" tooltip="Previous" class="
                    custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left mr-10 "
                    (click)="previousTab()"> <b><i class="fa fa-angle-double-left"></i></b>
                      Previous</button>&nbsp;

                    <button type="button" tooltip="Next" class="
                    custom_button custom_btn
                    bg-teal-400
                    btn-labeled btn-labeled-left
                    mr-10
                  " (click)="submitPaymentForm()">
                      <b><i class="fa fa-angle-double-right"></i></b> Next
                    </button>
                    <button type="button" class="btn btn-dark" (click)="resetPaymentForm()"
                     tooltip="Reset">
                     <!-- [disabled]="loandata != '' || editloandata != ''" -->
                      <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>&nbsp;
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</div>

