<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>

    <div class="section-body mt-3">
        <div class="tabs home-page">
            <form class="card" role="form" (ngSubmit)="submit(form,formDirective)" [formGroup]="form" #formDirective="ngForm" method="post" novalidate>
                <div class="tabview-contents">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 mt-10">
                            <label class="form-label">Workflow Code</label>
                            <input type="text" formControlName="workflowCode" class="form-control align-right"  [ngClass]="{ 'is-invalid': submitted && form.controls.workflowCode.hasError('required') }">
                            <div *ngIf="submitted && form.controls.workflowCode.hasError('required')" class="invalid-feedback">
                              mandatory
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 mt-10">
                          <label class="form-label">Workflow Description</label>
                          <input type="text" formControlName="description" class="form-control align-right"  [ngClass]="{ 'is-invalid': submitted && form.controls.description.hasError('required') }">
                          <div *ngIf="submitted && form.controls.description.hasError('required')" class="invalid-feedback">
                            mandatory
                          </div>
                        </div>

                        <div class="col-sm-6 col-md-3 mt-10">
                            <label class="form-label">Service Name</label>
                            <select name="beast" class="form-control custom-select" formControlName="workflowType" [ngClass]="{ 'is-invalid': submitted && form.controls.workflowType.hasError('required') }">
                             <option *ngFor="let object of service"
                               [value]="object.workflowServiceName">
                               {{object.workflowServiceName}}
                             </option>
                          </select>
                            <div *ngIf="submitted && form.controls.workflowType.hasError('required')" class="invalid-feedback">
                                 mandatory
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 mt-10">
                          <label class="form-label">no. of Approvers</label>
                          <input type="number" formControlName="numberOfApprover" class="form-control align-right"  [ngClass]="{ 'is-invalid': submitted && form.controls.numberOfApprover.hasError('required') }">
                          <div *ngIf="submitted && form.controls.numberOfApprover.hasError('required')" class="invalid-feedback">
                               mandatory
                          </div>
                      </div>

                        <!-- <div class="col-sm-6 col-md-3 mt-10">
                            <label class="form-label">Remark</label>
                            <textarea class="form-control" formControlName="remark" rows="1"></textarea>
                        </div> -->
                        
                    </div>


                    <div class="row mt-15">
                        <div class="col-12">
                            <div class="float-right mb-15">
                              <button type="submit" *ngIf="!cancelButton" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple" tooltip="Save"><b>
                                <i class="fa fa-floppy-o"></i></b> 
                                <span *ngIf="!showUpdateButton">Save</span>
                                <span *ngIf="showUpdateButton">Update</span>
                              </button>
                               
                            </div>
                            <div class="float-right mb-15">
                              <button type="reset" *ngIf="(!showUpdateButton) && (!cancelButton)" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"><b>
                                <i class="fa fa-refresh"></i></b>Clear</button> &nbsp;
                            <button *ngIf="cancelButton" (click)="cancel(formDirective)" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple" tooltip="Save"><b>
                              <i class="fa fa-floppy-o"></i></b> Cancel</button> &nbsp;
                          </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card">
            <div class="row mt-10">
                <div class="col-12">
                   <div class="table-responsive Custom_Table">
                      <table class="table table-striped table-hover table-bordered m-b-0">
                         <thead class="thead-dark">
                            <tr>
                            
                                <th scope="col" class="wd-20">Sr. No. </th>
                                <th scope="col" class="wd-20">Workflow Code</th>
                               <th scope="col" class="wd-20">Workflow Description</th>
                               <th scope="col" class="wd-20">Service</th>
                               <th scope="col" class="wd-15">no. of Approvers</th>
                               <th scope="col" class="wd-15">Actions</th>
                             </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let summary of summaryGridData; let i = index">
                                <td class="wd-20">
                                    <span class="padding-right-12">{{i+1}}
                                    </span>
                                 </td>
                               <td class="wd-20">
                                  <span tooltip="{{summary.workflowCode}}">{{summary.workflowCode}}</span>
                               </td>
                               <td class="wd-20">
                                 <span tooltip="{{summary.description}}">{{summary.description}}</span>
                               </td>
                               <td class="wd-20">
                                 <span tooltip="{{summary.workflowType}}">{{summary.workflowType}}</span>
                               </td>
                               <td class="wd-20">
                                  <span class="padding-right-12" tooltip="{{summary.numberOfApprover}}">{{summary.numberOfApprover}}
                                  </span>
                               </td>
                               <td class="wd-15 align-right">
                                <i class="fa fa-edit font-16 text-dark-green cursor-pointer" (click)="edit(i)" tooltip="Edit"></i> &nbsp;&nbsp;
                                <i class="fa fa-eye font-16 text-dark-green cursor-pointer" (click)="view(i)" tooltip="View"></i> &nbsp;&nbsp;
                               </td>
                            </tr>
                            <tr *ngIf="!summaryGridData?.length">
                               <td colspan="6">
                                  <span class="font-14 font500 align-center text-red">No Data
                                  Available</span>
                               </td>
                            </tr>
                         </tbody>
                      </table>
 
                   </div>
                </div>
             </div>
            </div>
        </div>
    </div>