<form class="card" role="form" (ngSubmit)="addBusinessYear()" [formGroup]="BusinessYearform" method="post" novalidate>
  <div class="tabview-contents">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <label class="form-label">Description</label>
        <input [ngClass]="{'is-invalid' : BusinessYearform.get('description').status == 'INVALID'}" type="text"
          formControlName="description" class="form-control" placeholder="Enter Description">
      </div>



      <div class="col-sm-6 col-md-3">
        <label class="form-label">From Date</label>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>

            <input data-provide="datepicker" data-date-autoclose="true" formControlName="fromDate" class="form-control"
              placement="center" placeholder="DD-MMM"
              [ngClass]="{'is-invalid' : BusinessYearform.get('fromDate').status == 'INVALID'}" bsDatepicker
              [bsConfig]="{ dateInputFormat: 'DD-MMM',containerClass:'theme-green custom' }">


          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <label class="form-label">To Date</label>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
            <input data-provide="datepicker" data-date-autoclose="true" formControlName="toDate" class="form-control"
              placeholder="DD-MMM" [ngClass]="{'is-invalid' : BusinessYearform.get('toDate').status == 'INVALID'}"
              placement="center" bsDatepicker
              [bsConfig]="{ dateInputFormat: 'DD-MMM',containerClass:'theme-green custom' }">


          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-3">
        <label class="form-label">Business Year</label>
        <select [ngClass]="{'is-invalid' : BusinessYearform.get('businessYear').status == 'INVALID'}"
          name="businessYear" id="businessYear" class="form-control  " formControlName="businessYear">
          <option selected value=''>Select </option>
          <option *ngFor="let businessYear of getBusinessYears" [value]="businessYear.value" [selected]="currentYear">
            
            {{businessYear.label}}
          </option>
        </select>
      </div>

    </div>

    <!-- </div> -->

    <div class="row mt-15">
      <div class="col-12">
        <div class="float-right mb-15">
          <button type="submit" *ngIf="!updateFlag"
            class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Save"
            [disabled]="BusinessYearform.invalid"
            [ngClass]="{'disabled-btn-bg-green' : BusinessYearform.invalid,'btn-bg-green': !BusinessYearform.invalid}">
            <b><i class="fa fa-floppy-o"></i></b>
            Save</button>


          <span *ngIf="!hideUpdate">
          <button type="submit" *ngIf="updateFlag"
            [ngClass]="{'disabled-btn-bg-green' : BusinessYearform.invalid,'btn-bg-green': !BusinessYearform.invalid}"
            class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Update"><b><i
                class="fa fa-floppy-o"></i></b>
            Update</button></span>

          <button type="button" (click)="ResetBusiness()" *ngIf="updateFlag"
            class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10" tooltip="Cancel"><b><i
                class="fa fa-times" aria-hidden="true"></i></b>
            Cancel</button>

          <button type="button" (click)="ResetBusiness()" *ngIf="!updateFlag"
            class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10" tooltip="Reset"><b><i
                class="fa fa-refresh" aria-hidden="true"></i></b>
            Reset</button>


        </div>
      </div>
    </div>

    









    <div class="row mb-10">
      <div class="col-md-8">

        <h3 class="font-14 text-purple font-bold">Summary</h3>
        

          <div class="cycle-table">
          <div class="cycle-value pt-10 pb-40 bg-color-light_gray">
             <div class="col-md-12 pt-10 pb-10 bg-color-light_gray">
            <!-- <span class="font-14 text-purple font-bold">Summary</span> -->
                <div class="float-right d-flex  justify-content">
                  
                   <div class="rup mt-2">
                      <div class="input-icon mb-3">
                         <input (input)="dt.filterGlobal($event.target.value, 'contains')" 
                         type="text" pInputText class="form-control" placeholder="Search...">
                         <span class="input-icon-addon"><i class="fe fe-search"></i></span>
                      </div>
                   </div>
                   &nbsp;&nbsp;
                   <i (click)="exportAsXLSX()" class="fa fa-file-excel-o font-25 text-dark-green pt-10 mb-3" aria-hidden="true"></i>
                </div>
             </div>
          </div>
          </div>


        <div class="cycle-table">

         

            <p-table [value]="BusinessyearList" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" [pageLinks]="5"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            totalRecords={{BusinessyearList.length}} [rowsPerPageOptions]="[10,25,50,100,200]"
            #dt [globalFilterFields]="['description','fullFromDate','fullToDate']">

            <!-- <ng-template pTemplate="caption">
              <div style="text-align: right;display: flex;width: 200px;margin-left: 734px;">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>&nbsp;
                <input type="text" pInputText size="50" placeholder="Search"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    style="width: 203px;">
                    &nbsp;&nbsp;&nbsp;
                    <a tooltip="Download" style="cursor: pointer"
                    (click)="exportAsXLSX()"><i
                        class="fa fa-file-excel-o font-18 text-dark-green pt-10  mr-10"
                        aria-hidden="true"></i></a>
              </div>
          </ng-template> -->
          
            
            <ng-template pTemplate="header">
              
              <tr>
                
                <th class="wd-8 text-center">
                  Sr. No.
                </th>
                <th class="wd-20">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Description
                    <div class="Sort_Filter_Position">
                      <p-sortIcon field="description" pSortableColumn="description"></p-sortIcon>
                      <p-columnFilter field="description" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                  </div>
                </th>

                <th class="wd-12">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Business Year Definition
                    <div class="Sort_Filter_Position">
                      <p-sortIcon field="fullFromDate" pSortableColumn="fullFromDate"></p-sortIcon>
                      <p-columnFilter field="fullFromDate" display="menu" class="p-ml-auto"></p-columnFilter>
                      <!-- {{user1.fullFromDate | date: 'dd-MMM-yyyy'}} To {{user1.fullToDate | date: 'dd-MMM-yyyy'}} -->
                    </div>
                  </div>
                </th>
                <th class="wd-12">
                  <div class="p-d-flex p-jc-center p-ai-center">
                    Action
                  </div>
                </th>
                <!-- <th rowspan="2">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Updation Field
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="balance"></p-sortIcon>
                                                <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="p-ml-auto"></p-columnFilter>
                                            </div>
                                        </div>
                                    </th> -->



                <!-- <th style="width: 8rem"></th> -->
              </tr>

            </ng-template>



            <ng-template pTemplate="body" let-user1 let-rowIndex="rowIndex">
              <tr class="p-selectable-row">
                <!-- <td><label class="custom-control custom-checkbox checkbox-center" tooltip="Select All">
                <input type="checkbox" class="custom-control-input" name="select" /> <span
                  class="custom-control-label"></span>
              </label></td> -->
                <td class="bg-color-light_gray text-center"><label class="form-lable mb-0">{{rowIndex+1}}</label></td>
                <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.description}}</label></td>
                <!-- <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.yearDefinition}}</label></td> -->
                <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.fullFromDate | date: 'dd-MMM'}} To {{user1.fullToDate | date: 'dd-MMM'}}</label></td>
                <td class="wd-10 text-center">
                  <button *ngIf="!user1.used; " type="button"
                    (click)="GetBussinessyearById(user1.businessYearDefinitionId, true)" class="btn btn-icon text-dark-green"
                    tooltip="Edit"><i class="fa fa-edit"></i>
                  </button>

                  <button type="button" class="btn btn-icon text-blue" tooltip="View"
                  (click)="GetBussinessyearById(user1.businessYearDefinitionId, false)"
                  data-toggle="modal" data-target="#UploadModal">
                  <i class="fa fa-eye"></i></button>
                  <!-- (click)="UploadModal1(template1);getBussinessyear(user1.businessYear,user1.businessCycleDefinition.businessYearDefinitionId)" -->

                  <button *ngIf="!user1.used" type="button" (click)="UploadModal1(template12);" data-toggle="modal"
                    data-target="#UploadModal" class="btn btn-icon js-sweetalert text-red" tooltip="Delete"
                    data-type="confirm"><i class="fa fa-trash"></i></button>
                </td>
                <ng-template #template12>
                  <div class="modal-header">
                    <h5 class="modal-title" id="UploadModalLabel">Delete
                      Business Year Definition</h5>
                    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <div class="card-body">
                        <div class="row clearfix">
                          <div class="col-md-12">
                            <label class="form-label">Are
                              you sure want to
                              delete Business
                              Year Definition
                             </label>
                             <!-- from-{{BusinessyearList.fullFromDate | date: 'dd-MM-yyyy'}} To {{BusinessyearList.fullToDate | date: 'dd-MM-yyyy'}} -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                      (click)="DeleteBussinessyearById(user1.businessYearDefinitionId);modalRef.hide()">Yes</button>
                    <button type="button" class="btn btn-secondary bg-btn-red" (click)="modalRef.hide()">No</button>
                  </div>
                </ng-template>


              </tr>

            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                    Available</span></td>
              </tr>
            </ng-template>
          </p-table>


        </div>
      </div>
    </div>







  </div>
</form>
