<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">

  <app-header></app-header>

  <div class="section-body mt-3">
    <div class="container-fluid" style="border: 1px solid #ccc; background-color: #fff;">
      <div class="tabview-contents">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">

                <div class="col-12 mt-10">
                  <fieldset style="margin-top:-20px;">
                    <legend>Non Recurring Quantity (NRQ) Master </legend>
                    <form [formGroup]="masterForm">
                      <div class="row mt-10">
                        <div class="col-sm-3">
                          <label class="form-label"> Code</label>
                          <input type="text" class="form-control" formControlName="code" placeholder="Enter Code">
                        </div>
                        <div class="col-sm-3">
                          <label class="form-label"> Description</label>
                          <input type="text" class="form-control" formControlName="description"
                            placeholder="Enter Description">
                        </div>
                        <div class="col-sm-3">
                          <label class="form-label">E/D Head Code</label>
                          <select name="custom-select" formControlName="headOfPayment" class="form-control">
                            <option value="Select">Select</option>
                            <option value="34"> CanteenDeduction</option>
                            <option value="51"> OverTime_Test</option>
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <label class="form-label">E/D Head Description</label>
                          <input type="text" class="form-control" formControlName="descriptionHeadOfPayment"
                            placeholder="Enter Description">
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="form-label">UOM</label>
                          <!-- <input type="text" class="form-control" formControlName="unit" disabled> -->
                          <select name="custom-select" class="form-control" formControlName="unit">
                            <option value="Select">Select</option>
                            <option>Hours</option>
                            <option>Days</option>
                            <option>Units</option>
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <label class="form-label">Value Updation Through</label>
                          <label class="custom-switch mt_5">
                            <span class="form-label">NRQ Type</span>&nbsp;&nbsp;
                            <input type="checkbox" name="custom-switch-checkbox" (click)="getValueUpdation($event)"
                              class="custom-switch-input">
                            <span class="custom-switch-indicator"></span>&nbsp;&nbsp;
                            <span class="form-label">SDM</span>
                          </label>
                        </div>
                        <div class="col-sm-3" *ngIf="valueUpdationThrough == 'SDM'">
                          <label class="form-label">SDM</label>
                          <select name="custom-select" class="form-control" formControlName="sdmName">
                            <option value="Select">Select</option>
                            <option>SDM1</option>
                          </select>
                        </div>
                      </div>

                      <br>
                      <br>

                      <div class="col-md-10">
                        <div class="mb-0">
                          <h3 class="font-14 text-purple font-bold" *ngIf="valueUpdationThrough == 'NRQ'">NRQ Types
                          </h3>
                          <h3 class="font-14 text-purple font-bold" *ngIf="valueUpdationThrough == 'SDM'">SDM </h3>
                        </div>
                        <p-table [value]="users1">

                          <ng-template pTemplate="header">
                            <tr>
                              <th rowspan="2" class="wd-12 text-center">Sr. No.</th>
                              <th rowspan="2" class="wd-12 text-center">
                                <div class="p-d-flex p-jc-between p-ai-center">Name
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="TypeValues" pSortableColumn="TypeValues"></p-sortIcon>
                                    <p-columnFilter type="text" field="Desc" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th rowspan="2" class="wd-12 text-center">
                                <div class="p-d-flex p-jc-between p-ai-center">Nature
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="TypeValues" pSortableColumn="TypeValues"></p-sortIcon>
                                    <p-columnFilter type="text" field="Desc" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th rowspan="2" class="wd-12 text-center"
                                *ngIf="nonSalaryNature == 'rate' && valueUpdationThrough == 'NRQ'">
                                <div class="p-d-flex p-jc-between p-ai-center">Rate
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="RateInput " pSortableColumn="RateInput"></p-sortIcon>
                                    <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th rowspan="2" class="wd-12 text-center"
                                *ngIf="nonSalaryNature == 'rate' && valueUpdationThrough == 'SDM'">
                                <div class="p-d-flex p-jc-between p-ai-center">Derived Rate
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="RateInput " pSortableColumn="RateInput"></p-sortIcon>
                                    <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th rowspan="2" class="wd-12 text-center"
                                *ngIf="nonSalaryNature == 'multiplier' && valueUpdationThrough == 'NRQ'">
                                <div class="p-d-flex p-jc-between p-ai-center">Multiplier
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="RateInput " pSortableColumn="RateInput"></p-sortIcon>
                                    <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th rowspan="2" class="wd-12 text-center"
                                *ngIf="nonSalaryNature == 'multiplier' && valueUpdationThrough == 'SDM'">
                                <div class="p-d-flex p-jc-between p-ai-center">Derived Multiplier
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="RateInput " pSortableColumn="RateInput"></p-sortIcon>
                                    <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                              <th rowspan="2" class="wd-8 text-center"> Action</th>
                            </tr>
                          </ng-template>

                          <ng-template pTemplate="body" let-user1>
                            <tr class="p-selectable-row">
                              <td class="text-center"></td>
                              <td>
                                <input type="text" [(ngModel)]="nonSalaryName" [ngModelOptions]="{standalone: true}"
                                  class="form-control">
                              </td>
                              <td>
                                <select name="custom-select" class="form-control" [(ngModel)]="nonSalaryNature"
                                  [ngModelOptions]="{standalone: true}" (change)="getNatureData($event.target.value)">
                                  <option value="Select">Select</option>
                                  <option *ngFor="let data of natureData" value="{{data.id}}">{{data.name}}</option>
                                  <!-- <option value="rate">Rate </option>
                                  <option value="multiplier">Multiplier </option> -->
                                </select>
                              </td>
                              <td *ngIf="nonSalaryNature == 'rate'">
                                <!-- <select name="custom-select" class="form-control" [(ngModel)]="nonSalaryRate"
                                  [ngModelOptions]="{standalone: true}">
                                  <option value="Select">Select</option>
                                  <option>1 </option>
                                  <option>1.5</option>
                                </select> -->
                                <input class="form-control" [(ngModel)]="nonSalaryRate"
                                  [ngModelOptions]="{standalone: true}">
                              </td>
                              <td *ngIf="nonSalaryNature == 'multiplier'">
                                <!-- <select name="custom-select" class="form-control" [(ngModel)]="nonSalaryMultiplier"
                                  [ngModelOptions]="{standalone: true}">
                                  <option value="Select">Select</option>
                                  <option>1</option>
                                  <option>1.5</option>
                                </select> -->
                                <input class="form-control" [(ngModel)]="nonSalaryMultiplier"
                                  [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <span class="ml-1 mt-2">
                                  <i class="fa fa-plus-circle font-20 text-dark-green" tooltip="Add"
                                    (click)="addNRQType()"></i></span>
                                <!-- <span class="ml-1 mt-2"> <i class="fa fa-times font-20 text-red cursor-pointer"
                                  tooltip="Cancel">
                                </i>
                              </span> -->
                              </td>
                            </tr>
                            <tr class="p-selectable-row" *ngFor="let data of nonSalaryOptionList; let index = index;">
                              <td>{{index+1}}</td>
                              <td>{{data.name}}</td>
                              <td>{{data.nature}}</td>
                              <td *ngIf="data.nature == 'rate' && valueUpdationThrough == 'NRQ'">{{data.rate}}</td>
                              <td *ngIf="data.nature == 'multiplier' && valueUpdationThrough == 'NRQ'">
                                {{data.multipier}}</td>
                              <td *ngIf="data.nature == 'rate' && valueUpdationThrough == 'SDM'">{{data.derivedRate}}
                              </td>
                              <td *ngIf="data.nature == 'multiplier' && valueUpdationThrough == 'SDM'">
                                {{data.derivedmultipier}}</td>
                              <td>
                                <span class="ml-1 mt-2" *ngIf="!editFlag">
                                  <span class="ml-1 mt-2">
                                    <i class="fa fa-times font-20 text-red cursor-pointer" tooltip="Cancel"
                                      (click)="removeNRQType(index)">
                                    </i>
                                  </span>
                                </span>
                              </td>
                            </tr>
                          </ng-template>

                          <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                  Available</span>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                      <br>

                      <div class="row mt-15">
                        <div class="col-12">
                          <div class="float-right mb-15">
                            <button type="submit" (click)="saveNonSalary()" *ngIf="!editFlag"
                              class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"
                              tooltip="Save"><b>
                                <i class="fa fa-floppy-o"></i></b> Save</button>&nbsp;
                            <button type="submit" (click)="updateNonSalary()" *ngIf="editFlag"
                              class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"
                              tooltip="Save"><b>
                                <i class="fa fa-floppy-o"></i></b> Update</button>&nbsp;
                            <button type="button" (click)="resetNonSalary()"
                              class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left "
                              tooltip="Reset"><b>
                                <i class="fa fa-refresh"></i></b> Reset</button>
                          </div>
                        </div>
                      </div>

                    </form>
                  </fieldset>

                  <br>
                  <br>
                  <div class="mb-0">
                    <h3 class="font-14 text-purple font-bold">Summary</h3>
                  </div>
                  <p-table [value]="summaryData" class="mt-10" [paginator]="true" [rows]="10"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50,100,200]" [style]="{'width':'100%', overflow: auto}" #dt1
                    [globalFilterFields]="['code','description','descriptionHeadOfPayment','valueUpdationThrough',
                    'headMasterId','nonSalaryOptionList.length']">

                    <ng-template pTemplate="caption">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="float-right">
                            <div class="d-flex">
                              <span class="p-input-icon-left p-ml-auto">
                                <i class="pi pi-search" style="top: 9px !important;"></i>
                                <input pInputText type="text"
                                  (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search " />
                              </span>
                              <i class="fa fa-file-excel-o ml-2 font-24 mt-1 text-dark-green"
                                (click)="SummaryexportAsXLSX()"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                      <tr>
                        <th rowspan="2" class="wd-7 text-center">Sr. No.</th>
                        <th rowspan="2" class="wd-6 text-center">
                          <div class="p-d-flex p-jc-between p-ai-center"> Code
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="code" pSortableColumn="code"></p-sortIcon>
                              <p-columnFilter type="text" field="code" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2" class="wd-6 text-center">
                          <div class="p-d-flex p-jc-between p-ai-center"> Description
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="description" pSortableColumn="description"></p-sortIcon>
                              <p-columnFilter type="text" field="description" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2" class="wd-8 text-center">
                          <div class="p-d-flex p-jc-between p-ai-center"> E/D Head Desc

                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="descriptionHeadOfPayment" pSortableColumn="descriptionHeadOfPayment"></p-sortIcon>
                              <p-columnFilter field="descriptionHeadOfPayment"  display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2" class="wd-8 text-center">
                          <div class="p-d-flex justify-content-center p-ai-center">Value Updation Through
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="valueUpdationThrough" pSortableColumn="valueUpdationThrough"></p-sortIcon>
                              <p-columnFilter field="valueUpdationThrough" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2" class="wd-8 text-center">
                          <div class="p-d-flex p-jc-between p-ai-center">No. Of NRQ Types
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="nonSalaryOptionList.length" pSortableColumn="nonSalaryOptionList.length"></p-sortIcon>
                              <p-columnFilter type="numeric" field="nonSalaryOptionList.length" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2" class="wd-8 text-center"> Action </th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-summary let-rowIndex=rowIndex>
                      <tr class="p-selectable-row">
                        <td class="bg-color-light_gray text-center">{{rowIndex+1}}</td>
                        <td class="bg-color-light_gray">
                          {{summary.code}}
                        </td>
                        <td class="bg-color-light_gray">
                          {{summary.description}}
                        </td>
                        <td class="bg-color-light_gray">
                          {{summary.descriptionHeadOfPayment}}
                        </td>
                        <td class="bg-color-light_gray">
                          {{summary.valueUpdationThrough}}
                        </td>
                        <td class="bg-color-light_gray">
                          <span *ngIf="summary.nonSalaryOptionList">{{summary.nonSalaryOptionList.length}}</span>
                          <span *ngIf="!summary.nonSalaryOptionList">0</span>
                        </td>
                        <td class="bg-color-light_gray text-center">
                          <span class="ml-1 mt-2">
                            <i class="fa fa-edit font-18 text-dark-green cursor-pointer"
                              (click)="editMasterData(summary)" aria-hidden="true"></i>
                          </span>
                          <span class="ml-1 mt-2">
                            <i class="fa fa-eye font-18 text-blue cursor-pointer" (click)="viewMasterData(summary)"
                              aria-hidden="true"></i>
                          </span>
                          <!-- <span class="ml-1 mt-2"><i class="fa fa-trash font-18 text-red cursor-pointer"
                              aria-hidden="true"></i></span> -->
                        </td>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                            Available</span>
                        </td>
                      </tr>
                    </ng-template>

                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>