
.disabled-btn-bg-green{
  background-color: #94c1c1!important;
}



.form-control.is-invalid {
  background-image: none!important;
}
.disabled-btn-bg-lightgrey{
  background-color: lightgrey!important;
}
.textcenter td {
  text-align: left;
  padding-top: 7px!important;
  padding-bottom: 7px!important;
  }
.textcenter th {
    text-align: left;
    }

