.changeColor span:hover {
    cursor: pointer;
background-color: blue !important;
  }

  .btn-bg-blue{
    color: white;
    background: blue;
}
.btn-bg-grey{
    color: white;
    background:grey;
}
