<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="ContactInfoForm">

                                <!-- Contact Details Section -->
                                <fieldset>
                                    <legend><i class="icon-call-out"></i>&nbsp;&nbsp;{{
                                        'ContactInformationForm.ContactDetails' | transloco }}
                                    </legend>
                                    <div class="col-12">
                                        <legend>{{ 'ContactInformationForm.official' | transloco }}</legend>
                                        <div class="row">
                                            <!-- <div class="col-12"> -->
                                            <div class="col-6">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-6"
                                                        [hidden]="ContactInfoLabels.officialMobileNumber === false">
                                                        <label class="form-label"
                                                            *ngIf="ContactInfoLabels.officialMobileNumber">{{
                                                            ContactInfoLabels.officialMobileNumber }}</label>
                                                        <label class="form-label"
                                                            [hidden]="ContactInfoLabels.officialMobileNumber">{{
                                                            'ContactInformationForm.officialMobileNumber' | transloco
                                                            }}</label>
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-5 country-code">
                                                                <select class="form-control selectpicker"
                                                                    placeholder="ISD"
                                                                    (change)="formTouch(); validOfficialMobNo()"
                                                                    formControlName="officialCountryCode"
                                                                    [(ngModel)]="ngOfficialCountryCode"
                                                                    [ngClass]="{'is-invalid' : ContactInfoForm.get('officialCountryCode').status == 'INVALID'}">
                                                                    <option value="" selected>ISD
                                                                    </option>
                                                                    <option *ngFor="let code of countryCode"
                                                                        [value]="code">
                                                                        {{code}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-3 col-md-7 ml-2">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Enter Mobile No." minlength="1"
                                                                    maxlength="10" (keypress)="keyPress($event)"
                                                                    formControlName="officialMobileNumber"
                                                                    (change)="validOfficialCountryCode()"
                                                                    (keyup)="formTouch();"
                                                                    pattern="^[1-9a-zA-Z][0-9a-zA-Z]*$"
                                                                    [(ngModel)]="contactInformation.employeePersonalInfoRequestDTO.officialMobileNumber"
                                                                    [ngClass]="{'is-invalid' : ContactInfoForm.get('officialMobileNumber').status == 'INVALID'}">
                                                            </div>
                                                            <div class="invalid-mob-error-message"
                                                                *ngIf="ContactInfoForm.get('officialMobileNumber').status == 'INVALID'">
                                                                Mobile Number must be 10 digit & Should not start with 0
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4"
                                                        [hidden]="ContactInfoLabels.officialEmailId === false">
                                                        <label class="form-label"
                                                            *ngIf="ContactInfoLabels.officialEmailId">{{
                                                            ContactInfoLabels.officialEmailId }}</label>
                                                        <label class="form-label"
                                                            [hidden]="ContactInfoLabels.officialEmailId">{{
                                                            'ContactInformationForm.officialemail' | transloco
                                                            }}</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Email" formControlName="officialEmail"
                                                            tooltip="{{contactInformation.employeeMasterRequestDTO.officialEmailId}}"
                                                            pattern="\S+@\S+\.\S+"
                                                            (change)="validateOfficialEmail(contactInformation.employeeMasterRequestDTO.officialEmailId)"
                                                            [(ngModel)]="contactInformation.employeeMasterRequestDTO.officialEmailId"
                                                            (keyup)="formTouch()"
                                                            [ngClass]="{'is-invalid' : ContactInfoForm.get('officialEmail').status == 'INVALID'}">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-6 personal-col">
                                                <legend>{{ 'ContactInformationForm.personal' | transloco }}</legend>
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-6">
                                                        <label class="form-label"
                                                            *ngIf="ContactInfoLabels.personalMobileNumber">{{
                                                            ContactInfoLabels.personalMobileNumber }}</label>
                                                        <label class="form-label"
                                                            [hidden]="ContactInfoLabels.personalMobileNumber">{{
                                                            'ContactInformationForm.officialMobileNumber' | transloco
                                                            }}</label>
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-5 country-code">
                                                                <select class="form-control" placeholder="ISD"
                                                                    formControlName="personalCountryCode"
                                                                    [(ngModel)]="ngPersonalCountryCode"
                                                                    (change)="validatePersonalMobile(ngPersonalCountryCode);formTouch()"
                                                                    [ngClass]="{'is-invalid' : ContactInfoForm.get('personalCountryCode').status == 'INVALID'}">
                                                                    <option value="" selected>ISD
                                                                    </option>
                                                                    <option *ngFor="let code of countryCode"
                                                                        [value]="code">
                                                                        {{code}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-3 col-md-7 ml-2">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Enter Mobile No." minlength="1"
                                                                    maxlength="10" (keypress)="keyPress($event)"
                                                                    formControlName="personalmobileNumber"
                                                                    (keyup)="formTouch()"
                                                                    pattern="^[1-9a-zA-Z][0-9a-zA-Z]*$"
                                                                    (change)="validatePersonalMobile(ngPersonalCountryCode)"
                                                                    [(ngModel)]="contactInformation.employeeMasterRequestDTO.personalMobileNumber"
                                                                    [ngClass]="{'is-invalid' : ContactInfoForm.get('personalmobileNumber').status == 'INVALID'}">
                                                            </div>

                                                            <div class="invalid-mob-error-message"
                                                                *ngIf="ContactInfoForm.get('personalmobileNumber').status == 'INVALID' && contactInformation.employeeMasterRequestDTO.personalMobileNumber?.length>0">
                                                                Mobile Number must be 10 digit & Should not start with 0
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4"
                                                        [hidden]="ContactInfoLabels.personalEmailID === false">
                                                        <label class="form-label"
                                                            *ngIf="ContactInfoLabels.personalEmailID">{{
                                                            ContactInfoLabels.personalEmailID }}</label>
                                                        <label class="form-label"
                                                            [hidden]="ContactInfoLabels.personalEmailID">{{
                                                            'ContactInformationForm.officialemail' | transloco
                                                            }}</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Email" formControlName="personalEmail"
                                                            (keyup)="formTouch()"
                                                            tooltip="{{contactInformation.employeePersonalInfoRequestDTO.personalEmailID}}"
                                                            pattern="\S+@\S+\.\S+"
                                                            (change)="validatePersonalEmailId(contactInformation.employeePersonalInfoRequestDTO.personalEmailID)"
                                                            [(ngModel)]="contactInformation.employeePersonalInfoRequestDTO.personalEmailID"
                                                            [ngClass]="{'is-invalid' : ContactInfoForm.get('personalEmail').status == 'INVALID'}">
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- </div> -->
                                        </div>
                                    </div>

                                    <br>
                                    <legend>{{ 'ContactInformationForm.EmergencyContactDetails' | transloco }}</legend>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4"
                                                [hidden]="ContactInfoLabels.emergencyContactName === false">
                                                <label class="form-label"
                                                    *ngIf="ContactInfoLabels.emergencyContactName">{{
                                                    ContactInfoLabels.emergencyContactName }}</label>
                                                <label class="form-label"
                                                    [hidden]="ContactInfoLabels.emergencyContactName">{{
                                                    'ContactInformationForm.emergencyContactName' | transloco }}</label>
                                                <input type="text" class="form-control" placeholder="Enter Name"
                                                    formControlName="emergencyContactName" (keyup)="formTouch()"
                                                    [(ngModel)]="contactInformation.employeePersonalInfoRequestDTO.emergencyContactName1"
                                                    [ngClass]="{'is-invalid' : ContactInfoForm.get('emergencyContactName').status == 'INVALID'}">
                                            </div>

                                            <div class="col-sm-3 col-md-6"
                                                [hidden]="ContactInfoLabels.emergencyContactNumber === false">
                                                <label class="form-label"
                                                    *ngIf="ContactInfoLabels.emergencyContactNumber">{{
                                                    ContactInfoLabels.emergencyContactNumber }}</label>
                                                <label class="form-label"
                                                    [hidden]="ContactInfoLabels.emergencyContactNumber">{{
                                                    'ContactInformationForm.officialMobileNumber' | transloco }}</label>
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-5 country-code ">
                                                        <select class="form-control" placeholder="ISD"
                                                            formControlName="emergencyCountryCode"
                                                            (change)="formTouch();validEmergencyMobNo()"
                                                            [(ngModel)]="ngEmergencyCountryCode"
                                                            [ngClass]="{'is-invalid' : ContactInfoForm.get('emergencyCountryCode').status == 'INVALID'}">
                                                            <option value="" selected>ISD</option>
                                                            <option *ngFor="let code of countryCode" [value]="code">
                                                                {{code}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-3 col-md-7 ml-2">
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Mobile No." minlength="1" maxlength="10"
                                                            formControlName="emergencyContactNumber"
                                                            pattern="^[1-9a-zA-Z][0-9a-zA-Z]*$"
                                                            (keypress)="keyPress($event)" (keyup)="formTouch()"
                                                            (change)="validEmergencyCountryCode()"
                                                            [(ngModel)]="contactInformation.employeePersonalInfoRequestDTO.emergencyContactNumber"
                                                            [ngClass]="{'is-invalid' : ContactInfoForm.get('emergencyContactNumber').status == 'INVALID'}">
                                                    </div>
                                                    <div class="invalid-mob-error-message"
                                                        *ngIf="ContactInfoForm.get('emergencyContactNumber').status == 'INVALID'">
                                                        Mobile Number must be 10 digit & Should not start with 0
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <br>

                                <!-- Address Section -->
                                <fieldset>
                                    <legend><i class="icon-pointer"></i> {{ 'ContactInformationForm.addressDetails' |
                                        transloco }}</legend>

                                    <div class="col-12">
                                        <div class="row center-fieldset">
                                            <div class="col-5">
                                                <fieldset>
                                                    <legend>{{ 'ContactInformationForm.localAddressTitle' | transloco }}
                                                    </legend>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-12"
                                                            [hidden]="ContactInfoLabels.address1 === false">
                                                            <label class="form-label"
                                                                *ngIf="ContactInfoLabels.address1">{{
                                                                ContactInfoLabels.address1 }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.address1">{{
                                                                'ContactInformationForm.Address1' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Address 1"
                                                                formControlName="localAddress1"
                                                                [(ngModel)]="localAddressInformation.address1"
                                                                (keyup)="checkLocalAddress();formTouch()"
                                                                tooltip="{{localAddressInformation.address1}}"
                                                                [ngClass]="{'is-invalid' : ContactInfoForm.get('localAddress1').status == 'INVALID'}">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10"
                                                            [hidden]="ContactInfoLabels.address2 === false">
                                                            <label class="form-label"
                                                                *ngIf="ContactInfoLabels.address2">{{
                                                                ContactInfoLabels.address2 }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.address2">{{
                                                                'ContactInformationForm.Address2' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Address 2"
                                                                formControlName="localAddress2"
                                                                [(ngModel)]="localAddressInformation.address2"
                                                                (keyup)="checkLocalAddress();formTouch()"
                                                                tooltip="{{localAddressInformation.address2}}">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10"
                                                            [hidden]="ContactInfoLabels.address3 === false">
                                                            <label class="form-label"
                                                                *ngIf="ContactInfoLabels.address3">{{
                                                                ContactInfoLabels.address3 }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.address3">{{
                                                                'ContactInformationForm.Address3' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Address 3"
                                                                formControlName="localAddress3"
                                                                [(ngModel)]="localAddressInformation.address3"
                                                                (keyup)="checkLocalAddress();formTouch()"
                                                                tooltip="{{localAddressInformation.address3}}">
                                                        </div>

                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label"
                                                                *ngIf="ContactInfoLabels.country">{{
                                                                ContactInfoLabels.country }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.country">{{
                                                                'ContactInformationForm.Country' | transloco }}</label>
                                                            <select class="form-control" placeholder="Select"
                                                                formControlName="localCountry"
                                                                [(ngModel)]="localAddressInformation.country"
                                                                (change)="checkLocalAddress(); clearLocalAddressFields();formTouch(); getLocalAddressFromPIN()">
                                                                <option value="" selected>Select</option>
                                                                <option *ngFor="let country of countries"
                                                                    [value]="country">
                                                                    {{country}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6 col-md- mt-10">
                                                            <label class="form-label" *ngIf="ContactInfoLabels.PIN">{{
                                                                ContactInfoLabels.PIN }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.PIN">{{
                                                                'ContactInformationForm.Pin' |
                                                                transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter PIN" minlength="1" maxlength="6"
                                                                formControlName="localPin"
                                                                [(ngModel)]="localAddressInformation.postalCode"
                                                                pattern="[0-9]{6}" (keypress)="keyPress($event)"
                                                                (keyup)="checkLocalAddress(); getLocalAddressFromPIN();formTouch()"
                                                                [ngClass]="{'is-invalid' : ContactInfoForm.get('localPin').status == 'INVALID'}">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label">{{ 'ContactInformationForm.State'
                                                                | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter State" formControlName="localState"
                                                                [(ngModel)]="localAddressInformation.state"
                                                                (keyup)="checkLocalAddress()">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label">{{
                                                                'ContactInformationForm.District' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter District"
                                                                formControlName="localDistrict"
                                                                [(ngModel)]="localAddressInformation.district"
                                                                (keyup)="checkLocalAddress()">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label">{{ 'ContactInformationForm.City' |
                                                                transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter City" formControlName="localCity"
                                                                [(ngModel)]="localAddressInformation.city"
                                                                (keyup)="checkLocalAddress()">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label">{{
                                                                'ContactInformationForm.Village' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Village"
                                                                formControlName="localVillege"
                                                                [(ngModel)]="localAddressInformation.village"
                                                                (keyup)="checkLocalAddress();formTouch()"
                                                                [ngClass]="{'is-invalid' : ContactInfoForm.get('localVillege').status == 'INVALID'}">
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>
                                            <div class="copy-from-btn">
                                                <i class="fa fa-arrow-circle-right" style="font-size: 29px;"
                                                    tooltip="Copy Local Address to Permanent Address"
                                                    (click)="ConfirmationFromLocalToPermanent()"></i>
                                                <!-- <mat-icon tooltip="Copy from Local to Permanent Address"
                                                    (click)="ConfirmationFromLocalToPermanent()">
                                                    arrow_forward</mat-icon> -->
                                                <br>
                                                <i class="fa fa-arrow-circle-left" style="font-size: 29px;"
                                                    tooltip="Copy Permanent Address to Local Address"
                                                    (click)="ConfirmationFromPermanentToLocal()"></i>
                                                <!-- <mat-icon tooltip="Copy from Permanent to Local Address"
                                                    (click)="ConfirmationFromPermanentToLocal()">
                                                    arrow_back</mat-icon> -->
                                            </div>
                                            <div class="col-5">
                                                <fieldset>
                                                    <legend>
                                                        {{ 'ContactInformationForm.permanentAddressTitle' | transloco }}
                                                    </legend>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-12">
                                                            <label class="form-label"
                                                                *ngIf="ContactInfoLabels.address1">{{
                                                                ContactInfoLabels.address1 }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.address1">{{
                                                                'ContactInformationForm.Address1' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Address 1"
                                                                formControlName="permanentAddress1"
                                                                [(ngModel)]="permanentAddressInformation.address1"
                                                                (keyup)="checkLocalAddress();formTouch()"
                                                                tooltip="{{permanentAddressInformation.address1}}"
                                                                [ngClass]="{'is-invalid' : ContactInfoForm.get('permanentAddress1').status == 'INVALID'}">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10"
                                                            [hidden]="ContactInfoLabels.address2 === false">
                                                            <label class="form-label"
                                                                *ngIf="ContactInfoLabels.address2">{{
                                                                ContactInfoLabels.address2 }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.address2">{{
                                                                'ContactInformationForm.Address2' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Address 2"
                                                                formControlName="permanentAddress2"
                                                                [(ngModel)]="permanentAddressInformation.address2"
                                                                (keyup)="checkLocalAddress();formTouch()"
                                                                tooltip="{{permanentAddressInformation.address2}}">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10"
                                                            [hidden]="ContactInfoLabels.address3 === false">
                                                            <label class="form-label"
                                                                *ngIf="ContactInfoLabels.address3">{{
                                                                ContactInfoLabels.address3 }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.address3">{{
                                                                'ContactInformationForm.Address3' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Address 3"
                                                                formControlName="permanentAddress3"
                                                                [(ngModel)]="permanentAddressInformation.address3"
                                                                (keyup)="checkLocalAddress();formTouch()"
                                                                tooltip="{{permanentAddressInformation.address3}}">
                                                        </div>

                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label"
                                                                *ngIf="ContactInfoLabels.country">{{
                                                                ContactInfoLabels.country }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.country">{{
                                                                'ContactInformationForm.Country' | transloco }}</label>
                                                            <select class="form-control" placeholder="Select"
                                                                formControlName="permanentCountry"
                                                                [(ngModel)]="permanentAddressInformation.country"
                                                                (change)="checkLocalAddress(); clearPermanentAddressFields();formTouch(); getPermanentAddressFromPIN()">
                                                                <option value="" selected>Select
                                                                </option>
                                                                <option *ngFor="let country of countries"
                                                                    [value]="country">
                                                                    {{country}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6 col-md- mt-10">
                                                            <label class="form-label" *ngIf="ContactInfoLabels.PIN">{{
                                                                ContactInfoLabels.PIN }}</label>
                                                            <label class="form-label"
                                                                [hidden]="ContactInfoLabels.PIN">{{
                                                                'ContactInformationForm.Pin' |
                                                                transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter PIN" minlength="1" maxlength="6"
                                                                formControlName="permanentPin"
                                                                [(ngModel)]="permanentAddressInformation.postalCode"
                                                                pattern="[0-9]{6}" (keypress)="keyPress($event)"
                                                                (keyup)="checkLocalAddress(); getPermanentAddressFromPIN();formTouch()"
                                                                [ngClass]="{'is-invalid' : ContactInfoForm.get('permanentPin').status == 'INVALID'}">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label">{{ 'ContactInformationForm.State'
                                                                | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter State"
                                                                formControlName="permanentState"
                                                                [(ngModel)]="permanentAddressInformation.state"
                                                                (keyup)="checkLocalAddress();formTouch()">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label">{{
                                                                'ContactInformationForm.District' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter District"
                                                                formControlName="permanentDistrict"
                                                                [(ngModel)]="permanentAddressInformation.district"
                                                                (keyup)="checkLocalAddress();formTouch()">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label">{{ 'ContactInformationForm.City' |
                                                                transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter City" formControlName="permanentCity"
                                                                [(ngModel)]="permanentAddressInformation.city"
                                                                (keyup)="checkLocalAddress();formTouch()">
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 mt-10">
                                                            <label class="form-label">{{
                                                                'ContactInformationForm.Village' | transloco }}</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Village"
                                                                formControlName="permanentVillege"
                                                                [(ngModel)]="permanentAddressInformation.village"
                                                                (keyup)="checkLocalAddress();formTouch()"
                                                                [ngClass]="{'is-invalid' : ContactInfoForm.get('permanentVillege').status == 'INVALID'}">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <div class="form-group">
                                        <legend *ngIf="ContactInfoLabels.CommunicationAddress"
                                            [ngClass]="{'invalid-feedback' : ContactInfoForm.get('communicationAddress').status == 'INVALID'}">
                                            {{ContactInfoLabels.CommunicationAddress}}</legend>
                                        <legend [hidden]="ContactInfoLabels.CommunicationAddress"
                                            [ngClass]="{'invalid-feedback' : ContactInfoForm.get('communicationAddress').status == 'INVALID'}">
                                            {{ 'ContactInformationForm.communicationAddress' | transloco }}</legend>
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input"
                                                    name="example-inline-radios" value="local"
                                                    (change)="selectionChallenged($event)"
                                                    formControlName="communicationAddress"
                                                    [(ngModel)]="communicationAddress">
                                                <span class="custom-control-label">
                                                    {{ 'ContactInformationForm.localBoolean' | transloco }}</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input"
                                                    name="example-inline-radios" value="permanent"
                                                    (change)="selectionChallenged($event)"
                                                    formControlName="communicationAddress"
                                                    [(ngModel)]="communicationAddress">
                                                <span class="custom-control-label">
                                                    {{ 'ContactInformationForm.permanentBoolean' | transloco }}</span>
                                            </label>
                                        </div>
                                        <div class="invalid-error-message" *ngIf="!communicationAddress">
                                            {{ 'ContactInformationForm.communicationErrorMsg' | transloco }}</div>
                                    </div>
                                </fieldset>


                                <!-- <div>
                                    <legend>{{ 'ContactInformationForm.communicationAddress' | transloco }}</legend>
                                    <mat-radio-group
                                        (change)="selectionChallenged($event)" formControlName="communicationAddress"
                                        [(ngModel)]="communicationAddress">
                                        <mat-radio-button value="local" class="wj-label-color">
                                            {{ 'ContactInformationForm.localBoolean' | transloco }}</mat-radio-button>
                                        &nbsp;&nbsp;
                                        <mat-radio-button value="permanent" class="wj-label-color">
                                            {{ 'ContactInformationForm.permanentBoolean' | transloco }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div> -->

                                <div class="row mt-15">
                                    <div class="col-12">
                                        <div class="float-right mb-15">
                                            <button type="button" tooltip="Previous"
                                                [routerLink]="['/employee-master/employment-information/joining-information']"
                                                class="custom_button custom_btn btn-labeled btn-labeled-left ml-10 bg-teal-400"><b><i
                                                        class="fa fa-angle-double-left" aria-hidden="true"></i></b> {{
                                                'ContactInformationForm.previous' | transloco }}</button>

                                            <button type="button" tooltip="Next"
                                                [routerLink]="['/employee-master/bank-information']"
                                                class="custom_button custom_btn btn-labeled btn-labeled-left ml-15 mr-15 bg-teal-400"><b><i
                                                        class="fa fa-angle-double-right" aria-hidden="true"></i></b> {{
                                                'ContactInformationForm.next' | transloco }}</button>

                                            <button type="button" (click)="contactSaveNextSubmit(contactInformation)"
                                                [disabled]="ContactInfoForm.invalid || !communicationAddress || ContactInfoForm.untouched"
                                                class="custom_button custom_btn btn-labeled btn-labeled-left mr-15"
                                                tooltip="Save & Next"
                                                [ngClass]="{'disabled-btn-bg-green' : ContactInfoForm.invalid || !communicationAddress || ContactInfoForm.untouched,
                                                'btn-bg-green': !ContactInfoForm.invalid || communicationAddress}"><b><i
                                                        class="fa fa-floppy-o"></i></b>
                                                {{ 'ContactInformationForm.saveAndNext' | transloco }}</button>

                                            <button type="submit"
                                                [disabled]="ContactInfoForm.invalid || !communicationAddress || ContactInfoForm.untouched"
                                                (click)="contactFormSubmit(contactInformation)"
                                                [ngClass]="{'disabled-btn-bg-green' : ContactInfoForm.invalid || !communicationAddress || ContactInfoForm.untouched,
                                               'btn-bg-green': !ContactInfoForm.invalid || communicationAddress || ContactInfoForm.touched}"
                                                class="custom_button custom_btn btn-labeled btn-labeled-left"
                                                tooltip="Save"><b><i class="fa fa-floppy-o"></i></b> {{
                                                'ContactInformationForm.save' | transloco }}</button>


                                            <button type="button" tooltip="Reset" (click)="resetForm()"
                                                class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                                                        class="fa fa-refresh" aria-hidden="true"></i></b> {{
                                                'ContactInformationForm.reset' | transloco }}</button>
                                            <!-- <button type="button" *ngIf="isCancel" (click)="cancelView()"
                                             class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                                             tooltip="Cancel"><b><i class="fa fa-times-circle" ></i></b> Cancel</button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>