<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="SkillInfoForm">
                        <!-- Member Details -->
                        <fieldset>
                            <legend>
                                Skill Information</legend>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Skill</label>
                                    <select class="form-control" placeholder="Select" (change)="clearSkillsInformation();
                                    validateGridSkills()" formControlName="skillName"
                                        [(ngModel)]="employeeSkillDetailsRequestModel.skillName">
                                        <option value="" selected disabled>Select</option>
                                        <option *ngFor="let skill of SkillSetList" [value]="skill">
                                            {{skill}}
                                        </option>
                                    </select>

                                    <!-- <p-autoComplete [suggestions]="filteredSkillSetList" placeholder="Select"
                                        (completeMethod)="filterSkillSet($event)" [dropdown]="true" (onSelect)="clearSkillsInformation();
                                        validateGridSkills()" formControlName="skillName"
                                        [(ngModel)]="employeeSkillDetailsRequestModel.skillName">
                                    </p-autoComplete> -->
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Description</label>
                                    <input type="text" class="form-control" placeholder="Enter Description"
                                        formControlName="skillDescription" (change)="validateSkillsDescription()"
                                        [(ngModel)]="employeeSkillDetailsRequestModel.skillDescription">
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <div class="form-label">Proficiency Level</div>
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Basic" checked
                                                    formControlName="proficiency"
                                                    [(ngModel)]="employeeSkillDetailsRequestModel.proficiency">
                                                <span class="custom-control-label">Basic</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Intermediate"
                                                    formControlName="proficiency"
                                                    [(ngModel)]="employeeSkillDetailsRequestModel.proficiency">
                                                <span class="custom-control-label">Intermediate</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Proficient"
                                                    formControlName="proficiency"
                                                    [(ngModel)]="employeeSkillDetailsRequestModel.proficiency">
                                                <span class="custom-control-label">Proficient</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="row mt-15">
                        <div class="col-12">
                            <div class="float-right mb-15">
                                <button type="submit" (click)="postSkillsForm(employeeSkillDetailsRequestModel)"
                                    [ngClass]="{'disabled-btn-bg-green':!employeeSkillDetailsRequestModel.skillDescription||!employeeSkillDetailsRequestModel.proficiency,
                                'btn-bg-green':employeeSkillDetailsRequestModel.skillDescription||employeeSkillDetailsRequestModel.proficiency}"
                                    [disabled]="!employeeSkillDetailsRequestModel.skillDescription||!employeeSkillDetailsRequestModel.proficiency"
                                    class="custom_button custom_btn btn-labeled btn-labeled-left"
                                    [hidden]="skillEditFlag || skillviewFlag"><b><i class="fa fa-floppy-o"
                                            tooltip="Save"></i></b>Save</button>

                                <button type="submit"
                                    [ngClass]="{'disabled-btn-bg-green':!employeeSkillDetailsRequestModel.skillDescription||!employeeSkillDetailsRequestModel.proficiency,
                                'btn-bg-green':employeeSkillDetailsRequestModel.skillDescription||employeeSkillDetailsRequestModel.proficiency}"
                                    [disabled]="!employeeSkillDetailsRequestModel.skillDescription||!employeeSkillDetailsRequestModel.proficiency"
                                    (click)="updateSkillsForm(employeeSkillDetailsRequestModel)"
                                    class="custom_button custom_btn btn-labeled btn-labeled-left"
                                    *ngIf="skillEditFlag"><b><i tooltip="Update"
                                            class="fa fa-floppy-o"></i></b>Update</button>

                                <button type="button" tooltip="Reset" [hidden]="skillviewFlag"
                                    class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                                            class="fa fa-refresh" aria-hidden="true"></i></b>Reset</button>

                                <button type="button" *ngIf="skillEditFlag || skillviewFlag" (click)="cancelSkillView()"
                                    class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"><b><i
                                            class="fa fa-times-circle" tooltip="Cancel"></i></b> Cancel</button>
                            </div>
                        </div>
                    </div>

                    
                    <legend style="font-size: 17px !important;">Summary</legend>
                    <p-table [value]="SkillSummaryData" [scrollable]="true" [style]="{width:'1000px'}"
                        scrollHeight="200px">
                        <ng-template pTemplate="colgroup" let-skill>
                            <colgroup>
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:100px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="primeng-table-header-center">Skill</th>
                                <th class="primeng-table-header-center">Description</th>
                                <th class="primeng-table-header-center">Proficiency</th>
                                <th class="primeng-table-header-center">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-skill>
                            <tr>
                                <td class="primeng-table-header-center"><span>
                                        {{skill.skillName}}
                                    </span></td>

                                <td class="primeng-table-header-center"><span>
                                        {{skill.skillDescription}}
                                    </span></td>

                                <td class="primeng-table-header-center"><span> {{skill.proficiency}}</span></td>

                                <td class="primeng-table-header-center"><span><i
                                            class="fa fa-pencil font-16 text-blue cursor-pointer mr-10" tooltip="Edit"
                                            (click)="editSkillRow(skill)"></i>

                                        <i class="fa fa-eye font-16 text-blue cursor-pointer mr-10" tooltip="View"
                                            (click)="viewSkillRow(skill)"></i>

                                        <i class="fa fa-trash-o font-16 text-red cursor-pointer" tooltip="Delete"
                                            (click)="deleteSkillRow(skill)"></i></span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <span class="font-14 font500 align-center text-red no-data-center"
                        *ngIf="SkillSummaryData.length==0">No
                        data found</span>
                </div>
            </div>
        </div>
    </div>
</div>