<app-leftmenu></app-leftmenu>
<form class="card" role="form" [formGroup]="form" #formDirective="ngForm" method="post" novalidate>
  <div class="page">
    <app-header></app-header>
    <div class="tabview-contents">
      <div class="row mt-25">
        <div class="col-12">
          <fieldset>
          
            <legend>Ganishment Details</legend>
            <div class="row">
              <div class="col-sm-3">
                <label class="form-label">ComplianceHeadName</label>
                <select name="complianceHeadName" id="complianceHeadName" class="form-control"
                [ngClass]="{'is-invalid' : form.get('complianceHeadName').status == 'INVALID'}"
                   formControlName="complianceHeadName" (change)='onSelectHeadName($event)'>
                  <option *ngFor="let complianceHeadName of complianceHeadNameList" 
                    [value]="complianceHeadName.value">
                {{complianceHeadName.label}}
                  </option>
                </select>
              </div>
              <div class="col-sm-3" *ngIf="!isEditMode">
                <label class="form-label">Institution name</label>
                <select name="nameOfInstitution" id="nameOfInstitution" class="form-control"
                  [ngClass]="{'is-invalid' : form.get('nameOfInstitution').status == 'INVALID'}"
                  formControlName="nameOfInstitution" (change)='onSelectThirdPartyMasterId($event)'>
                  <option *ngFor="let nameOfInstitution of complianceInstitutionMasterDetails" 
                    [value]="nameOfInstitution.value">
                {{nameOfInstitution.label}}
                  </option>
                </select>
              </div>
              <div class="col-sm-3" *ngIf="isEditMode">
                <label class="form-label"> Code</label>
                <input type="text" formControlName="nameOfInstitution" class="form-control"
                  name="nameOfInstitution">
              </div>


              <div class="col-sm-6 col-md-3">
                <label class="form-label">Description</label>
                <input type="text" formControlName="description" class="form-control align-right" name="description"
                [ngClass]="{'is-invalid' : form.get('description').status == 'INVALID'}" >

              </div>
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">Contact Person Name</label>
                <input type="text" formControlName="contactPerson" class="form-control align-right"
                  name="contactPerson"
                [ngClass]="{'is-invalid' : form.get('contactPerson').status == 'INVALID'}"> -->
                <label class="form-label">Contact Person Name</label>
                <input type="text" formControlName="contactPerson" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.contactPerson.errors }"  >
                <div *ngIf="submitted && form.contactPerson.errors" class="invalid-feedback">
                   <div *ngIf="form.contactPerson.errors.required">Contact Person is mandatory</div>
                </div>
              </div>
            </div>
            <div class="row mt-4 mb-10">
              <div class="col-sm-6 col-md-3">
                <label class="form-label">Phone Number</label>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class=""></i></span>
                    </div>
                    <input type="text" formControlName="contactNumber" class="form-control align-right" minlength="10" maxlength="12"
                      name="contactNumber"  [ngClass]="{ 'is-invalid': submitted && form.contactNumber.errors } ">


                  </div>
                </div>
              </div>
            
           
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">Email Id</label>
                <input type="text" formControlName="emailId" class="form-control align-right" name="emailId"
                  [ngClass]="{'is-invalid' : form.get('emailId').status == 'INVALID'}"> -->

                  <label class="form-label">Email Id</label>
                  <input type="text" formControlName="emailId" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.emailId.errors }"  >
              </div>
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">Address1</label>
                <input type="text" formControlName="address1" class="form-control align-right" name="address1"
                  [ngClass]="{'is-invalid' : form.get('address1').status == 'INVALID'}"> -->

                  <label class="form-label">Address1</label>
                  <input type="text" formControlName="address1" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.address1.errors }"  >

              </div>
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">Address2</label>
                <input type="text" formControlName="address2" class="form-control align-right" name="address2"
                  [ngClass]="{'is-invalid' : form.get('address2').status == 'INVALID'}"> -->

                  <label class="form-label">Address2</label>
                  <input type="text" formControlName="address2" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.address2.errors }"  >
              </div>
            </div>
            <div class="row mt-4 mb-10">
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">Address3</label>
                <input type="text" formControlName="address3" class="form-control align-right" name="address3"
                  [ngClass]="{'is-invalid' : form.get('address3').status == 'INVALID'}"> -->
           
                  <label class="form-label">Address3</label>
                  <input type="text" formControlName="address3" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.address3.errors }">
              </div>

            
           
              <div class="col-sm-6 col-md-3">
                <label class="form-label">Country</label>
                <select name="country" id="country" formControlName="country" class="form-control custom-select">
                  <option *ngFor="let country of countryList" [value]="country.value" >
                    {{country.value}}
                  </option >
                </select>
                <!-- <input type="text" formControlName="country" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.country.errors }"> -->

              </div>
              <div class="col-sm-6 col-md-3">
                <label class="form-label">PIN</label>
                <!-- <select name="pinCode" id="pinCode" formControlName="pinCode" class="form-control custom-select"
                  [ngClass]="{'is-invalid' : form.get('pinCode').status == 'INVALID'}">
                  <option *ngFor="let pinCode of pinCodeList" [value]="pinCode.value">
                    {{pinCode.value}}
                  </option>
                </select>
                <input type="text" formControlName="pinCode" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && form.pinCode.errors }"> -->
                
                <input type="text" class="form-control" placeholder="Enter PIN" minlength="1" maxlength="6"
                formControlName="pinCode"  pattern="[0-9]{6}"
                [ngClass]="{'is-invalid' : form.get('pinCode').status == 'INVALID'}"
                (keyup)="checkLocalAddress(); getPermanentAddressFromPIN();">
                

              </div>
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">State</label>
                <input type="text" formControlName="state" class="form-control align-right" name="state"
                  [ngClass]="{'is-invalid' : form.get('state').status == 'INVALID'}"> -->
                  <label class="form-label">State</label>
                  <input type="text" formControlName="state" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.state.errors }">
              </div>
          </div>
            <div class="row mt-4 mb-10">
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">City</label>
                <input type="text" formControlName="city" class="form-control align-right" name="city"
                  [ngClass]="{'is-invalid' : form.get('city').status == 'INVALID'}"> -->

                  <label class="form-label">City</label>
                  <input type="text" formControlName="city" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.city.errors }">
              </div>
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">Village</label>
                <input type="text" formControlName="villege" class="form-control align-right"
                [ngClass]="{'is-invalid' : form.get('villege').status == 'INVALID'}"> -->
                <label class="form-label">Village</label>
                  <input type="text" formControlName="villege" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.villege.errors }">

              </div>
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">PAN</label>
                <input type="text" formControlName="pan" class="form-control align-right" name="pan"
                  [ngClass]="{'is-invalid' : form.get('pan').status == 'INVALID'}"> -->

                  <label class="form-label">PAN</label>
                  <input type="text" formControlName="pan" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.pan.errors }">
              </div>
              <div class="col-sm-6 col-md-3">
                <!-- <label class="form-label">Account No. in Payee Book</label>
                <input type="text" formControlName="accountNoInPayeeBook" class="form-control align-right"
                  name="accountNoInPayeeBook" [ngClass]="{'is-invalid' : form.get('accountNoInPayeeBook').status == 'INVALID'}"> -->
         
                   
                  <label class="form-label">Account No. in Payee Book</label>
                  <input type="text" formControlName="accountNoInPayeeBook" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.accountNoInPayeeBook.errors }">
              </div>


            </div>


          </fieldset>
        </div>
      </div>
      <div class="row mt-25">
        <div class="col-12">
          <fieldset>
            <legend>Computation Details</legend>
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <label class="form-label">Deduction Head</label>
                <select name="standardName" id="standardName" formControlName="standardName"
                  class="form-control custom-select" (change)='onSelectMasterHead($event)'
                  [ngClass]="{'is-invalid' : form.get('standardName').status == 'INVALID'}">
                  <option *ngFor="let standardName of deductionHeadList" [value]="standardName.value">
                    {{standardName.value}}
                  </option>
                </select>

              </div>




              <div class="col-sm-6 col-md-3">
                <label class="form-label">Formula</label>
                <select name="formula" id="formula" formControlName="formula" class="form-control custom-select">
                  <option *ngFor="let formula of formulaList" [value]="formula.value">
                    {{formula.value}}
                  </option>
                </select>


              </div>
              <div class="col-sm-6 col-md-3">
                <label class="form-label">SDM</label>
                <select name="sdm" id="sdm" formControlName="sdm" class="form-control custom-select">
                  <option *ngFor="let sdm of sdmList" [value]="sdm.value">
                    {{sdm.value}}
                  </option>
                </select>

              </div>
              <div class="col-sm-6 col-md-3">
                <label class="form-label">Frequency/ies</label>
                <select name="frequency" id="frequency"  formControlName="frequency" class="form-control custom-select"
                  [ngClass]="{'is-invalid' : form.get('frequency').status == 'INVALID'}">
                  <option *ngFor="let frequency of frequencyList" [value]="frequency.value">
                    {{frequency.value}}
                  </option>
                </select>

              </div>
            </div>
            <div class="row mt-4 mb-10">
              <div class="col-sm-6 col-md-3">
                <label class="form-label">Income Tax Section</label>
                <select name="investmentSection" id="investmentSection" formControlName="investmentSection"
                  class="form-control custom-select"
                  [ngClass]="{'is-invalid' : form.get('investmentSection').status == 'INVALID'}">
                  <option *ngFor="let investmentSection of incomeTexList" [value]="investmentSection.value">
                    {{investmentSection.value}}
                  </option>
                </select>

              </div>
              <div class="col-sm-6 col-md-3">
                <label class="form-label ml-15" tooltip="family member" placement="left">Family member</label>
                <div class="custom-controls-stacked ml-15 mt-10">
                  <label class="custom-control custom-radio custom-control-inline">
                    <input formControlName="familyMember" type="radio" class="custom-control-input" name="familyMember"
                      [value]="true?0:1">
                    <span class="custom-control-label">Yes</span>
                  </label>
                  <label class="custom-control custom-radio custom-control-inline">
                    <input formControlName="familyMember" type="radio" class="custom-control-input" name="familyMember"
                      [value]="false?0:1">
                    <span class="custom-control-label">No</span>
                  </label>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <label class="form-label pl-10">Remark </label>
                <textarea  formControlName="remark" class="form-control align-right" rows="1"></textarea>
              </div>
            </div>

          </fieldset>
        </div>
      </div>

    


<div class="row mt-25">
        <div class="col-md-3">
           <label class="custom-control custom-checkbox custom-control-inline pl-45">
           <input formControlName="active" type="checkbox" class="custom-control-input"
              name="example-inline-checkbox1" value="option1" checked
              (change)="deactivateRemark()">
           <span class="custom-control-label">Active </span>
           </label>
        </div>
        <div class="col-md-3" *ngIf="hideRemarkDiv">
           <label class="form-label pl-10">General Remark</label>
           <textarea formControlName="generalRemark" class="form-control ml-10" rows="1"></textarea>
        </div>
     </div>

      <div class="row mt-15">
        <div class="col-12 mt-20">

          <div class="float-right mb-15">
            <ng-container *ngIf="showButtonSaveAndReset">
                 <ng-container *ngIf="isSaveAndReset; else newDeb">
                   <button type="submit"  class="custom_button custom_btn btn-labeled btn-labeled-left"
                    tooltip="Save" (click)="save()"
                  [ngClass]="{'disabled-btn-bg-green' : form.invalid, 'btn-bg-green': !form.invalid}">
                  <b><i class="fa fa-floppy-o"></i></b> Save</button>

                  <button type="button" tooltip="Reset" (click)="cancelView()"
                  class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
                  <b><i class="fa  fa-refresh"></i></b> Reset</button>
                </ng-container>
               <ng-template #newDeb>
                  <button type="submit" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" 
                   tooltip="Update" (click)="save()">
                  <b><i class="fa fa-floppy-o"></i></b>Update</button>
                  <button type="button" class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                  tooltip="Cancel" (click)="cancelView()">
                  <b><i class="fa fa-times-circle"></i></b> Cancel</button>
             </ng-template>
            </ng-container>
            <ng-container *ngIf="!showButtonSaveAndReset">
              <button type="button"
                class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                tooltip="Cancel" (click)="cancelView()">
                <b><i class="fa fa-times-circle"></i></b>Cancel</button>
            </ng-container>
          </div>
        </div> <!-- <end of div col-6 -->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="mb-0">
              <h3 class="font-14 text-purple font-bold">Summary</h3>
            </div>
            <!-- <div class=""> -->
            <div class="table-responsive Custom_Table">
              <table class="table table-striped table-hover table-bordered m-b-0">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="wd-15">Sr. No.</th>
                    <th scope="col" class="wd-15"> Institution</th>
                    <th scope="col" class="wd-20">deduction Head</th>
                    <th scope="col" class="wd-20">Formula</th>
                    <th scope="col" class="wd-10">SDM</th>
                    <th scope="col" class="wd-20">income Tex Section</th>
                    <th scope="col" class="wd-20">Family member</th>
                    <th scope="col" class="wd-10">Active</th>
                    <th scope="col" class="wd-15">Action</th>

                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let summary of summaryHtmlDataList; let i = index">
                    <td class="wd-10"><span tooltip="{{i+1}}">{{i+1}}</span>
                    </td>


                    <td class="wd-10"><span tooltip="{{summary.code}}">{{summary.nameOfInstitution}}</span>
                    </td>

                    <td class="wd-10"><span tooltip="{{summary.deductionHead}}">{{summary.standardName}}</span>
                    </td>

                    <td class="wd-10"><span tooltip="{{summary.formula}}">{{summary.formula}}</span>
                    </td>
                    <td class="wd-10"><span tooltip="{{summary.sdm}}">{{summary.sdm}}</span>
                    </td>
                    <td class="wd-10"><span tooltip="{{summary.investmentSection}}">{{summary.investmentSection}}</span>
                    </td>
                    <td class="wd-10"><span tooltip="{{summary.familyMember}}">{{summary.familyMember ? 'yes' : 'no'}}   </span>
                    </td>
                    <td class="wd-10"><span tooltip="{{summary.generalRemark}}">{{summary.isActive}}</span>
                    </td>


                    <td class="wd-10">
                      <i class="fa fa-edit font-16 text-dark-green cursor-pointer" (click)="editMaster(i)"
                        tooltip="Edit"></i>

                      <i class="fa fa-eye font-16 text-blue cursor-pointer ml-3" (click)="viewMaster(i)"
                        tooltip="View"></i>
                      <i class="fa fa-trash-o font-16 text-red cursor-pointer ml-3" (click)="deleteMaster(summary.thirdPartyMasterId)"
                        tooltip="delete"></i>
                      
                          <!-- <i class="fa fa-times text-red font-18" (click)="removeSelectedRow(i)"></i> -->
                       
                    </td>
                  </tr>
                  <tr *ngIf="!summaryHtmlDataList?.length">
                    <td colspan="10">
                      <span class="font-14 font500 align-center text-red">No Data Available</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</form>
