<form class="card" role="form" (ngSubmit)="addMaster(form,formDirective)" [formGroup]="form" #formDirective="ngForm" method="post" novalidate>
  <div class="tabview-contents">
     <div class="row">
      </div>
      <div class="row mt-25">
          <div class="col-12">
              <fieldset>
                <legend>Bank Account Details</legend>
                <div class="row">
                  <!-- <div class="col-sm-6 col-md-3">
                    <label class="form-label">State</label>
                    <select name="state" id="state" class="form-control" formControlName="state"
                      [ngClass]="{'is-invalid' : form.get('state').status == 'INVALID'}"
                      (change)='onSelectState($event.target.value)'>
                      <option *ngFor="let state of stateNameList" [value]="state">
                        {{state}}
                      </option>
                    </select>
                  </div> -->
                  <div class="col-sm-6 col-md-3">
                    <label class="form-label">State Name</label>
                    <select name="family_Member_Name" id="state" formControlName="state" (change)='onSelectState()'
                      class="form-control custom-select"
                      [ngClass]="{ 'is-invalid': submitted && masterForm.state.errors }">
                      <option [ngValue]="null">Select</option>
                      <option *ngFor="let state of stateNameList" [value]="state">
                        {{state}}
                       <!-- <option *ngFor="let state of stateNameList" [value]="state.value">
                        {{state.label}} -->
                      </option>
                    </select>
                    <div *ngIf="submitted && masterForm.state.errors" class="invalid-feedback">
                      <div *ngIf="masterForm.state.errors.required">State Is Mandatory</div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                      <label class="form-label">IFSC Code</label>
                      <p-autoComplete [(ngModel)]="bankIFSC"
                          [suggestions]="ifscCodeList" placeholder="Search IFSC"
                          (completeMethod)="searchIFSC($event, bankIFSC)"
                          formControlName="ifscCode" (ngModelChange)="bankIFSC = $event?.toUpperCase();
                          onSelectIFSCCode(bankIFSC)">
                          <ng-template let-ifsc pTemplate="item">
                              <div class="country-item">
                              <div>
                                      {{ifsc}}</div>
                              </div>
                          </ng-template>
                      </p-autoComplete>
                      <i class="fa fa-chevron-down down-arrow-icon"></i>
                  </div>
                <div class="col-sm-6 col-md-3">
                <label class="form-label">Bank Name</label>
                <input type="text" formControlName="bankName" class="form-control" disabled
                  [ngClass]="{ 'is-invalid': submitted && masterForm.bankName.errors }">
                <div *ngIf="submitted && masterForm.bankName.errors" class="invalid-feedback">
                  <div *ngIf="masterForm.bankName.errors.required">Bank Name  Is Mandatory</div>
                </div>
                </div>
              <div class="col-sm-6 col-md-3">
              <label class="form-label">Branch Name</label>
              <input type="text" formControlName="branchName" class="form-control" disabled
                [ngClass]="{ 'is-invalid': submitted && masterForm.branchName.errors }">
              <div *ngIf="submitted && masterForm.branchName.errors" class="invalid-feedback">
                <div *ngIf="masterForm.branchName.errors.required">Branch Name  Is Mandatory</div>
              </div>
              </div>
            </div>
                <div class="row mt-4 mb-10">
                  <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="">Branch Address</label>
                    <textarea class ="text-area" formControlName="bankAddress" class="form-control" disabled
                      [ngClass]="{ 'is-invalid': submitted && masterForm.bankAddress.errors }"></textarea>
                    <div *ngIf="submitted && masterForm.bankAddress.errors" class="invalid-feedback">
                      <div *ngIf="masterForm.bankAddress.errors.required">Branch Address Is Mandatory</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label">Account Number</label>
                  <input type="text" formControlName="accountNumber" class="form-control"
                    placeholder="Enter Account Number"
                    [ngClass]="{ 'is-invalid': submitted && masterForm.accountNumber.errors }"  >
                  <div *ngIf="submitted && masterForm.accountNumber.errors" class="invalid-feedback">
                    <div *ngIf="masterForm.accountNumber.errors.required">Account Number is mandatory</div>
                  </div>
                </div>
               </div>

               <div class="row mt-30" *ngIf="paymentDetailGridData?.length">
                 <div class="col-12 col-md-12 col-sm-12">
                    <div class="table-responsive Custom_Table ">
                       <table class="table table-striped table-bordered table-hover m-b-0">
                          <thead class="thead-dark">
                             <tr>
                                <th scope="col" class="wd-9">Sr No.</th>
                                <!-- <th scope="col" class="wd-15">State Name</th> -->
                                <th scope="col" class="wd-15">IFSC Code</th>
                                <th scope="col" class="wd-15">Bank Name</th>
                                <th scope="col" class="wd-15">Branch Name</th>
                                <th scope="col" class="wd-15">Branch Address</th>
                                <th scope="col" class="wd-15">Account Number</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr *ngFor="let summary of paymentDetailGridData; let i = index">
                                <td class="wd-9">
                                   <span tooltip="{{i+1}}">
                                   {{i+1}}
                                   </span>
                                </td>
                                <!-- <td class="wd-20">
                                  <span tooltip="{{summary.state}}">
                                  {{summary.state}}
                                  </span>
                               </td> -->
                                <td class="wd-20">
                                   <span tooltip="{{summary.ifscCode}}">
                                   {{summary.ifscCode}}
                                   </span>
                                </td>
                                <td class="wd-20">
                                  <span tooltip="{{summary.bankName}}">
                                  {{summary.bankName}}
                                  </span>
                               </td>
                               <td class="wd-20">
                                <span tooltip="{{summary.branchName}}">
                                {{summary.branchName}}
                                </span>
                             </td>
                                <td class="wd-20">
                                  <span tooltip="{{summary.bankAddress}}">
                                  {{summary.bankAddress}}
                                  </span>
                               </td>
                               <td class="wd-20">
                                <span tooltip="{{summary.accountNumber}}">
                                {{summary.accountNumber}}
                                </span>
                             </td>
                             </tr>
                             <tr *ngIf="!paymentDetailGridData?.length">
                                <td colspan="7">
                                   <span class="font-14 font500 align-center text-red">No
                                   Data Available</span>
                                </td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                 </div>
              </div>
           </fieldset>
        </div>
     </div>
     <div class="row mt-30">
        <div class="col-12">
           <div class="card">
              <div class="mb-10 row">
                 <div class="col-md-6">
                    <h3 class="font-14 text-purple font-bold">Upload Documents</h3>
                 </div>
                 <div class="col-md-6">
                    <span class="font-bold text-link float-right"></span>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-9">
                    <div class="table-responsive Custom_Table">
                       <table class="table table-striped table-hover table-bordered m-b-0">
                          <thead class="thead-dark">
                             <tr>
                                <th scope="col" class="font700 wd-8">Sr No.</th>
                                <th scope="col" class="font700 wd-40">Document Name</th>
                                <th scope="col" class="font700 wd-40">Attachment</th>
                                <th scope="col" class="font700 wd-12">Action</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr>
                                <th scope="row"><span tooltip="1">1</span></th>
                                <td><span tooltip="Premium Receipt/ Premium Statement"></span>Medical Certificate/Form 10-1A</td>
                                <td><span *ngFor ="let item of masterfilesArray"  class="text-orange" tooltip="{{item.name}},"><i
                                   class="fa fa-paperclip"
                                   aria-hidden="true"></i>&nbsp;{{item.name}},</span></td>
                                <td>
                                   <i class="fa fa-upload font-16 text-blue cursor-pointer" tooltip="Upload" (click)="UploadModal(template)"
                                    data-toggle="modal" data-target="#UploadModal"></i>&nbsp;&nbsp;
                                </td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="row mt-15">
        <div class="col-12">
           <div class="float-right mb-15">
              <button type="submit" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple" tooltip="Save"><b>
                <i class="fa fa-floppy-o"></i></b> Save</button>
           </div>
        </div>
     </div>
     <div class="row mt-20">
      <div class="col-12">
         <div class="card">
            <div class="mb-0">
               <h3 class="font-14 text-purple font-bold">Summary</h3>
            </div>
            <div class="">
               <div class="table-responsive Custom_Table">
                <table class="table table-striped table-hover table-bordered m-b-0">
                  <thead class="thead-dark">
                      <tr>
                          <th scope="col" class="wd-15">State Name</th>
                          <th scope="col" class="wd-15">IFSC Code</th>
                          <th scope="col" class="wd-15">Bank Name</th>
                          <th scope="col" class="wd-15">Branch Name</th>
                          <th scope="col" class="wd-15">Account Number</th>
                          <th scope="col" class="wd-15">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let summary of masterGridData; let i = index">
                          <td class="align-left wd-15"><span tooltip="{{summary.state}}">{{summary.state}}</span>
                          </td>
                          <td class="align-left wd-15"><span tooltip="{{summary.ifscCode}}">{{summary.ifscCode}}</span>
                          </td>
                          <td class="wd-10"><span tooltip="{{summary.bankName}}">{{summary.bankName}}</span>
                          </td>
                          <td class="wd-10"><span tooltip="{{summary.branchName}}">{{summary.branchName}}</span>
                          </td>
                          <td class="wd-10"><span tooltip="{{summary.accountNumber}}">{{summary.accountNumber}}</span>
                          </td>
                          <td class="wd-5">
                              <i class="fa fa-edit font-16 text-dark-green cursor-pointer" (click)="editMaster(i)" tooltip="Edit"></i> &nbsp;&nbsp;
                          </td>
                      </tr>
                      <tr *ngIf="!masterGridData?.length">
                          <td colspan="6">
                              <span class="font-14 font500 align-center text-red">No Data
                  Available</span>
                          </td>
                      </tr>
                  </tbody>
              </table>
               </div>
            </div>
         </div>
      </div>
   </div>
  </div>
  </form>
  <ng-template #template>
    <div class="modal-header">
       <h5 class="modal-title" id="UploadModalLabel">Upload Document</h5>
       <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
       <div class="card">
          <div class="card-body">
             <div class="row clearfix">
                <!-- <div class="col-md-12">
                   <label class="form-label">Upload File here :</label>
                </div> -->
                <div class="col-md-12">
                   <div class="fileuploadbox bg-color-lightgray">
                      <label class="filelabel">
                      <i class="fa fa-upload">
                      </i>
                      <span class="title">
                      Choose file
                      </span>
                      <input class="FileUpload1" class="dropify" (change)="onMasterUpload($event);" accept=".jpg , .jpeg, .pdf , .png"
                         id="FileInput" type="file" multiple/>
                      </label>
                   </div>
                   <div *ngIf="masterfilesArray.length > 0 " class="fileuploadbox">
                     Selected files
                      <label *ngFor="let item of masterfilesArray;  let index = index;" class="filelabeldisplay">
                         <div class="text-ellipsis"><i class="fa fa-paperclip">
                            </i>
                            <span class="title">
                            {{ item.name }}
                            </span>
                         </div>
                         <div>
                            <i class="fa fa-times text-red font-18" (click)="removeSelectedMasterDocument(index)"></i>
                         </div>
                      </label>
                   </div>
                </div>
                <div class="col-md-12 mt-10">
                   <label class="form-label">Remark</label>
                </div>
                <div class="col-md-12">
                   <textarea class="form-control" [(ngModel)]="documentRemark" rows="2"></textarea>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Ok</button>
    </div>
 </ng-template>
