<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tabview tabview_upload_excel">
                                <input name="nav" type="radio" class="about-radio" id="Tab1" checked />
                                <div class="tabs about-page">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <app-keywordmaster></app-keywordmaster>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="nav" for="Tab1"><span> Keyword Master </span></label>
                                <input name="nav" type="radio" class="nav home-radio" id="Tab2" />
                                <div class="tabs about-page">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <app-formulacreation></app-formulacreation>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="nav" for="Tab2"><span> Formula Master</span></label>
                            </div>



                        </div>


                    </div>
                </div>


            </div>

            <app-footer></app-footer>
        </div>
    </div>