<div class="tabview-contents">
    <div class="">
        <div class="col-12">
            <div class="">
                <div class="">
                    <div class="col-12">
                        <div class="">
                            <div class="">
                                <div class="col-md-10">
                                    <span class="font-bold text-link float-left"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive Custom_Table">
                                        <table class="table table-striped table-hover table-bordered m-b-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col" class="font700 wd-15">School Going Child</th>
                                                    <th scope="col" class="font700 wd-10">Age</th>
                                                    <th scope="col" class="font700 wd-15">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let element of masterGridData; let i = index">
                                                    <td class="wd-20"><span tooltip="{{element.policyNo}}">{{element.familyMemberInfoId}}</span>
                                                    </td>
                                                    <td class="wd-20">
                                                        <span tooltip="{{element.policyholdername}}">
                              {{element.age}}
                            </span>
                                                    </td>
                                                    <td><i class="fa fa-edit font-16 text-dark-blue cursor-pointer" (click)="editMaster(i)" tooltip="Edit"></i>&nbsp;&nbsp;
                                                        <i class="fa fa-eye font-16 text-dark-blue cursor-pointer" (click)="viewMaster(i)" tooltip="view"></i>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="!masterGridData?.length">
                                                    <td colspan="3">
                                                        <span class="font-14 font500 align-center text-red">No Data
                              Available</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>

                            </div>

                            <div class="row mt-35">
                                <div class="col-md-12">
                                    <h3 class="font-14 text-purple font-bold">Declaration & Actual</h3>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-10">
                                    <div class="table-responsive Custom_Table">
                                        <table class="table table-striped table-hover table-bordered m-b-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col" class="font700 wd-15"></th>
                                                    <th scope="col" class="font700 wd-10">Declared</th>
                                                    <th scope="col" class="font700 wd-15">Actual</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="font700">Exempt Amount</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="float-right mb-0 mt-4">
                                        <button type="button" tooltip="Computation" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" (click)="
                  opencomputationModal(template1)
                  "><b><i class="fa fa-calculator" aria-hidden="true"></i></b> Computation</button>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #template1>
        <div class="modal-header">
            <h5 class="modal-title" id="UploadedDocumentModalLabel">
                Computation of CEA Exemption
            </h5>
            <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive Custom_Table">

                <table class="table table-striped table-hover table-bordered m-b-0">
                    <thead class="thead-light">
                        <tr>
                            <th rowspan="3" scope="rowgroup">Month</th>
                            <th colspan="3" scope="colgroup">Child Education Allowance (CEA)</th>
                            <th colspan="2" scope="colgroup">Children Details</th>
                            <th colspan="2" scope="colgroup">CEA Exemption</th>
                        </tr>
                        <tr>
                            <th scope="col">Base</th>
                            <th scope="col">Arrear</th>
                            <th scope="col">Total</th>
                            <th scope="col">No. of School Going Children</th>
                            <th scope="col">Max Allowed-No.of School Going Children</th>
                            <th scope="col">Max Eligibility</th>
                            <th scope="col">Exemption</th>
                        </tr>
                        <tr>
                            <th scope="col"><span class="Letterbadge">A</span></th>
                            <th scope="col"><span class="Letterbadge">B</span></th>
                            <th scope="col"><span class="Letterbadge">C</span>=&nbsp;<span class="Letterbadge">A</span>+&nbsp;<span class="Letterbadge">B</span></th>
                            <th scope="col"><span class="Letterbadge">D</span></th>
                            <th scope="col"><span class="Letterbadge">E</span></th>
                            <th scope="col"><span class="Letterbadge">F</span>=&nbsp;<span class="Letterbadge">E</span>*100</th>
                            <th scope="col"><span class="Letterbadge">G</span>= Min of&nbsp;<span class="Letterbadge">C</span>&&nbsp;<span class="Letterbadge">F</span></th>
                        </tr>
                    </thead>
                    <tr *ngFor="let summary of summaryGridData; let i = index">
                        <td scope="row">
                            <span tooltip="1">{{summary.month}}</span>
                        </td>
                        <td class="align-left-center">
                            <span tooltip="{{summary.base}}">{{summary.base}}</span>
                        </td>
                        <td class="wd-15 align-right-center">
                            <span class="padding-right-12" tooltip="{{summary.arrear | number:'1.2-2'}}">
                {{summary.arrear | number:'1.2-2'}}
              </span>
                        </td>
                        <td class="wd-15 align-right-center">
                            <span class="padding-right-12" tooltip="{{summary.total | number:'1.2-2'}}">
                {{summary.total | number:'1.2-2'}}
              </span>
                        </td>
                        <td class="wd-15 align-right-center">
                            <span class="padding-right-12" tooltip="{{summary.noOfChildren | number:'1.2-2'}}">
                {{summary.noOfChildren | number:'1.2-2'}}
              </span>
                        </td>
                        <td class="wd-15 align-right-center">
                            <span class="padding-right-12" tooltip="{{summary.maxAllowedNoOfChild | number:'1.2-2'}}">
                {{summary.maxAllowedNoOfChild | number:'1.2-2'}}
              </span>
                        </td>
                        <td class="wd-15 align-right-center">
                            <span class="padding-right-12" tooltip="{{summary.maxEligibility | number:'1.2-2'}}">
                {{summary.maxEligibility | number:'1.2-2'}}
              </span>
                        </td>
                        <td class="align-right-center">
                            <span class="padding-right-12" tooltip="{{summary.applicableAllowance | number:'1.2-2'}}">
                {{summary.applicableAllowance | number:'1.2-2'}}
              </span>
                        </td>
                    </tr>
                    <tr class="table-light-color">
                        <td colspan="1" class="align-right font700">Total &nbsp;
                        </td>
                        <td> <span class="padding-right-12" tooltip="{{baseTotal | number:'1.2-2'}}">
                {{baseTotal | number:'1.2-2'}}
              </span>
                        </td>
                        <td>
                            <span class="padding-right-12" tooltip="{{arrearTotal | number:'1.2-2'}}">
                {{arrearTotal | number:'1.2-2'}}
              </span>
                        </td>
                        <td> <span class="padding-right-12" tooltip="{{total | number:'1.2-2'}}">
                {{total | number:'1.2-2'}}
              </span>
                        </td>
                        <td></td>
                        <td></td>
                        <td> <span class="padding-right-12" tooltip="{{maxEligibilityTotal | number:'1.2-2'}}">
                {{maxEligibilityTotal | number:'1.2-2'}}
              </span>
                        </td>
                        <td> <span class="padding-right-12" tooltip="{{applicableAllowanceTotal | number:'1.2-2'}}">
                {{applicableAllowanceTotal | number:'1.2-2'}}
              </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
        </div>
    </ng-template>
