
.language-select{
    margin-top: 41%;
}

.language-select .mat-select-value {
    color: #703e92;
}

.language-select .mat-select-arrow {
    color: #703e92;
}

.language-select  .mat-form-field-underline {
    background-color: #703e92;
}
