

.disabled-btn-bg-green{
  background-color: #94c1c1!important;
}

.form-control.is-invalid {
  background-image: none!important;
}
.disabled-btn-bg-lightgrey{
  background-color: lightgrey!important;
}
html, body {
  height: 100%;
  background: #212121;
  margin: 0px;
}
.first-example , .second-example, .third-example{
  margin-bottom: 10px;
}
body {
  align-items: center;
  justify-content: center;
  display: flex;
}

.ng-invalid {
  border-color: red;
}

.error {color: red}

// input[type=number] {
//   -moz-appearance: textfield;
//   -moz-appearance: none;
//   appearance: none;
// }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}