.lightgray{
  background-color:lightgray;
}
.btn-info1{
  margin-left: 25px;
}
.mergeicon1
{
  // position: absolute;
  // right: 0px;
  // float: right;
  // top: 2px;
  // color: green;

  position: absolute;
    right: -232px;
    top: 4px;
    color: green;

}
