<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
  <app-header></app-header>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="tabview">

                <input name="nav" type="radio" class="nav home-radio" id="businessYearId" [checked]="tabIndex==0" />
                <div class="tabs home-page">
                  <app-business-year></app-business-year>
                </div>

                <label class="nav" for="businessYearId">
                  <span>
                    Business Year Definition
                  </span>
                </label>

                <input name="nav" type="radio" class="about-radio" id="cycleDefinitionId" [checked]="tabIndex==1" />



                <div class="tabs about-page">
                  <app-cycle-definition></app-cycle-definition>
                </div>

                <label class="nav" for="cycleDefinitionId">
                  <span>
                    Cycle Definition
                  </span>
                </label>



                <input name="nav" type="radio" class="about-radio" id="cycleCreationId" [checked]="tabIndex==2" />
                <div class="tabs about-page">
                  <app-cycle-creation></app-cycle-creation>

                </div>
                <label class="nav" for="cycleCreationId">
                  <span>
                    Cycle Creation
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-to-top" ngClass="{'show-scrollTop': windowScrolled}">
          <button type="button" class="btn active" data-toggle="button" aria-pressed="true" tooltip="Top"
            (click)="scrollToTop()">
            <i class="fa fa-angle-double-up text-white font-18"></i>
          </button>
        </div>
      </div>

    </div>

    <app-footer></app-footer>
  </div>
