<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<!-- <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="addMaster(form,formDirective)"> -->
  <div>
    <div class="page">
      <app-header></app-header>
      <div class="tabview-contents">
        <div class="section-body bg-color-white">
          <div class="row pb-0">
            <div class="mt-15 pl-0 pr-0 mb-0 font-16 col-md-1">
              <label class="text-purple form-label mt-15">Payroll Area</label>
             </div>
            <div class="col-4 pr-0 pl-0">
              <div class="btn-group mt-20 ml-4" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-bg-green">Staff</button>
                <button type="button" class="btn bg-color-lightgray"> Workman </button>
                <button type="button" class="btn bg-color-lightgray"> Apprentice </button>
              </div>
            </div>
            <div class="mt-15 pl-0 pr-0 mb-0 font-16 col-md-1">
              <label class="text-purple form-label mt-15">Job Field</label>
            </div>
            <div class="col-4 pr-0 pl-0">
              <div class="mt-25 ml-4">
                <div class="custom-controls-stacked ml-12">
                  <label class="custom-control custom-radio custom-control-inline" >
                    <input type="radio" class="custom-control-input" name="" value="0" disabled  />
                    <span class="custom-control-label"><b>Cleaner</b></span>
                  </label>
                  <label class="custom-control custom-radio custom-control-inline" >
                    <input type="radio" class="custom-control-input" name="" value="1" checked />
                    <span class="custom-control-label"><b>Sweeper</b></span></label>
                  <label class="custom-control custom-radio custom-control-inline" >
                    <input type="radio" class="custom-control-input" name="" value="0" disabled />
                    <span class="custom-control-label"><b>Gardner</b></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="mt-20 col-2 pr-0 pl-0">
              <div class="float-right"> <button type="button" tooltip="Compension and Benefit Summary"
                  class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple" >
                  <b> <i class="fa fa-file"></i></b>C&B Summary</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pl-0 pr-0">
              <div class="border-dark-card radius-10 p-2 mt-3">
            
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-label mt-1 mb-0">Emp No. & Name</label>
                    <label class="font-12 text-ellipsis mt-1 mb-0"> 0001 - Sneha Suryawanshi</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-label mt-1 mb-0">Date of Joining</label>
                    <label class="font-12 text-ellipsis mt-1 mb-0">  21-jan-2016 </label>
                  </div>

                  <div class="col-md-2">
                    <label class="form-label mt-1 mb-0">Establishment</label>
                    <label class="font-12 text-ellipsis mt-1 mb-0">  Pune </label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-label mt-1 mb-0">Employee Type</label>
                    <label class="font-12 text-ellipsis mt-1 mb-0"> Worker</label>
                  </div>

                  <div class="col-md-1">
                    <label class="form-label mt-1 mb-0">Grade</label>
                    <label class="font-12 text-ellipsis mt-1 mb-0"> G1 </label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-label mt-1 mb-0">Designation</label>
                    <label class="font-12 text-ellipsis mt-1 mb-0"> UI/UX Developer</label>
                  </div>
                  <div class="col-md-1">
                    <label class="form-label mt-1 mb-0">Status</label>
                    <label class="font-12 text-ellipsis mt-1 mb-0"> Probation </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-20">
            <div class="col-md-12 pr-0 pl-0">
              <div class="border-card p-2 mt_2">
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label mb-2">Heads</label>
                    <label class="custom-control custom-radio custom-control-inline mr-4">
                      <input type="radio" [(ngModel)]="headField" class="custom-control-input" name="isPEIRecord"
                       (change)="selectedInputHeads()" [value]="1" />
                      <span class="custom-control-label" >Input</span>
                    </label>
                    <label
                      class="custom-control custom-radio custom-control-inline mr-4">
                      <input type="radio" [(ngModel)]="headField" class="custom-control-input"  name="isPEIRecord"
                       (change)="selectedInputHeads()"  [value]="2"/>
                      <span class="custom-control-label">All</span>
                    </label>
                    <label
                      class="custom-control custom-radio custom-control-inline mr-4">
                      <input type="radio" [(ngModel)]="headField" class="custom-control-input" name="isPEIRecord"
                      (change)="selectedInputHeads()" [value]="3"/>
                      <span class="custom-control-label">Auto</span>
                    </label>
                  </div>
                  <div class="col-md-1">
                    <label class="form-label mb-2">Currency</label>
                    <input type="text" class="form-control" disabled />
                  </div>
                  <div class="col-md-1">
                    <label class="form-label mb-2"> Frequency</label>
                    <input type="text" class="form-control" disabled />
                  </div>
                  <div class="col-md-2 pl-0">
                    <label class="form-label mb-2">Updation Field</label>
                    <select name="Gender"  class="form-control custom-select" [(ngModel)]="updationField" (change)="getUpdationField($event.target.options.selectedIndex)" >
                      <option selected value=null>select</option>
                      <option value="1">Change Amount</option>
                      <option value="2">Change %</option>
                      <option value="3">Closing Amount</option>
                    </select>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-3 ml-30">
                    <div class="row">
                      <div class="col-md-12 pl-0">
                        <label class="form-label mb-2">Update Master - From & To date</label>
                        <div class="d-flex">
                          <div class="form-group mr-2 mb-0">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              </div>
                              <input data-provide="datepicker"data-date-autoclose="true" class="form-control" placeholder="Date"
                                bsDatepicker/>
                            </div>
                          </div>
                          <div class="form-group mb-0">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              </div>
                              <input data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="Date"
                                bsDatepicker/>
                            </div>
                          </div>
                          <span class="ml-10 mt-7"
                            ><i
                              class="fa fa-file-excel-o font-18 text-dark-green"
                              tooltip="Export to Excel"
                            ></i
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 p-0">
              <p-table [value]="masterGridData" >
                <ng-template pTemplate="header">
                  <tr>
                    <th rowspan="2">Sr. No.</th>
                    <th rowspan="2">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Head Type
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="headtype"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="headtype"
                            display="menu"
                            class="p-ml-auto" 
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                   
                    <th rowspan="2">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Head Description
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="headdesc.headtype"></p-sortIcon>
                          <p-columnFilter
                            field="headdesc"
                            matchMode="in"
                            display="menu"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                            class="p-ml-auto"
                          >
                            <ng-template pTemplate="header">
                              <div class="p-px-3 p-pt-3 p-pb-0">
                                <span class="p-text-bold">Agent Picker</span>
                              </div>
                            </ng-template>
                            <ng-template
                              pTemplate="filter"
                              let-value
                              let-filter="filterCallback"
                            >
                              <p-multiSelect
                                [ngModel]="value"
                                [options]=""
                                placeholder="Any"
                                (onChange)="filter($event.value)"
                                optionLabel="name"
                              >
                                <ng-template let-option pTemplate="item">
                                  <div
                                    class="p-multiselect-representative-option"
                                  >
                                  
                                    <span class="p-ml-1">{{
                                      option.headtype
                                    }}</span>
                                  </div>
                                </ng-template>
                              </p-multiSelect>
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th rowspan="2" class="wd-8">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Opening Amount
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="date"></p-sortIcon>
                          <p-columnFilter
                            type="date"
                            field="date"
                            display="menu"
                            class="p-ml-auto"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                   
                    <th rowspan="2" class="wd-8">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Change Amount
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="status"></p-sortIcon>
                          <p-columnFilter
                            field="status"
                            matchMode="equals"
                            display="menu"
                            class="p-ml-auto"
                          >
                            <ng-template
                              pTemplate="filter"
                              let-value
                              let-filter="filterCallback"
                            >
                              <p-dropdown
                                [ngModel]="value"
                                [options]="statuses"
                                (onChange)="filter($event.value)"
                                placeholder="Any"
                              >
                                <ng-template let-option pTemplate="item">
                                  <span
                                    [class]="
                                      'customer-badge status-' + option.value
                                    "
                                    >{{ option.label }}</span
                                  >
                                </ng-template>
                              </p-dropdown>
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th rowspan="2" class="wd-8 text-center">
                      <div class="p-d-flex justify-content-center p-ai-center">
                        Change %
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="activity"></p-sortIcon>
                          <p-columnFilter
                            field="activity"
                            matchMode="between"
                            display="menu"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                            class="p-ml-auto"
                          >
                            <ng-template
                              pTemplate="filter"
                              let-filter="filterCallback"
                            >
                              <p-slider
                                [ngModel]="activityValues"
                                [range]="true"
                                (onSlideEnd)="filter($event.values)"
                                styleClass="p-m-3"
                              ></p-slider>
                              <div
                                class="p-d-flex p-ai-center p-jc-between p-px-2"
                              >
                                <span>{{ activityValues[0] }}</span>
                                <span>{{ activityValues[1] }}</span>
                              </div>
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th rowspan="2" class="wd-8">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Closing Amount
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="activity"></p-sortIcon>
                          <p-columnFilter
                            field="activity"
                            matchMode="between"
                            display="menu"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                            class="p-ml-auto"
                          >
                            <ng-template
                              pTemplate="filter"
                              let-filter="filterCallback"
                            >
                              <p-slider
                                [ngModel]="activityValues"
                                [range]="true"
                                (onSlideEnd)="filter($event.values)"
                                styleClass="p-m-3"
                              ></p-slider>
                              <div
                                class="p-d-flex p-ai-center p-jc-between p-px-2"
                              >
                                <span>{{ activityValues[0] }}</span>
                                <span>{{ activityValues[1] }}</span>
                              </div>
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th rowspan="2">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        <span tooltip="Unit of Measure">UOM</span>
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="activity"></p-sortIcon>
                          <p-columnFilter
                            field="activity"
                            matchMode="between"
                            display="menu"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                            class="p-ml-auto"
                          >
                            <ng-template
                              pTemplate="filter"
                              let-filter="filterCallback"
                            >
                              <p-slider
                                [ngModel]="activityValues"
                                [range]="true"
                                (onSlideEnd)="filter($event.values)"
                                styleClass="p-m-3"
                              ></p-slider>
                              <div
                                class="p-d-flex p-ai-center p-jc-between p-px-2"
                              >
                                <span>{{ activityValues[0] }}</span>
                                <span>{{ activityValues[1] }}</span>
                              </div>
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th rowspan="2">
                      <!-- <div class="p-d-flex p-jc-between p-ai-center"> -->
                      Schedule
                      <!-- <div class="Sort_Filter_Position">
                                                    <p-sortIcon field="balance"></p-sortIcon>
                                                    <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="p-ml-auto"></p-columnFilter>
                                                </div>
                                            </div> -->
                    </th>
                    <th colspan="2" class="text-center wd-23">
                      <div class="p-d-flex p-ai-center justify-content-center">
                        Updated Master
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="activity"></p-sortIcon>
                          <p-columnFilter
                            field="activity"
                            matchMode="between"
                            display="menu"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                            class="p-ml-auto"
                          >
                            <ng-template
                              pTemplate="filter"
                              let-filter="filterCallback"
                            >
                              <p-slider
                                [ngModel]="activityValues"
                                [range]="true"
                                (onSlideEnd)="filter($event.values)"
                                styleClass="p-m-3"
                              ></p-slider>
                              <div
                                class="p-d-flex p-ai-center p-jc-between p-px-2"
                              >
                                <span>{{ activityValues[0] }}</span>
                                <span>{{ activityValues[1] }}</span>
                              </div>
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th rowspan="2">Remark</th>
                    <th rowspan="2"></th>
                    <!-- <th style="width: 8rem"></th> -->
                  </tr>
                  <tr>
                    <th class="text-center">From Date - To Date</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-summary let-rowIndex="rowIndex">
                  <tr  class="p-selectable-row" *ngIf="headsFlag[rowIndex]">
                   <td><span>{{summary.srNo}} </span></td>
                    <td class="bg-color-light_gray"><span tooltip="{{ summary.headType }}" >{{ summary.headType }} </span></td>
                    <td class="bg-color-light_gray">
                      <span class="text-link" (click)="ViewHistory(template)">{{summary.headDescription}}</span>
                    </td>
                    <td><input type="number"  [(ngModel)]="summary.openingAmount" class="form-control align-right" disabled /> </td>
                   <td>
                      <input type="number" (change)="onChangeValueCalculation(rowIndex)" [(ngModel)]="summary.changeValue"
                        class="form-control" [disabled]="((changeValueFlag) || (summary.isPEIRecord !='Yes'))"/>
                    </td>
                    <td>
                      <input type="number" (change)="onChangePercentageCalculation(rowIndex)" [(ngModel)]="summary.changePercenatge"
                        class="form-control" [disabled]="((changePercentageFlag) || (summary.isPEIRecord !='Yes'))" />
                    </td>
                    <td>
                      <input type="number" (change)="onChangeClosingAmountCalculation(rowIndex)" [(ngModel)]="summary.closingAmount"
                        class="form-control" [disabled]="((closingAmountFlag) || (summary.isPEIRecord !='Yes'))" />
                    </td>
                    <td class="bg-color-light_gray text-center"> <label class="form-lable mb-0">{{summary.uom}}</label>
                     </td>
                    <td class="text-center">
                      <i tooltip="Schedule" (click)="Schedule(template2)" *ngIf="summary.isPEIRecord ==='Yes'"
                        class="fa fa-clock-o font-18 text-blue cursor-pointer"
                          [(ngModel)]="summary.isSchedulable"></i>&nbsp;&nbsp;
                      <i tooltip="Schedule"  (click)="Schedule(template2)" class="fa fa-eye font-18 text-blue cursor-pointer"></i>
                    </td>
                    <td colspan="2">
                      <div class="d-flex">
                        <span class="ml-2 mr-2 mt-2" ><i class="fa fa-clone text-blue font-16"></i ></span>
                          <!-- <input data-provide="datepicker"  data-date-autoclose="true"
                          class="form-control mr-2" [(ngModel)]="summary.fromdate" bsDatepicker />
                      
                        <input data-provide="datepicker" data-date-autoclose="true"
                          class="form-control"  [(ngModel)]="summary.todate" bsDatepicker/> -->

                          <input type="text" class="form-control" [ngModel]="summary.fromdate | date: 'dd-MMM-yyyy'"
                                (ngModelChange)="summary.fromdate = $event.toLocaleDateString()"
                                [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker" bsDatepicker/>
                          <input type="text" class="form-control" [ngModel]="summary.todate | date: 'dd-MMM-yyyy'"
                                (ngModelChange)="summary.todate = $event.toLocaleDateString()"
                                [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker" bsDatepicker/>
                      </div>
                      </td>
                    <td>
                      <input type="text" [(ngModel)]="summary.remark" class="form-control"
                       />
                    </td>
                    <td>
                      <span class="ml-1 mt-2"><i class="fa fa-deviantart font-16 text-blue cursor-pointer" aria-hidden="true"></i></span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td
                      colspan="15"
                      class="font-14 font500 text-center text-red"
                    >
                      <!-- <span>No Data Available</span> -->
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          

          <div class="row mt-15">
            <div class="col-12">
              <div class="float-right mb-15">
                <button
                  type="submit"
                  tooltip="Save & Next Employee"
                  class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"
                >
                  <b> <i class="fa fa-floppy-o"></i></b> Save & Next Employee
                </button>
                <!-- <button type="button" tooltip="Previous" class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                    class="fa fa-chevron-circle-left" aria-hidden="true"></i></b>Save & Next Employee</button> -->
                <button
                  type="button"
                  tooltip="Save"
                  class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ml-10"
                  (click)="submit()"
                >
                  <b><i class="fa fa-floppy-o" aria-hidden="true"></i></b>Save
                </button>
                <button
                  type="button"
                  tooltip="Next"
                  class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"
 >
                  <b
                    ><i
                      class="fa fa-angle-double-left"
                      aria-hidden="true"
                    ></i></b
                  >Previous
                </button>
                <button
                  type="button"
                  tooltip="Next"
                  class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"
                >
                  <b
                    ><i
                      class="fa fa-angle-double-right"
                      aria-hidden="true"
                    ></i></b
                  >Next
                </button>
                <button
                  type="button"
                  tooltip="Next"
                  class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"
                >
                  <b><i class="fa fa-refresh" aria-hidden="true"></i></b>Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </form> -->

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title" id="UploadModalLabel">History</h5>
    <button
      type="button"
      (click)="modalRef.hide()"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body p-0 m-0">
        <div class="row">
          <div class="col-md-4">
            <label class="form-label">Head Name</label>
            <input type="text" class="form-control" disabled />
          </div>
        </div>
        <div class="row clearfix mt-10">
          <div class="col-md-12">
            <div class="table-responsive Custom_Table">
              <table
                class="table table-striped table-hover table-bordered m-b-0"
              >
                <thead class="thead-dark">
                  <tr>
                    <th class="wd-15 font700">From Date</th>
                    <th class="wd-15 font700">To Date</th>
                    <th class="wd-15 font700">Opening Value</th>
                    <th class="wd-15 font700">Change Value</th>
                    <th class="wd-10 font700">Change %</th>
                    <th class="wd-15 font700">Closing Value</th>
                    <th class="wd-15 font700">Unit of Measure</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>12-Apr-2018</td>
                    <td>12-Apr-2019</td>
                    <td>0.0</td>
                    <td>0.0</td>
                    <td>0.0</td>
                    <td>0.0</td>
                    <td>0.0</td>
                  </tr>
                  <tr>
                    <td>14-Mar-2018</td>
                    <td>14-Mar-2019</td>
                    <td>0.0</td>
                    <td>0.0</td>
                    <td>0.0</td>
                    <td>0.0</td>
                    <td>0.0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
      <i class="fa fa-times"></i> &nbsp;Close
    </button>
  </div>
</ng-template>
<ng-template #template2>
  <div class="modal-header">
    <h5 class="modal-title" id="UploadModalLabel">
      Schedule for
      <span class="text-purple font-16 font600"> 3799 - Sneha Suryawanshi</span>
    </h5>
    <button
      type="button"
      (click)="modalRef.hide()"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body p-0 m-0">
        <div class="row">
          <div class="col-md-12">
            <div class="border-card radius-10 p-2">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label mt-1 mb-0">Head Type</label>
                  <label class="font-12 text-ellipsis mt-1 mb-0">
                    Earning</label
                  >
                </div>
                <div class="col-md-3">
                  <label class="form-label mt-1 mb-0">Head Code</label>
                  <label class="font-12 text-ellipsis mt-1 mb-0"> AAA </label>
                </div>
                <div class="col-md-3">
                  <label class="form-label mt-1 mb-0">Description</label>
                  <label class="font-12 text-ellipsis mt-1 mb-0">
                    AAA Desc
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="form-label mt-1 mb-0">Closing Value</label>
                  <label class="font-12 text-ellipsis mt-1 mb-0"> 0.00 </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix mt-15">
          <div class="col-md-3">
            <label class="form-label mt-1 mb-2">Once Every</label>
            <input type="text" class="form-control" placeholder="Once Every" />
          </div>
          <div class="col-md-3">
            <label class="form-label mt-1 mb-2">Frequency</label>
            <select name="Frequency" class="form-control custom-select">
              <option value="Wk">Wk</option>
              <option value="BW">BW</option>
              <option value="SM">SM</option>
              <option value="MM">MM</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="form-label mt-1 mb-2">Change Type</label>
            <select name="Change_Type" class="form-control custom-select">
              <option value="Defined Date">Defined Date</option>
              <option value="Perpetual">Perpetual</option>
              <option value="No of Transactions">No of Transactions</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="form-label mt-1 mb-2">No of Transactions</label>
            <input
              type="text"
              class="form-control"
              placeholder="No of Transactions"
            />
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-md-3">
            <label class="form-label mt-1 mb-2">From Date</label>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input
                  data-provide="datepicker"
                  data-date-autoclose="true"
                  class="form-control"
                  placeholder="Date"
                  bsDatepicker
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label class="form-label mt-1 mb-2">To Date</label>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i
                  ></span>
                </div>
                <input
                  data-provide="datepicker"
                  data-date-autoclose="true"
                  class="form-control"
                  placeholder="Date"
                  bsDatepicker
                  disabled
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      tooltip="Save"
      class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ml-10"
    >
      <b><i class="fa fa-floppy-o" aria-hidden="true"></i></b>Save
    </button>
    <button
      type="button"
      tooltip="Close"
      (click)="modalRef.hide()"
      class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"
    >
      <b><i class="fa fa-times" aria-hidden="true"></i></b>Close
    </button>
  </div>
</ng-template>
