.center {
    margin: auto;
    // width: 60%;
 
    padding: 10px;
  }
  .fot {
    padding: 0.5rem 1rem;
    border: 1px solid #dee2e6;
    background: #f1f1f1 !important;
    color: #495057;
    border-top: 0 none;
}
.fa-info-circle{
  color: #5584d8 !important;
  font-size: 22px !important;
}
.mt-3{
  margin-top: 3px !important;
}
.head{
  font-weight: 800;
  color: purple;
  font-size:16px;
}
.span1{
  font-size: 10px;
  font-weight: 700;
}
li{
  font-size:12px;
  font-weight:600;
  margin:13px;
}
.tab{
  padding: 0px 20px !important;
}
.text-center{
  text-align: center;
}
.span2{
  font-size: 12px;
    font-weight: 600;
}
.tabview-contents {
  max-width: 100%;
  padding: 1px 15px !important;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Montserrat, sans-serif!important;
}
.foot{
  background: #f8f4f4;;
}