.buttons button
{
margin-right: 5px;
margin-bottom: 10px;
}
.topcount label input
{
  width: 20%;
}
.topcount label
{
  width: 12%;
  margin-left: 10px;
  margin-left: 10px;

}
.topcount label span
{
  margin-left: 20px;
}

