<app-leftmenu></app-leftmenu>
<div class="page">
  <app-header></app-header>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <!-- <legend style="font-size: 17px !important;">Loan Approval</legend> -->
              <!-- <div class="justify-content-spacearound"> -->

              <div class="d-flex">

                <!-- </button> -->
                <!-- <button type="button" tooltip="Button"
                  class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ml-2 mr-2 "
                  aria-hidden="true" [routerLink]="['/loan/disbursement']"><b><i class="fa fa-money"></i></b>
                  Disbursement
                  Request
                </button>
                <button type="button" tooltip="Button"
                  class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-2 "
                  [routerLink]="['/loan/adhoc']"><b><i class="fa fa-credit-card"></i></b> Adhoc
                  Repayment
                </button>
                <button type="button" tooltip="Button"
                  class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ml-2 mr-2 "
                  [routerLink]="['/loan/rescheduleRequest']"><b><i class="fa fa-calendar-check-o"></i></b> Reschedule
                  Request
                </button>
                <button type="button" tooltip="Button"
                  class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-2 "
                  [routerLink]="['/loan/settlementRequest']"><b><i class="fa fa-handshake-o"></i></b> Settlement
                  Request
                </button> -->
                <!-- <button type="button" tooltip="Button"
                    class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-2 "
                    (click)="settlementRequest(template4)"><b><i class="fa fa-handshake-o"></i></b> Settlement
                    Request
                  </button> -->


              </div>
              <!-- </div> -->


              <div class="d-flex justify-content-spacearound mt-5">

                <div class="wd-150" style="height: 10px;">
                    <div class="card text-center btn-bg-green">
                        <div class="card-body text-light detailedcard">
                            <h3>30</h3>
                            <span>All</span>
                        </div>
                    </div>
                </div>
                <div class="wd-150">
                    <div class="card text-center btn-bg-green">
                        <div class="card-body text-light detailedcard">
                            <h3>30</h3>
                            <span> Pending</span>
                        </div>
                    </div>
                </div>
                <div class="wd-150">
                    <div class="card text-center btn-bg-green">
                        <div class="card-body text-light detailedcard">
                            <h3>30</h3>
                            <span>Approved</span>
                        </div>
                    </div>
                </div>
                <div class="wd-150">
                    <div class="card text-center btn-bg-green">
                        <div class="card-body text-light detailedcard">
                            <h3>30</h3>
                            <span>Send Back</span>
                        </div>
                    </div>
                </div>
              </div>



              <form [formName]="LoanForm" (ngSubmit)="loanFormSubmit()">
                <div class="row mt-25">
                  <p-table #dt1 [value]="customers" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    (sortFunction)="customSort($event)" [customSort]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50]"
                    [globalFilterFields]="['applNo','Date','empCode','empName','loanType','Amount','loanAmnt','noOInstallmnts','interest','Status']">

                    <ng-template pTemplate="caption">
                      <div class="row">
                        <div class="col-md-12">

                          
                          <!-- <i class="fa fa-file-pdf-o text-dark-red fa-2x mr-2" tooltip="Export to PDF"
                              (click)="download()"></i> -->

                          <!-- <span class="p-input-icon-left ">
                                <i class="pi pi-search p-input-icon-left" style="top: 9px !important;"></i>
                                <input pInputText type="text"
                                  (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                  placeholder="Search" /> 
                              </span> -->


                          <!-- <div class="row"> -->
                            <div class="float-left btn-Name" role="Name" aria-label="Basic example">
                              <!-- <button type="button" class="btn  disabled-btn-bg-green mr-2" (click)="selectAll()">All <span
                                  class="tag tag-orange ml-4">10</span></button>
                              <button type="button" class="btn btn-bg-green mr-2" (click)="pending()">Pending for
                                Approval<span class="tag tag-orange ml-4">5</span></button>
                              <button type="button" class="btn btn-bg-green mr-2" (click)="approved()">Approved<span
                                  class="tag tag-orange ml-4">10</span></button>
                              <button type="button" class="btn btn-bg-green mr-2" (click)="sendBack()">Send Back
                                <span class="tag tag-orange ml-4">5</span></button> -->
  
                                <button type="button" tooltip="Button"
                    class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ml-2 mr-2 "
                    aria-hidden="true" [routerLink]="['/loan/disbursement']"><b><i class="fa fa-money"></i></b>
                    Disbursement
                    Request
                  </button>
                  <button type="button" tooltip="Button"
                    class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-2 "
                    [routerLink]="['/loan/adhoc']"><b><i class="fa fa-credit-card"></i></b> Adhoc
                    Repayment
                  </button>
                  <button type="button" tooltip="Button"
                    class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ml-2 mr-2 "
                    [routerLink]="['/loan/rescheduleRequest']"><b><i class="fa fa-calendar-check-o"></i></b> Reschedule
                    Request
                  </button>
                  <button type="button" tooltip="Button"
                    class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-2 "
                    [routerLink]="['/loan/settlementRequest']"><b><i class="fa fa-handshake-o"></i></b> Settlement
                    Request
                  </button>
                  <button type="button" tooltip="Button"
                              class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ml-2 mr-2 "
                              aria-hidden="true"><b><i class="fa fa-check-square-o"></i></b>Approve
                            </button>
                            <button type="button" tooltip="Button"
                              class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-2 mr-2 "
                              aria-hidden="true"><b><i class="fa  fa-reply"></i></b>Send back
                            </button>
                            </div>


                            <div class="float-right btn-Name" role="Name" aria-label="Basic example">
                              <i class="fa fa-file-excel-o fa-2x mr-2 text-dark-green mt-1" (click)="exportAsXLSX()"
                                tooltip="Export to Excel"></i>
                            </div>

                        </div>

                      </div>

                      <!-- <div class="row mt-10">
                        <div class="col-md-12">

                          <i class="fa fa-check-square-o
                              fa-2x mr-2 font-24 text-purple
                              " aria-hidden="true"></i>

                          <i class="fa  fa-reply font-24 text-purple
                                fa-2x mr-2"></i>



                        </div>
                      </div> -->

                    </ng-template>

                    <ng-template pTemplate="header">
                      <tr>
                        <th rowspan="2" style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <!-- <th rowspan="2">Sr.No.</th> -->

                        <th rowspan="2">
                          <div class="p-d-flex p-jc-between p-ai-center">Application No.
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="applNo" pSortableColumn="applNo"></p-sortIcon>
                              <p-columnFilter field="applNo" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2">
                          <div class="p-d-flex p-jc-between p-ai-center">Date
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="Date" pSortableColumn="Date"></p-sortIcon>
                              <p-columnFilter type="text" field="Date" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2">
                          <div class="p-d-flex p-jc-between p-ai-center">Emp. Code
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="empCode" pSortableColumn="empCode"></p-sortIcon>
                              <p-columnFilter type="text" field="empCode" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2">
                          <div class="p-d-flex p-jc-between p-ai-center">Emp. Name
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="empName" pSortableColumn="empName"></p-sortIcon>
                              <p-columnFilter type="text" field="empName" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2">
                          <div class="p-d-flex p-ai-center justify-content-center">Payroll Area
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="proofsubmission" pSortableColumn="proofsubmission"></p-sortIcon>
                              <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2">
                          <div class="p-d-flex p-jc-between p-ai-center">Loan Type
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="loanType" pSortableColumn="loanType"></p-sortIcon>
                              <p-columnFilter type="text" field="loanType" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2">
                          <div class="p-d-flex p-jc-between p-ai-center">Amount
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="Amount" pSortableColumn="Amount"></p-sortIcon>
                              <p-columnFilter type="text" field="Amount" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>

                        <th rowspan="2">
                          <div class="p-d-flex p-ai-center justify-content-center">Deviation
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="proofsubmission" pSortableColumn="proofsubmission"></p-sortIcon>
                              <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>

                        

                        <th rowspan="2">
                          <div class="p-d-flex p-jc-between p-ai-center">Remark
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="remark" pSortableColumn="remark"></p-sortIcon>
                              <p-columnFilter type="text" field="remark" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>

                        <th colspan="2">
                          <div class="p-d-flex justify-content-center p-ai-center">Status
                            <div class="Sort_Filter_Position">
                              <p-sortIcon field="Status" pSortableColumn="Status"></p-sortIcon>
                              <p-columnFilter type="text" field="Status" display="menu" class="p-ml-auto">
                              </p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th rowspan="2">Action</th>
                      </tr>

                      <tr>
                        <!-- <th class="text-center">Loan Amount</th>
                        <th class="text-center">No. of Installments</th>
                        <th class="text-center">Rate of Interest</th> -->
                        <th class="text-center">Application</th>
                        <th class="text-center">Pending With</th>
                      </tr>

                    </ng-template>

                    <ng-template pTemplate="body" let-customer>
                      <tr class="p-selectable-row">
                        <td>
                          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                        </td>
                        <!-- <td>1</td> -->
                        <td>{{ customer.applNo}}</td>
                        <td>{{customer.Date}}</td>
                        <td>{{ customer.empCode}}</td>
                        <td>{{ customer.empName}}</td>
                        <td></td>
                        <td>{{ customer.loanType}}</td>
                        <td class="text-right">{{ customer.Amount}}</td>
                        <td><a class="text-link text-center" tooltip=" Display Popup"
                            (click)="largepopup (template)">{{customer.loanAmnt}}</a></td>
                        <!--<td>{{customer.noOInstallmnts}}</td>
                        <td>{{customer.interest}}</td> -->
                       
                        <td><input type="text" class="form-control" formControlName="repaymentType"  /></td>
                        <td style="color:darkcyan">{{customer.Status}}</td>

                        <td>Pending with Approver 2</td>

                        <td class="primeng-table-header-left"><span><i
                          class="fa fa-pencil font-16 text-blue cursor-pointer mr-10" tooltip="Edit"
                          (click)="editEmployeeRow(employee)"></i>

                      <i class="fa fa-eye font-16 text-blue cursor-pointer mr-10" tooltip="View"
                          (click)="viewEmployeeRow(employee)"></i>

                      <!-- <i class="fa fa-trash-o font-16 text-red cursor-pointer" tooltip="Delete"
                          (click)="deleteEmployeeRow(employee, confirmation)"></i> -->
                        </span>
              </td>

                        <!-- <td> <span class="ml-1 mt-2">
                            <i class="fa fa-eye" tooltip="View" aria-hidden="true" style="color:darkcyan"
                              (click)="viewQuery(query)"></i>&nbsp;
                            <i class="fa fa-edit" tooltip="Edit" aria-hidden="true"
                              [routerLink]="['/loan/add-new-loan']"></i>&nbsp;</span></td> -->
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text">
                      </p-button>
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text">
                      </p-button>
                    </ng-template>
                  </p-table>
                </div>

                <!-- <div class="table-responsive Custom_Table">
                    <table class="table table-striped table-hover table-bordered m-b-0">
                      <thead class="thead-dark">
                        <tr>
                          <th rowspan="2" class="wd-4">
                            <label class="custom-control custom-checkbox checkbox-center" tooltip="Select All">
                              <input type="checkbox" class="custom-control-input" [ngModel]="isCheckAll"
                                [disabled]="isDisabled" name="select" (change)="checkUncheckAll()" />
                              <span class="custom-control-label">Select All</span>
                            </label>
                          </th>
                          
                          <th rowspan="2" class="wd-11 font700">Application No.</th>
                          <th rowspan="2" class="wd-11 font700">Date</th>
                          <th rowspan="2" class="wd-9 font700">Employee Code</th>
                          <th rowspan="2" class="wd-9 font700">Name</th>
                          <th rowspan="2" class="wd-11 font700">Loan Type</th>
                          <th rowspan="2" class="wd-7 font700">Amount</th>
                          <th colspan="3" class="wd-10">Deviation</th>
                          <th rowspan="2" class="wd-7 font700">Remark</th>
                          <th colspan="2" class="wd-7 font700">Status</th>
                          <th rowspan="2" class="wd-7 font700">Action</th>
                        </tr>
                        <tr>
                          <th>Loan Amount</th>
                          <th>No.of Installments</th>
                          <th>Rate of Interest</th>
                          <th>Application</th>
                          <th>Overall</th>
                        </tr>
                      </thead>
            
                    </table>

                  </div> -->


                <ng-template #template>
                  <div class="modal-header">
                    <h5 class="modal-title font-14 text-purple font-bold" id="UploadModalLabel">Deviations</h5>

                    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <div class="card-body">
                        <div class="row clearfix">
                          <div class="col-md-12">
                            <div>

                              <div class="table-responsive Custom_Table">
                                <table class="table table-striped table-bordered table-hover m-b-0 bg-color-light_gray">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th scope="col">Deviation Types</th>
                                      <th scope="col">User Input</th>
                                      <th scope="col">Limit</th>
                                      <th scope="col">Deviation Value</th>
                                      <th scope="col">Reason</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        Loan Amount </td>
                                      <td>222222</td>
                                      <td>500000</td>
                                      <td>100000</td>
                                      <!-- <td >{{data.userLimit - data.deviationValue | number:'1.2-2'}}</td> -->
                                      <td>ABC</td>
                                      <!-- [ngClass]="{'is-invalid' : AddLoanForm.get('reason').status == 'INVALID'}" formControlName="reason" -->
                                    </tr>

                                    <tr>
                                      <td>
                                        No.Of Installments</td>
                                      <td>111111</td>
                                      <td>500000</td>
                                      <td>200000</td>
                                      <!-- <td >{{data.userLimit - data.deviationValue | number:'1.2-2'}}</td> -->
                                      <td>BBB</td>
                                      <!-- [ngClass]="{'is-invalid' : AddLoanForm.get('reason').status == 'INVALID'}" formControlName="reason" -->
                                    </tr>

                                    <tr>
                                      <td>
                                        Interest Rate</td>
                                      <td>333333</td>
                                      <td>500000</td>
                                      <td>300000</td>
                                      <!-- <td >{{data.userLimit - data.deviationValue | number:'1.2-2'}}</td> -->
                                      <td>CCC</td>
                                      <!-- [ngClass]="{'is-invalid' : AddLoanForm.get('reason').status == 'INVALID'}" formControlName="reason" -->
                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Ok</button>
                  </div>
                </ng-template>



                <ng-template #template1>
                  <div class="modal-header">
                    <h5 class="modal-title" id="UploadModalLabel">Disbursement Request Details</h5>
                    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="cards">
                      <div class="card-bodys">
                        <div class=" bg-color-light_gray pt-15 pl-15 pr-15">

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Emp. Code :
                                </strong>0001
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Emp. Name:
                                </strong>AAA
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Loan No.:
                                </strong>111
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Application Date :
                                </strong>11-Jan-2021
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Type:
                                </strong>Car Loan
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Description:
                                </strong>Car Loan 1
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Approved :
                                </strong>201212.00
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Disbursed:
                                </strong>201212.00
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Repayment Type:
                                </strong>
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Expected Payment Date :
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Amount:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Payee:
                                </strong>
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>IFSC Code :
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Bank Name:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Branch Address:
                                </strong>
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Account No. :
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Remark:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>:Balance
                                </strong>0
                              </h6>
                            </div>
                          </div>

                        </div>

                        <hr>
                        <div class="row mt-30">
                          <div class="col-12">
                            <div class="card">
                              <div class="mb-0 row">
                                <div class="col-md-6">
                                  <h3 class="font-14 text-purple font-bold">Approver Details</h3>

                                </div>
                                <div class="col-md-6">
                                  <h6 class="font-12 mb-3 font-normal">
                                    <strong>Overall Status:
                                    </strong>Submit:Pending with Approver 2
                                  </h6>
                                </div>

                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="table-responsive Custom_Table">
                                    <table class="table table-striped table-hover table-bordered m-b-0">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col" class="font700 ">Level</th>
                                          <th scope="col" class="font700 ">Approver code</th>
                                          <th scope="col" class="font700 ">Approver Name</th>
                                          <th scope="col" class="font700 ">Action Date</th>
                                          <th scope="col" class="font700">Action Time</th>
                                          <th scope="col" class="font700 ">Status</th>
                                          <th scope="col" class="font700 ">Remark</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <td>1</td>
                                        <td>222</td>
                                        <td>AAA</td>
                                        <td>8-Jun-2021</td>
                                        <td>10.00 AM</td>
                                        <td>Pending</td>
                                        <td>Pending with Approver 2</td>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Ok</button> -->
                    <ng-container class="float-right">
                      <div class="row float-right" style="margin: 10px">
                        <button type="button" tooltip="Button"
                          class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left mr-2">
                          <b><i class="fa fa-check-square-o
                          "></i></b> Approved </button>
                        <button type="button" tooltip="Button"
                          class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left mr-2">
                          <b><i class="fa fa-reply"></i></b> Send back </button>
                        <button type="button" tooltip="Cancel"
                          class="mr-2 custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left mr-10">
                          <b><i class="fa fa-times"></i></b> Reject</button>

                        <button type="button" tooltip="Reset"
                          class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
                          <b><i class="fa fa-times" aria-hidden="true"></i></b>Close Window</button>
                      </div>
                    </ng-container>
                  </div>
                </ng-template>

                <ng-template #template2>
                  <div class="modal-header">
                    <h5 class="modal-title" id="UploadModalLabel">Adhoc Payment Details</h5>
                    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="cards">
                      <div class="card-bodys">
                        <div class=" bg-color-light_gray pt-15 pl-15 pr-15">

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Employee Code :
                                </strong>0001
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Employee Name:
                                </strong>AAA
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Loan No.:
                                </strong>111
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Application Date :
                                </strong>11-Jan-2021
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Type:
                                </strong>Car Loan
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Description:
                                </strong>Car Loan 1
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Repayment Type:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Amount :
                                </strong>201212.00
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Mode of Payment:
                                </strong>
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Cheque/UTR No. :
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Date of Payment:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>IFSC Code :
                                </strong>
                              </h6>
                            </div>
                          </div>

                          <div class="row">

                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Bank Name:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Branch Address:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Remark:
                                </strong>
                              </h6>
                            </div>
                          </div>

                          <div class="row">

                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Balance :
                                </strong>0
                              </h6>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Ok</button> -->
                    <ng-container class="float-right">
                      <div class="row float-right" style="margin: 10px">
                        <button type="submit"
                          class="custom_button btn-bg-green btn-bg-green custom_btn btn-labeled btn-labeled-left"
                          tooltip="Save" (click)="modalRef.hide()">
                          <b> <i class="fa fa-floppy-o" aria-hidden="true"></i></b>Save</button>&nbsp;
                        <button type="button" tooltip="Reset"
                          class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
                          <b><i class="fa fa-refresh" aria-hidden="true"></i></b>Reset</button>&nbsp;
                      </div>
                    </ng-container>
                  </div>
                </ng-template>

                <ng-template #template3>
                  <div class="modal-header">
                    <h5 class="modal-title" id="UploadModalLabel">Reschedule Request Details</h5>
                    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="cards">
                      <div class="card-bodys">
                        <div class=" bg-color-light_gray pt-15 pl-15 pr-15">

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Employee Code :
                                </strong>0001
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Employee Name:
                                </strong>AAA
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Loan No.:
                                </strong>111
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Application Date :
                                </strong>11-Jan-2021
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Type:
                                </strong>Car Loan
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Description:
                                </strong>Car Loan 1
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Repayment Type:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Rescheduling Type :
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Installments to Reschedule:
                                </strong>
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Reason:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Balance:
                                </strong>
                              </h6>
                            </div>

                          </div>
                        </div>

                        <div class="row mt-30">
                          <div class="col-12">
                            <fieldset>
                              <legend>Installments to Reschedule</legend>

                              <!-- <div class="card"> -->
                              <!-- <div class="mb-0 row">
                                <div class="col-md-6">
                                  <h3 class="font-14 text-purple font-bold">Installments to Reschedule</h3>

                                </div>

                              </div> -->
                              <div class="row">
                                <div class="col-md-9">
                                  <div class="table-responsive Custom_Table">
                                    <table class="table table-striped table-hover table-bordered m-b-0">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col" class="font700">Date</th>
                                          <th scope="col" class="font700">Scheduled Principal</th>
                                          <th scope="col" class="font700">Proposed Principal</th>
                                          <th scope="col" class="font700">Scheduled EMI</th>
                                          <th scope="col" class="font700">Proposed EMI</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>12-Apr-2021</td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>

                                        </tr>
                                        <tr>
                                          <td>12-Apr-2021</td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                              <!-- </div> -->
                            </fieldset>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Ok</button> -->
                    <ng-container class="float-right">
                      <div class="row float-right" style="margin: 10px">
                        <button type="submit"
                          class="custom_button btn-bg-green btn-bg-green custom_btn btn-labeled btn-labeled-left"
                          tooltip="Save" (click)="modalRef.hide()">
                          <b> <i class="fa fa-floppy-o" aria-hidden="true"></i></b>Save</button>&nbsp;
                        <button type="button" tooltip="Reset"
                          class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
                          <b><i class="fa fa-refresh" aria-hidden="true"></i></b>Reset</button>&nbsp;
                      </div>
                    </ng-container>
                  </div>
                </ng-template>

                <ng-template #template4>
                  <div class="modal-header">
                    <h5 class="modal-title" id="UploadModalLabel">Settlement Request Details</h5>
                    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="cards">
                      <div class="card-bodys">
                        <div class=" bg-color-light_gray pt-15 pl-15 pr-15">

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Employee Code :
                                </strong>0001
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Employee Name:
                                </strong>AAA
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Loan No.:
                                </strong>111
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Application Date :
                                </strong>11-Jan-2021
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Type:
                                </strong>Car Loan
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Description:
                                </strong>Car Loan 1
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Repayment Type:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Principal :
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Interest:
                                </strong>
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Total:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Settlement Date:
                                </strong>
                              </h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="font-12 mb-3 font-normal">
                                <strong>Remark :
                                </strong>
                              </h6>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Ok</button> -->
                    <ng-container class="float-right">
                      <div class="row float-right" style="margin: 10px">
                        <button type="submit"
                          class="custom_button btn-bg-green btn-bg-green custom_btn btn-labeled btn-labeled-left"
                          tooltip="Save" (click)="modalRef.hide()">
                          <b> <i class="fa fa-floppy-o" aria-hidden="true"></i></b>Save</button>&nbsp;
                        <button type="button" tooltip="Reset"
                          class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
                          <b><i class="fa fa-refresh" aria-hidden="true"></i></b>Reset</button>&nbsp;
                      </div>
                    </ng-container>
                  </div>
                </ng-template>




              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>