<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <fieldset>
                                <fieldset>
                                    <legend>Interest Charge</legend>
                                    <div class="tabview-contents">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">Rate (%) Per Annum</label>
                                                <input type="text" class="form-control align-right">
                                            </div>
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">Method of Computation</label>
                                                <input type="text" class="form-control align-right">
                                            </div>
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">Date of Transactions</label>
                                                <input type="text" class="form-control align-right">
                                            </div>
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">Cycle of Disbursement</label>
                                                <input type="text" class="form-control align-right">
                                            </div>
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">Cycle of last Installment</label>
                                                <select class="form-control align-right">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">Cycle of Adhoc Payments</label>
                                                <select class="form-control align-right">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">Before Principal Repayment Starts</label>
                                                <select class="form-control align-right">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Principal Repayment</legend>
                                    <div class="tabview-contents">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">No of Installments</label>
                                                <select class="form-control align-right">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">Method</label>
                                                <select class="form-control align-right">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">No.of installments for Interest Recovery</label>
                                                <select class="form-control align-right">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 col-md-3 mt-10">
                                                <label class="form-label">Recovery Starts</label> 
                                                <div class="row">
                                                    <div class ="col-sm-6">
                                                        <input class="form-control align-right">
                                                        Month
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select class="form-control align-right">
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>
                                                </div>                       
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>