<app-loan-master></app-loan-master>
<!-- <div class="section-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12"> -->
                <div class="card" style="width: 1274px !important; margin-left: 72px !important;">
                    <div class="card-body">
                        <div class="tabs about-page">
                            <form [formGroup]="recoveryLoanForm">
                                <fieldset>
                                    <fieldset>
                                        <legend>Interest Charge</legend>
                                        <div class="tabview-contents">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">Rate (%) Per Annum</label>
                                                    <select class="form-control" formControlName="intRate">
                                                        <option value="">Select</option>
                                                        <option>6</option>
                                                        <option>12</option>
                                                        <option>24</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">Method of Computation</label>
                                                    <select class="form-control" formControlName="methodOfComputation">
                                                        <option value="">Select</option>
                                                        <option>Day Basis</option>
                                                        <option>Month Basis</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">Date of Transactions</label>
                                                    <select class="form-control" formControlName="intDateOfTransactions">
                                                        <option value="">Select</option>
                                                        <option>Chargeable</option>
                                                        <option>Non-Chargeable</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">Cycle of Disbursement</label>
                                                    <select class="form-control" formControlName="intCycleOfDisbursement">
                                                        <option value="">Select</option>
                                                        <option>Full Period</option>
                                                        <option>Outstanding Days</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">Cycle of last Installment</label>
                                                    <select class="form-control" formControlName="cycleOfLastInstallment">
                                                        <option value="">Select</option>
                                                        <option>Full Period</option>
                                                        <option>Outstanding Days</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">Cycle of Adhoc Payments</label>
                                                    <select class="form-control" formControlName="intAdhocPayments">
                                                        <option value="">Select</option>
                                                        <option>From Same Cycle</option>
                                                        <option>Next Cycle</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">Before Principal Repayment Starts</label>
                                                    <select class="form-control" formControlName="intBeforePriRepaymentStarts">
                                                        <option value="">Select</option>
                                                        <option>Add in the Loan Amount</option>
                                                        <option>Recover in each of the Cycle</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Principal Repayment</legend>
                                        <div class="tabview-contents">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">No of Installments</label>
                                                    <select class="form-control" formControlName="recoveryNoOfInstallments">
                                                        <option value="">Select</option>
                                                        <option>12</option>
                                                        <option>24</option>
                                                        <option>36</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">Method</label>
                                                    <select class="form-control" formControlName="recoveryMethod">
                                                        <option value="">Select</option>
                                                        <option>EMI</option>
                                                        <option>Reducing Balance</option>
                                                        <option>Flat Interest</option>
                                                        <option>Perpetual</option>
                                                        <option>Principal First & then Interest</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3 mt-10"
                                                    *ngIf="recoveryLoanForm.controls.recoveryMethod.value == 'Principal First & then Interest'">
                                                    <label class="form-label">No.of installments for Interest
                                                        Recovery</label>
                                                    <select class="form-control"
                                                        formControlName="firstPriThanIntNoOfInstallmentForIntRecovery">
                                                        <option value="">Select</option>
                                                        <option>SDM1</option>
                                                        <option>SDM2</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3 mt-10">
                                                    <label class="form-label">Recovery Starts</label>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="input-container">
                                                                <input class="form-control" formControlName="recoveryToStartSalaryCycles">
                                                                &nbsp;&nbsp;&nbsp; <span style="margin-top:8px;font-size: 12px;">Cycle</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" formControlName="recoveryToStartDisbursements">
                                                                <option value="">Select</option>
                                                                <option>First Disbursement</option>
                                                                <option>Full Disbursement</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="row text-right" style="margin: 10px; float:right;">
                                        <button type="button" class="btn btn-success" (click)="previousTab()">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Previous</button>&nbsp;
                                        <button type="button" class="btn btn-success" (click)="submitRecoveryForm()">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Next</button>&nbsp;
                                        <button type="button" class="btn btn-dark" (click)="resetRecoveryForm()"
                                            [disabled]="loandata != '' || editloandata != '' ">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>&nbsp;
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
<!-- </div>
        </div>
    </div>
</div> -->
<app-footer></app-footer>