.box-line-border {
    /* border: 1px solid #ccc !important; */
    border-radius: 5px !important;
    background-color: #f1f1f1 !important;
    border:0px !important;
}

.bg-grad{
  background-image: linear-gradient(to right, #75d0c3 , #114b61);
}

.widgetbody{
    background-color: #38b449!important;
    padding-bottom: 0.5rem!important;
    //   padding-top: 0.5rem!important;
      border-bottom-right-radius: .25rem!important;
      border-top-right-radius: .25rem!important;text-align: center;
     color: #fff!important;
     font-size:12px;font-weight:700;
}
.widgethead{
    background-color: #309c3e;
 color: #fff!important;align-items: center!important;justify-content: center!important;display: flex!important;border-top-left-radius: .25rem!important;border-bottom-left-radius: .25rem!important;
}
.align{
    align-items: stretch!important;
    margin-bottom: 1.25rem;box-shadow: 0 1px 1px rgb(0 0 0 / 5%);align-items: stretch!important;flex-direction: row!important;border: 0!important;position: relative;
 display: flex;
min-width: 0; word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
 border-radius: .25rem;
 height: 6.5rem;

}
.cardborder{
    box-shadow: 3px 4px 7px 3px gainsboro;
    border-radius: 2px;
    border: none;
    padding:9px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
  }

  .xs{
    font-size: 15px;
  }

  .checked {
    color: orange;
  }

  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top:10px;
  }

  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }

  /* Place text to the right */
  .right {
    text-align: right;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }

  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}

  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
// <div class="col-md-2">
// <div class="card flex-row align-items-center align-items-stretch border-0"
//     style="">
//     <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left"
//         style="">
//         <em class="fa fa-user-times font-30"></em></div>
//     <div class="col-8 py-3 bg-primary rounded-right" style="">
//         <div class="h2 mt-0">10</div>
//         <div class="text-uppercase" style="text-transform: uppercase!important;font-size: 12px;
//         font-weight: 900;
// ">Pennding with my Company</div>
//     </div>
// </div>
// </div>

.p-selectable-row td {
   padding-top: 0px!important;
   padding-bottom: 0px!important;
}

  .search::placeholder  {
    font-family: FontAwesome;
  }

.height
{
  min-height: 127px!important;
}
.a {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  // border: 1px solid #000000;
}

.a:hover {
  overflow: visible;
  white-space: pre-wrap;
}
