<form [formGroup]="generalForm" (ngSubmit)="submitGeneralMaster()">
    <div class="tabview-myform mt-3">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="col-12">
                            <fieldset>
                                <legend>General Form</legend>
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">Reimbursement Head</label>
                                            <select class="form-control" formControlName="headMasterId"
                                                (change)="headerChangeEvent($event.target.value)"
                                                [ngClass]="{'is-invalid' : submitted && f.headMasterId.errors}"
                                                >
                                                <option value="">Select</option>
                                                <option *ngFor="let headList of headtypelist"
                                                    value="{{headList.headMasterId}}">{{headList.standardName}}</option>
                                            </select>
                                            <div *ngIf="submitted && f.headMasterId.errors" class="invalid-feedback">
                                                <div *ngIf="f.headMasterId.errors.required">
                                                    Reimbursement Head is required
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">Display Name</label>
                                            <input type="text" class="form-control" placeholder="Description"
                                                formControlName="displayName" [ngClass]="{'is-invalid' : submitted && f.displayName.errors}">
                                                <div *ngIf="submitted && f.displayName.errors" class="invalid-feedback">
                                                    <div *ngIf="f.displayName.errors.required">
                                                        Display Name is required
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                        <label class="form-label">Limit tracking in</label>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                                <div class="form-group">

                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control  custom-radio"
                                                            (click)="headSameOprationShowClick($event.target.value)">
                                                            <input type="radio" class="custom-control-input"
                                                                formControlName="trakingMethod" name="trakingMethod"
                                                                value="Same head" checked="checked">
                                                            <div class="custom-control-label">Same head</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                <div class="custom-controls-stacked">
                                                    <label class="custom-control  custom-radio"
                                                        (click)="headTableOprationShowClick($event.target.value)">
                                                        <input type="radio" class="custom-control-input"
                                                            name="trakingMethod" formControlName="trakingMethod"
                                                            value="Attributes of same head">
                                                        <div class="custom-control-label">Attributes of same head</div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                                <div class="custom-controls-stacked">
                                                    <label class="custom-control  custom-radio"
                                                        (click)="headOprationShowClick($event.target.value)">
                                                        <input type="radio" class="custom-control-input"
                                                            name="trakingMethod" formControlName="trakingMethod"
                                                            value="Another head">
                                                        <div class="custom-control-label">Another head</div>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12" *ngIf="headOprationShow">
                                        <div class="form-group">
                                            <label class="form-label">Head</label>
                                            <select class="form-control" formControlName="trackingOnAnotherHeadId">
                                                <option value="">Select</option>
                                                <option *ngFor="let headList of headtypelist"
                                                    value="{{headList.headMasterId}}">{{headList.standardName}}</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mt-3 mb-2"
                                        *ngIf="headTableOprationShow">
                                        <div class="table-responsive Custom_Table">
                                            <table class="table table-striped table-hover table-bordered m-b-0">
                                                <thead class="thead-dark">

                                                    <tr>
                                                        <th>Sr.no</th>
                                                        <th>Attributes</th>
                                                        <th>Amount Limit</th>
                                                        <th>Quantity Limit</th>
                                                        <th>Once Every</th>
                                                        <th>Frequency</th>
                                                        <th>Gap between 2 claims (in days)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let attributeList of headAllattributes; index as i">
                                                        <td>{{i+1}}</td>
                                                        <td>{{attributeList.typeValue}}</td>
                                                        <td> <input type="number" placeholder="Amount Limit" min="0"
                                                                class="form-control"
                                                                (change)="amountLimitChange(i, $event.target.value, attributeList.typeValue)">
                                                        </td>
                                                        <td> <input type="number" min="0" placeholder="Quantity Limit	"
                                                                class="form-control"
                                                                (change)="quantityLimitChange(i, $event.target.value, attributeList.typeValue)">
                                                        </td>
                                                        <td> <input type="number" min="0" placeholder="Once Every"
                                                                class="form-control"
                                                                (change)="onceEveryChange(i, $event.target.value, attributeList.typeValue)">
                                                        </td>

                                                        <td> <select class="form-control"
                                                                (change)="frequencyChange(i, $event.target.value, attributeList.typeValue)">
                                                                <option value="">Select</option>
                                                                <option *ngFor="let headFrequency of headAllSequency"
                                                                    value="{{headFrequency.frequencyName}}">
                                                                    {{headFrequency.frequencyName}}</option>

                                                            </select> </td>
                                                        <td> <input type="number" min="0"
                                                                placeholder="Gap Between 2 Claims (In Days)"
                                                                class="form-control"
                                                                (change)="claimDaysChange(i, $event.target.value, attributeList.typeValue)">
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-4">
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                        <div class="form-group">

                                            <label class="form-label">Claim Taxable</label>
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control  custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                formControlName="claimTaxable" name="claimTaxable"
                                                                value="true">
                                                            <div class="custom-control-label">Yes</div>
                                                        </label>
                                                    </div>

                                                </div>
                                                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control  custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                formControlName="claimTaxable" name="claimTaxable"
                                                                value="false" checked="checked">
                                                            <div class="custom-control-label">No</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">Bill Submission Limit</label>
                                            <select class="form-control" [(ngModel)]="selectedvalue"
                                                formControlName="billSubLimitMethod">
                                                <option>Select</option>
                                                <option value="Till Accural Limit">Till Accural Limit</option>
                                                <option value="Till Annual Limit">Till Annual Limit</option>
                                                <option value="No Limit">No Limit</option>
                                                <option value="SDM">SDM </option>

                                            </select>
                                        </div>
                                        <div class="form-group" *ngIf="selectedvalue == 'SDM'">
                                            <label class="form-label">SDM List</label>
                                            <select class="form-control" formControlName="billSubLimitSDMId">
                                                <option>Select</option>
                                                <option value="1">Abc</option>
                                                <option value="2">Lmn</option>
                                                <option value="3">sss</option>
                                                <option value="4">dff </option>

                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">Enable in Investment Declaration</label>
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control  custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                formControlName="enableInvestmentDeclaration"
                                                                name="enableInvestmentDeclaration" value="true" checked>
                                                            <div class="custom-control-label">Yes</div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control  custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                formControlName="enableInvestmentDeclaration"
                                                                name="enableInvestmentDeclaration" value="false"
                                                                checked="checked">
                                                            <div class="custom-control-label">No</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">Cycle Balance Tracking</label>
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control  custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                formControlName="cyclewiseBalanceTracking"
                                                                name="cyclewiseBalanceTracking" value="true" checked>
                                                            <div class="custom-control-label">Yes</div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control  custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                formControlName="cyclewiseBalanceTracking"
                                                                name="cyclewiseBalanceTracking" value="false"
                                                                checked="checked">
                                                            <div class="custom-control-label">No</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="registration-form mt-3">
                                    <fieldset>
                                        <legend>Registration</legend>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                                <div class="row">
                                                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                        <label class="form-label">Registration Template</label>

                                                        <select class="form-control" formControlName="regTemplateId"
                                                        [ngClass]="{'is-invalid' : submitted && f.regTemplateId.errors}">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let headTempList of headTemplateList1"
                                                                value="{{headTempList.regTemplateId}}">
                                                                {{headTempList.regTemplateName}}</option>

                                                        </select>
                                                        <div *ngIf="submitted && f.regTemplateId.errors" class="invalid-feedback">
                                                            <div *ngIf="f.regTemplateId.errors.required">
                                                                Registration template is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-12 text-center">
                                                        <br>
                                                        <a (click)="registerNavigate()" routerLink="" href=""
                                                            tooltip="View Template"><i class="fa fa-eye"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <br>
                                                        <a (click)="registerNavigate()" routerLink="" href=""
                                                            tooltip="Edit Template">Registration Form <i
                                                                class="fa fa-sign-in" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                                <div class="row">
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <label class="form-label">Max number of registration - limit
                                                            on</label>
                                                        <div class="row">
                                                            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12"
                                                                *ngIf="headRembType">
                                                                <div class="custom-controls-stacked">
                                                                    <label class="custom-control  custom-radio">
                                                                        <input type="radio" class="custom-control-input"
                                                                            (click)="headTableClick()" name="radio4"
                                                                            value="headyes">
                                                                        <div class="custom-control-label">Head</div>
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12"
                                                                *ngIf="headAttribute">
                                                                <div class="custom-controls-stacked">
                                                                    <label class="custom-control  custom-radio">
                                                                        <input type="radio" class="custom-control-input"
                                                                            (click)="headAttributeTableClick()"
                                                                            name="radio4" value="head2">
                                                                        <div class="custom-control-label">Attributes
                                                                        </div>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <!-- *ngIf="form.controls.controlname.value == 'headyes'" -->
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12"
                                                        *ngIf="headRembType">
                                                        <div class="" *ngIf="headRembType2">
                                                            <label class="form-label">No of registration</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="maxCountOfRegiOfHead"
                                                                placeholder="No of registration">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="table-responsive Custom_Table mt-3"
                                                    *ngIf="headAttributeTable == true">
                                                    <table class="table table-striped table-hover table-bordered m-b-0">
                                                        <thead class="thead-dark">

                                                            <tr>
                                                                <th>Sr.no</th>
                                                                <th>Attributes</th>
                                                                <th>No of registration</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let attributeList of this.headAllattributes; index as i">
                                                                <td>{{i + 1}}</td>
                                                                <td>{{attributeList.typeValue}}</td>
                                                                <td><input type="number" class="form-control" min="1"
                                                                        (change)="claimDaysChange2(i, $event.target.value, attributeList.typeValue)"
                                                                        placeholder="No of registration"></td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="approval-form">
                                    <fieldset>
                                        <legend>Approval Workflow</legend>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                <h6 class="mb-3 text-secondary">For Registration</h6>
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <label class="form-label">Approval Workflow</label>
                                                        <select class="form-control"
                                                            formControlName="regiApprWorkflowId">
                                                            <option>Select</option>
                                                            <option value="1">Abc</option>
                                                            <option value="2">Abc</option>
                                                            <option value="3">Abc</option>
                                                            <option value="4">Abc</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <label class="form-label">Approval SDM</label>
                                                        <select class="form-control" formControlName="regiApprSDMId">
                                                            <option>Select</option>
                                                            <option value="1">Abc</option>
                                                            <option value="2">Abc</option>
                                                            <option value="3">Abc</option>
                                                            <option value="4">Abc</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                <h6 class="mb-3 text-secondary">For Claim</h6>
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <label class="form-label">Approval Workflow</label>
                                                        <select class="form-control"
                                                            formControlName="claimApprWorkflowId">
                                                            <option>Select</option>
                                                            <option value="1">Abc</option>
                                                            <option value="2">Abc</option>
                                                            <option value="3">Abc</option>
                                                            <option value="4">Abc</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <label class="form-label">Approval SDM</label>
                                                        <select class="form-control" formControlName="claimApprSDMId">
                                                            <option>Select</option>
                                                            <option value="1">Abc</option>
                                                            <option value="2">Abc</option>
                                                            <option value="3">Abc</option>
                                                            <option value="4">Abc</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="registration-form mt-3">
                                    <fieldset>
                                        <legend>Template Assignment</legend>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                                <div class="row">
                                                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                        <label class="form-label">List of summary heads</label>

                                                        <select class="form-control"
                                                            formControlName="reiListSummaryHeadTempId"
                                                            [ngClass]="{'is-invalid' : submitted && f.reiListSummaryHeadTempId.errors}">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let headTempList of headTemplateList3"
                                                                value="{{headTempList.reiListSummaryHeadTempId}}">
                                                                {{headTempList.listSummaryHeadTemplateName}}</option>

                                                        </select>
                                                        <div *ngIf="submitted && f.reiListSummaryHeadTempId.errors" class="invalid-feedback">
                                                            <div *ngIf="f.reiListSummaryHeadTempId.errors.required">
                                                                Summary Template is required
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-12 text-center">
                                                        <br>
                                                        <a (click)="summaryNavigate()" routerLink="" href=""
                                                            tooltip="View Template"><i class="fa fa-eye"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <br>
                                                        <a (click)="summaryNavigate()" routerLink="" href=""
                                                            tooltip="Edit Template">Summary Form <i
                                                                class="fa fa-sign-in" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                        <label class="form-label">Declaration Message</label>
                                                        <select class="form-control"
                                                            formControlName="declarationMessageId"
                                                            [ngClass]="{'is-invalid' : submitted && f.declarationMessageId.errors}">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let headTempList of headTemplateList4"
                                                                value="{{headTempList.declarationMessageId}}">
                                                                {{headTempList.declarationMessageName}}</option>

                                                        </select>
                                                        <div *ngIf="submitted && f.declarationMessageId.errors" class="invalid-feedback">
                                                            <div *ngIf="f.declarationMessageId.errors.required">
                                                                Declaration template is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-12 text-center">
                                                        <br>
                                                        <a (click)="declarationNavigate()" routerLink="" href=""
                                                            tooltip="View Template"><i class="fa fa-eye"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <br>
                                                        <a (click)="declarationNavigate()" routerLink="" href=""
                                                            tooltip="Edit Template">Declaration Form <i
                                                                class="fa fa-sign-in" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                                <div class="row">
                                                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                        <label class="form-label">Form Activation Template</label>
                                                        <select class="form-control" formControlName="formActiveTempid">
                                                            <option value="">Select</option>
                                                            <!-- <option *ngFor="let headTempList of headTemplateList"
                                                                value="{{headTempList.regTemplateId}}">{{headTempList.regTemplateName}}</option> -->
                                                            <option value="1">Select</option>
                                                            <option value="2">aaa</option>
                                                            <option value="3">sss</option>
                                                            <option value="4">ddd</option>
                                                            <option value="5">ccc</option>
                                                            <option value="6">vvv</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-12 text-center">
                                                        <br>
                                                        <a href="" tooltip="View Template"><i class="fa fa-eye"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <br>
                                                        <a href="" tooltip="Edit Template"> Activation Form <i
                                                                class="fa fa-sign-in" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                                <div class="row">
                                                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                                                        <label class="form-label">Claim Template</label>
                                                        <select class="form-control" formControlName="claimTempId"
                                                        [ngClass]="{'is-invalid' : submitted && f.claimTempId.errors}"
                                                        >
                                                            <option value="">Select</option>
                                                            <option *ngFor="let headTempList of headTemplateList2"
                                                                value="{{headTempList.claimTempId}}">
                                                                {{headTempList.claimTemplateName}}</option>

                                                        </select>
                                                   <div *ngIf="submitted && f.claimTempId.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.claimTempId.errors.required">
                                                            Claim Template name is required
                                                        </div>
                                                    </div>                     
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-12 text-center">
                                                        <br>
                                                        <a (click)="claimNavigate()" routerLink="" href=""
                                                            tooltip="View Template"><i class="fa fa-eye"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                                        <br>
                                                        <a (click)="claimNavigate()" routerLink="" href=""
                                                            tooltip="Edit Template">Claim Form <i class="fa fa-sign-in"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </fieldset>
                            <div class="row">

                                <div class="col-12">
                                    <div class="col-12 mt-20">
                                        <div class="float-right mb-15">

                                            <!-- <button type="submit"
                                                class="custom_button custom_btn bg-teal-400  btn-labeled btn-labeled-left"
                                                tooltip="Save" [disabled]="loading">
                                                <b><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></b>
                                                Previous</button> -->

                                            <button type="submit"
                                                class="custom_button custom_btn btn-bg-green  btn-labeled btn-labeled-left ml-10"
                                                tooltip="Save" [disabled]="loading">
                                                <b><i class="fa fa-floppy-o"></i></b> Next</button>


                                            <button type="button" tooltip="Reset" (click)="jumpToMasterPage()"
                                                class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                                                        class="fa  fa-refresh"></i></b> Reset</button>




                                        </div>
                                    </div>
                                </div> <!-- <end of div col-6 -->
                            </div>
                        </div>

                    </div>


                </div>
            </div>
           
        </div>
    </div>

</form>