<div class="row">
    <div class="col-sm-12">
        <fieldset>
            <legend>Loan Simulator</legend>
            <div class="container">
                <div class="spacer">
                    <div class="row left-content-wrap">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">

                                            Loan Type

                                        <br><br>
                                          <select
                                            class="form-control"
                                            placeholder="Select" (change)="getLoanType($event.target.value)">
                                            <option value="" selected >Select</option>
                                            <option  *ngFor="let loan of loanTypeData ">{{loan.loanCode}}</option>
                                          </select>
                                    </div>
                                </div>

                            </div>
                            <div class="well" *ngIf="loanType != ''">
                              <!-- <form #emiCalculatorForm="ngForm" (ngSubmit)="submitEmiCalculator()"></form> -->
                                <div class="form-group">
                                    <div class="col-md-12">


                                      <br>
                                        <span class="left-title">
                                            Loan Amount
                                        </span>
                                        <!-- <input type="number" style="width:44%;float:right;" class="form-control"
                                            (blur)="tbupdate(0)" [(ngModel)]="query.amount" placeholder="Loan Amount"
                                            name="pemi.highValue" /> -->
                                    </div>
                                    <br>
                                    <!-- [(highValue)]="maxValue" -->
                                    <ngx-slider [(value)]="pemi.value" [options]="poptions" (userChangeEnd)="update()"
                                    >
                                    </ngx-slider>
                                </div>

                                <hr />

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <span class="left-title">
                                            Interest Rate
                                        </span>
                                        <!-- <input type="number" style="width:44%;float:right;" class="form-control"
                                            (blur)="tbupdate(1)" [(ngModel)]="query.interest"
                                            placeholder="Interest Rate" name="remi.highValue" /> -->
                                    </div>
                                    <br>
                                    <ngx-slider [(value)]="remi.value" [options]="roptions" (userChangeEnd)="update()">
                                    </ngx-slider>
                                </div>

                                <hr />

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <span class="left-title">Loan Tenure</span>
                                        <br>
                                        <!-- <input type="number" *ngIf="yrToggel" class="form-control" (blur)="tbupdate(2)"
                                            placeholder="Loan Tenure in Yr" [(ngModel)]="query.tenureYr"
                                            style="width:30%;float:right;">
                                        <input type="number" *ngIf="!yrToggel" class="form-control" (blur)="tbupdate(3)"
                                            placeholder="Loan Tenure in Mo" [(ngModel)]="query.tenureMo"
                                            style="width:30%;float:right;"> -->
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" [ngClass]="{'active':yrToggel}"
                                                (click)="yrToggel=true;update()" type="button">Yr</button>
                                            <button class="btn btn-outline-secondary" [ngClass]="{'active':!yrToggel}"
                                                (click)="yrToggel=false;update()" type="button">Mo</button>
                                        </div>
                                    </div>
                                    <br>
                                    <ngx-slider *ngIf="yrToggel" [(value)]="temi.value" [options]="toptions"
                                        (userChangeEnd)="update()">
                                    </ngx-slider>
                                    <ngx-slider *ngIf="!yrToggel" [(value)]="memi.value" [options]="moptions"
                                        (userChangeEnd)="update()">
                                    </ngx-slider>
                                </div>


                            </div>

                        </div>
                        <div class="col-sm-6 " *ngIf="loanType != ''">
                            <div class="well">

                                <div class="row box-border">

                                    <div class="col-sm-12">
                                         <h5 style="margin-left: 150px;">Repayment Details</h5>
                                        <div style="display: block;">
                                            <div style="display: block;">
                                                <canvas baseChart
                                                  [data]="doughnutChartData"
                                                  [labels]="doughnutChartLabels"
                                                  [chartType]="doughnutChartType"
                                                  [colors]="doughnutChartColors"
                                                  [legend]="false">
                                                </canvas>
                                              </div>
                                        </div>
                                       <br>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="pie-content row" id="pieContent">
                                            <div class="col-sm-6">
                                                <p><span class="pie-icon pie-principal"></span>Principal :
                                                <span style="font-weight: 600;">{{query.amount}}</span> </p>
                                            </div>

                                            <div class="col-sm-6">
                                                <p><span class="pie-icon pie-interest"></span>Interest :
                                                    <!-- <h5 id="loan_interest"></h5> -->
                                                <span style="font-weight: 600;">{{result.interest || "--"}}</span></p>
                                            </div>

                                            <div class="col-sm-12">
                                                <p><span class="pie-icon"></span>Total Payment :
                                                    <!-- <h5 id="loan_interest"></h5> -->
                                                <span style="font-weight: 600;">{{result.total || "--"}}</span></p>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <!-- <div class="col-sm-12">
                                        <div class="pie-content row" id="pieContent">
                                            <div class="pie-total col-sm-8">
                                                <span>
                                                    <p>Total Payment</p>
                                                </span>

                                            </div>
                                            <div class="pie-total col-sm-4">
                                                <h5 id="loan_total_payment">{{result.total || "--"}}</h5>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <br>
                                <div class="row" *ngIf="loanRecoveyMethod != 'Perpetual'">
                                    <div class="col-sm-12">
                                        <div class="pie-content row" id="pieContent">
                                            <div class="pie-total col-sm-1"></div>
                                            <div class="pie-total col-sm-3">
                                                <p>Installment </p>
                                            </div>
                                            <div class="pie-total col-sm-8">
                                                <h5 id="loan_emi" style="margin-left: 72px;" *ngIf="loanRecoveyMethod == 'Reducing balance'">{{result.emi || "--"}} Per Month + Interest</h5>
                                                <h5 id="loan_emi" style="margin-left: 72px;" *ngIf="loanRecoveyMethod != 'Reducing balance'">{{result.emi || "--"}} Per Month</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>

                        <div class="float-right" style="margin-left:89%;">
                            <button class="btn btn-success" (click)="applyLoan()"  [disabled] ="loanType == ''">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;
                                Apply Loan
                            </button>
                        </div>

                    </div>
                    <br>
                </div>
            </div>
        </fieldset>
    </div>
</div>
