
    <div class="container-fluid" style="border: 1px solid #ccc; background-color: #fff;">
  
      <div class="row clearfix">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <form class="card" role="form" [formGroup]="supplementaryForm"
               >
     <fieldset>
<legend>Primary Cycle</legend>

               <div class="row">
                <div class="col-sm-6 col-md-3">
                  <label class="form-label">Cycle Definition</label>
                  <div class="input-group">
                      <select class="form-control" formControlName = "businessCycleDefinitionId"
                      (change) ="getCycleNameById($event.target.value)" >
                        <option selected value=''>Select </option>
                        <option *ngFor="let Cycle of cycleDefinitionList" [value]="Cycle.id">
                          {{Cycle.cycleName}}
                          </option>
                          <!-- <option>Select</option> -->
                          <!-- <option value=""> Weekly </option>
                          <option value="">By Weekly</option>
                          <option value="">Monthly</option>
                          <option value="">Semi Monthly</option>
                          <option value="">Adhoc</option> -->
                      </select>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label">Cycle Name</label>
                  <div class="input-group">
                      <select class="form-control" (change)="onChangeCycle($event.target.value)"
                      formControlName = "periodName" 
                   [disabled] = "businessCycleDefinitionId == ''"
                      [ngClass]="{'is-invalid' : supplementaryForm.get('periodName').status == 'INVALID'}">
                        <option selected value=''>Select </option>
                        <option *ngFor="let Cycle of cycleLockList" [value]="Cycle.periodId">
                          {{Cycle.periodName}}
                          </option>
                          <!-- <option>Select</option> -->
                          <!-- <option value=""> APR 2020 </option>
                          <option value="">MAY 2020</option>
                          <option value="">JUNE 2020</option>
                          <option value="">JUL 202</option>
                       -->
                      </select>
                  </div>
                </div>
               <div class="col-sm-6 col-md-3">
                                  <label class="form-label">Start Date</label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i
                                                  class="fa fa-calendar"></i></span>
                                      </div>
                                      <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                          data-provide="datepicker" data-date-autoclose="true"
                                          class="form-control" (bsValueChange)="setPolicyEndDate()"
                                          placeholder="" bsDatepicker formControlName = "startDate"
                                          [maxDate]="today" disabled>
                                  </div>
                              </div>

                <div class="col-sm-6 col-md-3" [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
                  <label class="form-label">End Date</label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i
                                  class="fa fa-calendar"></i></span>
                      </div>
                      <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                          data-provide="datepicker" data-date-autoclose="true"
                          class="form-control" (bsValueChange)="setPolicyEndDate()"
                          placeholder="" bsDatepicker formControlName = "endDate"
                          [maxDate]="today" disabled>
                  </div>
                </div>
               
                <br><br><br>
                <div class="col-sm-6 col-md-3" *ngIf="hidevalue">
                  <label class="form-label"></label>
                  <div class="input-group">
                    <input type="text"
                      ngClass="{'is-invalid' : AttributeCreationForm.get('optionList').status == 'INVALID'}"
                      [readonly]="!disabled" (change)="onChangeEvent($event.target.value)"
                      formControlName="optionList" class="form-control" placeholder="Description">
                  </div>
                </div>


                <div style="margin-top: 23px" *ngIf="hidevalue">
                  
                  <i class="fa fa-plus-circle font-20" tooltip="Add" (click)="addOptionList()"></i>
                 
                </div>
           
              </div>
              <br>
            </fieldset>
              <br>
              
              <fieldset>
                <legend> Supp. Cycle</legend>
             
            
               <div class="row">
                <div class="col-sm-6 col-md-3">
                  <label class="form-label">Supp. Cycle Name
                  </label>
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName = "cycleName" disabled>
                  </div>
                </div>
                <!-- <div class="col-sm-6 col-md-3">
                  <label class="form-label">From Date</label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i
                                  class="fa fa-calendar"></i></span>
                      </div>
                      <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                          data-provide="datepicker" data-date-autoclose="true"
                          class="form-control" (bsValueChange)="setPolicyEndDate()"
                          placeholder="" bsDatepicker formControlName = "fromDate"
                          [maxDate]="today" disabled>
                  </div>
              </div> -->
              <!-- <div class="col-sm-6 col-md-3">
                <label class="form-label">To Date</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fa fa-calendar"></i></span>
                    </div>
                    <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                        data-provide="datepicker" data-date-autoclose="true"
                        class="form-control" (bsValueChange)="setPolicyEndDate()"
                        placeholder="" bsDatepicker formControlName = "toDate"
                        [maxDate]="today" disabled>
                </div>
            </div> -->


                <div class="col-sm-6 col-md-3">
                    <label class="form-label">Remark</label>
                    <div class="input-group">
                        <textarea value="" formControlName = "remark"></textarea>
                    </div>
                  </div>
                </div>
                <br>
              </fieldset>
        
            <br>
         
            <!-- <div class="row">
                <div class="col-md-6">
    
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12  mt-10">
                        <div class="float-left d-flex justify-content">
                          
                        <label class="form-label mt-2">Remark</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <textarea value=""></textarea>
                        </div>
                        </div>
                  </div>
               </div> -->
               <br>
            
       
                <div class="row mt-15">
                  <div class="col-12">
                    <div class="float-right mb-15">
                      <button type="submit" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple" tooltip="Save" *ngIf="!editFormFlag && !viewFormFlag"
                      (click)="onSubmit()" [disabled] = "supplementaryForm.invalid"
                      [ngClass]="{'disabled-btn-bg-green' : supplementaryForm.invalid, 'btn-bg-green': !supplementaryForm.invalid }"><b>
                       <i class="fa fa-floppy-o"></i></b> Save</button>&nbsp;
                       
                      <!-- <span *ngIf="!hideUpdate"> -->
                       <button type="submit" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple" tooltip="Update" *ngIf="editFormFlag && !viewFormFlag"
                       (click)="onUpdate()"><b>
                        <i class="fa fa-floppy-o"></i></b> Update</button>&nbsp;
                      <!-- </span> -->
                      <!-- <button type="button" (click)="ResetAttributeCreation()" *ngIf="!viewCancelButton"
                        class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"
                        tooltip="Save"><b><i class="fa fa-refresh" aria-hidden="true"></i></b>
                        Save</button> -->
                      <!--     [disabled]="CycleDefinationForm.invalid" [ngClass]="{'disabled-btn-bg-green' : CycleDefinationForm.invalid,'btn-bg-green': !CycleDefinationForm.invalid}" -->

                      <button type="button" (click)="formReset()"
                        class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                        tooltip="Cancel" *ngIf="viewFormFlag || editFormFlag"><b><i class="fa fa-times" aria-hidden="true"></i></b>
                        Cancel</button>

                      <button type="button" (click)="formReset()" *ngIf="!viewFormFlag && !editFormFlag"
                        class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"
                        tooltip="Reset"><b><i class="fa fa-refresh" aria-hidden="true"></i></b>
                        Reset</button>
                    </div>
                  </div>
                </div>
              </form>

              <div class="row mt-30">
                <div class="col-10">
                  <div class="card">
                    <div class="mb-10 text-purple font-bold">
                      <!-- <h3 class="card-title  font-bold"></h3> -->
                      Summary
                    </div>
                    <div class="">
                        <p-table [value]="summarydata" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10,25,50,100,200]"
                        #dt [globalFilterFields]="['periodName','fromDate','toDate','businessCycleDefinition.cycleName','oldPeriodName'
                       ,'remark']">
                            <ng-template pTemplate="header">

                              <br>
              
              <div style="text-align: right;display: flex;">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>&nbsp;
                <input type="text" pInputText size="50" placeholder="Search"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    style="width: 203px;">
                    &nbsp;&nbsp;&nbsp;
                    <a tooltip="Download" style="cursor: pointer"
                    (click)="exportAsXLSX()"><i
                        class="fa fa-file-excel-o font-18 text-dark-green pt-10  mr-10"
                        aria-hidden="true"></i></a>
              </div>

              <br>
              <br>
                                <tr>
                                    <th rowspan="2" >
                                        Sr. No.
                                    </th>
                                    <th rowspan="2" >
                                      <div class="p-d-flex p-jc-between p-ai-center">
                                        Supp. Cycle Name

                                          <div class="Sort_Filter_Position">
                                              <p-sortIcon field="periodName"></p-sortIcon>
                                              <p-columnFilter type="text" field="periodName" display="menu"
                                                  class="p-ml-auto"></p-columnFilter>
                                          </div>
                                      </div>
                                  </th>

                                  <th rowspan="2" >
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                      From Date

                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="periodName"></p-sortIcon>
                                            <p-columnFilter type="text" field="periodName" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th rowspan="2" >
                                  <div class="p-d-flex p-jc-between p-ai-center">
                                    To Date

                                      <div class="Sort_Filter_Position">
                                          <p-sortIcon field="periodName"></p-sortIcon>
                                          <p-columnFilter type="text" field="periodName" display="menu"
                                              class="p-ml-auto"></p-columnFilter>
                                      </div>
                                  </div>
                              </th>
                                  
                                 
                                  <th colspan="2">
                                      <div class="p-d-flex p-jc-between p-ai-center ml-50">
                                     Primary Cycle
                                          <div class="Sort_Filter_Position">
                                              <p-sortIcon field="businessCycleDefinition.cycleName"></p-sortIcon>
                                              <p-columnFilter type="text" field="businessCycleDefinition.cycleName" display="menu"
                                                  class="p-ml-auto"></p-columnFilter>
                                          </div>
                                      </div>
                                  </th>
                               
                                  
                                             
                                  <th rowspan="2" >
                                      <div class="p-d-flex p-jc-between p-ai-center">
                                          Remark
                                          <div class="Sort_Filter_Position">
                                              <p-sortIcon field="remark"></p-sortIcon>
                                              <p-columnFilter type="text" field="remark" display="menu"
                                                  class="p-ml-auto"></p-columnFilter>
                                          </div>
                                      </div>
                                  </th>
                                  <th rowspan="2" >
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                    Lock Status
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="locked"></p-sortIcon>
                                            <p-columnFilter type="text" field="locked" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                  <th rowspan="2" >
                                      <div class="p-d-flex p-jc-between p-ai-center">
                                          Action
                                          <div class="Sort_Filter_Position">
                                              <p-sortIcon field="date"></p-sortIcon>
                                              <p-columnFilter type="date" field="date" display="menu"
                                                  class="p-ml-auto"></p-columnFilter>
                                          </div>
                                      </div>
                                  </th>
                                  
                                 
                                </tr>
                                <tr>
                                  <th rowspan="2" class="wd-10">
                                     Definition
                                  </th>
                                  <th rowspan="2" class="wd-10">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                      Name
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="oldPeriodName"></p-sortIcon>
                                            <p-columnFilter type="text" field="oldPeriodName" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                </tr>
                            </ng-template>
  
  
  
                            <ng-template pTemplate="body" let-user1 let-rowIndex="rowIndex">
                                <tr class="p-selectable-row">
                                    <td class="bg-color-light_gray">{{rowIndex+1}}</td>
                                    <td class="bg-color-light_gray"><label
                                            class="form-lable mb-0">{{user1.periodName}}</label>
  
                                    </td>
                                    <td class="bg-color-light_gray"><label
                                      class="form-lable mb-0">{{user1.fromDate  | date: 'dd-MMM-yyyy' }}</label>

                              </td>
                              <td class="bg-color-light_gray"><label
                                class="form-lable mb-0">{{user1.toDate  | date: 'dd-MMM-yyyy'}}</label>

                        </td>
  
                                    <td class="bg-color-light_gray"><label
                                            class="form-lable mb-0">{{user1.businessCycleDefinition.cycleName}}</label></td>
                                    <td class="bg-color-light_gray"><label
                                            class="form-lable mb-0">{{user1.oldPeriodName}}</label></td>
                                    <td class="bg-color-light_gray"><label
                                            class="form-lable mb-0">{{user1.remark}}</label></td>
                                             
                                    <td class="bg-color-light_gray text-center">
                                      <!-- <label class="form-lable mb-0">{{user1.locked?'Yes':'No'}}</label> -->
                                      <i class="fa fa-lock font-18" 
                                            *ngIf="user1.locked"
                                            aria-hidden="true"></i><i class="fa fa-unlock font-18" 
                                            *ngIf="!user1.locked"
                                            aria-hidden="true"></i>
                                    </td> 
                                          <td class="bg-color-light_gray text-center">
                                              <i class="fa fa-edit  font-18 text-dark-green cursor-pointer" 
                                              *ngIf="!user1.locked" (click)="editData(user1)"aria-hidden="true"></i>&nbsp;
                                              <i class="fa fa-eye font-18 text-blue cursor-pointer" 
                                              (click)="viewData(user1)" aria-hidden="true"></i>&nbsp;
                                              <i class="fa fa-trash font-18 text-red cursor-pointer" 
                                              *ngIf="!user1.locked" (click)="deleteData(user1.id)" aria-hidden="true"></i>&nbsp;
                                          </td>
                                </tr>
  
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                            Available</span></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>


      </div>
      
    </div>
 

