<app-leftmenu></app-leftmenu>
<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- -->
                            <form [formGroup]="emailSmsForm">
                                <fieldset>
                                    <legend>Email & SMS Template</legend>

                                    <div class="tabview-contents">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <label class="form-label">Template Code</label>
                                                <input type="text" class="form-control" placeholder="Code"
                                                    formControlName="templateCode" [ngClass]="{'is-invalid' : emailSmsForm.get('templateCode').status == 'INVALID'}"/>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <label class="form-label">Template Description</label>
                                                <input type="text" class="form-control" placeholder="Description"
                                                    formControlName="templateDescription" [ngClass]="{'is-invalid' : emailSmsForm.get('templateDescription').status == 'INVALID'}"/>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <label class="form-label">Assign Module</label>
                                                <select class="form-control custom-select" placeholder="Select"
                                                    formControlName="applicationModuleId" [ngClass]="{'is-invalid' : emailSmsForm.get('applicationModuleId').status == 'INVALID'}">
                                                    <option value="" selected>Select</option>
                                                    <option value="{{module.applicationModuleId}}" *ngFor="let module of moduleListData">
                                                        {{module.applicationModuleName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <fieldset>
                                        <legend>Email & SMS</legend>
                                        <fieldset>
                                            <legend> </legend>
                                            <div class="row">
                                                <fieldset class="col-md-4">
                                                    <legend>Keywords</legend>
                                                    <div id="page">
                                                        <div>
                                                          <input class="toggle-box" id="identifier-1" type="checkbox" value=true />
                                                          <label for="identifier-1">Employee</label>
                                                          <div class="ml-30">
                                                            <a class="p-0 d-flex">
                                                              <label class="custom-control custom-checkbox ">
                                                                <ul>
                                                                    <div *ngFor="let key of keyword">
                                                                        <li id="{{key.displayName}}" draggable="true"
                                                                            (dragstart)="drag($event)">
                                                                            {{key.displayName}}
                                                                        </li>
                                                                    </div>
                                                              </ul>
                                                              </label>
                                                            </a>
                                                          </div>
                                                        </div>
                                                        <div>
                                                          <input class="toggle-box" id="identifier-2" type="checkbox" value=true />
                                                          <label for="identifier-2" class="mt-10">Company</label>
                                                          <div class="ml-30">
                                                            <a class="p-0 position_relative">
                                                              <label class="custom-control custom-checkbox mr-15">
                                                                <ul>
                                                                  <li>Company Name</li>
                                                                </ul>
                                                              </label>
                                                            </a>
                                                          </div>
                                                        </div>
                                                        <div >
                                                          <input class="toggle-box" id="identifier-3" type="checkbox" value=true />
                                                          <label for="identifier-3" class="mt-10">Date</label>
                                                          <div class="ml-30">
                                                            <a class="p-0 position_relative">
                                                              <label class="custom-control custom-checkbox mr-15">
                                                                <ul>
                                                                  <li>Date</li>
                                                                </ul>
                                                              </label>
                                                            </a>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    <!-- <select class="form-control custom-select">
                                                        <option selected>Select</option>
                                                        <option>Emplyee</option>
                                                        <option>Employee Code</option>
                                                        <option>Employee Name</option>
                                                        <option>Employee Email</option>
                                                        <option>Employee Phone Number</option>
                                                        <option>Employee Gender</option>
                                                        <option>Employee Gread</option>
                                                    </select> -->
                                                    <!--
                                                    <ul style="height: 100px; overflow-y: scroll; width: 200px;">
                                                        <div *ngFor="let key of keyword">
                                                            <li id="{{key.name}}" draggable="true"
                                                                (dragstart)="drag($event)">
                                                                {{key.description}}
                                                            </li>
                                                        </div>
                                                    </ul>
                                                    <select class="form-control custom-select">
                                                        <option selected>Company</option>
                                                    </select>
                                                    <select class="form-control custom-select">
                                                        <option selected>Date</option>
                                                    </select> -->
                                                </fieldset>

                                                &nbsp;

                                                <div class="col-md-7">
                                                    <br /><br />
                                                    <div class="col-md-12">
                                                        <label class="form-label"
                                                            style="color:darkmagenta;">Email</label>
                                                        <label class="form-label">Subject</label>
                                                        <input type="text" class="form-control" placeholder="subject"
                                                            formControlName="emailSubject" [ngClass]="{'is-invalid' : emailSmsForm.get('emailSubject').status == 'INVALID'}"/>
                                                        <label class="form-label">Body</label>
                                                        <!-- <ckeditor [editor]="Editor"  data="hello"
                                                            (drop)="drop($event)" (dragover)="allowDrop($event)">
                                                        </ckeditor> -->

                                                        <ckeditor  (drop)="drop($event)"
                                                            formControlName="emailBody" (dragover)="allowDrop($event)" [ngClass]="{'is-invalid' : emailSmsForm.get('emailBody').status == 'INVALID'}">
                                                        </ckeditor>
                                                    </div>
                                                    <br><br>
                                                    <div class="col-md-12">
                                                        <label class="form-label" style="color:darkmagenta;">SMS</label>
                                                        <label class="form-label">Body</label>
                                                        <ckeditor formControlName="smsBody">
                                                        </ckeditor>
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>
                                    </fieldset>
                                    <div class=" row mt-20 ">
                                        <div class="col-md-3">
                                            <label class="custom-control custom-checkbox custom-control-inline pl-45">
                                                <input type="checkbox" class="custom-control-input"
                                                    name="example-inline-checkbox1" checked
                                                    (change)="changeActiveStatus($event)" formControlName="active">
                                                <span class="custom-control-label">Active </span>
                                            </label>
                                        </div>
                                        <div class="col-md-3" *ngIf="remarkShowFlag">
                                            <label class="form-label">Remark</label>
                                            <textarea formControlName="remark" class="form-control" rows="2"
                                            [ngClass]="{'is-invalid' : emailSmsForm.get('remark').status == 'INVALID'}"
                                                placeholder="Enter Remark" [required]="remarkShowFlag"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row text-right" style="margin: 10px; float:right;">
                                    <button type="submit" class="btn btn-success" (click)="emailSmsSubmit()"
                                        [disabled]="!emailSmsForm.valid"
                                        [ngClass]="{'disabled-btn-bg-green' : emailSmsForm.invalid,'btn-bg-green': !emailSmsForm.invalid}">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save</button>&nbsp;
                                    <button type="button" class="btn btn-dark" (click)="reset()">
                                        <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>&nbsp;
                                    <button type="button" class="btn btn-dark" (click)="reset()">
                                        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel</button>&nbsp;
                                </div>
                            </form>
                            <br>
                            <fieldset>
                                <legend>Summary</legend>
                                <div class="row mt-30">
                                    <div class="col-12 col-md-12 col-sm-12">
                                        <div class="table-responsive Custom_Table">
                                            <table class="table table-striped table-bordered table-hover m-b-0">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col" class="wd-9">Sr No.</th>
                                                        <th scope="col" class="wd-14">Module Name</th>
                                                        <th scope="col" class="wd-14">Template Code</th>
                                                        <th scope="col" class="wd-20">Template Description</th>
                                                        <th scope="col" class="wd-19">Status</th>
                                                        <th scope="col" class="wd-14">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of emailSmsData; let index = index;">
                                                        <td class="wd-9">{{index + 1}}</td>
                                                        <td class="wd-14">{{getModuleName(data.applicationModuleId)}}</td>
                                                        <td class="wd-14">{{data.templateCode}}</td>
                                                        <td class="wd-20">{{data.templateDescription}}</td>
                                                        <td class="wd-19" *ngIf="data.active == true">Active</td>
                                                        <td class="wd-19" *ngIf="data.active == false">In Active</td>
                                                        <td>
                                                            <i class="fa fa-pencil" aria-hidden="true"
                                                                (click)="editEmailSms(data)"></i>&nbsp;
                                                            <i class="fa fa-eye" aria-hidden="true"
                                                                (click)="viewEmailSms(data)"></i>&nbsp;
                                                            <!-- <i class="fa fa-trash" aria-hidden="true"
                                                            (click)="deleteEmailSms(data)"></i>&nbsp; -->
                                                        </td>
                                                    </tr>
                                                    <tr></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
