<!-- <p>release works!</p> -->
<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
<div class="tabview-myform">
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body p-0">
                  <fieldset>
                      <div class="approval-form">

                          <div class="row">
                              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12  mb-3">
                                <div class="row">

                                    <div class="col-12 mt-20">
                                        <div class="float-right ">

                                         

                                            <button type="submit"
                                                class="custom_button custom_btn btn-bg-green  btn-labeled btn-labeled-left ml-10"
                                                tooltip="show list" [disabled]="loading" (click)=" extralargepopup(template1)">
                                                <b><i class="fa fa-registered" aria-hidden="true"></i></b>
                                               Pending for Release</button>


                                        




                                        </div>
                                    </div>

                                </div>
                                 
                                        <fieldset>
                                      <div class="row">
                                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                              <div class="form-group">
                                                  <label class="form-label">Cycle Definition</label>
                                                  <select class="form-control">
                                                      <option>Select</option>
                                                      <option value=""> Weekly </option>
                                                      <option value="">By Weekly</option>
                                                      <option value="">Abc</option>
                                                      <option value="">Abc</option>
                                                  </select>
                                              </div>
                                          </div>
                                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label class="form-label">Cycle Name</label>
                                                <select class="form-control">
                                                    <option>Select</option>
                                                    <option value="">Abc</option>
                                                    <option value="">Abc</option>
                                                    <option value="">Abc</option>
                                                    <option value="">Abc</option>
                                                </select>
                                            </div>
                                        </div>
                                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">

                                              <div class="form-group">
                                                  <label class="form-label">Start Date</label>
                                                  <div class="input-group">
                                                      <div class="input-group-prepend">
                                                          <span class="input-group-text"><i
                                                                  class="fa fa-calendar"></i></span>
                                                      </div>
                                                      <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                          data-provide="datepicker" data-date-autoclose="true"
                                                          class="form-control" (bsValueChange)="setPolicyEndDate()"
                                                          placeholder="" bsDatepicker
                                                          [maxDate]="today" disabled>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">

                                              <div class="form-group">
                                                  <label class="form-label">End Date</label>
                                                  <div class="input-group">
                                                      <div class="input-group-prepend">
                                                          <span class="input-group-text"><i
                                                                  class="fa fa-calendar"></i></span>
                                                      </div>
                                                      <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                          data-provide="datepicker" data-date-autoclose="true"
                                                          class="form-control" (bsValueChange)="setPolicyEndDate()"
                                                          placeholder="" bsDatepicker [maxDate]="today" disabled>
                                                  </div>
                                              </div>
                                          </div>
                                      </div> 
                                    </fieldset>
                                   </div>

                             <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                  <fieldset>
                                      <legend>Organizational Selection</legend>

                                      <div class="row">
                                          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                              <div class="form-group">
                                                  <label class="form-label mb-3">Company Name</label>
                                                  <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Selected All"></p-multiSelect>
                                              </div>
                                          </div>
                                          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                              <div class="form-group">
                                                  <label class="form-label mb-3">Service</label>
                                                  <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Selected All"></p-multiSelect>
                                              </div>
                                          </div>
                                          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                              <div class="form-group">
                                                  <label class="form-label mb-3">Area</label>
                                                  <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Selected All"></p-multiSelect>
                                              </div>
                                          </div>
                                      </div>


                                  </fieldset>
                              </div>
                              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                  <fieldset>
                                      <legend>Employee Selection</legend>

                                      <div class="row">
                                          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                              <div class="form-group">
                                              
                                                <label class="form-label mb-3">Employee Code</label>
                                                  <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Selected All"></p-multiSelect>


                                              </div>
                                          </div>
                                          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                              <div class="form-group">
                                                <label class="form-label mb-3">Employee Set</label>

                                                  <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Selected All"></p-multiSelect>
                                              </div>
                                          </div>
                                          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                              <div class="form-group">
                                                  <div class="custom-controls-stacked mb-2">
                                                      <label class="custom-control custom-radio">
                                                          <input type="radio" class="custom-control-input"
                                                              name="example- radios" value="option1"
                                                              (click)="ViewHistory(template4)" checked>
                                                          <div class="custom-control-label"> Employee List </div>
                                                      </label>
                                                  </div>

                                              </div>

                                          </div>


                                      </div>



                                  </fieldset>
                              </div>

                              <div class="col-12">

                                  <div class="row">

                                      <div class="col-12 mt-20">
                                          <div class="float-right ">

                                           

                                              <button type="submit"
                                                  class="custom_button custom_btn btn-bg-green  btn-labeled btn-labeled-left ml-10"
                                                  tooltip="show list" [disabled]="loading">
                                                  <b><i class="fa fa-arrow-right" aria-hidden="true"></i></b>
                                                  Go</button>


                                              <button type="button" tooltip="Reset"
                                                  class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                                                          class="fa  fa-refresh"></i></b> Reset</button>




                                          </div>
                                      </div>

                                  </div>


                              </div> 
                          </div>
                      </div>



                  </fieldset>
                 <div class="cycle-table mt-4">
                      <div class="cycle-value pt-20 pb-20 bg-color-light_gray">
                          <h6 class="font-14">&nbsp; &nbsp;Total Records (10)  &nbsp;&nbsp; Selected Records (10) <span class="float-right">
                            <button type="submit"
                            class="custom_button custom_btn btn-bg-green  btn-labeled btn-labeled-left ml-10"
                            tooltip="Go" [disabled]="loading" (click)=" extralargepopup(template)">
                            <b><i class="fa fa-registered" aria-hidden="true"></i></b>
                            Release</button>&nbsp; <i class="fa fa-file-excel-o font-38 text-dark-green  mr-10 float-right" aria-hidden="true"></i></span></h6>
                      </div>
                      <p-table [value]="users1" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th rowspan="2" class="wd-6">
                                      Select
                                  </th>
                                  <th rowspan="2">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Emp. Code
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="name"></p-sortIcon>
                                            <p-columnFilter type="text" field="name" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th rowspan="2">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Emp. Name
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="name"></p-sortIcon>
                                            <p-columnFilter type="text" field="name" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th rowspan="2">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                       Cycle
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="name"></p-sortIcon>
                                            <p-columnFilter type="text" field="name" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                             
                                  <th rowspan="2">
                                      <div class="p-d-flex p-jc-between p-ai-center">
                                          Company Name
                                          <div class="Sort_Filter_Position">
                                              <p-sortIcon field="name"></p-sortIcon>
                                              <p-columnFilter type="text" field="name" display="menu"
                                                  class="p-ml-auto"></p-columnFilter>
                                          </div>
                                      </div>
                                  </th>
                                  <th rowspan="2" class="wd-8">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Service
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="date"></p-sortIcon>
                                            <p-columnFilter type="date" field="date" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                  <th rowspan="2">
                                      <div class="p-d-flex p-jc-between p-ai-center">
                                          Area
                                          <div class="Sort_Filter_Position">
                                              <p-sortIcon field="representative.name"></p-sortIcon>
                                              <p-columnFilter field="representative" matchMode="in" display="menu"
                                                  [showMatchModes]="false" [showOperator]="false"
                                                  [showAddButton]="false" class="p-ml-auto">
                                                  <ng-template pTemplate="header">
                                                      <div class="p-px-3 p-pt-3 p-pb-0">
                                                          <span class="p-text-bold">Agent Picker</span>
                                                      </div>
                                                  </ng-template>
                                                  <ng-template pTemplate="filter" let-value
                                                      let-filter="filterCallback">
                                                      <p-multiSelect [ngModel]="value" [options]="representatives"
                                                          placeholder="Any" (onChange)="filter($event.value)"
                                                          optionLabel="name">
                                                          <ng-template let-option pTemplate="item">
                                                              <div class="p-multiselect-representative-option">
                                                                  <img [alt]="option.label"
                                                                      src="assets/showcase/images/demo/avatar/{{option.image}}"
                                                                      width="32" style="vertical-align: middle" />
                                                                  <span class="p-ml-1">{{option.name}}</span>
                                                              </div>
                                                          </ng-template>
                                                      </p-multiSelect>
                                                  </ng-template>
                                              </p-columnFilter>
                                          </div>
                                      </div>
                                  </th>
                                  
                                  <th rowspan="2" class="wd-8">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Establishment
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="date"></p-sortIcon>
                                            <p-columnFilter type="date" field="date" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th rowspan="2" class="wd-8">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Department
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="date"></p-sortIcon>
                                            <p-columnFilter type="date" field="date" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th rowspan="2" class="wd-8">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Grade
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="date"></p-sortIcon>
                                            <p-columnFilter type="date" field="date" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th rowspan="2" class="wd-8">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Designation
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="date"></p-sortIcon>
                                            <p-columnFilter type="date" field="date" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                              </tr>

                          </ng-template>
                          <ng-template pTemplate="body" let-user1>
                              <tr class="p-selectable-row">
                                  <td><label class="custom-control custom-checkbox checkbox-center"
                                          tooltip="Select All">
                                          <input type="checkbox" class="custom-control-input" name="select" /> <span
                                              class="custom-control-label"></span>
                                      </label></td>
                                  <td class="bg-color-light_gray"><label
                                          class="form-lable mb-0">{{user1.headtype}}</label>

                                  </td>

                                  <td class="bg-color-light_gray"><label
                                          class="form-lable mb-0">{{user1.headdesc}}</label></td>
                                  <td class="bg-color-light_gray"><label
                                          class="form-lable mb-0">{{user1.openingval}}</label></td>
                                  <td class="bg-color-light_gray"><label
                                          class="form-lable mb-0">{{user1.chngamount}}</label></td>
                                          <td class="bg-color-light_gray"><label
                                            class="form-lable mb-0">{{user1.headtype}}</label>
  
                                    </td>
                                    <td class="bg-color-light_gray"><label
                                        class="form-lable mb-0">{{user1.headtype}}</label>

                                </td>

                                    <td class="bg-color-light_gray"><label
                                            class="form-lable mb-0">{{user1.headdesc}}</label></td>
                                    <td class="bg-color-light_gray"><label
                                            class="form-lable mb-0">{{user1.openingval}}</label></td>
                                    <td class="bg-color-light_gray"><label
                                            class="form-lable mb-0">{{user1.chngamount}}</label></td>
                                            <td class="bg-color-light_gray"><label
                                                class="form-lable mb-0">{{user1.chngamount}}</label></td>
                              </tr>

                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                              <tr>
                                  <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                          Available</span></td>
                              </tr>
                          </ng-template>
                      </p-table>


                  </div>


              </div>


          </div>
      </div>
      <ng-template #template>
        <div class="modal-header">
            <h5 class="modal-title" id="UploadModalLabel">Release</h5>
            <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                           
                            <p-table [value]="users1" > 
                                <ng-template
                                pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-6 mt-10 d-flex ">
                                        <label
                                            class="form-label mr-5">Total
                                            Records
    
                                            (10)</label>
                                        <label
                                            class="form-label">Selected
                                            records
    
                                            (10)</label>
                                    </div>
                                    <div
                                        class="col-md-6">
                                        <div
                                            class="float-right">
                                           
                                            <i
                                                class="fa fa-file-excel-o text-dark-green
    fa-2x "></i>
                                          
    
                                        </div>
                                    </div>
                                </div>
    
    
    
    
    
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>

                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Emp.Code
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="empcode"
                                                    pSortableColumn="empcode"></p-sortIcon>
                                                <p-columnFilter field="empcode"
                                                    display="menu" class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>


                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">Emp
                                            Name
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="empName"
                                                    pSortableColumn="empName"></p-sortIcon>
                                                <p-columnFilter type="text" field="empName"
                                                    display="menu" class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">Cycle
                                            
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="empName"
                                                    pSortableColumn="empName"></p-sortIcon>
                                                <p-columnFilter type="text" field="empName"
                                                    display="menu" class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Company Name
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="PSIdDetails"
                                                    pSortableColumn="PSIdDetails">
                                                </p-sortIcon>
                                                <p-columnFilter type="text"
                                                    field="PSIdDetails" display="menu"
                                                    class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Service
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="SubmissionDate"
                                                    pSortableColumn="SubmissionDate">
                                                </p-sortIcon>
                                                <p-columnFilter type="text"
                                                    field="SubmissionDate" display="menu"
                                                    class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">Area
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="proofsubmission"
                                                    pSortableColumn="proofsubmission">
                                                </p-sortIcon>
                                                <p-columnFilter type="text" field="name"
                                                    display="menu" class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Establishment
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="Type"
                                                    pSortableColumn="Type"></p-sortIcon>
                                                <p-columnFilter type="text" field="Type"
                                                    display="menu" class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Department
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="Type"
                                                    pSortableColumn="Type"></p-sortIcon>
                                                <p-columnFilter type="text" field="Type"
                                                    display="menu" class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">Grade
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="ItSection"
                                                    pSortableColumn="ItSection">
                                                </p-sortIcon>
                                                <p-columnFilter type="text"
                                                    field="ItSection" display="menu"
                                                    class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Designation
                                            <div class="Sort_Filter_Position">
                                                <p-sortIcon field="Group"
                                                    pSortableColumn="Group"></p-sortIcon>
                                                <p-columnFilter type="text" field="Group"
                                                    display="menu" class="p-ml-auto">
                                                </p-columnFilter>
                                            </div>
                                        </div>
                                    </th>

                                   
                                  
                                  
                                   

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-customer>
                                <tr class="p-selectable-row">
                                    <td>
                                        <p-tableCheckbox [value]="customer">
                                        </p-tableCheckbox>
                                    </td>
                                    <td>001</td>
                                    <td>AAA</td>
                                    <td> BBB</td>
                                    <td>CCC </td>
                                    <td>DDD</td>
                                    <td> EEE</td>
                                    <td> FFF</td>
                                    <td>
                                       GGG
                                    </td>
                                    <td>
                                       HHH
                                    </td>
                                   <td>III</td>
                                  
                                    
                                    
                                    
                                

                                </tr>
                                <tr class="p-selectable-row">
                                    <td>
                                        <p-tableCheckbox [value]="customer">
                                        </p-tableCheckbox>
                                    </td>
                                    <td>002</td>
                                    <td>AAA</td>
                                    <td> BBB</td>
                                    <td>CCC </td>
                                    <td>DDD</td>
                                    <td> EEE</td>
                                    <td> FFF</td>
                                    <td>
                                       GGG
                                    </td>
                                    <td>
                                       HHH
                                    </td>
                                   <td>III</td>
                                  
                                    
                                    
                                    
                                

                                </tr>
                            </ng-template>
                           
                        </p-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"
         tooltip="Proceed"><b> <i class="fa fa-arrow-circle-o-right "></i></b> Proceed</button>
        <button type="button" tooltip="Reset"class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left "><b><i class="fa fa-refresh"></i></b> Reset</button>
        </div>
    </ng-template>



    <ng-template #template1>
        <div class="modal-header">
            <h5 class="modal-title" id="UploadModalLabel">Pending for Release</h5>
            <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <div class="row clearfix">
                        <div class="col-md-12">
       
                        <p-table [value]="users1" > 
                            <ng-template
                            pTemplate="caption">
                            <div class="row">
                                <div class="col-md-6 mt-10 d-flex ">
                                    <label
                                        class="form-label mr-5">Total
                                        Records

                                        (10)</label>
                                    <label
                                        class="form-label">Selected
                                        records

                                        (10)</label>
                                </div>
                                <div
                                    class="col-md-6">
                                    <div
                                        class="float-right">
                                       
                                        <i
                                            class="fa fa-file-excel-o text-dark-green
fa-2x "></i>
                                        <!-- <button
                                            class="btn custom_btn btn-bg-green  mr-2"
                                            tooltip=" Display Popup"
                                            (click)="smallpopup (template)">
                                            Lock
                                            employee</button> -->

                                    </div>
                                </div>
                            </div>





                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>                                                      
                              
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                     Emp. Code
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="PSIdDetails"
                                                pSortableColumn="PSIdDetails">
                                            </p-sortIcon>
                                            <p-columnFilter type="text"
                                                field="PSIdDetails" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Emp. Name
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="SubmissionDate"
                                                pSortableColumn="SubmissionDate">
                                            </p-sortIcon>
                                            <p-columnFilter type="text"
                                                field="SubmissionDate" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Cycle
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="Type"
                                                pSortableColumn="Type"></p-sortIcon>
                                            <p-columnFilter type="text" field="Type"
                                                display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">   Company Name
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="proofsubmission"
                                                pSortableColumn="proofsubmission">
                                            </p-sortIcon>
                                            <p-columnFilter type="text" field="name"
                                                display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Area
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="Type"
                                                pSortableColumn="Type"></p-sortIcon>
                                            <p-columnFilter type="text" field="Type"
                                                display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Service
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="Type"
                                                pSortableColumn="Type"></p-sortIcon>
                                            <p-columnFilter type="text" field="Type"
                                                display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                              
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Establishment
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="Type"
                                                pSortableColumn="Type"></p-sortIcon>
                                            <p-columnFilter type="text" field="Type"
                                                display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Department
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="Type"
                                                pSortableColumn="Type"></p-sortIcon>
                                            <p-columnFilter type="text" field="Type"
                                                display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Grade
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="Type"
                                                pSortableColumn="Type"></p-sortIcon>
                                            <p-columnFilter type="text" field="Type"
                                                display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Designation
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="Type"
                                                pSortableColumn="Type"></p-sortIcon>
                                            <p-columnFilter type="text" field="Type"
                                                display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">From Date
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="ItSection"
                                                pSortableColumn="ItSection">
                                            </p-sortIcon>
                                            <p-columnFilter type="text"
                                                field="ItSection" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        To Date
                                        <div class="Sort_Filter_Position">
                                            <p-sortIcon field="Group"
                                                pSortableColumn="Group"></p-sortIcon>
                                            <p-columnFilter type="text" field="Group"
                                                display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user1>
                           <tr class="p-selectable-row">
                              <td class="text-center">
                                <label class="custom-control custom-checkbox checkbox-center">
                                    <input type="checkbox"  class="custom-control-input" name="select"/> 
                                    <span class="custom-control-label"></span>
                               </label>
                              </td>
                            
                             <td>
                                001
     
                             </td>
                             <td>
                              AAA 
     
                             </td>
                             <td>
                                 BBB
                             </td>
                             <td>
                               CCC
     
                             </td>
                             <td>DDD</td>
                             <td>EEE</td>
                         <td> FFF</td>
                         <td>DDD</td>
                         <td>EEE</td>
                     <td> FFF</td>
                         <td>01-Apr-2021 </td>
                         <td>31-Dec-9999 </td>
                       </tr>
                       <tr class="p-selectable-row">
                        <td class="text-center">
                          <label class="custom-control custom-checkbox checkbox-center">
                              <input type="checkbox"  class="custom-control-input" name="select"/> 
                              <span class="custom-control-label"></span>
                         </label>
                        </td>
                      
                       <td>
                          002

                       </td>
                       <td>
                        AAA 

                       </td>
                       <td>
                           BBB
                       </td>
                       <td>
                         CCC

                       </td>
                       <td>DDD</td>
                       <td>EEE</td>
                   <td> FFF</td>
                   <td>DDD</td>
                   <td>EEE</td>
               <td> FFF</td>
                   <td>01-Apr-2021 </td>
                   <td>31-Dec-9999 </td>
                 </tr>
                       </ng-template>
                       <ng-template pTemplate="emptymessage">
                            <tr>
                             <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                           Available</span>
                             </td>
                            </tr>
                       </ng-template>
                       </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
           
            <button type="submit" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"
         tooltip="Proceed"><b> <i class="fa fa-arrow-circle-o-right "></i></b> Proceed</button>
        <button type="button" tooltip="Reset"class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left "><b><i class="fa fa-refresh"></i></b> Reset</button>
                                         
        </div>
    </ng-template>
    
    
