.border-dark-card {
    border: 2px solid #999!important;
    background: #ddd!important;
}
.eyeIcon i{
margin-left: 30px;
}

.custom_btn1 {
    display: inline-block;
    font-weight: 400;
    color: #333;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding-right: 9px !important;
    padding-top: 4px !important;
    padding-bottom: 6px !important;
    padding-left: 39px !important;
    font-size: 0.8125rem;
    //  line-height: 0px !important; 
    border-radius: 0.1875rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-labeled1>b {
    position: absolute;
    top: 25px !important;
    background-color: rgba(0, 0, 0, 0.15);
    display: block;
    line-height: 1;
    padding: 9px;
    left: 15px !important;
}
.btn-primary {
    // background: #713f93 !important;
    color: #713f93;
    // border-color: #713f93;
    background-color: #fff;
    // border: 2px solid #000 !important;
}
::selection {
    color: #fff;
    background: #5a5278;
}

.disabled-btn-bg-green{
    background-color: #94c1c1!important;
  }
  
  
  
  .form-control.is-invalid {
    background-image: none!important;
  }
  .disabled-btn-bg-lightgrey{
    background-color: lightgrey!important;
  }
  .textcenter td {
    text-align: left;
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    }
  .textcenter th {
      text-align: left;
      }
  
  