<app-leftmenu></app-leftmenu>
<div class="page">
  <app-header></app-header>
  <div class="section-body mt-3">
    <div class="container-fluid" style="border: 1px solid #ccc; background-color: #fff;">
      <div class="tabview-contents">

        <form class="card" role="form" [formGroup]="form" #formDirective="ngForm" method="post" novalidate>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="row">
                    <div class="col-sm-2">
                      <label class="form-label">Code</label>
                      <input maxlength="25" type="text" formControlName="workflowCode" class="form-control"
                        (ngModelChange)="workflowCodeValidation($event)"
                        [ngClass]="{'is-invalid' : (form.get('workflowCode').status == 'INVALID') || workflowCodeFLag}">
                      <small *ngIf="workflowCodeFLag" class="text-red"> This code name already exist. Please enter other
                        code name</small>
                    </div>
                    <div class="col-sm-2">
                      <label class="form-label">Description</label>
                      <input maxlength="50" formControlName="description" class="form-control" />
                    </div>

                    <div class="col-sm-2">
                      <label class="form-label ml-15" placement="left">
                        Auto Approval
                      </label>
                      <div class="custom-controls-stacked ml-15 mt-10">
                        <label class="custom-control custom-radio custom-control-inline">
                          <input formControlName="autoApproval" type="radio" class="custom-control-input"
                            [value]="true">
                          <span class="custom-control-label">Yes</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                          <input formControlName="autoApproval" type="radio" class="custom-control-input"
                            [value]="false">
                          <span class="custom-control-label">No</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-sm-2" *ngIf="!form.get('autoApproval').value">
                      <label class="form-label ml-15" placement="left">
                        Defined Approvers
                      </label>
                      <div class="custom-controls-stacked ml-15 mt-10">
                        <label class="custom-control custom-radio custom-control-inline">
                          <input formControlName="defined" type="radio" class="custom-control-input" [value]="true">
                          <span class="custom-control-label">Yes</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                          <input formControlName="defined" type="radio" class="custom-control-input" [value]="false">
                          <span class="custom-control-label">No</span>
                        </label>
                      </div>

                      <!-- <label class="form-label">Method of Approval</label>
                      <select
                          formControlName="numberOfApprover" class="form-control custom-select">
                          <option [ngValue]="null">Select</option>
                          <option *ngFor="let data of methodOfApprovalArray">
                          {{data}}
                        </option>
                      </select> -->
                    </div>
                    <div class="col-sm-2" *ngIf="form.get('defined').value === true && !form.get('autoApproval').value">
                      <label class="form-label">Approval Template</label>
                      <select formControlName="definedTemplateId" class="form-control custom-select"
                        [ngClass]="{'is-invalid' : form.get('definedTemplateId').status == 'INVALID'}">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let data of templatedefinedArray" [value]=data.templateId>
                          {{data.templateCode}}
                        </option>
                      </select>
                    </div>

                    <div class="col-sm-2" *ngIf="!form.get('autoApproval').value">
                      <label class="form-label ml-15" placement="left">
                        Change of Approver by Manager
                      </label>
                      <div class="custom-controls-stacked ml-15 mt-10">
                        <label class="custom-control custom-radio custom-control-inline">
                          <input formControlName="changeOfApproverByManager" type="radio" class="custom-control-input"
                            [value]="true">
                          <span class="custom-control-label">Yes</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                          <input formControlName="changeOfApproverByManager" type="radio" class="custom-control-input"
                            [value]="false">
                          <span class="custom-control-label">No</span>
                        </label>
                      </div>
                    </div>


                  </div>
                  <!-- end of row -->


                  <!-- end of row -->
                  <div class="row mt-15">

                    <label class="main"><span class="form-label">Active</span>
                      <input type="checkbox" checked="checked" formControlName="active">
                      <span class="geekmark"></span>
                    </label>

                    <!-- <div class="col-sm-3">
                      <label class="form-label">Active</label>
                      <input type="checkbox" formControlName="active" style="color: #4CAF50 !important;">
                    </div> -->

                    <div class="col-sm-3" *ngIf="form.get('active').value === false">
                      <label class="form-label">Remark</label>
                      <textarea formControlName="remark" class="form-control"
                        [ngClass]="{'is-invalid' : form.get('remark').status == 'INVALID'}"></textarea>
                    </div>
                  </div>
                  <!-- end of row -->




                </div> <!-- card body -->
              </div>
            </div>
          </div>



        </form>


        <div class="row" *ngIf="!form.get('autoApproval').value && !form.get('defined').value">
          <div class="col-12">
            <div class="card">
              <div class="mb-0">
              </div>
              <!-- <div class="" formArrayName="approverMasterRequestDTO" > -->
              <div class="table-responsive Custom_Table">
                <table class="table table-striped table-hover table-bordered m-b-0">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="wd-8">Sr. No</th>
                      <th scope="col" class="wd-8">Approval Seq No.</th>
                      <th scope="col" class="wd-20">Method of Approval</th>
                      <th scope="col" class="wd-5">Level of Reporting Manager</th>
                      <th scope="col" class="wd-15">SDM</th>
                      <th scope="col" class="wd-15">Derived Name</th>
                      <th scope="col" class="wd-5">Treatment- Unactioned Application</th>
                      <th scope="col" class="wd-12">Post- No. of Days</th>
                      <th scope="col" class="wd-5">Action</th>
                      <!-- <th *ngIf="arrayApproverMaster.length > form.get('numberOfApprover').value" scope="col" class="wd-5">Action</th> -->
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of arrayApproverMaster; let i = index; let c =count">

                    <tr>
                      <td> {{i+1}}</td>
                      <td>
                        <select [(ngModel)]="item.sequence" class="form-control custom-select"
                          (change)="getSelectedSequence($event.target.value)">
                          <option *ngFor="let data of sequence" [value]=data>
                            {{data}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <select [(ngModel)]="item.approverMethod"
                          [ngClass]="{'is-invalid' : item.approverMethod === null}"
                          (change)="approverMethodValidation(i)" class="form-control custom-select">
                          <option *ngFor="let data of methodOfApprovalArray">
                            {{data}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <select [(ngModel)]="item.levelOfRM" [ngClass]="{'is-invalid' : (item.levelOfRM === null)}"
                          [disabled]="item.approverMethod == 'Manager through SDM'" class="form-control custom-select"
                          (change)="selectedLevelOfRM($event.target.value)">
                          <option *ngIf="item.levelOfRM">{{item.levelOfRM}}</option>
                          <option *ngFor="let data of levelOfRM">
                            {{data}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <select [(ngModel)]="item.sdm" [ngClass]="{'is-invalid' : (item.sdm === null)}"
                          [disabled]="item.approverMethod == 'Reporting Manager'" class="form-control custom-select">
                          <option *ngFor="let item of sdmApplicabilityArray" [value]="item.sdmMaster.sdmMasterId">
                            {{item.sdmMaster.sdmName}}
                          </option>
                        </select>
                      </td>

                      <td>
                        <select [(ngModel)]="item.sdm" [ngClass]="{'is-invalid' : (item.sdm === null)}"
                          [disabled]="item.approverMethod == 'Reporting Manager'" class="form-control custom-select">
                          <!-- <option *ngFor="let item of sdmApplicabilityArray" [value]="item.sdmMaster.sdmMasterId">
                            {{item.sdmMaster.sdmName}}
                          </option> -->
                          <option>201</option>
                          <option>202</option>
                          <option>203</option>
                        </select>
                      </td>
                      <td>
                        <select [(ngModel)]="item.treatmentUnActionedPlan"
                          [ngClass]="{'is-invalid' : (item.treatmentUnActionedPlan === null)}"
                          class="form-control custom-select"
                          (change)="gettreatmentUnActionedPlan($event.target.value,item)">
                          <option *ngFor="let data of treatmentUnActionedPlanArray">
                            {{data}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <input type="number" [(ngModel)]="item.numberOfDays" min="0" class="form-control"
                          [ngClass]="{'is-invalid' : (item.numberOfDays === null)}">
                      </td>
                      <td>
                        <i *ngIf="item.treatmentUnActionedPlan === 'Reassign'"
                          class="fa fa-retweet font-16 text-blue cursor-pointer ml-3" tooltip="Add Reassign Method"
                          (click)="reassignedValidation(template, item)" style="color: #4CAF50 !important;"></i>
                        <i *ngIf="c !=1" class="fa fa-trash font-16 text-red cursor-pointer ml-3" tooltip="Delete"
                          (click)="deleteApprover(i,item)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="float-right mb-15">
                  <button (click)="addAprrover()"
                    class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple">
                    <b><i class="fa fa-plus"></i></b> Add Approver</button>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="row mt-15">
          <div class="col-12">
            <div class="float-right mb-15">
              <button *ngIf="!cancelButtonShow" (click)="submit()"
                class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple">
                <b><i class="fa fa-save"></i></b>
                <span *ngIf="form.get('workflowMasterHeaderId').value === 0"> Save</span>
                <span *ngIf="form.get('workflowMasterHeaderId').value !=0">Update</span>

              </button>
              <button *ngIf="form.get('workflowMasterHeaderId').value !=0" (click)="reset()"
                class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10">
                <b><i class="fa fa-close"></i></b> Cancel</button>
              <button *ngIf="(form.get('workflowMasterHeaderId').value ===0)" (click)="reset()"
                class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
                <b><i class="fa fa-refresh"></i></b> Reset</button> &nbsp;

              <button *ngIf="cancelButtonShow" (click)="reset()"
                class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10">
                <b><i class="fa fa-close"></i></b> Cancel</button> &nbsp;
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">



        </div>
      </div>

      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="mb-0">
              <h3 class="font-14 text-purple font-bold">Summary</h3>
            </div>



            <div class="col-md-12">
              <p-table [globalFilterFields]="['workflowMasterHeaderResponseDTO.workflowCode',
                                     'workflowMasterHeaderResponseDTO.description',
                                     'workflowMasterHeaderResponseDTO.numberOfApprover',
                                     'workflowMasterHeaderResponseDTO.autoApproval'
                                    ]" #dt [value]="summary" styleClass="sticky-table" class="mt-10" [paginator]="true"
                [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50,100,200]">
                <!-- [scrollable]="true" scrollHeight="800px" -->
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Search"
                      (input)="dt.filterGlobal($event.target.value, 'contains')"
                      style="width: 203px;margin-right: 37px;">

                    <a tooltip="Download" style="cursor: pointer;float: right;" (click)="exportAsXLSX()"><i
                        class="fa fa-file-excel-o font-18 text-dark-green pt-10  mr-10" aria-hidden="true"></i></a>

                    <!-- <a tooltip="Download" style="cursor: pointer;float: right;"
                      (click)="excelDownload('tblData', 'Workflow-Master')"><i
                        class="fa fa-file-excel-o font-18 text-dark-green pt-10  mr-10" aria-hidden="true"></i></a> -->
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="wd-10">
                      <div class="p-d-flex p-jc-center p-ai-center">
                        Sr. No. &nbsp;&nbsp;
                        <!-- <div class="Sort_Filter_Position">
                                      <p-sortIcon field="date" pSortableColumn="date">
                                      </p-sortIcon>
                                      <p-columnFilter field="date"
                                          display="menu"
                                          class="p-ml-auto">
                                      </p-columnFilter>
                                  </div> -->
                      </div>
                    </th>


                    <th class="wd-10">
                      <div class="p-d-flex p-jc-center p-ai-center">
                        Code &nbsp;&nbsp;
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="workflowMasterHeaderResponseDTO.workflowCode"
                            pSortableColumn="workflowMasterHeaderResponseDTO.workflowCode">
                          </p-sortIcon>
                          <p-columnFilter field="workflowMasterHeaderResponseDTO.workflowCode" display="menu"
                            class="p-ml-auto">
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>


                    <th class="wd-20">
                      <div class="p-d-flex p-jc-center p-ai-center">
                        Description &nbsp;&nbsp;
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="workflowMasterHeaderResponseDTO.description"
                            pSortableColumn="workflowMasterHeaderResponseDTO.description">
                          </p-sortIcon>
                          <p-columnFilter field="workflowMasterHeaderResponseDTO.description" display="menu"
                            class="p-ml-auto">
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>

                    <th class="wd-20">
                      <div class="p-d-flex p-jc-center p-ai-center">
                        No. of Approval Level &nbsp;&nbsp;
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="workflowMasterHeaderResponseDTO.numberOfApprovalLevel"
                            pSortableColumn="workflowMasterHeaderResponseDTO.numberOfApprovalLevel">
                          </p-sortIcon>
                          <p-columnFilter field="workflowMasterHeaderResponseDTO.numberOfApprovalLevel" display="menu"
                            class="p-ml-auto">
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>

                    <th class="wd-8">
                      <div class="p-d-flex p-jc-center p-ai-center">
                        <span tooltip="No. of Approvers" placement="bottom">No. of Approvers</span> &nbsp;&nbsp;
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="workflowMasterHeaderResponseDTO.numberOfApprover"
                            pSortableColumn="workflowMasterHeaderResponseDTO.numberOfApprover">
                          </p-sortIcon>
                          <p-columnFilter field="workflowMasterHeaderResponseDTO.numberOfApprover" display="menu"
                            class="p-ml-auto">
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th class="wd-8">
                      <div class="p-d-flex p-jc-center p-ai-center">
                        <span tooltip="Auto Approval" placement="bottom">
                          Auto Approval</span>
                        &nbsp;&nbsp;
                        <div class="Sort_Filter_Position">
                          <p-sortIcon field="workflowMasterHeaderResponseDTO.autoApproval"
                            pSortableColumn="workflowMasterHeaderResponseDTO.autoApproval">
                          </p-sortIcon>
                          <p-columnFilter field="workflowMasterHeaderResponseDTO.autoApproval" display="menu"
                            class="p-ml-auto">
                          </p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th class="wd-8">
                      <div class="p-d-flex p-jc-center p-ai-center">
                        <span tooltip="Action" placement="bottom">Action</span>
                        &nbsp;&nbsp;
                        <!-- <div class="Sort_Filter_Position">
                                      <p-sortIcon field="paidLeaves" pSortableColumn="paidLeaves">
                                      </p-sortIcon>
                                      <p-columnFilter field="paidLeaves"
                                          display="menu"
                                          class="p-ml-auto">
                                      </p-columnFilter>
                                  </div> -->
                      </div>
                    </th>

                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex" class="tablebodyscroll">
                  <tr class="p-selectable-row">
                    <td class="bg-color-light_gray">
                      <div class="form-group mb-0">
                        <div class="input-group">
                          <label class="form-lable mb-0">{{rowIndex+1}}</label>
                        </div>
                      </div>
                    </td>
                    <td class="bg-color-light_gray"><label
                        class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.workflowCode}}</label>
                    </td>
                    <td class="bg-color-light_gray"><label
                        class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.description}}</label>
                    </td>
                    <td class="bg-color-light_gray"><label
                        class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.numberOfApprovalLevel}}</label>
                    </td>
                    <td class="bg-color-light_gray"><label
                        class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.numberOfApprover}}</label>
                    </td>
                    <td class="bg-color-light_gray" [ngStyle]="{
                            color: item.workflowMasterHeaderResponseDTO.autoApproval
                              ? 'hsl(141, 53%, 53%)'
                              : 'hsl(348, 100%, 61%)'
                          }"><label class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.autoApproval |
                        yesNo}}</label>
                    </td>

                    <td class="bg-color-light_gray"><label class="form-lable mb-0"><i
                          class="fa fa-edit font-16 text-dark-green cursor-pointer" (click)="edit(item)"
                          tooltip="Edit"></i>
                        <i class="fa fa-eye font-16 text-blue cursor-pointer ml-3" (click)="view(item)"
                          tooltip="View"></i>
                        <i class="fa fa-trash font-16 text-red cursor-pointer ml-3"
                          *ngIf="(!item.assigned) || (item.assigned === 0)" tooltip="Delete"
                          (click)="deleteRow(item)"></i></label>
                    </td>






                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr *ngIf="!summary.length">
                    <td colspan="15" class="font-14 font500 text-center text-red">
                      <span>No Data
                        Available</span>
                    </td>
                  </tr>
                </ng-template>



              </p-table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title" id="UploadModalLabel">Add Reassign Method</h5>

    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">×</span></button>
  </div>
  <form class="card" role="form" [formGroup]="reassignedSequenceArrayForm" #formDirective2="ngForm" method="post"
    novalidate>

    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <div class="row clearfix">
            <div class="table-responsive Custom_Table">
              <table class="table table-striped table-hover table-bordered m-b-0">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="wd-5">Sequence</th>
                    <th scope="col" class="wd-20">Method of Approval</th>
                    <th scope="col" class="wd-5">Level of Reporting Manager</th>
                    <th scope="col" class="wd-15">SDM</th>
                    <th scope="col" class="wd-5">Re-assign</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of reassignedSequenceArrayPopUp; let i = index;">

                    <tr>

                      <td>{{approverSequence}}</td>

                      <td> {{item.approverMethod}}</td>

                      <td>{{item.levelOfRM}}</td>

                      <td>{{item.sdm}}</td>

                      <td>
                        <i class="fa fa-pencil font-16 text-blue cursor-pointer ml-3" tooltip="Edit"
                          (click)="editReassignMethodDetails(item, i)"></i>
                        <i class="fa fa-trash font-16 text-red cursor-pointer ml-3" tooltip="Delete"
                          (click)="deleteReassignMethodDetails(i)"></i>
                      </td>

                    </tr>
                  </ng-container>

                  <tr>
                    <td>
                      {{reassignedSequenceArrayForm.get('sequence').value}}
                    </td>
                    <td>
                      <select formControlName="approverMethod" class="form-control custom-select"
                        [ngClass]="{'is-invalid' : reassignedSequenceArrayForm.get('approverMethod').status == 'INVALID'}">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let data of methodOfApprovalArray" [value]=data>
                          {{data}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select
                        [attr.disabled]="(reassignedSequenceArrayForm.get('approverMethod').value == 'Manager through SDM')? '' : null"
                        formControlName="levelOfRM" class="form-control custom-select"
                        (change)="getAssignedLeveOfRM($event.target.value)"
                        [ngClass]="{'is-invalid' : reassignedSequenceArrayForm.get('levelOfRM').status == 'INVALID'}">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let data of levelOfRM" [value]=data>
                          {{data}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select
                        [attr.disabled]="(reassignedSequenceArrayForm.get('approverMethod').value == 'Reporting Manager')? '' : null"
                        formControlName="sdm" class="form-control custom-select"
                        [ngClass]="{'is-invalid' : reassignedSequenceArrayForm.get('sdm').status == 'INVALID'}">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let data of dummyArray" [value]=data>
                          {{data}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div [attr.disabled]="reassignedSequenceArrayForm.get('sdm').value != null">
                        <i *ngIf="addReassignedButtonPopup"
                          class="fa fa-plus-circle font-16 text-green cursor-pointer ml-3" (click)="submitReassigned()"
                          style="color: #4CAF50 !important;"></i>
                        <i *ngIf="!addReassignedButtonPopup" class="fa fa-pencil font-16 text-blue cursor-pointer ml-3"
                          (click)="updateReassignMethodDetails()">Update</i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    <button type="button" class="btn btn-secondary" (click)="resetAssignedData();">Reset</button> -->

    <button (click)="modalRef.hide()" class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
      <b><i class="fa fa-close"></i></b>Close</button>

    <button (click)="resetAssignedData();"
      class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
      <b><i class="fa fa-refresh"></i></b> Reset</button>

  </div>
</ng-template>


<div id="tblData" style="display: none;">
  <table>
    <thead>
      <tr>
        <th class="wd-10" style="background-color: yellow !important;border: 1px solid black;">Sr No. </th>
        <th class="wd-10" style="background-color: yellow !important;border: 1px solid black;">Code </th>
        <th class="wd-20" style="background-color: yellow !important;border: 1px solid black;">Description </th>
        <th class="wd-20" style="background-color: yellow !important;border: 1px solid black;">No. of Approval Level
        </th>
        <th class="wd-8" style="background-color: yellow !important;border: 1px solid black;">No. of Approvers</th>
        <th class="wd-8" style="background-color: yellow !important;border: 1px solid black;">Auto Approval</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of summary; let rowIndex = index;">
        <td class="bg-color-light_gray" style="border: 1px solid black;">
          <div class="form-group mb-0">
            <div class="input-group">
              <label class="form-lable mb-0">{{rowIndex+1}}</label>
            </div>
          </div>
        </td>
        <td class="bg-color-light_gray" style="border: 1px solid black;"><label
            class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.workflowCode}}</label>
        </td>
        <td class="bg-color-light_gray" style="border: 1px solid black;"><label
            class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.description}}</label>
        </td>
        <td class="bg-color-light_gray" style="border: 1px solid black;"><label
            class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.numberOfApprovalLevel}}</label>
        </td>
        <td class="bg-color-light_gray" style="border: 1px solid black;"><label
            class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.numberOfApprover}}</label>
        </td>
        <td class="bg-color-light_gray" [ngStyle]="{
                            color: item.workflowMasterHeaderResponseDTO.autoApproval
                              ? 'hsl(141, 53%, 53%)'
                              : 'hsl(348, 100%, 61%)'
                          }" style="border: 1px solid black;"><label
            class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.autoApproval |
            yesNo}}</label>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div id="tblData" style="display: none;">
  <table>
    <thead>
      <tr>
        <th class="wd-10" style="background-color: #606060FF!important;border: 1px solid black;">Sr. No. </th>
        <th class="wd-10" style="background-color: #606060FF!important;border: 1px solid black;">Code </th>
        <th class="wd-20" style="background-color: #606060FF!important;border: 1px solid black;">Description </th>
        <th class="wd-20" style="background-color: #606060FF!important;border: 1px solid black;">No. of Approval Level </th>
        <th class="wd-8" style="background-color: #606060FF!important;border: 1px solid black;">No. of Approvers</th>
        <th class="wd-8" style="background-color: #606060FF!important;border: 1px solid black;">Auto Approval</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of summary; let rowIndex = index;">
        <td class="bg-color-light_gray" style="border: 1px solid black;">
          <div class="form-group mb-0">
            <div class="input-group">
              <label class="form-lable mb-0">{{rowIndex+1}}</label>
            </div>
          </div>
        </td>
        <td class="bg-color-light_gray" style="border: 1px solid black;"><label
            class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.workflowCode}}</label>
        </td>
        <td class="bg-color-light_gray" style="border: 1px solid black;"><label
            class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.description}}</label>
        </td>
        <td class="bg-color-light_gray" style="border: 1px solid black;"><label
          class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.numberOfApprovalLevel}}</label>
      </td>
        <td class="bg-color-light_gray" style="border: 1px solid black;"><label
            class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.numberOfApprover}}</label>
        </td>
        <td class="bg-color-light_gray" [ngStyle]="{
                            color: item.workflowMasterHeaderResponseDTO.autoApproval
                              ? 'hsl(141, 53%, 53%)'
                              : 'hsl(348, 100%, 61%)'
                          }" style="border: 1px solid black;"><label
            class="form-lable mb-0">{{item.workflowMasterHeaderResponseDTO.autoApproval |
            yesNo}}</label>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->