<form class="card" role="form" (ngSubmit)="addMaster(form,formDirective)" [formGroup]="form" #formDirective="ngForm"
  method="post" novalidate>
  <div class="tabview-contents">
    <div class="row">
      <div class="col-12">
        <fieldset>
          <legend>Patient Details</legend>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <label class="form-label">Patient Name</label>
              <select name="patientName" id="patientName" class="form-control custom-select"
                formControlName="patientName" (change)='OnSelectionfamilyMemberGroup()'
                [ngClass]="{ 'is-invalid': submitted && masterForm.patientName.errors }">
                <option [ngValue]="null">Select</option>
                <option *ngFor="let patientName of familyMemberName" [value]="patientName.value">
                  {{patientName.label}}
                </option>
              </select>
              <div *ngIf="submitted && masterForm.patientName.errors" class="invalid-feedback">
                <div *ngIf="masterForm.patientName.errors.required">Patient Name is mandatory</div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <label class="form-label">Relationship</label>
              <input type="text" formControlName="relationship" class="form-control" disabled
                [ngClass]="{ 'is-invalid': submitted && masterForm.relationship.errors }">
              <div *ngIf="submitted && masterForm.relationship.errors" class="invalid-feedback">
                <div *ngIf="masterForm.relationship.errors.required">Relationship is mandatory</div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <label class="form-label">Specified Disease Name</label>
              <select id="specifiedDiseaseName" formControlName="specifiedDiseaseName" (change)='OnSpecifiedDiseaseChange($event.target.value)'
                class="form-control custom-select"
                [ngClass]="{ 'is-invalid': submitted && masterForm.specifiedDiseaseName.errors }">
                <option [ngValue]="null">Select</option>
                <option *ngFor="let specifiedDiseaseName of specifiedDiseaseNameList"
                  [value]="specifiedDiseaseName.value">
                  {{specifiedDiseaseName.label}}
                </option>
              </select>
              <div *ngIf="submitted && masterForm.specifiedDiseaseName.errors" class="invalid-feedback">
                <div *ngIf="masterForm.specifiedDiseaseName.errors.required">Disease Name is mandatory</div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3" *ngIf="visibilityFlag">
              <label class="form-label">Neurological Disease</label>
              <select id="neurologicalDiseaseName" formControlName="neurologicalDiseaseName"
                class="form-control custom-select"
                [ngClass]="{ 'is-invalid': submitted && masterForm.neurologicalDiseaseName.errors }">
                <option [ngValue]="null">Select</option>
                <option *ngFor="let neurologicalDiseaseName of neurologicalDiseaseNameList"
                  [value]="neurologicalDiseaseName.value">
                  {{neurologicalDiseaseName.label}}
                </option>
              </select>
              <div *ngIf="submitted && masterForm.neurologicalDiseaseName.errors" class="invalid-feedback">
                <div *ngIf="masterForm.neurologicalDiseaseName.errors.required">Neurological Disease is mandatory</div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row mt-30">
      <div class="col-12">
        <div class="card">
          <div class="mb-0 row">
            <div class="col-md-6">
              <h3 class="font-14 text-purple font-bold">Upload Documents </h3>
              <div class="float-left" *ngIf="submitted && masterfilesArray.length == 0">
                <label class="text-red mb-0">Please upload document</label>
              </div>
            </div>
            <div class="col-md-6">
              <span class="font-bold text-link float-right"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="table-responsive Custom_Table">
                <table class="table table-striped table-hover table-bordered m-b-0">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="font700 wd-8">Sr No.</th>
                      <th scope="col" class="font700 wd-40">Document Name</th>
                      <th scope="col" class="font700 wd-40">Attachment</th>
                      <th scope="col" class="font700 wd-12">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><span tooltip="1">1</span></th>
                      <td><span tooltip="Premium Receipt/ Premium Statement"></span>Premium Receipt/ Premium Statement
                      </td>
                      <td><span *ngFor="let item of masterfilesArray" class="text-orange" tooltip="{{item.name}},"><i
                            class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;{{item.name}},</span>
                        <div class="col-md-12" *ngFor="let doc of urlArray; let i = index">
                          <div class="labelbox mb-0" placement="bottom" tooltip="{{ doc.fileName }}">
                            <i class="fa fa-paperclip text-orange" (click)="docViewer(template3,i)"></i> &nbsp; {{
                            doc.fileName }}
                          </div>
                        </div>
                      </td>
                      <td>
                        <i class="fa fa-upload font-16 text-blue cursor-pointer" tooltip="Upload"
                          (click)="UploadModal(template)" data-toggle="modal"
                          data-target="#UploadModal"></i>&nbsp;&nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-15">
      <div class="col-12">
        <div class="float-right mb-15">
          <!-- <button type="button"  (click)="resetForm()"
            class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple" tooltip="Cancel"><b>
              <i class="fa fa-floppy-o"></i></b> Cancel</button> &nbsp; -->
          <button type="submit" tooltip="Save"
            class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"><b>
              <i class="fa fa-floppy-o"></i></b> Save</button> &nbsp;
              <button type="button" (click)="resetView()"
              class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left " tooltip="Reset"><b>
                <i class="fa fa-refresh"></i></b> Reset</button>

        </div>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-12">
        <div class="card">
          <div class="mb-0">
            <h3 class="font-14 text-purple font-bold">Summary</h3>
          </div>
          <div class="">
            <div class="table-responsive Custom_Table">
              <table class="table table-striped table-hover table-bordered m-b-0">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="wd-15">Patient Name</th>
                    <th scope="col" class="wd-15">Relationship</th>
                    <th scope="col" class="wd-15">Disease</th>
                    <th scope="col" class="wd-10">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let summary of masterGridData; let i = index">
                    <td class="wd-10"><span tooltip="{{summary.patientName}}">{{summary.patientName}}</span>
                    </td>
                    <td class="wd-10"><span tooltip="{{summary.relationship}}">{{summary.relationship}}</span>
                    </td>
                    <td class="wd-10"><span
                        tooltip="{{summary.specifiedDiseaseName}}">{{summary.specifiedDiseaseName}}</span>
                    </td>
                    <td class="wd-5">
                      <i class="fa fa-edit font-16 text-dark-green cursor-pointer" (click)="editMaster(summary.patientName)"
                        tooltip="Edit"></i> &nbsp;&nbsp;
                    </td>
                  </tr>
                  <tr *ngIf="!masterGridData?.length">
                    <td colspan="10">
                      <span class="font-14 font500 align-center text-red">No Data Available</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title" id="UploadModalLabel">Upload Document</h5>
    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="row clearfix">
          <!-- <div class="col-md-12">
                   <label class="form-label">Upload File here :</label>
                </div> -->
          <div class="col-md-12">
            <div class="fileuploadbox bg-color-lightgray">
              <label class="filelabel">
                <i class="fa fa-upload">
                </i>
                <span class="title">
                  Choose file
                </span>
                <input class="FileUpload1" class="dropify" (change)="onMasterUpload($event);"
                  accept=".jpg , .jpeg, .pdf , .png" id="FileInput" type="file" multiple />
              </label>
            </div>
            <div *ngIf="masterfilesArray.length > 0 " class="fileuploadbox">
              <span class="text-purple font-14 font700">Selected Files</span>
              <label *ngFor="let item of masterfilesArray;  let index = index;" class="filelabeldisplay">
                <div class="text-ellipsis"><i class="fa fa-paperclip">
                  </i>
                  <span class="title" tooltip="{{item.name}}">
                    {{ item.name }}
                  </span>
                </div>
                <div>
                  <i class="fa fa-times text-red font-18" (click)="removeSelectedLicMasterDocument(index)"></i>
                </div>
              </label>
            </div>
          </div>
          <div class="col-md-12 mt-10">
            <label class="form-label">Remark</label>
          </div>
          <div class="col-md-12">
            <textarea class="form-control" [(ngModel)]="documentRemark" rows="2"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Ok</button>
  </div>
</ng-template>

<!-- For Doc Viewer  -->
<ng-template #template3>
  <div class="modal-header">
    <h5 class="modal-title" id="jasdjgh">Document Viewer</h5>
    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <!-- <button (click)="previousDocViewer()" [disabled]="urlIndex == 0">previous</button>
<button (click)="nextDocViewer()" [disabled]="urlIndex == (urlArray.length-1)">next</button> -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-1">
        <button type="button" class="btn active Next_Previous_Btn" tooltip="Previous Document"
          (click)="previousDocViewer()" [disabled]="urlIndex == 0">
          <i class="fa fa-angle-left text-white font-30 p-10"></i>
        </button>
      </div>
      <div class="col-md-10">
        <iframe style="height: 100vh; width: 100%; display: block" [src]="urlSafe" provider="google"></iframe>
        <!-- <img src="https://paysquare-images.s3.ap-south-1.amazonaws.com/download.jpg" alt="not fouund"> -->
      </div>
      <div class="col-md-1">
        <button type="button" class="btn active Next_Previous_Btn" tooltip="Next Document" (click)="nextDocViewer()"
          [disabled]="urlIndex == urlArray.length - 1">
          <i class="fa fa-angle-right text-white font-30 p-10"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary">Save</button>  -->
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
      Ok
    </button>
  </div>
</ng-template>


