<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="ExitForm" (ngSubmit)="ExitFormSubmit(ExitInformation)">
                        <!-- Member Details -->
                        <fieldset>
                            <legend><i class="fa fa-users"></i>
                                Exit</legend>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Retirement Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                data-provide="datepicker" data-date-autoclose="true" placement="center"
                                                class="form-control" formControlName="projectedRetirementDate"
                                                [(ngModel)]="ExitInformation.retirementDate" placeholder="  /   /"
                                                bsDatepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Resignation Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                data-provide="datepicker" data-date-autoclose="true"
                                                formControlName="resignationDate" [minDate]="JoiningDate"
                                                [maxDate]="today" placement="center"
                                                (bsValueChange)="calculateExpectedLeavingDateFromMonths(ExitInformation.resignationDate)"
                                                [(ngModel)]="ExitInformation.resignationDate" class="form-control"
                                                placeholder="  /   /" bsDatepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Expected Leaving Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                data-provide="datepicker" data-date-autoclose="true"
                                                 [minDate]="resigndate"
                                                    [maxDate]="lastWorkDate" 
                                                    (click)="lastWorkingDateChanged()"
                                                
                                                formControlName="expectedLeavingDate" placement="center"
                                                [(ngModel)]="ExitInformation.expectedLeavingDate" class="form-control"
                                                placeholder="  /   /" bsDatepicker>
                                        </div>
                                        <!-- [minDate]="ExitInformation.resignationDate"
                                        [maxDate]="ExitInformation.lastWorkingDate" -->
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Last Working Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                data-provide="datepicker" data-date-autoclose="true"
                                                formControlName="lastWorkingDate" placement="center"
                                                [minDate]="resigndate"
                                                
                                                [(ngModel)]="ExitInformation.lastWorkingDate" class="form-control"
                                                placeholder="  /   /" bsDatepicker>
                                        </div>
                                        <!-- [minDate]="ExitInformation.resignationDate" -->
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Reason For Leaving</label>
                                    <select class="form-control" placeholder="Select"
                                        formControlName="reasonForLeaving"
                                        [(ngModel)]="ExitInformation.reasonForLeaving">
                                        <option value="" selected>Select</option>
                                        <option *ngFor="let option of reasonForLeavingList" [value]="option">
                                            {{option}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-sm-6 col-lg-3">
                                    <label class="form-label">
                                        Remark</label>
                                    <input type="text" class="form-control" formControlName="Exitremark"
                                        [isRequired]="false" [(ngModel)]="ExitInformation.remark"
                                        placeholder="Enter Remark">
                                </div>

                                <!-- <div class="col-sm-6 col-md-5">
                                    <div class="form-group">
                                        <div class="form-label">Employee Status</div>
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Probation"
                                                    checked>
                                                <span class="custom-control-label">Probation</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Confirmed">
                                                <span class="custom-control-label">Confirmed</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Resigned">
                                                <span class="custom-control-label">Resigned</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Exited">
                                                <span class="custom-control-label">Exited</span>
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </fieldset>

                        <div class="row mt-15">
                            <div class="col-12">
                                <div class="float-right mt-15">
                                    <button type="button" tooltip="Reset" (click)="resetForm()" [hidden]="viewExit"
                                        class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left mr-15"><b><i
                                                class="fa fa-refresh" aria-hidden="true"></i></b> Reset</button>

                                    <button type="submit" [disabled]="ExitForm.invalid || ExitForm.untouched"
                                        [hidden]="viewExit || editExit"
                                        class="custom_button custom_btn btn-labeled btn-labeled-left btn-bg-green"
                                        [ngClass]="{'disabled-btn-bg-green' : ExitForm.invalid || ExitForm.untouched,
                                        'btn-bg-green': !ExitForm.invalid}" tooltip="Save"><b><i
                                                class="fa fa-floppy-o"></i></b>Save</button>

                                    <button type="submit" *ngIf="editExit"
                                        [disabled]="ExitForm.invalid || ExitForm.untouched" [ngClass]="{'disabled-btn-bg-green' : ExitForm.invalid || ExitForm.untouched,
                                    'btn-bg-green': !ExitForm.invalid}"
                                        class="custom_button custom_btn btn-labeled btn-labeled-left"
                                        tooltip="Update"><b><i class="fa fa-floppy-o"></i></b>Update</button>

                                    <button type="button" tooltip="Cancel" *ngIf="viewExit || editExit"
                                        (click)="cancel()"
                                        [routerLink]="['/employee-master/employment-information/employment-summary']"
                                        class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"><b><i
                                                class="fa fa-times-circle" aria-hidden="true"></i></b>Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>