<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="ExitForm" (ngSubmit)="ExitFormSubmit(ExitInformation)">
                        <!-- Member Details -->
                        <fieldset>
                            <legend><i class="fa fa-users"></i>
                                Exit</legend>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Retirement Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                data-provide="datepicker" data-date-autoclose="true"
                                                class="form-control"
                                                formControlName="projectedRetirementDate"
                                                [(ngModel)]="ExitInformation.projectedRetirementDate"
                                                placeholder="  /   /" bsDatepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Resignation Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                data-provide="datepicker" data-date-autoclose="true"
                                                formControlName="resignationDate" [min]="JoiningRejoiningDate"
                                                (change)="calcExpectedLeavingDate(ExitInformation.resignationDate)"
                                                [(ngModel)]="ExitInformation.resignationDate"
                                                class="form-control" placeholder="  /   /" bsDatepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Expected Leaving Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                data-provide="datepicker" data-date-autoclose="true"
                                                formControlName="expectedLeavingDate"
                                                [(ngModel)]="ExitInformation.expectedLeavingDate"
                                                class="form-control" placeholder="  /   /" bsDatepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Last Working Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                                data-provide="datepicker" data-date-autoclose="true"
                                                formControlName="lastWorkingDate" [min]="ExitInformation.resignationDate"
                                                [(ngModel)]="ExitInformation.lastWorkingDate"
                                                class="form-control" placeholder="  /   /" bsDatepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Reason For Leaving</label>
                                    <select class="form-control" placeholder="Select Reason"
                                    formControlName="reasonForLeaving"
                                    [(ngModel)]="ExitInformation.reasonForLeaving">
                                    <option value="" selected disabled>Select Reason</option>
                                    <option *ngFor="let option of reasonForLeavingList" [value]="option">
                                        {{option}}
                                    </option>
                                </select>
                                </div>

                                <div class="col-sm-6 col-lg-3">
                                    <label class="form-label">
                                        Remark</label>
                                    <input type="text" class="form-control"
                                    formControlName="Exitremark" [isRequired]="false"
                                    [(ngModel)]="ExitInformation.remark">
                                </div>

                                <div class="col-sm-6 col-md-5">
                                    <div class="form-group">
                                        <div class="form-label">Employee Status</div>
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Probation"
                                                    checked>
                                                <span class="custom-control-label">Probation</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Confirmed">
                                                <span class="custom-control-label">Confirmed</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Resigned">
                                                <span class="custom-control-label">Resigned</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" value="Exited">
                                                <span class="custom-control-label">Exited</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row mt-15">
                            <div class="col-12">
                                <div class="float-right mt-15">
                                    <button type="submit" [disabled]="ExitForm.invalid || ExitForm.untouched"
                                        class="custom_button custom_btn btn-labeled btn-labeled-left btn-bg-green"
                                        [ngClass]="{'disabled-btn-bg-green' : ExitForm.invalid || ExitForm.untouched,
                                        'btn-bg-green': !ExitForm.invalid}"
                                         tooltip="Save"><b><i class="fa fa-floppy-o"></i></b>Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>