<form [formGroup]="minimumWagesForm" (ngSubmit)="minumumWagesDetailsSubmit(organizationDetailsModel)">
    <div class="row">
    <div class="col-sm-6 col-md-3">
        <label class="form-label">Payroll Area</label>
        <!-- <p-autoComplete [suggestions]="filteredPayrollAreaList" placeholder="Select"
            (completeMethod)="filterpayrollArea($event)" [dropdown]="true"
            (onSelect)="selectPayrollArea($event)"
            [(ngModel)]="payrollAreaCode" [ngModelOptions]="{standalone: true}">
        </p-autoComplete> -->
        <!-- <select class="form-control" placeholder="Select Payroll Area"
            (completeMethod)="filterpayrollArea(payrollAreaCode)" (change)="selectPayrollArea(payrollAreaCode)"
            [(ngModel)]="payrollAreaCode" [ngModelOptions]="{standalone: true}">
            <option value="" selected disabled>Select Payroll Area</option>
            <option *ngFor="let option of filteredPayrollAreaList" [value]="option">
                {{option}}
            </option>
        </select> -->
        <select class="form-control" placeholder="Select"
        (completeMethod)="filterpayrollArea(option.payrollAreaCode)"
        (change)="selectPayrollArea(payrollAreaCode)"
            [(ngModel)]="payrollAreaId" [ngModelOptions]="{standalone: true}">
            <option value="" selected disabled>Select</option>
            <option *ngFor="let option of filteredPayrollAreaList" [value]="option.payrollAreaId">
                {{option.payrollAreaCode}}
            </option>
        </select>
    </div>
    <div class="col-sm-6 col-md-3">
        <label class="form-label">Type</label>
        <input type="text" class="form-control" [(ngModel)]="payrollType" [ngModelOptions]="{standalone: true}"
       disabled>
    </div>
    <div class="col-sm-6 col-md-3" >
        <label class="form-label">Company Name</label>
        <input type="text" class="form-control" [(ngModel)]="companyName"
            [ngModelOptions]="{standalone: true}" disabled>
    </div>
    <div class="col-sm-6 col-md-3" *ngIf="filteredPayrollAreaList?.length>1">

        <label class="form-label">Copy From </label>
        <select class="form-control" placeholder="Select" formControlName="copyFromControl"
            (change)="selectCopyFrom()" [(ngModel)]="copyFromCode" [ngModelOptions]="{standalone: true}">
            <option value="" selected disabled>Select</option>
            <option *ngFor="let copy of copyFromFilteredList" [value]="copy.payrollAreaId">
                {{copy.payrollAreaCode}}
            </option>
        </select>
    </div>
    </div>
    
    <br>
    <hr class="line">
<div class="row row-cards">
    <div *ngIf="filteredSkillList?.length" class="col-sm-6 col-lg-3">
        <!-- Minimum Wages -  -->
            <fieldset class=" card p-3 row-card-color">
                <legend class="cardBox"> Skill</legend>
                <label class="form-label">Code
                    <i class="fa fa-eye float-right  modelView" (click)="ViewModal(template1);showHistory(organizationDetailsModel.skillList)" data-toggle="modal" data-target="#ViewModal" tooltip="History"></i> 
                </label>
         
            <!-- <p-autoComplete [suggestions]="filteredHighestEducationList" placeholder="Select"
                (completeMethod)="filterHighestEducation($event)" [dropdown]="true">
            </p-autoComplete> -->
            <select class="form-control" placeholder="Select"
            (completeMethod)="searchSkill(skill.masterCode)"
            (change)="enableSkillDate();skillObject()"
            formControlName="skillControl" [(ngModel)]="organizationDetailsModel.skillList.masterCode">
              <option value="" selected disabled>Select</option>
              <option *ngFor="let skill of filteredSkillList" [value]="skill.masterCode">
                {{skill.masterCode}}
            </option>
          </select>

            <label class="form-label mt-10">From Date</label>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker" 
                    data-date-autoclose="true" class="form-control" placeholder="  /   /" 
                    bsDatepicker formControlName="skillStartDateControl" 
                    [minDate]="joiningDate" [(ngModel)]="organizationDetailsModel.skillList.fromDate"
                    (ngModelChange)="validateSkillDate($event)"
                    [ngClass]="{'is-invalid' : minimumWagesForm.get('skillStartDateControl').status == 'INVALID'}">
                   
                </div>
            </div>

            <label class="form-label">To Date</label>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker" 
                    data-date-autoclose="true" class="form-control" placeholder="  /   /" 
                    bsDatepicker formControlName="skillEndDateControl" 
                    [minDate]="organizationDetailsModel.skillList.fromDate"
                    
                            [(ngModel)]="organizationDetailsModel.skillList.toDate"
                            [ngClass]="{'is-invalid' : minimumWagesForm.get('skillEndDateControl').status == 'INVALID'}">
                   
                     </div>
            </div>
            </fieldset>
    </div>

    <div class="col-sm-6 col-lg-3">
        <!-- Minimum Wages -  -->
            <fieldset class=" card p-3 row-card-color">
                <legend class="cardBox">Type Of Work</legend>
                <label class="form-label">Code
                    <i class="fa fa-eye float-right modelView" (click)="ViewModal(template1);showHistory(organizationDetailsModel.workList)" data-toggle="modal" data-target="#ViewModal" tooltip="History"></i> 
                </label>
         
            <!-- <p-autoComplete [suggestions]="filteredHighestEducationList" placeholder="Select"
                (completeMethod)="filterHighestEducation($event)" [dropdown]="true">
            </p-autoComplete> -->
            <select class="form-control" placeholder="Select"
            (completeMethod)="searchWork(work.masterCode)"
            (change)="enableWorkDate();workObject()"
            formControlName="workTypeControl" [(ngModel)]="organizationDetailsModel.workList.masterCode">
              <option value="" selected disabled>Select</option>
              <option *ngFor="let work of filteredWorkList" [value]="work.masterCode">
                {{work.masterCode}}
            </option>
          </select>
            <label class="form-label mt-10">From Date</label>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker" 
                    data-date-autoclose="true" class="form-control" placeholder="  /   /" 
                    bsDatepicker formControlName="workStartDateControl" 
                    (ngModelChange)="validateWorkDate($event)"
                    [minDate]="joiningDate" [(ngModel)]="organizationDetailsModel.workList.fromDate"
                   
                    [ngClass]="{'is-invalid' : minimumWagesForm.get('workStartDateControl').status == 'INVALID'}">
                </div>
            </div>

            <label class="form-label">To Date</label>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker" 
                    data-date-autoclose="true" class="form-control" placeholder="  /   /" 
                    bsDatepicker formControlName="workEndDateControl" 
                    [minDate]="organizationDetailsModel.workList.fromDate"
                            [(ngModel)]="organizationDetailsModel.workList.toDate"
                            [ngClass]="{'is-invalid' : minimumWagesForm.get('workEndDateControl').status == 'INVALID'}">
                    </div>
            </div>
            </fieldset>
    </div>
</div>
<div class="row mt-15">
    <div class="col-12">
        <div class="float-right mb-15">
            <button type="submit" 
            [disabled]="minimumWagesForm.invalid || minimumWagesForm.untouched"
            class="custom_button custom_btn btn-labeled btn-labeled-left btn-bg-green"  tooltip="Save"
            [ngClass]="{'disabled-btn-bg-green' : minimumWagesForm.invalid || minimumWagesForm.untouched,
                       'btn-bg-green': !minimumWagesForm.invalid}"><b><i class="fa fa-floppy-o"></i></b>Save</button>

            <button type="button" tooltip="Previous" [routerLink]="['/employee-master/job-information/position-details']" class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                        class="fa fa-chevron-circle-left" aria-hidden="true"></i></b>Previous</button>

            <button type="button" tooltip="Next" [routerLink]="['/employee-master/job-information/project-details']" class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                        class="fa fa-chevron-circle-right" aria-hidden="true"></i></b>Next</button>
        </div>
    </div>
</div>
</form>

<ng-template class="modal-lg" #template1>
    <div class="modal-header">
      <h5 class="modal-title" id="UploadModalLabel">History</h5>
  
  
      <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">×</span></button>
    </div>
  
    <div class="modal-body">
      <div class="card">
        <div class="row mb-3 mt-1">
          <div class="col-md-6">
            <h3 class="font-14"><span class="text-purple">Job Detail : </span> <span class="text-black">   {{historyData[0].jobDetail}}</span></h3>
        </div>
            <div class="col-md-6">
            <h3 class="font-14"><span class="text-purple">Job Field : </span>  <span class="text-black">   {{historyData[0].jobField}}</span></h3>
          </div>
        </div>
  
  
        <div class="card-bodys">
          <div class=" ">
  
            <p-table [value]="historyData" [paginator]="true" [rows]="10" (sortFunction)="customSort($event)"
              [customSort]="true" [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [rowsPerPageOptions]="[10,25,50,100,200]">
  
  
  
              <ng-template pTemplate="header">
  
                <tr>
                  <th rowspan="1" class="  text-center ">
                    Sr. No.
                  </th>
                  <!-- <th rowspan="1" class=" text-center">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Job Detail
                      <div class="Sort_Filter_Position">
                        <p-sortIcon field="jobDetail" pSortableColumn="jobDetail"></p-sortIcon>
                        <p-columnFilter field="jobDetail" display="menu" class="p-ml-auto"></p-columnFilter>
                      </div>
                    </div>
                  </th>
  
                  <th rowspan="1" class="  text-center">
                    <div class="p-d-flex p-jc-between text-center p-ai-center">
                      Job Field
                      <div class="Sort_Filter_Position">
                        <p-sortIcon field="jobField" pSortableColumn="jobField"></p-sortIcon>
                        <p-columnFilter field="jobField" display="menu" class="p-ml-auto"></p-columnFilter>
                      </div>
                    </div>
                  </th> -->
  
                  <th rowspan="1" class=" text-center">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Code
                      <div class="Sort_Filter_Position">
                        <p-sortIcon field="value" pSortableColumn="value">
                        </p-sortIcon>
                        <p-columnFilter field="value" display="menu" class="p-ml-auto">
                        </p-columnFilter>
                      </div>
                    </div>
                  </th>

                  <th rowspan="1" class="wd-21 text-center">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Description
                      <div class="Sort_Filter_Position">
                        <p-sortIcon field="masterDescription" pSortableColumn="masterDescription">
                        </p-sortIcon>
                        <p-columnFilter field="masterDescription" display="menu" class="p-ml-auto">
                        </p-columnFilter>
                      </div>
                    </div>
                  </th>
  
                 
  
                  <th rowspan="1" class=" text-center">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      From Date
                      <div class="Sort_Filter_Position">
                        <p-sortIcon field="fromDate" pSortableColumn="fromDate">
                        </p-sortIcon>
                        <p-columnFilter field="fromDate" display="menu" class="p-ml-auto">
                        </p-columnFilter>
                      </div>
  
                    </div>
                  </th>
  
                  <th rowspan="1" class="wd-13 text-center">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      To Date
                      <div class="Sort_Filter_Position">
                        <p-sortIcon field="toDate" pSortableColumn="toDate">
                        </p-sortIcon>
                        <p-columnFilter field="toDate" display="menu" class="p-ml-auto">
                        </p-columnFilter>
                      </div>
  
                    </div>
                  </th>
                </tr>
  
              </ng-template>
              <ng-template pTemplate="body" let-user1 let-rowIndex="rowIndex">
  
                <tr class="p-selectable-row">
  
                  <td class="bg-color-light_gray text-center"><label
                      class="form-lable mb-0 text-center">{{rowIndex+1}}</label></td>
  
                  <!-- <td class="bg-color-light_gray"><label class="form-lable mb-0"
                      tooltip="{{user1.jobDetail}}">{{user1.jobDetail}}</label></td>
  
                  <td class="bg-color-light_gray"><label class="form-lable mb-0"
                      tooltip="{{user1.jobField}}">{{user1.jobField}}</label>
                  </td> -->
  
                  <td class="bg-color-light_gray"><label class="form-lable mb-0"
                      tooltip="{{user1.value}}">{{user1.value}}</label>
                  </td>
  
                  <td class="bg-color-light_gray"><label class="form-lable mb-0"
                    tooltip="{{user1.masterDescription}}">{{user1.masterDescription}}</label>
                 </td>

                  <td class="bg-color-light_gray"><label class="form-lable mb-0"
                      tooltip="{{user1.fromDate}}">{{user1.fromDate}}</label>
                  </td>
                  <td class="bg-color-light_gray"><label class="form-lable mb-0"
                      tooltip="{{user1.toDate}}">{{user1.toDate}}</label>
                  </td>
  
  
  
                </tr>
              </ng-template>
            </p-table>
  
  
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-primary">Save</button>  -->
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>