<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="jobtabview">
                                <input name="nav" type="radio" class="about-radio" id="jobSummary"
                                    [checked]="tabIndex==0" />
                                <label class="nav" for="jobSummary" (click)="hideSummaryGrid = true"
                                    [routerLink]="['/employee-master/job-information/job-summary']"
                                    (click)="hiddenSummary = false">
                                    <span>
                                       Job Summary
                                    </span>
                                </label>


                                <input name="nav" type="radio" class="about-radio" id="organizationDetails"
                                    [checked]="tabIndex==0" />
                                <label class="nav" for="organizationDetails" (click)="hideSummaryGrid = true"
                                    [routerLink]="['/employee-master/job-information/organization-details']"
                                    (click)="hiddenSummary = false">
                                    <span>
                                        Organization
                                    </span>
                                </label>

                                <input name="nav" type="radio" class="about-radio" id="positionDetails"
                                    [checked]="tabIndex==1" />
                                <label class="nav" for="positionDetails" (click)="hideSummaryGrid = true"
                                    [routerLink]="['/employee-master/job-information/position-details']"
                                    (click)="hiddenSummary = false">
                                    <span>
                                        Position
                                    </span>
                                </label>

                                <input name="nav" type="radio" class="about-radio" id="minimumWagesDetails"
                                    [checked]="tabIndex==1" />
                                <label class="nav" for="minimumWagesDetails" (click)="hideSummaryGrid = true"
                                    [routerLink]="['/employee-master/job-information/minimum-wages-details']"
                                    (click)="hiddenSummary = false">
                                    <span>
                                        Minimum Wages
                                    </span>
                                </label>

                                <input name="nav" type="radio" class="about-radio" id="projectDetails"
                                    [checked]="tabIndex==2" />
                                <label class="nav" for="projectDetails" (click)="hideSummaryGrid = true"
                                    [routerLink]="['/employee-master/job-information/project-details']"
                                    (click)="hiddenSummary = false">
                                    <span>
                                        Project
                                    </span>
                                </label>

                                <input name="nav" type="radio" class="about-radio" id="deputationDetails"
                                    [checked]="tabIndex==3" />
                                <label class="nav" for="deputationDetails" (click)="hideSummaryGrid = true"
                                    [routerLink]="['/employee-master/job-information/deputation-details']"
                                    (click)="hiddenSummary = false">
                                    <span>
                                        Deputation
                                    </span>
                                </label>


                                <div class="jobtabs about-page">
                                    <div class="tabview-contents">
                                        <router-outlet></router-outlet>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>