<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mt-10">
                                <div class="col-md-12 pl-0 pr-0">
                                    <div class="border-dark-card radius-10 p-2 mt-3">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="form-label mt-1 mb-0">Employee No. & Name</label>
                                                <label class="font-12 text-ellipsis mt-1 mb-0">
0001 - Sneha Suryawanshi</label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label mt-1 mb-0">Date of Joining</label>
                                                <label class="font-12 text-ellipsis mt-1 mb-0">
21-jan-2016
</label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label mt-1 mb-0">Date of Leaving</label>
                                                <label class="font-12 text-ellipsis mt-1 mb-0">
                                  21-jan-2020
</label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label mt-1 mb-0">Employee Type</label>
                                                <label class="font-12 text-ellipsis mt-1 mb-0">
Worker
</label>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="form-label mt-1 mb-0">Grade</label>
                                                <label class="font-12 text-ellipsis mt-1 mb-0">
G1
</label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label mt-1 mb-0">Designation</label>
                                                <label class="font-12 text-ellipsis mt-1 mb-0">
UI/UX Developer
</label>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="form-label mt-1 mb-0">Status</label>
                                                <label class="font-12 text-ellipsis mt-1 mb-0">
Probation
</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
