.invalid-message{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.badge-reOpen{
    color:purple !important;
    }
    .badge-approved{
    color:rgb(18, 192, 18) !important;
    }
    .badge-sendBack{
    color: brown!important;
    }
    .badge-submitted{
        color: blue !important;
    }