<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-3">
                               <button class="stepbutton" (click)="abc(0)">Summary</button>
                             </div>
                             
                             <div class="col-sm-3">
                               <button class="stepbutton" (click)="abc(1)">
                                 <div *ngIf="stepperIndex > 1 then thenBlock1 else elseBlock1"></div>
                                 <ng-template #thenBlock1>
                                  <i class="fa fa-check"></i>
                                  </ng-template>
                                  <ng-template #elseBlock1>
                                    <i class="fa fa-edit" *ngIf="stepperIndex ===1"></i>
                                    <span *ngIf="stepperIndex !=1">1</span>
                                  </ng-template>
                                </button>
                             </div>
                             <div class="col-sm-3">
                               <button class="stepbutton" (click)="abc(2)">
                                  <div *ngIf="stepperIndex > 2 then thenBlock2 else elseBlock2"></div>
                                  <ng-template #thenBlock2>
                                  <i class="fa fa-check"></i>
                                  </ng-template>
                                  <ng-template #elseBlock2>
                                    <i class="fa fa-edit" *ngIf="stepperIndex ===2"></i>
                                    <span *ngIf="stepperIndex !=2">2</span>
                                  </ng-template>
                                </button>
                             </div>
                             <div class="col-sm-3">
                               <button class="stepbutton" (click)="abc(3)">
                                  <div *ngIf="stepperIndex > 3 then thenBlock3 else elseBlock3"></div>
                                  <ng-template #thenBlock3>
                                  <i class="fa fa-check"></i>
                                  </ng-template>
                                  <ng-template #elseBlock3>
                                    <i class="fa fa-edit" *ngIf="stepperIndex ===3"></i>
                                    <span *ngIf="stepperIndex !=3">3</span>
                                  </ng-template>
                                </button>
                             </div>

                             <div class="stepper-horizontal" id="stepper1">
                              <div class="step editing">
                                <div class="step-circle"><span>1</span></div>
                                <div class="step-title">Basic Info</div>
                                <div class="step-bar-left"></div>
                                <div class="step-bar-right"></div>
                              </div>
                              <div class="step">
                                <div class="step-circle"><span>2</span></div>
                                <div class="step-title">Address</div>
                                <div class="step-bar-left"></div>
                                <div class="step-bar-right"></div>
                              </div>
                              <div class="step">
                                <div class="step-circle"><span>3</span></div>
                                <div class="step-title">Contacts</div>
                                <div class="step-optional">Optional</div>
                                <div class="step-bar-left"></div>
                                <div class="step-bar-right"></div>
                              </div>
                              <div class="step">
                                <div class="step-circle"><span>4</span></div>
                                <div class="step-title">Reporting Info</div>
                                <div class="step-optional">Optional</div>
                                
                                <div class="step-bar-right"></div>
                              </div>
                            </div>
                           </div>

                           <form class="card" role="form" [formGroup]="generalForm" #formDirective="ngForm" method="post" novalidate>
                            <div class="tabview-contents">
                          <div [ngSwitch]="stepperIndex">
                            <div *ngSwitchCase="0" [@slideInOut]>
                                <div class="row mt-10">
                                  <div class="col-12">
                                    <div class="table-responsive Custom_Table">
                                      <table class="table table-striped table-hover table-bordered m-b-0">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th class="wd-20" scope="col">Code</th>
                                            <th class="wd-20" scope="col">Description</th>
                                            <!-- <th scope="col" class="wd-20">Account Holder Name</th> -->
                                            <th scope="col">Method of Recovery</th>
                                            <th class="wd-10" scope="col">Rate of interest(%)</th>
                                            <th scope="col">No. of Installment</th>
                                              <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let summary of summaryGridData; let i = index">
                                            <td >
                                              {{summary.loanCode}}
                                            </td>
                                            <td >{{summary.loanDescription}}
                                            </td>
                                            <!-- <td class="wd-20">
                                              <span tooltip="{{summary.accountHolderName}}">
                                                {{summary.accountHolderName}}
                                              </span>
                                            </td> -->
                                            <td>
                                              <span>
                                                {{summary.recoveryMethod}}
                                              </span>
                                            </td>
                                            <td>
                                                {{summary.intRate}}
                                            </td>
                                            <td>
                                                {{summary.recoveryNoOfInstallments}}
                                            </td>
                                            <td class="wd-10"><i class="fa fa-edit font-16 text-dark-green cursor-pointer"
                                                (click)="edit(summary)" tooltip="Edit"></i>&nbsp;&nbsp;
                                                <i (click)="view(summary)" class="fa fa-eye font-16 text-blue cursor-pointer" tooltip="View"></i>
                                              </td>
                                          </tr>
                                          <tr *ngIf="!summaryGridData?.length">
                                            <td colspan="6">
                                              <span class="font-14 font500 align-center text-red">No Data
                                                Available</span>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div *ngSwitchCase="1" [@slideInOut]>
                                <div class="row mt-37">
                                  <div class="col-12">
                                    <fieldset>
                                      <legend>General</legend>
                                      <div class="row">
                                      <div class="col-sm-6 col-md-3">
                                          <label class="form-label">Code</label>
                                          <input type="text" formControlName="loanCode" class="form-control align-right" 
                                          [ngClass]="{'is-invalid' : generalForm.get('loanCode').status == 'INVALID'}">
                                            <div style="color: red;" *ngIf="generalForm.get('loanCode').status == null">
                                              <small>mandatory*</small></div>
                                      </div>
                                          <div class="col-sm-6 col-md-3">
                                            <label class="form-label">Description</label>
                                            <input type="text" formControlName="loanDescription" class="form-control align-right">
                                            <div *ngIf="submitted && generalForm.loanDescription.errors" class="invalid-feedback">
                                                <div *ngIf="generalForm.loanDescription.errors.required">mandatory</div>
                                            </div>
                                          </div>
                                          <div class="col-sm-6 col-md-3">
                                            <label class="form-label ml-15" placement="left">
                                              Minimum Net Pay (MNP)-Loan Head
                                            </label>
                                            <div class="custom-controls-stacked ml-15 mt-10">
                                                <label class="custom-control custom-radio custom-control-inline">
                                                <input formControlName="minimumNetPayLoan" type="radio"
                                                  class="custom-control-input" name="minimumNetPayLoan" [value]=true checked>
                                                <span class="custom-control-label">Yes</span>
                                                </label>
                                                <label class="custom-control custom-radio custom-control-inline">
                                                <input formControlName="minimumNetPayLoan" type="radio"
                                                  class="custom-control-input" name="minimumNetPayLoan" [value]=false>
                                                <span class="custom-control-label">No</span>
                                                </label>
                                            </div>
                                          </div>
                                          <div class="col-sm-6 col-md-3">
                                            <label class="form-label">Loan Application Template</label>
                                            <input type='file' class="form-control-sm" id="templateUpload" name='templateUpload' accept=".jpg" #fileInput1
                                              form (change)="templateUpload($event, fileInput1)"
                                              [(ngModel)]="loanApplicationtemplate" [ngModelOptions]="{standalone: true}" style="font-size: x-small;" />
                                            
                                          </div>
                                      </div>
        
                                      <div class="row mt-15">
                                        <div class="col-sm-6 col-md-3">
                                            <label class="form-label">Approval Workflow</label>
                                            <select
                                                formControlName="approvalWorkFlowSDM" class="form-control custom-select"
                                                [ngClass]="{ 'is-invalid': submitted && generalForm.approvalWorkFlowSDM.errors }">
                                              <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                                [value]="frequencyOfPayment.value">
                                                {{frequencyOfPayment.label}}
                                              </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <label class="form-label">Approval SDM</label>
                                            <select
                                                formControlName="approvalWorkFlowSDM" class="form-control custom-select"
                                                [ngClass]="{ 'is-invalid': submitted && generalForm.approvalWorkFlowSDM.errors }">
                                              <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                                [value]="frequencyOfPayment.value">
                                                {{frequencyOfPayment.label}}
                                              </option>
                                            </select>
                                        </div>
                                      </div>
                                    </fieldset>
        
                                    <fieldset>
                                    <legend>Loan Eligibility</legend>
                                    
                                    <div class="row mt-15">
                                          <div class="col-sm-6 col-md-3">
                                            <label class="form-label">Service Period</label>
                                            <select
                                                formControlName="servicePeriod" class="form-control custom-select"
                                                [ngClass]="{ 'is-invalid': submitted && generalForm.servicePeriod.errors }">
                                              <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                                [value]="frequencyOfPayment.value">
                                                {{frequencyOfPayment.label}}
                                              </option>
                                            </select>
                                          </div>
                                          <div class="col-sm-6 col-md-3">
                                            <label class="form-label">% of underlying Asset</label>
                                            <select
                                                formControlName="underliningAsset" class="form-control custom-select"
                                                [ngClass]="{ 'is-invalid': submitted && generalForm.underliningAsset.errors }">
                                              <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                                [value]="frequencyOfPayment.value">
                                                {{frequencyOfPayment.label}}
                                              </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                          <label class="form-label">Number of times of salary</label>
                                          <select
                                              formControlName="noOfTimesOfSalary" class="form-control custom-select"
                                              [ngClass]="{ 'is-invalid': submitted && generalForm.noOfTimesOfSalary.errors }">
                                            <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                              [value]="frequencyOfPayment.value">
                                              {{frequencyOfPayment.label}}
                                            </option>
                                          </select>
                                        </div>
                                          <div class="col-sm-6 col-md-3">
                                            <label class="form-label">Salary Definition</label>
                                            <select
                                                formControlName="salaryDefinition" class="form-control custom-select"
                                                [ngClass]="{ 'is-invalid': submitted && generalForm.salaryDefinition.errors }">
                                              <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                                [value]="frequencyOfPayment.value">
                                                {{frequencyOfPayment.label}}
                                              </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-15">
                                      <div class="col-sm-6 col-md-3">
                                        <label class="form-label">Maximum Amount Allowed</label>
                                        <select style="margin-top: 6.3%;"
                                            formControlName="maxAmountLoan" class="form-control custom-select"
                                            [ngClass]="{ 'is-invalid': submitted && generalForm.maxAmountLoan.errors }">
                                          <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                            [value]="frequencyOfPayment.value">
                                            {{frequencyOfPayment.label}}
                                          </option>
                                        </select>
                                      </div>
                                      <div class="col-sm-6 col-md-3">
                                        <label class="form-label">Gap - Earlier Loan & New Loan Application (Months)</label>
                                        <select
                                            formControlName="gapBetTwoLoanApp" class="form-control custom-select"
                                            [ngClass]="{ 'is-invalid': submitted && generalForm.gapBetTwoLoanApp.errors }">
                                          <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                            [value]="frequencyOfPayment.value">
                                            {{frequencyOfPayment.label}}
                                          </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                      <label class="form-label">Gap - End of Earlier Loan & New Loan Application (Months)</label>
                                      <select
                                          formControlName="gapEndOfEarlierLoanAndNewLoanApp" class="form-control custom-select"
                                          [ngClass]="{ 'is-invalid': submitted && generalForm.gapEndOfEarlierLoanAndNewLoanApp.errors }">
                                        <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                          [value]="frequencyOfPayment.value">
                                          {{frequencyOfPayment.label}}
                                        </option>
                                      </select>
                                    </div>
                                </div>
                                <div class="row mt-15">
                                  <div class="col-6">
                                    <div class="table-responsive Custom_Table">
                                      <table class="table table-striped table-hover table-bordered m-b-0">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th scope="col">Number of loans</th>
                                              <th scope="col">In Months</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let summary of summaryGriData; let i = index">
                                            <td class="wd-40">{{summary.accountNumber}}
                                            </td>
                                            <td class="wd-10"><i class="fa fa-edit font-16 text-dark-green cursor-pointer"
                                                (click)="onEditSummary(summary.institution, summary.accountNumber)" tooltip="Edit"></i>&nbsp;&nbsp;
                                                <i class="fa fa-eye font-16 text-blue cursor-pointer" tooltip="View"></i>
                                                <i class="fa fa-trash font-16 text-blue cursor-pointer" tooltip="View"></i></td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="number" class="form-control align-right">
                                            </td>
                                            <td>
                                              <input type="number" class="form-control align-right">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td colspan="2" class="align-right font700 font-16 text-light-green cursor-pointer">
                                              <i
                                              class="fa fa-plus-circle font-20"
                                              tooltip="Add"
                                              (click)="addRowInList(declarationService, j)"
                                            ></i>
                                            <span tooltip="Add Row">Add</span>&nbsp;&nbsp;
                                            </td>
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                                <div class="mb-10 row">
                                  <div class="col-md-6">
                                      <h3 class="font-14 text-purple font-bold">Minimum Remaining Service</h3>
                                  </div>
                                  <div class="col-md-6">
                                      <span class="font-bold text-link float-right"></span>
                                  </div>
                                </div>
                                <div class="row mt-10">
                                  <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Loan Application</label>
                                    <select
                                        formControlName="minRemainingServiceLoanApplication" class="form-control custom-select">
                                      <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                        [value]="frequencyOfPayment.value">
                                        {{frequencyOfPayment.label}}
                                      </option>
                                    </select>
                                  </div>
                                  <div class="col-sm-6 col-md-3">
                                    <label class="form-label">Loan Completion</label>
                                    <select
                                        formControlName="minRemainingServiceLoanCompletion" class="form-control custom-select">
                                      <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                        [value]="frequencyOfPayment.value">
                                        {{frequencyOfPayment.label}}
                                      </option>
                                    </select>
                                  </div>
                                </div>
                                  </fieldset>
        
                                  <div class="row mt-15">
                                  <div class="col-12">
                                      <div class="float-right mb-15">
                                        <button (click)="submitGeneral()" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple">
                                          <b><i class="fa fa-step-forward"></i></b> Next</button>
                                      </div>
                                  </div>
                                </div>
                                </div>
                                </div>
                            </div>
                            <div *ngSwitchCase="2" [@slideInOut]>
                              <div class="row mt-37">
                                <div class="col-12">
                                  <fieldset>
                                     <legend>Interest Charges</legend>
                                     <div class="row">
                                       <div class="col-sm-6 col-md-3">
                                           <label class="form-label">Rate (%) Per Annum</label>
                                           <select
                                               formControlName="intRate" class="form-control custom-select">
                                             <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                               [value]="frequencyOfPayment.value">
                                               {{frequencyOfPayment.label}}
                                             </option>
                                           </select>
                                         </div>
                                         <div class="col-sm-6 col-md-3">
                                           <label class="form-label">Method of Computation</label>
                                           <select
                                               formControlName="intRate" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                             <option *ngFor="let option of methodOfComputation">
                                               {{option}}
                                             </option>
                                           </select>
                                         </div>
                                         <div class="col-sm-6 col-md-3">
                                             <label class="form-label">Date of Transactions</label>
                                             <select
                                                 formControlName="intDateOfTransactions" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                               <option *ngFor="let option of dateOfTransactions">
                                                 {{option}}
                                               </option>
                                             </select>
                                           </div>
                                           <div class="col-sm-6 col-md-3">
                                               <label class="form-label">Cycle of Disbursement </label>
                                               <select
                                                   formControlName="intCycleOfDisbursement" class="form-control custom-select">
                                                 <option [ngValue]="null">--Select--</option>
                                                 <option *ngFor="let option of cycleOfDisbursement">
                                                   {{option}}
                                                 </option>
                                               </select>
                                           </div>
                                     </div>
       
                                     <div class="row mt-15">
                                       <div class="col-sm-6 col-md-3">
                                         <label class="form-label">Cycle of Last Installment</label>
                                         <select
                                             formControlName="intRate" class="form-control custom-select">
                                             <option [ngValue]="null">--Select--</option>
                                             <option *ngFor="let option of cycleOfLastInstallment">
                                             {{option}}
                                           </option>
                                         </select>
                                       </div>
                                       <div class="col-sm-6 col-md-3">
                                         <label class="form-label">Cycle of Adhoc Payments</label>
                                         <select
                                             formControlName="intAdhocPayments" class="form-control custom-select">
                                             <option [ngValue]="null">--Select--</option>
                                             <option *ngFor="let option of cycleOfAdhocPayments">
                                             {{option}}
                                           </option>
                                         </select>
                                       </div>
                                       <div class="col-sm-6 col-md-3">
                                           <label class="form-label">Before Principal Repayment Starts</label>
                                           <select
                                               formControlName="intBeforePriRepaymentsSatrts" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                               <option *ngFor="let option of beforePrincipalRepaymentStarts">
                                               {{option}}
                                             </option>
                                           </select>
                                         </div>
                                       </div>
                                      
                                  </fieldset>
       
                                  <fieldset>
                                   <legend>Principal Repayment</legend>
                                   
                                   <div class="row mt-15">
                                         <div class="col-sm-6 col-md-3">
                                           <label class="form-label">No of Installment</label>
                                           <select
                                               formControlName="recoveryNoOfInstallments" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                               <option *ngFor="let option of beforePrincipalRepaymentStarts">
                                               {{option}}
                                             </option>
                                           </select>
                                         </div>
                                         <div class="col-sm-6 col-md-3">
                                           <label class="form-label">Method</label>
                                           <select
                                               formControlName="recoveryMethod" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                               <option *ngFor="let option of principalRepaymentMethod">
                                               {{option}}
                                             </option>
                                           </select>
                                       </div>
                                       <div class="col-sm-6 col-md-3" *ngIf="generalForm.get('underliningAsset').value === 'Principal First & then Interest'">
                                         <label class="form-label">No. of installments for Interest Recovery</label>
                                         <select
                                             formControlName="firstPriThanIntNoOfInstallmentForIntRecovery" class="form-control custom-select">
                                             <option [ngValue]="null">--Select--</option>
                                             <option *ngFor="let option of beforePrincipalRepaymentStarts">
                                             {{option}}
                                           </option>
                                         </select>
                                       </div>
                                       <div class="col-3">
                                         <div class="row">
                                           <div class="col-sm-3 col-md-3 country-code  pr-0">
                                             <label class="form-label">Month</label>
                                             <select
                                                 formControlName="maxAmountLoan" class="form-control custom-select">
                                                 <option [ngValue]="null">-Select-</option>
                                                 <option *ngFor="let option of principalRepaymentMonth">
                                                 {{option}}
                                               </option>
                                             </select>
                                           </div>
                                           <div class="col-sm-3 col-md-9">
                                             <label class="form-label">Recovery Starts</label>
                                             <select
                                                 formControlName="recoveryToStartDisbursements" class="form-control custom-select">
                                                 <option [ngValue]="null">--Select--</option>
                                                 <option *ngFor="let option of principalRepaymentRecoveryStarts">
                                                 {{option}}
                                               </option>
                                             </select>
                                            </div>
                                         </div>
                                       </div>
                                   </div>
                                </fieldset>
       
                                <div class="row mt-15">
                                 <div class="col-12">
                                    <div class="float-right mb-15">
                                       
                                     <button (click)="tabIndex = 1;scrollToTop()" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple">
                                       <b><i class="fa fa-step-backward"></i></b> Previous</button> &nbsp;
                                       <button (click)="submitRecovery()" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple">
                                         <b><i class="fa fa-step-forward"></i></b> Next</button>
                                    </div>
                                 </div>
                              </div>
                               </div>
                              </div>
                            </div>
                            <div *ngSwitchCase="3" [@slideInOut]>
                              <div class="row mt-37">
                                <div class="col-12">
                                  <fieldset>
                                     <legend>Interest Charges</legend>
                                     <div class="row">
                                       <div class="col-sm-6 col-md-3">
                                           <label class="form-label">Rate (%) Per Annum</label>
                                           <select
                                               formControlName="intRate" class="form-control custom-select">
                                             <option *ngFor="let frequencyOfPayment of frequencyOfPaymentList"
                                               [value]="frequencyOfPayment.value">
                                               {{frequencyOfPayment.label}}
                                             </option>
                                           </select>
                                         </div>
                                         <div class="col-sm-6 col-md-3">
                                           <label class="form-label">Method of Computation</label>
                                           <select
                                               formControlName="intRate" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                             <option *ngFor="let option of methodOfComputation">
                                               {{option}}
                                             </option>
                                           </select>
                                         </div>
                                         <div class="col-sm-6 col-md-3">
                                             <label class="form-label">Date of Transactions</label>
                                             <select
                                                 formControlName="intDateOfTransactions" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                               <option *ngFor="let option of dateOfTransactions">
                                                 {{option}}
                                               </option>
                                             </select>
                                           </div>
                                           <div class="col-sm-6 col-md-3">
                                               <label class="form-label">Cycle of Disbursement </label>
                                               <select
                                                   formControlName="intCycleOfDisbursement" class="form-control custom-select">
                                                 <option [ngValue]="null">--Select--</option>
                                                 <option *ngFor="let option of cycleOfDisbursement">
                                                   {{option}}
                                                 </option>
                                               </select>
                                           </div>
                                     </div>
       
                                     <div class="row mt-15">
                                       <div class="col-sm-6 col-md-3">
                                         <label class="form-label">Cycle of Last Installment</label>
                                         <select
                                             formControlName="intRate" class="form-control custom-select">
                                             <option [ngValue]="null">--Select--</option>
                                             <option *ngFor="let option of cycleOfLastInstallment">
                                             {{option}}
                                           </option>
                                         </select>
                                       </div>
                                       <div class="col-sm-6 col-md-3">
                                         <label class="form-label">Cycle of Adhoc Payments</label>
                                         <select
                                             formControlName="intAdhocPayments" class="form-control custom-select">
                                             <option [ngValue]="null">--Select--</option>
                                             <option *ngFor="let option of cycleOfAdhocPayments">
                                             {{option}}
                                           </option>
                                         </select>
                                       </div>
                                       <div class="col-sm-6 col-md-3">
                                           <label class="form-label">Before Principal Repayment Starts</label>
                                           <select
                                               formControlName="intBeforePriRepaymentsSatrts" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                               <option *ngFor="let option of beforePrincipalRepaymentStarts">
                                               {{option}}
                                             </option>
                                           </select>
                                         </div>
                                       </div>
                                      
                                  </fieldset>
       
                                  <fieldset>
                                   <legend>Principal Repayment</legend>
                                   
                                   <div class="row mt-15">
                                         <div class="col-sm-6 col-md-3">
                                           <label class="form-label">No of Installment</label>
                                           <select
                                               formControlName="recoveryNoOfInstallments" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                               <option *ngFor="let option of beforePrincipalRepaymentStarts">
                                               {{option}}
                                             </option>
                                           </select>
                                         </div>
                                         <div class="col-sm-6 col-md-3">
                                           <label class="form-label">Method</label>
                                           <select
                                               formControlName="recoveryMethod" class="form-control custom-select">
                                               <option [ngValue]="null">--Select--</option>
                                               <option *ngFor="let option of principalRepaymentMethod">
                                               {{option}}
                                             </option>
                                           </select>
                                       </div>
                                       <div class="col-sm-6 col-md-3" *ngIf="generalForm.get('underliningAsset').value === 'Principal First & then Interest'">
                                         <label class="form-label">No. of installments for Interest Recovery</label>
                                         <select
                                             formControlName="firstPriThanIntNoOfInstallmentForIntRecovery" class="form-control custom-select">
                                             <option [ngValue]="null">--Select--</option>
                                             <option *ngFor="let option of beforePrincipalRepaymentStarts">
                                             {{option}}
                                           </option>
                                         </select>
                                       </div>
                                       <div class="col-3">
                                         <div class="row">
                                           <div class="col-sm-3 col-md-3 country-code  pr-0">
                                             <label class="form-label">Month</label>
                                             <select
                                                 formControlName="maxAmountLoan" class="form-control custom-select">
                                                 <option [ngValue]="null">-Select-</option>
                                                 <option *ngFor="let option of principalRepaymentMonth">
                                                 {{option}}
                                               </option>
                                             </select>
                                           </div>
                                           <div class="col-sm-3 col-md-9">
                                             <label class="form-label">Recovery Starts</label>
                                             <select
                                                 formControlName="recoveryToStartDisbursements" class="form-control custom-select">
                                                 <option [ngValue]="null">--Select--</option>
                                                 <option *ngFor="let option of principalRepaymentRecoveryStarts">
                                                 {{option}}
                                               </option>
                                             </select>
                                            </div>
                                         </div>
                                       </div>
                                   </div>
                                </fieldset>
       
                                <div class="row mt-15">
                                 <div class="col-12">
                                    <div class="float-right mb-15">
                                       
                                     <button (click)="tabIndex = 1;scrollToTop()" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple">
                                       <b><i class="fa fa-step-backward"></i></b> Previous</button> &nbsp;
                                       <button (click)="submitRecovery()" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple">
                                         <b><i class="fa fa-step-forward"></i></b> Next</button>
                                    </div>
                                 </div>
                              </div>
                               </div>
                              </div>
                            </div>
                            <div *ngSwitchDefault>Saved Successfully</div>
                          </div>
                        </div>
                        </form>
                        <div class="row mt-15">
                          <div class="col-12">
                             <div class="float-right mb-15">          
                            <button  (click)="this.stepperIndex = this.stepperIndex-1" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple">
                              <b><i class="fa fa-previous"></i></b>Previous</button> &nbsp;
                             
                              <button (click)="this.stepperIndex = this.stepperIndex+1" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple">
                                <b><i class="fa fa-forward"></i></b>Next</button> &nbsp;
                           </div>
                           </div>
                         </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
                    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" tooltip="Top" (click)="scrollToTop()">
              <i class="fa fa-angle-double-up text-white font-18"></i>
            </button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>