<app-leftmenu></app-leftmenu>
<form class="card" role="form" [formGroup]="companyMasterform" #formDirective="ngForm" method="post" novalidate>
  <div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
      <div class="container-fluid" style="border: 1px solid #ccc; background-color: #fff;">
        <div class="tabview-contents">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="col-12">
                    <fieldset>
                      <legend>Company Details</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="form-label"> Code</label>
                          <input type="text" formControlName="code" autocomplete="off" class="form-control"
                            maxlength="25" name="code" autocomplete="off" [(ngModel)]="employeeMasterRequestDTO.code">
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Name</label>
                          <input type="text" formControlName="companyName" autocomplete="off"
                            [(ngModel)]="employeeMasterRequestDTO.companyName" class="form-control " name="companyName"
                            autocomplete="off" placeholder="Enter Company Name" onkeypress="return /[a-z']/i.test(event.key)"
                            (change)="isCompanyNameContainsOnlySpecialCharacter()" 
                            [ngClass]="{'is-invalid' : companyMasterform.get('companyName').status == 'INVALID'|| companyNameInvalid==true}">
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Short Name</label>
                          <input type="text" formControlName="shortName"
                            [(ngModel)]="employeeMasterRequestDTO.shortName" class="form-control " name="shortName"
                            placeholder="Enter Short Name" autocomplete="off"
                            (keypress)="keyPressedSpaceNotAllow($event)"
                            (change)="isShortNameContainsOnlySpecialCharacter()" maxlength="20"
                            [ngClass]="{'is-invalid' : companyMasterform.get('shortName').status == 'INVALID' || shortNameInvalid==true}">
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Former Name</label>
                          <input type="text" formControlName="formerName"
                            [(ngModel)]="employeeMasterRequestDTO.formerName" class="form-control" autocomplete="off"
                            name="formerName" placeholder="Enter Former Name"
                            [ngClass]="{'is-invalid' : companyMasterform.get('formerName').status == 'INVALID'}">
                        </div>
                      </div> <!-- end of row -->
                      <div class="row mt-10">
                        <div class="col-sm-3">
                          <label class="form-label">Group Code</label>
                          <select name="companyGroupCode" id="companyGroupCode"
                            [(ngModel)]="employeeMasterRequestDTO.companyGroupCode" class="form-control"
                            autocomplete="off" formControlName="companyGroupCode"
                            (change)='onSelectGroupMaster($event.target.value)'
                            [ngClass]="{'is-invalid' : companyMasterform.get('companyGroupCode').status == 'INVALID'}">
                            <!-- <option selected [ngValue]=null>Select </option> -->
                            <option selected value=''>Select </option>
                            <option *ngFor="let code11 of companyGroupCodeList" [disabled]='code11.disabled'
                              [value]="code11.name">
                              {{code11.name}}
                            </option>
                          </select>
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Group Name</label>
                          <input type="text" formControlName="companyGroupCode1" class="form-control" autocomplete="off"
                            name="companyGroupCode">
                        </div>


                      </div>
                    </fieldset>
                  </div>


                  <div class="col-12 mt-10">
                    <fieldset>
                      <legend>Address Details</legend>
                      <div class="row mt-10">
                        <div class="col-sm-3">
                          <label class="form-label"> Address 1</label>
                          <input type="text" formControlName="address1" [(ngModel)]="employeeMasterRequestDTO.address1"
                            autocomplete="off" class="form-control " name="address1"
                            [ngClass]="{'is-invalid' : companyMasterform.get('address1').status == 'INVALID'}"
                            placeholder="Enter Address 1">
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label"> Address 2</label>
                          <input type="text" formControlName="address2" [(ngModel)]="employeeMasterRequestDTO.address2"
                            autocomplete="off" class="form-control " name="address2" placeholder="Enter Address 2">
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label"> Address 3</label>
                          <input type="text" formControlName="address3" [(ngModel)]="employeeMasterRequestDTO.address3"
                            autocomplete="off" class="form-control " name="address3" placeholder="Enter Address 3">
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Country</label>
                          <select name="country" id="country" class="form-control" autocomplete="off"
                            (change)='onSelectCountry($event.target.value)'
                            [ngClass]="{'is-invalid' : companyMasterform.get('country').status == 'INVALID'}"
                            formControlName="country" [(ngModel)]="employeeMasterRequestDTO.country">
                            <!-- <option value="" selected disabled>Select Country
                            </option> -->
                            <option selected value=''>Select </option>
                            <option *ngFor="let country of countries" [value]="country">
                              {{country}}
                            </option>
                          </select>
                        </div>


                      </div> <!-- end of row -->


                      <div class="row mt-20">



                        <div class="col-sm-3">
                          <label class="form-label">PIN</label>
                          <input type="text" class="form-control" placeholder="Enter PIN" minlength="1" maxlength="6"
                            autocomplete="off"
                            [ngClass]="{'is-invalid' : companyMasterform.get('pinCode').status == 'INVALID'}"
                            (keypress)="keyPress($event)" formControlName="pinCode"
                            [ngClass]="{'is-invalid' : companyMasterform.get('pinCode').status == 'INVALID'}"
                            [(ngModel)]="employeeMasterRequestDTO.pinCode" pattern="[0-9]{6}"
                            (keyup)="checkLocalAddress(); getPermanentAddressFromPIN();">
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">State</label>
                          <input type="text" formControlName="state" [(ngModel)]="employeeMasterRequestDTO.state"
                            autocomplete="off" class="form-control " name="state" placeholder="Enter state">
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">City</label>
                          <input type="text" formControlName="city" [(ngModel)]="employeeMasterRequestDTO.city"
                            autocomplete="off" class="form-control " name="city" placeholder="Enter City">
                        </div>


                        <div class="col-sm-3">
                          <label class="form-label">Village</label>
                          <input type="text" formControlName="village" [(ngModel)]="employeeMasterRequestDTO.village"
                            autocomplete="off" class="form-control " name="village" placeholder="Enter Village">
                        </div>

                      </div>
                      <div class="row mt-20">

                        <div class="col-3">
                          <div class="row">
                            <div class="col-sm-3 col-md-5   pr-0">
                              <label class="form-label">ISD Code</label>
                              <select class="form-control selectpicker" placeholder="Select ISD" autocomplete="off"
                                formControlName="isdCode"
                                [ngClass]="{'is-invalid' : companyMasterform.get('isdCode').status == 'INVALID'}">
                                <option value='' data-hidden="true">Select &nbsp;&nbsp;</option> 
                                <option *ngFor="let code of countryCode" [value]="code">
                                  {{code}}
                                </option>
                              </select>
                            </div>
                            <div class="col-sm-3 col-md-7">
                              <label class="form-label">Tel No.</label>
                              <input type="text" class="form-control" placeholder="Enter Mobile No." maxlength="10"
                                autocomplete="off" pattern="^[1-9a-zA-Z][0-9a-zA-Z]*$"
                                [ngClass]="{'is-invalid' : companyMasterform.get('phoneNumber').status == 'INVALID'}"
                                formControlName="phoneNumber" (keypress)="keyPress($event)"
                                [(ngModel)]="employeeMasterRequestDTO.phoneNumber">
                            </div>
                          </div>
                        </div>


                        <div class="col-sm-3">
                          <label class="form-label">Email Id</label>
                          <input type="text" formControlName="emailId" class="form-control " name="emailId"
                            autocomplete="off"
                            [ngClass]="{'is-invalid' : companyMasterform.get('emailId').status == 'INVALID'}"
                            placeholder="Enter Email Id" [(ngModel)]="employeeMasterRequestDTO.emailId">
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Website</label>
                          <input type="text" formControlName="website" class="form-control " name="website"
                            autocomplete="off" (focusout)="onChangeWebsiteName($event.target.value)"
                            [ngClass]="{'is-invalid' : companyMasterform.get('website').status == 'INVALID' || invalidWebsite == true}"
                            placeholder="Enter Website" [(ngModel)]="employeeMasterRequestDTO.website">
                        </div>

                      </div>
                    </fieldset>
                  </div>


                  <div class="col-12 mt-10">
                    <fieldset>
                      <legend>Other Details</legend>

                      <div class="row mt-10">
                        <div class="col-sm-3">
                          <label class="form-label">Association </label>
                          <select name="isContractor" id="isContractor" class="form-control" autocomplete="off"
                            [ngClass]="{'is-invalid' : companyMasterform.get('isContractor').status == 'INVALID'}"
                            formControlName="isContractor" [(ngModel)]="employeeMasterRequestDTO.isContractor">
                            <option selected value=''>Select </option>
                            <option *ngFor="let code11 of isContractorDataList" [value]="code11">
                              {{code11}}
                            </option>

                          </select>
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Types of Establishment</label>
                          <select name="typeOfEstablishment" id="typeOfEstablishment" class="form-control"
                            autocomplete="off"
                            [ngClass]="{'is-invalid' : companyMasterform.get('typeOfEstablishment').status == 'INVALID'}"
                            formControlName="typeOfEstablishment"
                            [(ngModel)]="employeeMasterRequestDTO.typeOfEstablishment">
                            <option selected value=''>Select </option>
                            <option *ngFor="let reason of typeOfEstablishmentList" [value]="reason.label">
                              {{reason.label}}
                            </option>
                          </select>
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Industry Type</label>
                          <select name="industryType" id="industryType" class="form-control"
                            [ngClass]="{'is-invalid' : companyMasterform.get('industryType').status == 'INVALID'}"
                            formControlName="industryType" [(ngModel)]="employeeMasterRequestDTO.industryType">
                            <option selected value=''>Select </option>
                            <option *ngFor="let reason of industryTypeList" [value]="reason.label">
                              {{reason.label}}
                            </option>
                          </select>
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Scale</label>
                          <select name="scale" id="scale" class="form-control"
                            [ngClass]="{'is-invalid' : companyMasterform.get('scale').status == 'INVALID'}"
                            formControlName="scale" [(ngModel)]="employeeMasterRequestDTO.scale">
                            <option selected value=''>Select </option>
                            <option *ngFor="let scales of scaleList" [value]="scales.label">
                              {{scales.label}}
                            </option>
                          </select>
                        </div>
                      </div>


                      <div class="row mt-20">

                        <div class="col-sm-3">
                          <label class="form-label">Company Classification</label>
                          <select name="coClassification" id="coClassification" class="form-control"
                            formControlName="coClassification" [(ngModel)]="employeeMasterRequestDTO.coClassification"
                            autocomplete="off"
                            [ngClass]="{'is-invalid' : companyMasterform.get('coClassification').status == 'INVALID'}">
                            <option selected value=''>Select </option>
                            <option *ngFor="let code11 of companyClassificationList" [value]="code11">
                              {{code11}}
                            </option>
                          </select>
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Default Language</label>
                          <select name="language" id="language" class="form-control" autocomplete="off"
                            [ngClass]="{'is-invalid' : companyMasterform.get('language').status == 'INVALID'}"
                            formControlName="language" [(ngModel)]="employeeMasterRequestDTO.language">
                            <option *ngFor="let code11 of languageList" [value]="code11">
                              {{code11}}
                            </option>
                          </select>
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Default Currency</label>
                          <select name="currency" id="defaultLandefaultCurrencyguage" class="form-control"
                            autocomplete="off"
                            [ngClass]="{'is-invalid' : companyMasterform.get('currency').status == 'INVALID'}"
                            formControlName="currency" [(ngModel)]="employeeMasterRequestDTO.currency">
                            <option *ngFor="let code11 of currencyList" [value]="code11">
                              {{code11}}
                            </option>

                          </select>
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Engagement Start Date</label>
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' , customTodayClass: 'today' }"
                              formControlName="startDate" autocomplete="off"
                              [(ngModel)]="employeeMasterRequestDTO.startDate" placement="center"
                              [minDate]="groupStartDateValidation" data-provide="datepicker" data-date-autoclose="true"
                              class="form-control" placeholder="Enter Start Date" (bsValueChange)="onChangeStartDate()"
                              bsDatepicker (focusout)="onChangeStartDate()"
                              [ngClass]="{'is-invalid' : companyMasterform.get('startDate').status == 'INVALID'}">
                          </div>
                        </div>

                      </div>

                      <!-- end of row-->


                      <div class="row mt-20">

                        <div class="col-sm-3">
                          <label class="form-label">Engagement End Date</label>
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            <!-- <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" formControlName="endDate"
                              autocomplete="off" [(ngModel)]="employeeMasterRequestDTO.endDate"
                              data-provide="datepicker" data-date-autoclose="true" class="form-control"
                              placeholder="End Date" (bsValueChange)="setPaymentDetailToDate()" bsDatepicker
                              (focusout)="onChangeEndDate($event)"> -->


                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY',  customTodayClass: 'today'  }"
                              formControlName="endDate" placement="center"
                              [ngClass]="{'is-invalid' : companyMasterform.get('endDate').status == 'INVALID'}"
                              data-provide="datepicker" (bsValueChange)="onChangeEndDate($event)"
                              data-date-autoclose="true" (focusout)="onChangeEndDate($event)" class="form-control"
                              placeholder="Enter End Date" bsDatepicker>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <label class="form-label">Reason For Exit</label>
                          <select name="reason" id="reason" class="form-control" autocomplete="off"
                            [(ngModel)]="employeeMasterRequestDTO.reason"
                            [ngClass]="{'is-invalid' : companyMasterform.get('reason').status == 'INVALID'}"
                            formControlName="reason">
                            <option selected value=''>Select </option>
                            <option *ngFor="let reason of reasonForExitList" [value]="reason.label">
                              {{reason.label}}
                            </option>
                          </select>

                        </div>




                      </div>
                      <div class="row mt-20 mb-10">

                        <div class="col-md-3">
                          <label class="form-label">Company Logo 1
                            <!-- <i class="fa fa-upload font-16 text-dark-green cursor-pointer"
                                                        
                                                        tooltip="upload"></i> -->
                          </label>
                           <!-- <input type='file' class="form-control-sm" id="logo1" name='logo1' accept=".jpg,.jpeg,.png"
                            #fileInput1 formControlName="logo1" (change)="logo1($event, fileInput1)" 
                            />  -->
                            <input type='file' class="form-control-file" id="logo1" name='logo1' accept=".jpg,.jpeg,.png"
                            #fileInput1 formControlName="logo1" (change)="logo1($event, fileInput1)" 
                            [(ngModel)]="employeeMasterRequestDTO.logo1" style="display: none"/>
                            <button class="fa fa-upload" tooltip="upload" (click)="fileInput1.click()" [disabled]="viewlogoflag"></button>
                            
                            <span>{{employeeMasterRequestDTO.logo1}}</span>
                            <i (click)="deletelogo1()" class="fa fa-times" *ngIf="!viewlogoflag"></i>

                           <!-- <span *ngIf="editlogo1"><a href="{{logo1Path}}" target="_blank">{{editlogo1}}</a></span> -->
                            <!-- <span><a href="{{logo1Path}}" target="_blank">{{editlogo1}}</a></span> -->
                            
                            <!-- <span *ngIf="true">{{editlogo1}}</span> -->
                            <!-- <span [innerHTML]="employeeMasterRequestDTO.logo1"></span> -->
                            <!-- <span>{{employeeMasterRequestDTO.logo1}}</span> 
                            style="display: none"
                            -->
                            
                            <!-- <input type="file" [(ngModel)]="employeeMasterRequestDTO.logo1" name="logo1" 
                            class="form-control-file" (change)="logo1($event, fileInput1)" value="logo1">
                          value="{{employeeMasterRequestDTO.logo1}}"
                             onchange="{{logo1}}"
                            
                             <input type="file" #UploadFileInput id="fileUpload" (change)="fileChangeEvent($event)" name="fileUpload"
        multiple="multiple" accept="image/*" />
                            [value]="employeeMasterRequestDTO.logo1ImageName"
                          [(ngModel)]="employeeMasterRequestDTO.logo1" style="font-size: x-small;"-->
                          
                           

                            <!-- <input type="file" [(ngModel)]="employeeMasterRequestDTO.logo1" name="logo1" 
                            class="form-control-file" id=" " aria-describedby="fileHelp" (change)="logo1($event, fileInput1)"> -->
                            <!-- <input type="file" [(ngModel)]="employeeMasterRequestDTO.logo1" (change)="logo1($event)"/> -->

                            <!-- <input #theFile type="file" (change)="onFileChange($event)" accept=".png" class="form-control" 
                            formControlName="logo1" /> -->
                            <!-- <i (click)="deletelogo1()" class="fa fa-times"></i> -->
                        </div>
                        

                        <div class="col-md-3">
                          <label class="form-label">Company Logo 2</label>
                          <!-- <input type='file' class="form-control-sm" id="logo2" name='logo2' accept=".jpg,.jpeg,.png"
                            #fileInput2 formControlName="logo2" (change)="logo2($event, fileInput2)"
                            [(ngModel)]="employeeMasterRequestDTO.logo2" style="font-size: x-small;" /> -->

                            <input type='file' class="form-control-sm" id="logo2" name='logo2' accept=".jpg,.jpeg,.png"
                            #fileInput2 formControlName="logo2" (change)="logo2($event, fileInput2)"
                            [(ngModel)]="employeeMasterRequestDTO.logo2" style="font-size: x-small;" style="display: none"/>

                            <button class="fa fa-upload" tooltip="upload" (click)="fileInput2.click()" [disabled]="viewlogoflag"></button>
                            
                            <span>{{employeeMasterRequestDTO.logo2}}</span>
                            
                            
                            <i (click)="deletelogo2()" class="fa fa-times" *ngIf="!viewlogoflag"></i>


                            <!-- <input type='file' class="form-control-sm" id="logo2" name='logo2' accept=".jpg,.jpeg,.png"
                            #attachment formControlName="logo2" (change)="logo2($event, fileInput2)"
                            [(ngModel)]="employeeMasterRequestDTO.logo2" style="font-size: x-small;" style="display: none"/>

                            <button class="fa fa-upload" tooltip="upload" (click)="fileInput2.click()" [disabled]="viewlogoflag"></button>
                            
                            <div *ngFor="let selected of selectedImageFileLogo2;let index = index">
                              <h3>{{selected}}</h3>
                              
                              <i (click)="deletelogo2(index)" class="fa fa-times"></i>
                            </div> -->
                            
                            
                        </div>

                        <div class="col-md-3">
                          <label class="form-label">Company Logo 3</label>

                          <!-- <input type='file' class="form-control-sm-" id="logo3" name='logo3' accept=".jpg,.jpeg,.png"
                            #fileInput3 formControlName="logo3" (change)="logo3($event, fileInput3)"
                            [(ngModel)]="employeeMasterRequestDTO.logo3" style="font-size: x-small;" /> -->

                            <input type='file' class="form-control-sm-" id="logo3" name='logo3' accept=".jpg,.jpeg,.png"
                            #fileInput3 formControlName="logo3" (change)="logo3($event, fileInput3)"
                            [(ngModel)]="employeeMasterRequestDTO.logo3" style="font-size: x-small;" style="display: none" />
                            <button class="fa fa-upload" tooltip="upload" (click)="fileInput3.click()" [disabled]="viewlogoflag"></button>
                            <span>{{employeeMasterRequestDTO.logo3}}</span>
                            <i (click)="deletelogo3()" class="fa fa-times" *ngIf="!viewlogoflag"></i>
                        </div>

                      </div>

                    </fieldset>
                  </div>
                  <!--end of row-->

                  <div class="row mt-20">

                    <div class="col-md-3">
                      <label class="custom-control custom-checkbox custom-control-inline pl-45">
                        <input formControlName="companyActive" [(ngModel)]="employeeMasterRequestDTO.companyActive"
                          autocomplete="off" type="checkbox" class="custom-control-input" disabled=true
                          name="example-inline-checkbox1" value="option1" checked (change)="deactiveActiveCheckBox()"
                          readonly>
                        <span class="custom-control-label">Active </span>
                      </label>
                    </div>


                    <div class="col-md-3" *ngIf="hideRemarkDiv">
                      <label class="form-label">Remark</label>
                      <textarea formControlName="remark" [(ngModel)]="employeeMasterRequestDTO.remark"
                        autocomplete="off"
                        [ngClass]="{'is-invalid' : companyMasterform.get('remark').status == 'INVALID', 'form-submitted': formDirective.submitted}"
                        class="form-control" rows="2" placeholder="Enter Remark"></textarea>
                    </div>





                  </div><!-- end of row -->
                </div> <!-- card body -->




                <div class="col-12">
                  <div class="col-12 mt-20">
                    <div class="float-right mb-15">
                      <ng-container *ngIf="showButtonSaveAndReset">

                        <ng-container *ngIf="isSaveAndReset; else newDeb">

                          <button type="submit" [disabled]="companyMasterform.invalid"
                            class="custom_button custom_btn btn-labeled btn-labeled-left" tooltip="Save"
                            (click)="saveCompanyMaster(employeeMasterRequestDTO)"
                            [ngClass]="{'disabled-btn-bg-green' : companyMasterform.invalid,'btn-bg-green': !companyMasterform.invalid}">
                            <b><i class="fa fa-floppy-o"></i></b> Save</button>

                          <button type="button" tooltip="Reset" (click)="cancelViewMasterForm()"
                            class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"><b><i
                                class="fa  fa-refresh"></i></b> Reset</button>
                        </ng-container>

                        <ng-template #newDeb>

                          <button type="submit"
                            [ngClass]="companyMasterform.invalid ? 'disabled-button' + ' btn-bg-green': 'btn-bg-green'"
                            class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Update"
                            (click)="saveCompanyMaster(employeeMasterRequestDTO)"
                            [disabled]="companyMasterform.invalid"><b><i class="fa fa-floppy-o"></i></b>
                            Update</button>


                          <button type="button"
                            class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                            tooltip="Cancel" (click)="cancelViewMasterForm()"><b><i class="fa fa-times-circle"></i></b>
                            Cancel</button>

                        </ng-template>

                      </ng-container>
                      <ng-container *ngIf="!showButtonSaveAndReset">
                        <button type="button"
                          class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                          tooltip="Cancel" (click)="cancelViewMasterForm()"><b><i class="fa fa-times-circle"></i></b>
                          Cancel</button>
                      </ng-container>
                    </div>
                  </div>
                </div> <!-- <end of div col-6 -->

                 <!-- <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="mb-0">
                        <h3 class="font-14 text-purple font-bold">Summary</h3>
                      </div>
                     
                      <div class="table-responsive Custom_Table">
                        <table class="table table-striped table-hover table-bordered m-b-0">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col" class="wd-8">Sr. No.</th>
                              <th scope="col" class="wd-10">Code</th>
                              <th scope="col" class="wd-12">Name</th>
                              <th scope="col" class="wd-12">Short Name</th>
                              <th scope="col" class="wd-8">Association</th>
                              <th scope="col" class="wd-12">Industry Type</th>
                              <th scope="col" class="wd-10">Scale</th>
                              <th scope="col" class="wd-10">Type of Establishment</th>
                              <th scope="col" class="wd-10">Engagement Start Date</th>
                              <th scope="col" class="wd-10">Engagement End Date</th>
                              <th scope="col" class="wd-10">Service Age</th>
                              <th scope="col" class="wd-10">Country</th>
                              <th scope="col" class="wd-10">City</th>
                               <th scope="col" class="wd-10">Action</th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr *ngFor="let summary of summaryHtmlDataList; let i = index">
                              <td class="wd-10"><span tooltip="{{summary.SrNo}}">{{summary.SrNo}}</span>
                              </td>
                             
                              <td class="wd-10"><span tooltip="{{summary.code}}">{{summary.code}}</span>
                              </td>

                              <td class="wd-10"><span
                                  tooltip="{{summary.companyName}}">{{summary.shortenCompanyName}}</span>
                              </td>
                              <td class="wd-10"><span
                                  tooltip="{{summary.shortName}}">{{summary.shortenShortName}}</span>
                              </td>

                              <td class="wd-10"><span tooltip="{{summary.isContractor}}">{{summary.isContractor}}</span>
                              </td>

                              <td class="wd-10"><span
                                  tooltip="{{summary.industryType}}">{{summary.shortenIndustryType}}</span>
                              </td>


                              <td class="wd-10"><span tooltip="{{summary.Scale}}">{{summary.Scale}}</span>
                              </td>

                              <td class="wd-10"><span
                                  tooltip="{{summary.typeOfEstablishment}}">{{summary.typeOfEstablishment}}</span>
                              </td>


                              <td class="wd-10"><span tooltip="{{summary.StartDate}}">{{summary.StartDate | date
                                  :"dd-MMM-yyyy"}}</span>
                              </td>
                              <td class="wd-10"><span tooltip="{{summary.EndDate}}">{{summary.EndDate | date
                                  :"dd-MMM-yyyy"}}</span>
                              </td>
                              <td class="wd-10"><span
                                  tooltip="{{summary.servicePeriod}}">{{summary.servicePeriodShort}}</span>
                              </td>
                              <td class="wd-10"><span tooltip="{{summary.country}}">{{summary.country}}</span>
                              </td>
                              <td class="wd-10"><span tooltip="{{summary.city}}">{{summary.city}}</span>
                              </td>
                             
                              <td class="wd-10">
                               
                                <span>
                                  <i class="fa fa-edit font-16 text-dark-green cursor-pointer"
                                    (click)="editMaster(summary.SrNo-1,summary.globalCompanyMasterId)"
                                    tooltip="Edit"></i> </span>

                                <i class="fa fa-eye font-16 text-blue cursor-pointer ml-3"
                                  (click)="viewMaster(summary.globalCompanyMasterId, summary.SrNo-1)"
                                  tooltip="View"></i>
                              </td>
                            </tr>
                            <tr *ngIf="!summaryHtmlDataList?.length">
                              <td colspan="14">
                                <span class="font-14 font500 align-center text-red">No Data Available</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>   -->

                <br>
                <div class="row mb-0">
                  <div class="col-md-12">
      
                    <span class="font-14 text-purple font-bold">Summary</span>
      
                    <div class="justify-content-end p-d-inline-flex float-right">
                      <div class="input-icon mb-3">
                        <span class="p-input-icon-left p-ml-auto">
                          <i class="pi pi-search" style="top: 9px !important"></i>
                          <input pInputText type="text"
                            (input)="
                            dt.filterGlobal(
                                $event.target.value,
                                'contains'
                              )
                            "
                            placeholder="Search keyword"
                          />
                        </span>
                      </div>
      
                      &nbsp;
                      <i class="fa fa-file-excel-o  font-28 text-dark-green cursor-pointer"
                        tooltip="Export To Excel" (click)="exportAsXLSX()"></i>
      
                    </div>
                  </div>
                 </div>
      
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="table-responsive Custom_Table">
                        <p-table #dt [value]="summaryHtmlDataList" [paginator]="true" [rows]="10"
                        [showCurrentPageReport]="true"
                        (sortFunction)="customSort($event)"
                         [customSort]="true"
                          [pageLinks]="5" 
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         totalRecords={{summaryHtmlDataList.length}} 
                         [rowsPerPageOptions]="[10,25,50,100,200]"
                         
                         [globalFilterFields]="['code', 'shortenCompanyName',  'shortenShortName','isContractor','shortenIndustryType',
                         'Scale','typeOfEstablishment','StartDate','EndDate','servicePeriodShort','country','city']">
      
                           <ng-template pTemplate="header">
                             <tr>
                               <th class=" text-center wd-10">
                                Sr. No.
                                 
                               </th>
                              
      
                             <th class="text-center wd-10">
                                <div class="p-d-flex  justify-content-center p-ai-center">Code
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="code" pSortableColumn="code"></p-sortIcon>
                                    <p-columnFilter field="code" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
      
                              <th class="text-center wd-10">
                                <div class="p-d-flex  justify-content-center p-ai-center">Name
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="shortenCompanyName" pSortableColumn="shortenCompanyName"></p-sortIcon>
                                    <p-columnFilter field="shortenCompanyName" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
                               <th class="text-center wd-10">
                                <div class="p-d-flex  justify-content-center p-ai-center">Short Name
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="shortenShortName" pSortableColumn="shortenShortName"></p-sortIcon>
                                    <p-columnFilter field="shortenShortName" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
      
                              <th class="text-center wd-10">
                                <div class="p-d-flex  justify-content-center p-ai-center">Association
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="isContractor" pSortableColumn="isContractor"></p-sortIcon>
                                    <p-columnFilter field="isContractor" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>

                              <th class="text-center wd-10">
                                <div class="p-d-flex  justify-content-center p-ai-center">Industry Type
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="shortenIndustryType" pSortableColumn="shortenIndustryType"></p-sortIcon>
                                    <p-columnFilter field="shortenIndustryType" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
      
                              <th class="text-center wd-10">
                                <div class="p-d-flex  justify-content-center p-ai-center">Scale
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="Scale" pSortableColumn="Scale"></p-sortIcon>
                                    <p-columnFilter field="Scale" display="menu" class="p-ml-auto">
                                      </p-columnFilter>
                                    
                                  </div>
                                </div>
                              </th>

                              <th class="text-center wd-10">
                                <div class="p-d-flex  justify-content-center p-ai-center">Type of Establishment
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="typeOfEstablishment" pSortableColumn="typeOfEstablishment"></p-sortIcon>
                                    <p-columnFilter field="typeOfEstablishment" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>
      
                              <th class="text-center">
                                <div class="p-d-flex  justify-content-center p-ai-center">Engagement Start Date
                                  <div class="Sort_Filter_Position">
                                    
                                    <!-- <p-sortIcon field="date"></p-sortIcon>
                                    <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
                                    </p-columnFilter> -->
        
                                    <p-sortIcon field="StartDate" pSortableColumn="StartDate"></p-sortIcon>
                                    <p-columnFilter type="date"
                                      field="StartDate" display="menu" class="p-ml-auto">
                                     
                                    </p-columnFilter>

                                    <!-- <p-columnFilter [type]="col.type" [field]="col.field" display="menu" [showMatchModes]="true" [showOperator]="false" [showAddButton]="false">
                                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                           <p-calendar #calendar [ngModel]="value" (onSelect)="filter(calendar.value)" (onInput)="setup(calendar.value, col.field)" dateFormat="dd.mm.yy"></p-calendar>
                                      </ng-template>
                                 </p-columnFilter> -->
                                      <!-- <p-calendar dateFormat="dd/mm/yy"></p-calendar> -->
                                   


                                  </div>
                                </div>
                              </th>

                              <th class="text-center">
                                <div class="p-d-flex  justify-content-center p-ai-center">Engagement End Date
                                  <div class="Sort_Filter_Position">
                                    <!-- <p-sortIcon field="Date" pSortableColumn="EndDate"></p-sortIcon>
                                    <p-columnFilter field="Date" display="menu" class="p-ml-auto">
                                    </p-columnFilter> -->

                                    <p-sortIcon field="date" pSortableColumn="EndDate"></p-sortIcon>
                                    <p-columnFilter type="date"  field="EndDate" display="menu" class="p-ml-auto">
                                      
                                    </p-columnFilter>
                                   
                                    <!-- <p-columnFilter type="date" field="EndDate" display="menu">
                                      <ng-template pTemplate="filter" let-filter="filterCallback">
                                        <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)">
                                          </p-calendar>
                                      </ng-template>
                                     </p-columnFilter> -->

                                  </div>
                                </div>
                              </th>

                              <th class="text-center">
                                <div class="p-d-flex  justify-content-center p-ai-center">Service Age
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="servicePeriodShort" pSortableColumn="servicePeriodShort"></p-sortIcon>
                                    <p-columnFilter field="servicePeriodShort" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>

                              <th class="text-center">
                                <div class="p-d-flex  justify-content-center p-ai-center">Country
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="country" pSortableColumn="country"></p-sortIcon>
                                    <p-columnFilter field="country" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>

                              <th class="text-center">
                                <div class="p-d-flex  justify-content-center p-ai-center">City
                                  <div class="Sort_Filter_Position">
                                    <p-sortIcon field="city" pSortableColumn="city"></p-sortIcon>
                                    <p-columnFilter field="city" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                  </div>
                                </div>
                              </th>

                              <th class="text-center wd-20">
                               Action
                              </th>        
                             </tr>
                           </ng-template>
                           <ng-template pTemplate="body" let-summary  let-rowIndex="rowIndex" >
                            <tr class="p-selectable-row">
                                <td class="text-center">{{rowIndex + 1}}</td>
                                <td>
                                    <label
                                        class="form-lable mb-0">
                                        {{summary.code}}</label>
                                </td>
                                <td>
                                    <label
                                        class="form-lable mb-0 ">{{summary.shortenCompanyName}}</label>
                                </td>
      
                                <td> <label
                                        class="form-lable mb-0 ">{{summary.shortenShortName}}</label>
                                        </td>
                                        <td> <label
                                          class="form-lable mb-0 ">{{summary.isContractor}}</label>
                                          </td>
                                          <td> <label
                                            class="form-lable mb-0 ">{{summary.shortenIndustryType}}</label>
                                            </td>
                                            <td> <label
                                              class="form-lable mb-0 ">{{summary.Scale}}</label>
                                              </td>
                                              <td> <label
                                                class="form-lable mb-0 ">{{summary.typeOfEstablishment}}</label>
                                                </td>
                                                <td> <label
                                                  class="form-lable mb-0 ">{{summary.StartDate | date
                                                    :"dd-MMM-yyyy"}}</label>
                                                  </td>
                                                  <td> <label
                                                    class="form-lable mb-0 ">{{summary.EndDate | date
                                                      :"dd-MMM-yyyy"}}</label>
                                                    </td>
                                                    <td> <label
                                                      class="form-lable mb-0 ">{{summary.servicePeriodShort}}</label>
                                                      </td><td> <label
                                                        class="form-lable mb-0 ">{{summary.country}}</label>
                                                        </td>

                                                      <td> <label
                                                        class="form-lable mb-0 ">{{summary.city}}</label>
                                                        </td>

                                            <td class="text-center">
                                              
                                                    <span>
                                                      <i class="fa fa-edit font-16 text-dark-green cursor-pointer"
                                                        (click)="editMaster(rowIndex,summary.globalCompanyMasterId,summary)"
                                                        tooltip="Edit"></i> </span>
                    
                                                    <i class="fa fa-eye font-16 text-blue cursor-pointer ml-3"
                                                      (click)="viewMaster(summary.globalCompanyMasterId, rowIndex)"
                                                      tooltip="View"></i>
                                            </td>
                            </tr>
                        </ng-template>
      
                           <ng-template pTemplate="emptymessage">
                             <tr>
                               <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                   Available</span>
                               </td>
                             </tr>
                           </ng-template>
                         </p-table>
      </div>
      </div>
      </div>
      

              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</form>
