<form [formGroup]="InputInfoForm">
    <fieldset>
        <legend><i class="fa fa-mortar-board"></i>
            Employee Provident Fund (EPF) / Employee Pension Scheme (EPS)</legend>


        <legend>
            Previous Employement</legend>
        <fieldset>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">
                            Whether First Time Employement </label>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="yes"
                                (change)="firstEmploymentToggle($event)" formControlName="isFirstEmploymentControl"
                                [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.isFirstEmployment"
                                [ngClass]="{'pf-subscriber-active' : isFirstEmployment == 'no',
                                                    'pf-subscriber-inActive': isFirstEmployment == 'yes'}">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="no"
                                (change)="firstEmploymentToggle($event)" formControlName="isFirstEmploymentControl"
                                [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.isFirstEmployment"
                                [ngClass]="{'pf-subscriber-inActive' : isFirstEmployment == 'no',
                                                    'pf-subscriber-active': isFirstEmployment == 'yes'}">
                                <span class="custom-control-label">
                                    No</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">
                            Have You Contributed in Past </label>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="yes"
                                (change)="haveYouContributedInPastToggle($event)" formControlName="isContributedInPastControl"
                                [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.isContributedInPast"
                                [ngClass]="{'pf-subscriber-active' : isContributedInPast == 'no',
                                                        'pf-subscriber-inActive': isContributedInPast == 'yes'}">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="no"
                                (change)="haveYouContributedInPastToggle($event)" formControlName="isContributedInPastControl"
                                [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.isContributedInPast"
                                [ngClass]="{'pf-subscriber-inActive' : isContributedInPast == 'no',
                                'pf-subscriber-active': isContributedInPast == 'yes'}" checked>
                                <span class="custom-control-label" >
                                    No</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">
                        Previous Employement PF No. </label>
                    <input type="text" class="form-control" formControlName="previousPFNumberControl" 
                        [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.previousPFNumber" pattern="[A-Z]{2}/[0-9]{5}/[0-9]{7}"
                        tooltip="{{InputDetailsModel.previousEPFEPSRequestDTO.previousPFNumber}}" [isRequired]="false">
                </div>

                <div class="col-sm-6 col-lg-3"></div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">
                           Have you Contributed before 1 Sept 2014</label>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="yes"
                                (change)="haveYouContributedbefor1SepToggle($event)" formControlName="isContributedBefore1Sep2014Control"
                                [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.isContributedBefore1Sep2014"
                                [ngClass]="{'pf-subscriber-active' : isContributedBefore1Sep2014 == 'no',
                                                        'pf-subscriber-inActive': isContributedBefore1Sep2014 == 'yes'}">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="no"
                                (change)="haveYouContributedbefor1SepToggle($event)" formControlName="isContributedBefore1Sep2014Control"
                                [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.isContributedBefore1Sep2014"
                                [ngClass]="{'pf-subscriber-inActive' : isContributedBefore1Sep2014 == 'no',
                                                        'pf-subscriber-active': isContributedBefore1Sep2014 == 'yes'}">
                                <span class="custom-control-label">
                                    No</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">
                            Were You ever part of EPF</label>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="yes"
                                (change)="partOfEPSToggle($event)" formControlName="isPartOfEPSControl"
                                [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.isPartOfEPS"
                                [ngClass]="{'pf-subscriber-active' : isPartOfEPS == 'no',
                                                        'pf-subscriber-inActive': isPartOfEPS == 'yes'}">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="no"
                                (change)="partOfEPSToggle($event)" formControlName="isPartOfEPSControl"
                                [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.isPartOfEPS"
                                [ngClass]="{'pf-subscriber-inActive' : isPartOfEPS == 'no',
                                                        'pf-subscriber-active': isPartOfEPS == 'yes'}">
                                <span class="custom-control-label">
                                    No</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">
                        Scheme Certificate No.</label>
                    <input type="text" class="form-control"
                    formControlName="schemeCertificateNumberControl" 
                        [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.schemeCertificateNumber" 
                        tooltip="{{InputDetailsModel.previousEPFEPSRequestDTO.schemeCertificateNumber}}" 
                        [isRequired]="false">
                </div>

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">
                        Authority who issued Scheme Certificate</label>
                    <input type="text" class="form-control"
                    formControlName="authorityIssueControl" 
                        [(ngModel)]="InputDetailsModel.previousEPFEPSRequestDTO.authorityIssue" 
                        tooltip="{{InputDetailsModel.previousEPFEPSRequestDTO.authorityIssue}}"  
                        [isRequired]="false">
                </div>
            </div>
        </fieldset>

        <br>
        <legend>
            Present Employement</legend>
        <fieldset>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">
                            EPF Applicable </label>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="yes"
                                (change)="epfApplicableToggle($event)" formControlName="isEPFApplicableControl"
                                [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.isEPFApplicable"
                                [ngClass]="{'pf-subscriber-active' : isEPFApplicable == 'no',
                                'pf-subscriber-inActive': isEPFApplicable == 'yes'}">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="no"
                                (change)="epfApplicableToggle($event)" formControlName="isEPFApplicableControl"
                                [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.isEPFApplicable"
                                [ngClass]="{'pf-subscriber-inActive' : isEPFApplicable == 'no',
                                                    'pf-subscriber-active': isEPFApplicable == 'yes'}">
                                <span class="custom-control-label">
                                    No</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">
                        EPS Applicable</label>
                    <input type="text" class="form-control" formControlName="isEPSApplicableControl" 
                    [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.isEPSApplicable" [isRequired]="false">
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">
                            Contribution toward EPS till age of 60 Year </label>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="yes"
                                (change)="contributionTowardsEPSToggle($event)" formControlName="isEPSContributionTill60Control"
                                [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.isEPSContributionTill60"
                                [ngClass]="{'pf-subscriber-active' : isEPSContributionTill60 == 'no',
                                                'pf-subscriber-inActive': isEPSContributionTill60 == 'yes'}">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="no"
                                (change)="contributionTowardsEPSToggle($event)" formControlName="isEPSContributionTill60Control"
                                [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.isEPSContributionTill60"
                                [ngClass]="{'pf-subscriber-inActive' : isEPSContributionTill60 == 'no',
                                'pf-subscriber-active': isEPSContributionTill60 == 'yes'}">
                                <span class="custom-control-label">
                                    No</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3"></div>

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">Employee Contribution Method</label>

                    <select class="form-control" placeholder="Select"
                    (completeMethod)="searchEmployeeContribution(InputDetailsModel.presentEPFEPSRequestDTO.employeeContributionMethod)" 
                    (change)="validatContributionDate();enableContributionDate();"
                    [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.employeeContributionMethod"
                    formControlName="employeeContributionMethodControl">
                    <option value="" selected disabled>Select</option>
                    <option *ngFor="let option of employeeContributionList" [value]="option">
                        {{option}}
                    </option>
                    </select>

                </div>

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">Employer Contribution Method</label>

                    <select class="form-control" placeholder="Select"
                    (completeMethod)="searchEmployerContribution(InputDetailsModel.presentEPFEPSRequestDTO.employerContributionMethod)"
                    [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.employerContributionMethod" 
                    formControlName="employerContributionMethodControl">
                    <option value="" selected disabled>Select</option>
                    <option *ngFor="let option of employerContributionList" [value]="option">
                        {{option}}
                    </option>
                    </select>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">From Date</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker"
                                data-date-autoclose="true" class="form-control" placeholder="  /   /" bsDatepicker
                                formControlName="contributionFromDateControl" 
                        [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.contributionFromDate" [format]="'dd-MMM-yyyy'"
                            [min]="joiningDate" (change)="validateContributionToDate()">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">To Date</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker"
                                data-date-autoclose="true" class="form-control" placeholder="  /   /" bsDatepicker
                                formControlName="contributionToDateControl"
                        [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.contributionToDate"  [format]="'dd-MMM-yyyy'"
                        [min]="applicableFrom">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">
                            Voluntary Provident Fund </label>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="percentOfNetPay"
                                (change)="percentOrAmount($event)" formControlName="VoluntaryPFtoggle"
                                [ngClass]="{'voluntary-pf-active' : percentOrAmountModel == '',
                                    'voluntary-pf-inActive': percentOrAmountModel == 'percentOfNetPay'}" checked>
                                <span class="custom-control-label">Percentage</span>
                            </label>
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="amount"
                                (change)="percentOrAmount($event)" formControlName="VoluntaryPFtoggle"
                                 [ngClass]="{'voluntary-pf-active' : percentOrAmountModel == 'percentOfNetPay',
                                    'voluntary-pf-inActive': percentOrAmountModel == 'amount'}">
                                <span class="custom-control-label">
                                    Amount</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <label  *ngIf="percentOrAmountModel == 'percentOfNetPay'" class="form-label">
                        Percentage</label>
                    <input  *ngIf="percentOrAmountModel == 'percentOfNetPay'" type="number" class="form-control"
                    formControlName="voluntaryPFPercentControl" 
                        [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.voluntaryPFPercent" format="n2" [step]="10"
                            [min]="0" [max]="100" (change)="validatVoluntaryDate();enableVoluntaryPercentDate();"
                     [isRequired]="false">
                <!-- </div>

                <div class="col-sm-6 col-lg-3"> -->
                    <label *ngIf="percentOrAmountModel == 'amount'" class="form-label">
                        Amount</label>
                    <input *ngIf="percentOrAmountModel == 'amount'" type="number" class="form-control"
                    formControlName="voluntaryPFAmountControl"
                    [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.voluntaryPFAmount"
                    (change)="validatVoluntaryDate();enableVoluntaryAmountDate();"
                     [isRequired]="false">
                </div>

              

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">From Date</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker"
                                data-date-autoclose="true" class="form-control" placeholder="  /   /" bsDatepicker
                                formControlName="voluntaryFromDateControl"
                        [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.voluntaryFromDate" [format]="'dd-MMM-yyyy'" [min]="joiningDate"
                        (change)="validateVoluntaryToDate()">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <label class="form-label">To Date</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker"
                                data-date-autoclose="true" class="form-control" placeholder="  /   /" bsDatepicker
                                formControlName="voluntaryToDateControl"
                        [(ngModel)]="InputDetailsModel.presentEPFEPSRequestDTO.voluntaryToDate" [format]="'dd-MMM-yyyy'" 
                        [min]="voluntaryFromDateControl">
                        </div>
                    </div>
                </div>
            </div>


        </fieldset>
    </fieldset>

    <br>
    <fieldset>
        <legend><i class="fa fa-mortar-board"></i>
            Super Annuation (SA)</legend>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <label class="form-label">
                    Contribution Rate</label>
                <input type="text" class="form-control" placeholder="Enter Contribution in %"
                formControlName="saContributionRateControl" 
                        [(ngModel)]="InputDetailsModel.superAnnuationRequestDTO.saContributionRate" format="n2" [step]="10"
                            [min]="0" [max]="saContributionRate"
                            (change)="validatSAContributionDate();enableSAContributionDate();">
            </div>

            <div class="col-sm-6 col-lg-3">
                <label class="form-label">From Date</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker"
                            data-date-autoclose="true" class="form-control" placeholder="  /   /" bsDatepicker
                            formControlName="saContributionFromDateControl"
                    [(ngModel)]="InputDetailsModel.superAnnuationRequestDTO.saContributionFromDate"  (change)="validateSAContributionToDate()"
                    [format]="'dd-MMM-yyyy'" [min]="joiningDate">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <label class="form-label">To Date</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker"
                            data-date-autoclose="true" class="form-control" placeholder="  /   /" bsDatepicker
                            formControlName="saContributionToDateControl"
                    [(ngModel)]="InputDetailsModel.superAnnuationRequestDTO.saContributionToDate" 
                    [format]="'dd-MMM-yyyy'" [min]="joiningDate">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row mt-15">
        <div class="col-12">
            <div class="float-right mb-15">

                <button type="submit"
                [disabled]="InputInfoForm.invalid || InputInfoForm.untouched"
                 class="custom_button custom_btn btn-labeled btn-labeled-left btn-bg-green"
                    tooltip="Save" (click)="InputFormSubmit(InputDetailsModel)"
                    [ngClass]="{'disabled-btn-bg-green' : InputInfoForm.invalid || InputInfoForm.untouched,
                    'btn-bg-green': !InputInfoForm.invalid}" >
                    <b><i class="fa fa-floppy-o"></i></b>Save</button>
            </div>
        </div>
    </div>
</form>