<app-leftmenu></app-leftmenu>
<!-- Main body part  -->

<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tabview">
                                <input name="nav" type="radio" class="about-radio" id="summary"
                                    (change)="changeTabIndex(0)" [checked]="tabIndex == 0" />
                                <div class="tabs about-page">

                                </div>
                                <label class="nav" for="summary">
                                    <span>Summary </span>
                                </label>
                                <!-- <input name="nav" type="radio" class="about-radio" id="master"
                                    (change)="changeTabIndex(4)" [checked]="tabIndex == 4"/>
                                    <div class="tabs about-page">

                                    </div>

                                    <label class="nav" for="master">
                                        <span>Master </span>
                                    </label>  -->

                                <input name="nav" type="radio" class="nav home-radio" id="general"
                                    (change)="changeTabIndex(1)" [checked]="tabIndex == 1" />
                                <div class="tabs about-page">

                                </div>
                                <label class="nav" for="general">
                                    <span>Loan Name and Eligibility</span>
                                </label>
                                <input name="nav" type="radio" class="about-radio" id="recovery"
                                    (change)="changeTabIndex(2)" [checked]="tabIndex == 2" />
                                <div class="tabs about-page">

                                </div>
                                <label class="nav" for="recovery">
                                    <span>Interest and Principal Recovery</span>
                                </label>
                                <input name="nav" type="radio" class="about-radio" id="payment"
                                    (change)="changeTabIndex(3)" [checked]="tabIndex == 3" />
                                <div class="tabs about-page">

                                </div>
                                <label class="nav" for="payment">
                                    <span>General</span>
                                </label>