.center {
    margin: auto;
     width: 60%;
     margin-top: 12% !important;
     border: 0px;
     margin: auto;
     width: 60%;
     background: #f0f0f0;
     /* padding: 30px 33px; */
     box-shadow: 4px 3px 4px #e0d3d3;
   
  }
  .card{
    height:475px !important;
  }