<app-leftmenu></app-leftmenu>

<div class="page">
  <app-header></app-header>
  <div class="section-body mt-3">
    <div class="container-fluid" style="border: 1px solid #ccc; background-color: #fff;">
      <div class="tabview-contents">
        <form class="card" role="form" [formGroup]="form" #formDirective="ngForm" method="post" novalidate>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="tabview tabview_upload_excel">
                    <input name="nav" type="radio" class="about-radio" id="Tab1" checked />
                    <div class="tabs about-page">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-body">
                              <div class="row">
                                <!--  -->
                                <div class="col-sm-3">
                                  <label class="form-label">Job Master</label>
                                  <select name="masterType" id="masterType" class="form-control"
                                    formControlName="masterType" (change)='onSelectJobMaster($event.target.value)'>
                                    <option value="All">All</option>
                                    <option *ngFor="let jobMaster of allJobsList" [value]="jobMaster.value">
                                      {{jobMaster.label}}
                                    </option>
                                  </select>
                                </div>
                                <div class="col-sm-3" *ngIf="hideFormControl">
                                  <label class="form-label">Code</label>
                                  <input type="text" formControlName="masterCode" class="form-control" name="masterCode"
                                    [ngClass]="{'is-invalid' : form.get('masterCode').status == 'INVALID'} "
                                    autocomplete="off" placeholder="Enter Code">
                                </div>
                                <div class="col-md-3" *ngIf="hideFormControl">
                                  <label class="form-label">Description</label>
                                  <textarea formControlName="masterDescription" class="form-control" rows="2"
                                    autocomplete="off"
                                    [ngClass]="{'is-invalid' : form.get('masterDescription').status == 'INVALID'} "
                                    placeholder="Enter Remark"></textarea>
                                </div>
                                <div class="col-md-3" *ngIf="hideFormControl"><br>
                                  <label class="custom-control custom-checkbox custom-control-inline pl-45">
                                    <input formControlName="isActive" type="checkbox" class="custom-control-input"
                                      name="example-inline-checkbox1" value="option1"
                                      (change)="deactiveActiveCheckBox()" readonly>
                                    <span class="custom-control-label">Active </span>
                                  </label>
                                </div>
                              </div>
                              <div class="row pull-right mt-10">
                                <div class="col-sm-12 pull-right">
                                  <div *ngIf="isEditMode == false">
                                    <button type="submit" [disabled]="form.invalid"
                                      class="custom_button custom_btn btn-labeled btn-labeled-left" tooltip="Save"
                                      (click)="saveJobMaster()"
                                      [ngClass]="{'disabled-btn-bg-green' : form.invalid, 'btn-bg-green': !form.invalid}">
                                      <b><i class="fa fa-floppy-o"></i></b> Save</button>
                                    <button type="button" tooltip="Reset" (click)="cancelView()"
                                      class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
                                      <b><i class="fa  fa-refresh"></i></b> Reset</button>
                                  </div>
                                  <div *ngIf="isEditMode == true">
                                    <button type="submit"
                                      [ngClass]="form.invalid ? 'disabled-button' + ' btn-bg-green': 'btn-bg-green'"
                                      class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Update"
                                      (click)="updateSave()" [disabled]="form.invalid">
                                      <b><i class="fa fa-floppy-o"></i></b>Update</button>
                                    <button type="button"
                                      class="mr-2 pull-right custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                                      tooltip="Cancel" (click)="cancelView()"><b><i
                                          class="fa fa-times-circle"></i></b>Cancel</button>
                                  </div>
                                </div>
                              </div>
                              <br>
                              <br>
                              <div class="col-md-12 mt-10">

                                <span class="font-14 text-purple font-bold">Summary</span>

                                <div class="justify-content-end p-d-inline-flex float-right">
                                  <div class="input-icon mb-3">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-icon-addon"><i class="fe fe-search"></i></span>

                                  </div>
                                  &nbsp;
                                  <i class="fa fa-file-excel-o  font-28 text-dark-green cursor-pointer"
                                    tooltip="Export To Excel"></i>

                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                <p-table [value]="tableDataList" [paginator]="true" [rows]="10"
                                [showCurrentPageReport]="true" [pageLinks]="5"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                totalRecords={{tableDataList.length}} [rowsPerPageOptions]="[10,25,50,100,200]">


                                <ng-template pTemplate="header">
                                  <tr>
                                    <th rowspan="1" class="wd-8 text-center">
                                      Sr. No.
                                    </th>
                                    <th rowspan="1" class="wd-15 text-center">
                                      <div class="p-d-flex p-jc-between p-ai-center">
                                        Job Master Type
                                        <div class="Sort_Filter_Position">
                                          <p-sortIcon field="jobMasterType" pSortableColumn="jobMasterType"></p-sortIcon>
                                          <p-columnFilter field="jobMasterType" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                      </div>
                                    </th>
                                    <th rowspan="1" class="wd-15 text-center">
                                      <div class="p-d-flex p-jc-between p-ai-center">
                                        Code
                                        <div class="Sort_Filter_Position">
                                          <p-sortIcon field="masterCode" pSortableColumn="masterCode"></p-sortIcon>
                                          <p-columnFilter field="masterCode" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                      </div>
                                    </th>

                                    <th rowspan="1" class="wd-15 text-center">
                                      <div class="p-d-flex p-jc-between p-ai-center">
                                        Description
                                        <div class="Sort_Filter_Position">
                                          <p-sortIcon field="masterDescription" pSortableColumn="masterDescription"></p-sortIcon>
                                          <p-columnFilter field="masterDescription" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                      </div>
                                    </th>
                                    <th rowspan="1" class="wd-8 text-center">
                                      <div class="p-d-flex p-jc-center p-ai-center">
                                        Action
                                      </div>
                                    </th>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-user1 let-rowIndex="rowIndex">
                                  <tr class="p-selectable-row">
                                    <td class="bg-color-light_gray text-center"><label
                                        class="form-lable mb-0 text-center">{{rowIndex+1}}</label></td>
                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                        tooltip="{{user1.jobMasterType}}">{{user1.jobMasterType}}</label></td>
                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                        tooltip="{{user1.masterCode}}">{{user1.masterCode}}</label>
                                    </td>
                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                        tooltip="{{user1.masterDescription}}">{{user1.masterDescription}}</label>
                                    </td>
                                    <td class="wd-10 align-left">
                                      <button type="button" class="btn btn-icon" tooltip="View"
                                      (click)="viewJobMaster(i)">
                                        <i class="fa fa-eye"></i></button>
                                      <button type="button" class="btn btn-icon" tooltip="Edit"

                                       (click)="editUpdateDataJobMaster(i)">
                                        <i class="fa fa-edit"></i></button>
                                    </td>
                                    <!-- *ngIf="user1.attributeNatureLongForm == 'List'" -->
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                  <tr>
                                    <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                        Available</span></td>
                                  </tr>
                                </ng-template>
                              </p-table>
                              </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <label class="nav" for="Tab1"><span> Job Master </span></label>
                    <input name="nav" type="radio" class="nav home-radio" id="Tab2" />
                    <div class="tabs about-page">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-body">
                              <div class="row">
                                <!-- (change)='onSelectJobMaster($event.target.value)' -->
                                <div class="col-sm-3">
                                  <label class="form-label">Company Name</label>
                                  <select name="companyName" id="companyName" class="form-control"
                                    formControlName="companyName" >
                                    <option value="All">All</option>
                                    <option *ngFor="let jobMaster of groupCompanyDetailsList" [value]="jobMaster.value">
                                      {{jobMaster.label}}
                                    </option>
                                  </select>
                                </div>
                                <div class="col-sm-3" *ngIf="hideFormControl">
                                  <label class="form-label">Copy From
                                  </label>
                                  <select name="masterType" id="masterType" class="form-control"
                                    formControlName="masterType" (change)='onSelectJobMaster($event.target.value)'>
                                    <option *ngFor="let jobMaster of jobMasterList" [value]="jobMaster.value">

                                    </option>
                                  </select>
                                </div>
                              </div>
                              <br>
                              <br>
                              <div class="col-md-12 mt-10">
                                <div class="justify-content-end p-d-inline-flex float-right">
                                  <div class="input-icon mb-3">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-icon-addon"><i class="fe fe-search"></i></span>

                                  </div>
                                  &nbsp;
                                  <i class="fa fa-file-excel-o  font-28 text-dark-green cursor-pointer"
                                    tooltip="Export To Excel"></i>

                                </div>
                              </div>
                              <br>
                              <br>

                              <div class="row">
                                <div class="col-md-12">
                                  <p-table [value]="tableDataList" [paginator]="true" [rows]="10"
                                  [showCurrentPageReport]="true" [pageLinks]="5"
                                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                  totalRecords={{tableDataList.length}} [rowsPerPageOptions]="[10,25,50,100,200]">

                                    <ng-template pTemplate="header">
                                      <tr>

                                        <th scope="col"> <input type="checkbox" [(ngModel)]="checks"
                                            (click)="onCheckboxChange($event,-1)" />&nbsp;&nbsp;&nbsp;Select All
                                        </th>
                                        <th rowspan="2" class=" text-center">
                                          <div class="p-d-flex p-jc-between p-ai-center">Job Master Type
                                            <div class="Sort_Filter_Position">
                                              <p-sortIcon field="Description" pSortableColumn="Description">
                                              </p-sortIcon>
                                              <p-columnFilter type="text" field="Desc" display="menu" class="p-ml-auto">
                                              </p-columnFilter>
                                            </div>
                                          </div>
                                        </th>
                                        <th rowspan="2" class="text-center">
                                          <div class="p-d-flex p-jc-between p-ai-center">Code
                                            <div class="Sort_Filter_Position">
                                              <p-sortIcon field="Type" pSortableColumn="Type"></p-sortIcon>
                                              <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
                                              </p-columnFilter>
                                            </div>
                                          </div>
                                        </th>

                                        <th rowspan="2" class="text-center">
                                          <div class="p-d-flex p-jc-between p-ai-center">Desc
                                            <div class="Sort_Filter_Position">
                                              <p-sortIcon field="Type" pSortableColumn="Type"></p-sortIcon>
                                              <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
                                              </p-columnFilter>
                                            </div>
                                          </div>
                                        </th>

                                        <th rowspan="2" class="text-center">
                                          <div class="p-d-flex p-jc-between p-ai-center" style="margin-left: 40px;">From
                                            Date
                                            <div class="Sort_Filter_Position">
                                              <p-sortIcon field="fromDate" pSortableColumn="fromDate">
                                              </p-sortIcon>
                                              <p-columnFilter field="status" matchMode="equals" display="menu"
                                                class="p-ml-auto"></p-columnFilter>
                                            </div>
                                          </div>
                                        </th>
                                        <th rowspan="2" class=" text-center">
                                          <div class="p-d-flex justify-content-center p-ai-center">To Date
                                            <div class="Sort_Filter_Position">
                                              <p-sortIcon field="toDate" pSortableColumn="toDate"></p-sortIcon>
                                              <p-columnFilter field="activity" display="menu" class="p-ml-auto">
                                              </p-columnFilter>
                                            </div>
                                          </div>
                                        </th>






                                      </tr>

                                    </ng-template>
                                    <ng-template pTemplate="body" let-user1>
                                      <tr class="p-selectable-row">
                                        <td class="text-center">
                                          <input type="checkbox" [(ngModel)]="checks"
                                            (click)="onCheckboxChange($event,-1)" />
                                        </td>

                                        <td>
                                          Grade

                                        </td>
                                        <td>
                                          G1
                                        </td>
                                        <td>

                                          Grade 1
                                        </td>
                                        <td>
                                          <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <i class="fa fa-calendar"></i>
                                                </span>
                                              </div>
                                              <input data-provide="datepicker" data-date-autoclose="true"
                                                class="form-control" placeholder="Date" bsDatepicker>
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <i class="fa fa-calendar"></i>
                                                </span>
                                              </div>
                                              <input data-provide="datepicker" data-date-autoclose="true"
                                                class="form-control" placeholder="Date" bsDatepicker>
                                            </div>
                                          </div>
                                        </td>


                                      </tr>

                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                      <tr>
                                        <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                            Available</span>
                                        </td>
                                      </tr>
                                    </ng-template>
                                  </p-table>
                                </div>
                              </div>
                              <br>
                              <div class="row pull-right mt-10">
                                <div class="col-sm-12 pull-right">
                                  <div *ngIf="isEditMode ==false">

                                    <button type="submit" [disabled]="form.invalid"
                                      class="custom_button custom_btn btn-labeled btn-labeled-left" tooltip="Save"
                                      (click)="saveMaster()"
                                      [ngClass]="{'disabled-btn-bg-green' : form.invalid, 'btn-bg-green': !form.invalid}">
                                      <b><i class="fa fa-floppy-o"></i></b> Save</button>

                                    <button type="button" tooltip="Reset" (click)="cancelView()"
                                      class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
                                      <b><i class="fa  fa-refresh"></i></b> Reset</button>
                                  </div>

                                </div>
                              </div>
                              <br>
                              <br>
                              <br>


                              <div class="col-md-12 mt-10">

                                <span class="font-14 text-purple font-bold">Summary</span>

                                <div class="justify-content-end p-d-inline-flex float-right">
                                  <div class="input-icon mb-3">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-icon-addon"><i class="fe fe-search"></i></span>

                                  </div>
                                  &nbsp;
                                  <i class="fa fa-file-excel-o  font-28 text-dark-green cursor-pointer"
                                    tooltip="Export To Excel"></i>

                                </div>
                              </div>


                              <p-table [value]="users1">
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th rowspan="2" class="wd-6 text-center">Sr. No.</th>

                                    <th rowspan="2" class="wd-8 text-center">
                                      <div class="p-d-flex p-jc-between p-ai-center">Job Master Type
                                        <div class="Sort_Filter_Position">
                                          <p-sortIcon field="Type" pSortableColumn="Type"></p-sortIcon>
                                          <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
                                          </p-columnFilter>
                                        </div>
                                      </div>
                                    </th>
                                    <th rowspan="2" class="wd-8 text-center">
                                      <div class="p-d-flex p-jc-between p-ai-center">Code
                                        <div class="Sort_Filter_Position">
                                          <p-sortIcon field="ToDate" pSortableColumn="ToDate"></p-sortIcon>
                                          <p-columnFilter field="activity" display="menu" class="p-ml-auto">
                                          </p-columnFilter>
                                        </div>
                                      </div>
                                    </th>
                                    <th rowspan="2" class="wd-8 text-center">
                                      <div class="p-d-flex p-jc-between p-ai-center">Desc

                                        <div class="Sort_Filter_Position">
                                          <p-sortIcon field="PrimaryArea" pSortableColumn="PrimaryArea"></p-sortIcon>
                                          <p-columnFilter field="status" matchMode="equals" display="menu"
                                            class="p-ml-auto"></p-columnFilter>
                                        </div>
                                      </div>
                                    </th>
                                    <th rowspan="2" class="wd-8 text-center">
                                      <div class="p-d-flex justify-content-center p-ai-center">No. Of Company Assigned
                                        <div class="Sort_Filter_Position">
                                          <p-sortIcon field="FromDate" pSortableColumn="FromDate"></p-sortIcon>
                                          <p-columnFilter field="activity" display="menu" class="p-ml-auto">
                                          </p-columnFilter>
                                        </div>
                                      </div>
                                    </th>

                                    <th rowspan="2" class="wd-8 text-center">
                                      <div class="p-d-flex p-jc-between p-ai-center">From Date

                                        <div class="Sort_Filter_Position">
                                          <p-sortIcon field="PrimaryArea" pSortableColumn="PrimaryArea"></p-sortIcon>
                                          <p-columnFilter field="status" matchMode="equals" display="menu"
                                            class="p-ml-auto"></p-columnFilter>
                                        </div>
                                      </div>
                                    </th>
                                    <th rowspan="2" class="wd-8 text-center">
                                      <div class="p-d-flex justify-content-center p-ai-center">To Date
                                        <div class="Sort_Filter_Position">
                                          <p-sortIcon field="FromDate" pSortableColumn="FromDate"></p-sortIcon>
                                          <p-columnFilter field="activity" display="menu" class="p-ml-auto">
                                          </p-columnFilter>
                                        </div>
                                      </div>
                                    </th>




                                    <th rowspan="2" class="wd-4 text-center"> Action </th>

                                  </tr>

                                </ng-template>
                                <ng-template pTemplate="body" let-user1>
                                  <tr class="p-selectable-row">
                                    <td class="text-center"></td>


                                    <td>


                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td class="wd-10 text-center">
                                      <label class=" form-label text-link" (click)="largepopup (template)">5</label>
                                    </td>
                                    <td>
                                      <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="fa fa-calendar"></i>
                                            </span>
                                          </div>
                                          <input data-provide="datepicker" data-date-autoclose="true"
                                            class="form-control" placeholder="Date" bsDatepicker>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="fa fa-calendar"></i>
                                            </span>
                                          </div>
                                          <input data-provide="datepicker" data-date-autoclose="true"
                                            class="form-control" placeholder="Date" bsDatepicker>
                                        </div>
                                      </div>
                                    </td>

                                    <td>

                                      <i class="fa fa-edit  font-18 text-dark-green cursor-pointer"
                                        aria-hidden="true"></i>&nbsp;
                                      <i class="fa fa-eye font-18 text-blue cursor-pointer"
                                        aria-hidden="true"></i>&nbsp;

                                    </td>
                                  </tr>

                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                  <tr>
                                    <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                        Available</span>
                                    </td>
                                  </tr>
                                </ng-template>
                              </p-table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <label class="nav" for="Tab2"><span> Company Assignment </span></label>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>




<ng-template #confirmdialog>
  <div class="modal-header">
    <h5 class="modal-title" id="UploadModalLabel">Confirmation Dialog</h5>
    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <div class="card mb-0">
      <div class="card-body p-0 m-0">
        <div class="row clearfix">
          <div class="col-md-12">
            <i class="fa fa-question-circle font-18 font700" aria-hidden="true"></i> &nbsp; &nbsp; <label
              class="font-14 mb-0 font700">Are You Sure do you want to delete Record.</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn bg-color-green" (click)="modalRef.hide()" (click)="clickedOnYes()"> <i
        class="fa fa-check" aria-hidden="true"></i> &nbsp; Yes</button>
    <button type="button" class="btn bg-btn-red" (click)="modalRef.hide()"> <i class="fa fa-times"
        aria-hidden="true"></i> &nbsp; No</button>
  </div>
</ng-template>




<ng-template #template4>
  <div class="modal-header">
    <h5 class="modal-title" id="UploadModalLabel">Assign To Company</h5>
    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">X</span></button>
  </div>
  <div class="modal-body bg-color-white">
    <div class="card mb-0 bg-color-white">
      <div class="card-body box-line-border bg-color-white">
        <div class="clearfix bg-color-white">
          <div class="row" style="font-size: smaller">
            <div class="col-sm-12">
              <!-- <div class="row"> -->
              <!-- <div class="col-12"> -->
              <div class="card mb-0">
                <div class="mb-0">
                  <h3 class="font-14 text-purple font-bold"> Company</h3>
                </div>
                <!-- <div class=""> -->
                <div class="table-responsive Custom_Table mb-0 bg-color-white">
                  <table class="table table-striped table-hover table-bordered mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" class="wd-50"> <input type="checkbox" [(ngModel)]="checksCompany" [value]="-1"
                            (change)="onCheckCompanyboxChange($event,-1)">&nbsp;&nbsp;&nbsp;Select
                          All</th>
                        <th scope="col" class="wd-50">Company Name</th>
                        <th scope="col" class="wd-50">From Date </th>
                        <th scope="col" class="wd-50">To Date </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let summary of summaryCompanyHtmlDataList; let i = index">
                        <td class="wd-50"><input type="checkbox" [(ngModel)]="enableCompanyCheckAll" value
                            (change)="onCheckCompanyboxChange($event,i)"></td>
                        <td class="wd-50"><span tooltip="{{summary.companyName}}">{{summary.companyName}}</span>
                        </td>
                        <td class="wd-50">
                          <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-calendar"></i>
                                </span>
                              </div>
                              <input data-provide="datepicker" data-date-autoclose="true" class="form-control"
                                placeholder="Date" bsDatepicker>
                            </div>
                          </div>
                        </td>
                        <td class="wd-50">
                          <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-calendar"></i>
                                </span>
                              </div>
                              <input data-provide="datepicker" data-date-autoclose="true" class="form-control"
                                placeholder="Date" bsDatepicker>
                            </div>
                          </div>
                        </td>

                      </tr>


                      <tr *ngIf="summaryCompanyHtmlDataList.length ==0">
                        <td colspan="2">
                          <span class="font-14 font500 align-center text-red">No Data Available</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" [disabled]="form.invalid"
                  class="custom_button custom_btn btn-labeled btn-labeled-left pull-right" tooltip="Save"
                  (click)="saveMapToCompany()"
                  [ngClass]="{'disabled-btn-bg-green' : form.invalid, 'btn-bg-green': !form.invalid}">
                  <b><i class="fa fa-floppy-o"></i></b> Save</button>
              </div>
              <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>


<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title" id="UploadModalLabel"> Company Assigned</h5>
    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="row clearfix">
          <div class="col-md-12">
            <div class="col-sm-10">

              <div class="card">

                <div class="row mb-30">
                  <div class="col-md-12 pl-0 pr-0">
                    <div class="border-dark-card bg-color-light_gray radius-10 p-2 mt-3">
                      <div class="row">
                        <div class="col-md-4">
                          <label class="form-label mt-1 mb-0">Job Master Type
                          </label>
                          <label class="font-12 text-ellipsis mt-1 mb-0">
                            Grade</label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label mt-1 mb-0">Code</label>
                          <label class="font-12 text-ellipsis mt-1 mb-0">
                            G1
                          </label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label mt-1 mb-0">Description</label>
                          <label class="font-12 text-ellipsis mt-1 mb-0">
                            Grade 1
                          </label>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive Custom_Table mb-0 bg-color-white">
                  <table class="table table-striped table-hover table-bordered mb-0">
                    <thead class="thead-dark">
                      <tr>

                        <th scope="col">Company Name</th>
                        <th scope="col">From Date </th>
                        <th scope="col">To Date </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td class="bg-color-light_gray">ABC
                        </td>
                        <td class="bg-color-light_gray">
                          <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-calendar"></i>
                                </span>
                              </div>
                              <input data-provide="datepicker" data-date-autoclose="true" class="form-control"
                                placeholder="Date" bsDatepicker disabled>
                            </div>
                          </div>
                        </td>
                        <td class="bg-color-light_gray">
                          <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-calendar"></i>
                                </span>
                              </div>
                              <input data-provide="datepicker" data-date-autoclose="true" class="form-control"
                                placeholder="Date" bsDatepicker disabled>
                            </div>
                          </div>
                        </td>

                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" tooltip="Reset" (click)="modalRef.hide()"
      class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
      <b><i class="fa  fa-times"></i></b> Close</button>
  </div>



</ng-template>

<ng-template #template1>
  <div class="modal-header">
    <h5 class="modal-title" id="UploadModalLabel"> Assign To Company</h5>
    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="row clearfix">
          <div class="col-md-12">
            <div class="col-sm-10">


              <div class="card">

                <div class="row mb-30">
                  <div class="col-md-12 pl-0 pr-0">
                    <div class="border-dark-card bg-color-light_gray radius-10 p-2 mt-3">
                      <div class="row">
                        <div class="col-md-4">
                          <label class="form-label mt-1 mb-0">Job Master Type
                          </label>
                          <label class="font-12 text-ellipsis mt-1 mb-0">
                            Grade</label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label mt-1 mb-0">Code</label>
                          <label class="font-12 text-ellipsis mt-1 mb-0">
                            G1
                          </label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label mt-1 mb-0">Description</label>
                          <label class="font-12 text-ellipsis mt-1 mb-0">
                            Grade 1
                          </label>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="row mt-10">
                  <div class="col-sm-10">
                    <div class="float-right">
                      <label class="form-label">Copy From</label>
                    </div>
                  </div>

                </div>
                <div class="row mt-10">

                  <div class="col-sm-5">
                    <label class="form-label">Job Master Type</label>
                    <select name="masterType" id="masterType" class="form-control" formControlName="masterType"
                      (change)='onSelectJobMaster($event.target.value)'>
                      <option *ngFor="let jobMaster of jobMasterList" [value]="jobMaster.value">
                        {{jobMaster.value}}
                      </option>
                    </select>
                  </div>



                  <div class="col-sm-5" *ngIf="hideFormControl">
                    <label class="form-label">Code</label>
                    <select name="" class="form-control">

                      <option>

                      </option>
                    </select>
                  </div>

                </div> -->
                <div class="row mt-10">
                  <div class="col-md-12 pl-0 pr-0">
                    <div class="table-responsive Custom_Table mb-0 bg-color-white">
                      <table class="table table-striped table-hover table-bordered mb-0">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col"> <input type="checkbox" [(ngModel)]="checksCompany" [value]="-1"
                                (change)="onCheckCompanyboxChange($event,-1)">&nbsp;&nbsp;&nbsp;Select
                              All</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">From Date </th>
                            <th scope="col">To Date </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="">
                              <input type="checkbox" [(ngModel)]="checksCompany" [value]="-1"
                                (change)="onCheckCompanyboxChange($event,-1)">
                            </td>
                            <td class="">ABC
                            </td>
                            <td>
                              <div class="p-d-inline-flex">
                                <span (click)="copyDateFromTableRow()"><i
                                    class="fa fa-clone text-blue font-16 mr-2 mt-2"></i></span>
                                <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </div>
                                    <input data-provide="datepicker" data-date-autoclose="true" class="form-control"
                                      placeholder="Date" bsDatepicker>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>

                              <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-calendar"></i>
                                    </span>
                                  </div>
                                  <input data-provide="datepicker" data-date-autoclose="true" class="form-control"
                                    placeholder="Date" bsDatepicker>
                                </div>
                              </div>

                            </td>

                          </tr>


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" tooltip="Reset"
      class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ml-10">
      <b><i class="fa  fa-floppy-o"></i></b> Save</button>&nbsp;
    <button type="button" tooltip="Reset"
      class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
      <b><i class="fa  fa-refresh"></i></b> Reset</button>&nbsp;
    <button type="button" tooltip="Reset" (click)="modalRef.hide()"
      class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
      <b><i class="fa  fa-times"></i></b> Close</button>



  </div>
</ng-template>
