/* You can add global styles to this file, and also import other style files */
@import 'assets/plugins/bootstrap/css/bootstrap.min.css';
@import 'assets/plugins/charts-c3/c3.min.css';
@import 'assets/css/main.css';
@import 'assets/css/theme2.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// @import './../node_modules/primeicons/primeicons.css';
// @import './../node_modules/primeng/resources/themes/saga-green/theme.css';
// @import './../node_modules/primeng/resources/primeng.min.css';
@import 'assets/saga-green.css';
.disabled-btn-bg-green{
    background-color: #94c1c1!important;
}

// .p-checkbox .p-checkbox-box.p-highlight {
//     border-color: #4CAF50;
//     background: #4CAF50;
//     display: none !important;
// }
// .p-inputtext {
//     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
//     font-size: 1rem;
//     color: #c3cbe0;
//     background: #fff;
//     padding: 0.2rem .5rem;
//     border: 1px solid #ced4da;
//     transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s;
//     appearance: none;
//     border-radius: 3px;
// }


.p-datatable .p-component{
    height: 300px !important;
  }

  .p-datatable-wrapper .ng-star-inserted{
    overflow: auto !important;
}
