<app-leftmenu></app-leftmenu>

<div class="page">
    <app-header></app-header>
    <ol class="breadcrumb ">
        <li><a>Payroll Input</a></li>
        <li class="active">
            <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> Payroll List</a>
        </li>
    </ol>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row clearfix">
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <a [routerLink]="['/PayrollInputs/Financial-Master']" href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-list"></i>
                                        <span>Financial Master</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <a (click)="navigateToNRAmt()" href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-money"></i>
                                        <span>Non-Recurring Amount</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <a (click)="navigateToNRQty()" href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-money"></i>
                                        <span>Non-Recurring Quantity</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <div class="ribbon-box psgreen"></div>
                                    <a (click)="navigateToGarnishmentApplication()" href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-university"></i>
                                        <span>Non Recurring Garnishment</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <a  href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class=" fa fa-file-text"></i>
                                        <span>Loan</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <a [routerLink]="['/PayrollInputs/attendance']" href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-clock-o"></i>
                                        <span>Attendance</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <a  href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-dollar"></i>
                                        <span>Investment</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <a  href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-outdent"></i>
                                        <span>Asset</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <a  href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-user-circle-o"></i>
                                        <span>ESOP</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <a  href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-user-circle-o"></i>
                                        <span>Hold & Release</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-xl-2">
                            <div class="card bg-card">
                                <div class="card-body">
                                    <!-- (click)="navigateToQuery()" -->
                                    <a 
                                    (click)="smallpopup(template);navigateToQuery()" href="javascript:void(0)"
                                        class="my_sort_cut text-muted">
                                        <i class="fa fa-question-circle"></i>
                                        <span>Query</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row clearfix">

                        <div class="col-md-12">

                            <p-table [value]="users" [rows]="10" [paginator]="true"
                                [rowsPerPageOptions]="[5,10,25,50,100,200]">

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th rowspan="2">
                                            <!-- <input type="checkbox"
                                                    class="custom-control-input"
                                                    name="select"
                                                    (change)="getSelectedEmployee(users)"
                                                    > -->
                                        </th>
                                        <th rowspan="2">
                                            <div class="p-d-flex p-jc-between p-ai-center">
                                                Employee Code
                                                <div class="Sort_Filter_Position">
                                                    <p-sortIcon field="employeeCode"></p-sortIcon>
                                                    <p-columnFilter type="text" field="employeeCode" display="menu"
                                                        class="p-ml-auto"></p-columnFilter>
                                                </div>
                                            </div>
                                        </th>
                                        <th rowspan="2">
                                            <div class="p-d-flex p-jc-between p-ai-center">
                                                Employee Name
                                                <div class="Sort_Filter_Position">
                                                    <p-sortIcon field="fullName"></p-sortIcon>
                                                    <p-columnFilter type="text" field="fullName" display="menu"
                                                        class="p-ml-auto"></p-columnFilter>
                                                </div>
                                            </div>
                                        </th>
                                        <th rowspan="2">
                                            <div class="p-d-flex p-jc-between p-ai-center">
                                                Payroll Area
                                                <div class="Sort_Filter_Position">
                                                    <p-sortIcon field="payrollAreaCode"></p-sortIcon>
                                                    <p-columnFilter type="text" field="payrollAreaCode" display="menu"
                                                        class="p-ml-auto"></p-columnFilter>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-user1>
                                    <tr class="p-selectable-row">
                                        <td style="width: 3rem">
                                            <input type="checkbox" (change)="getSelectedEmployee(user1,$event.target)">
                                        </td>
                                        <td class="bg-color-light_gray">
                                            <label class="form-lable mb-0">{{user1.employeeCode}}</label>
                                        </td>
                                        <td class="bg-color-light_gray"><label
                                                class="form-lable mb-0">{{user1.fullName}}</label></td>
                                        <td class="bg-color-light_gray">
                                            <label class="form-lable mb-0">{{user1.payrollAreaCode}} </label>
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="15" class="font-14 font500 text-center text-red"><span>No
                                                Data
                                                Available</span></td>
                                    </tr>
                                </ng-template>

                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title" id="UploadModalLabel">Add-Query</h5>
        <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="custom-controls-stacked">
                                <span class="d-flex"> <label class="form-label mr-55">On
                                        Behalf of Employee's</label>
                                    <label
                                        class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input"

                                            id="BehalfOfEmployee"  name="querydata1" (click)="onBehalf('yes')">
                                        <span class="custom-control-label">Yes</span>
                                    </label>
                                    <label
                                        class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input"

                                            id="BehalfOfEmployee"  name="querydata1" (click)="onBehalf('no')">
                                        <span class="custom-control-label">No</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="row mt-25">
                            <div class="custom-controls-stacked">
                                <span class="d-flex"> <label class="form-label mr-15">Same
                                        Content For All Employee</label>
                                    <label
                                        class="custom-control custom-radio custom-control-inline ">
                                        <input type="radio" class="custom-control-input" [disabled]='sameContentViewFlag'
                                            id="sameContent"  name="querydata2" (click)="sameContent('yes')">
                                        <span class="custom-control-label">Yes</span>
                                    </label>
                                    <label
                                        class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input"  [disabled]='sameContentViewFlag'
                                             id="sameContent"  name="querydata2" (click)="sameContent('no')">
                                        <span class="custom-control-label">No</span>
                                    </label></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [disabled]="!queryGenerationForm.valid" [ngClass]="{'disabled-btn-bg-green' :
    queryGenerationForm.invalid,'btn-bg-green': !queryGenerationForm.invalid}" -->
    <div class="modal-footer">
        <button type="button" tooltip="Proceed" (click)="modalRef.hide();addQueryGeneration() "
            [routerLink]="['/admin-query-generation']"
            [disabled]="onBehalfValue == '' || sameContentValue == '' &&  selectedEmpLength > 1"
            [ngClass]="{'disabled-btn-bg-green' :onBehalfValue == '' || sameContentValue == '' &&  selectedEmpLength > 1 }"
            class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left float-right"><b><i
            class="fa fa-arrow-circle-o-right" aria-hidden="true"
              ></i></b> Proceed</button>
        <button type="button" tooltip="Cancel" (click)="modalRef.hide()"
            data-dismiss="modal" aria-label="Close"
            class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left"><b><i
                    class="fa fa-times"></i></b> Cancel</button>
    </div>
</ng-template>