.copy-btn{
    color: #713f93;
    cursor: pointer;
}

.eye-icon-payroll{
    float: right;
    /* margin-left: 0px; */
    margin-right: 24px;
    margin-top: -28px;
    position: relative;
    z-index: 2;
    color: #662d8c !important;
    cursor: pointer;
}

.btn-add-payroll {
    background-color: #713f93!important;
    color:white;
}