.disableEdit{
    pointer-events: none;
    cursor: not-allowed !important;
}
.invalid-message{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.badge-reOpen{
color:blue !important;
}
.badge-approved{
color:orange !important;
}
.badge-sendBack{
color: chocolate !important;
}
.badge-submitted{
    color: green !important;
}