<div class="card-body">
    <div class="col-lg-12 col-md-6 col-sm-12">
        <fieldset class="mt-25">
            <legend>Garnishment Details</legend>

            <form [formGroup]="applicationForm">
                <div class="row mt-25">
                    <div class="col-md-3">
                        <label class="form-label">Application
                            No.</label>
                        <input type="text" class="form-control"
                            disabled>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Application
                            Date</label>
                        <input type="text" class="form-control"
                            [(ngModel)]="today"
                            [ngModelOptions]="{standalone: true}"
                            disabled>
                    </div>
                </div>
                <div class="row mt-25">
                    <div class="col-md-3">
                        <label class="form-label">
                            Payroll Area</label>
                        <select class="form-control "
                            formControlName="payrollAreaId"
                            *ngIf="!editFlag">
                            <option value="">Select
                            </option>
                            <option
                                *ngFor="let payroll of refralPayrollListData"
                                value="{{payroll.payrollAreaId}}"
                                [selected]="payrollId == payroll.payrollAreaId">
                                {{payroll.payrollAreaCode}}
                            </option>
                        </select>
                        <select class="form-control "
                            *ngIf="editFlag && editApplicationData"
                            disabled>
                            <option value="">Select
                            </option>
                            <option
                                *ngFor="let payroll of refralPayrollListData"
                                value="{{payroll.payrollAreaId}}"
                                [selected]="editApplicationData.payrollArea.payrollAreaId == payroll.payrollAreaId">
                                {{payroll.payrollAreaCode}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">
                            Garnishment / Third Party
                            Master</label>
                        <select class="form-control "
                            formControlName="garnishmentMasterId"
                            *ngIf="editFlag && editApplicationData"
                            (change)="getSelectedGarnishment($event.target.value)">
                            <option value="">Select
                            </option>
                            <option
                                value="{{data.garnishmentMasterId}}"
                                [selected]="editApplicationData.garnishmentMasterResponseDTO.garnishmentMasterId == data.garnishmentMasterId"
                                *ngFor="let data of garnishmentMasterData">
                                {{data.nameOfInstitution}}
                            </option>
                        </select>

                        <select class="form-control "
                            formControlName="garnishmentMasterId"
                            *ngIf="!editFlag"
                            (change)="getSelectedGarnishment($event.target.value)">
                            <option value="">Select
                            </option>
                            <option
                                value="{{data.garnishmentMasterId}}"
                                *ngFor="let data of garnishmentMasterData">
                                {{data.nameOfInstitution}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label
                            class="form-label">Address</label>
                        <input class="form-control"
                            [(ngModel)]="address"
                            [ngModelOptions]="{standalone: true}"
                            disabled>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Nature</label>
                        <input class="form-control"
                            [(ngModel)]="nature"
                            [ngModelOptions]="{standalone: true}"
                            disabled>
                    </div>

                </div>
                <div class="row mt-25">

                    <div class="col-md-3">
                        <label class="form-label">E/D
                            Head Code & Desc.</label>
                        <!-- <input class="form-control"
                            [(ngModel)]="edHead"
                            [ngModelOptions]="{standalone: true}"
                            disabled> -->

                        <select [(ngModel)]="edHead"
                            [ngModelOptions]="{standalone: true}"
                            disabled class="form-control ">
                            <option
                                *ngFor="let standardName of headData"
                                [value]="standardName.headMasterId">
                                {{standardName.displayName}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3"
                        *ngIf="empAccNoApplicable == 'true' || empAccNoApplicable == true">
                        <label
                            class="form-label">{{displayName}}</label>
                        <input class="form-control"
                            formControlName="referenceName">
                    </div>

                    <div class="col-md-3"
                        *ngIf="familyMembers == 'true' || familyMembers == true">
                        <label class="form-label">
                            Family Members</label>
                        <!-- <select
                                    class="form-control "
                                    [(ngModel)]="familyMembers"
                                    [ngModelOptions]="{standalone: true}"
                                    disabled>
                                    <option value=""> Select
                                    </option>
                                    <option value="true"> Yes
                                    </option>
                                    <option value="false"> No
                                    </option>
                                </select> -->
                        <select id="family"
                            class="form-control "
                            formControlName="familyMemberInfoId">
                            <option value="">Select</option>
                            <option value="1">Self</option>
                            <option
                                value="{{family.familyMemberInfoId}}"
                                *ngFor="let family of familyInformation">
                                {{family.relation}}</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">
                            Once Every
                        </label>
                        <input type="text" class="form-control"
                            formControlName="onceEvery">
                    </div>

                </div>
                <div class="row mt-25">
                  
                    <div class="col-md-3">
                        <label class="form-label">
                            Frequency</label>
                        <!-- (change)="getSelectedFrequency($event.target.value,data)" -->
                        <select class="form-control"
                            *ngIf="!editFlag"
                            formControlName="garnishmentMasterFrequencyId">
                            <option value="">Select
                            </option>
                            <option
                                value="{{freq.garnishmentMasterFrequencyId}}"
                                *ngFor="let freq of garnishmentMasterFrequencyList">
                                {{freq.frequencyName}}
                            </option>
                        </select>

                        <select class="form-control"
                            *ngIf="editFlag"
                            formControlName="garnishmentMasterFrequencyId">
                            <option value="">Select
                            </option>
                            <option
                                value="{{freq.garnishmentMasterFrequencyId}}"
                                [selected]="editApplicationData.garnishmentMasterFrequencyResponseDTO.garnishmentMasterFrequencyId == freq.garnishmentMasterFrequencyId"
                                *ngFor="let freq of garnishmentMasterFrequencyList">
                                {{freq.frequencyName}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">From
                            Date</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div
                                    class="input-group-prepend">
                                    <span
                                        class="input-group-text">
                                        <i
                                            class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <input
                                    *ngIf="editFlag && editApplicationData"
                                    [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                    data-provide="datepicker"
                                    data-date-autoclose="true"
                                    placeholder="Date"
                                    bsDatepicker
                                    [value]="editApplicationData.fromDate | date: 'dd-MMM-yyyy'"
                                    (bsValueChange)="getFromDateForSave($event)"
                                    class="form-control wd-100">

                                <input *ngIf="!editFlag"
                                    [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                    data-provide="datepicker"
                                    data-date-autoclose="true"
                                    placeholder="Date"
                                    bsDatepicker
                                    (bsValueChange)="getFromDateForSave($event)"
                                    class="form-control wd-100">
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Transaction
                            Type</label>
                        <select name="revision type"
                            class="form-control  wd-200"
                            *ngIf="editFlag"
                            formControlName="garnishmentMasterTransactionTypeId"
                            (change)="getTransactionTypeForSave($event.target.value)">
                            <option value="">Select
                            </option>
                            <option
                                value="{{transaction.garnishmentMasterTransactionTypeId}}"
                                [selected]="editApplicationData.garnishmentMasterTransactionTypeResponseDTO.garnishmentMasterTransactionTypeId == transaction.garnishmentMasterTransactionTypeId"
                                *ngFor="let transaction of garnishmentMasterTransactionTypeList">
                                {{transaction.transactionTypeName}}
                            </option>
                        </select>

                        <select name="revision type"
                            class="form-control  wd-200"
                            *ngIf="!editFlag"
                            formControlName="garnishmentMasterTransactionTypeId"
                            (change)="getTransactionTypeForSave($event.target.value)">
                            <!-- <option value="">Select
                                    </option> -->
                            <!--   -->
                            <option
                                value="{{transaction.garnishmentMasterTransactionTypeId}}"
                                [selected]="selectedTransactionTypeId == transaction.garnishmentMasterTransactionTypeId || transaction.defaultTransactionType == true"
                                *ngFor="let transaction of garnishmentMasterTransactionTypeList">
                                {{transaction.transactionTypeName}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">No. Of
                            Transaction
                        </label>
                        <input type="text" class="form-control"
                            [disabled]="selectedTransactionType != 'NoOfTransaction'"
                            formControlName="numberOfTransactions">
                    </div>

                </div>
                <div class="row mt-25">

                    <div class="col-md-3">
                        <label class="form-label">To
                            Date</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div
                                    class="input-group-prepend">
                                    <span
                                        class="input-group-text">
                                        <i
                                            class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <input
                                    [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                    data-provide="datepicker"
                                    data-date-autoclose="true"
                                    placeholder="Date"
                                    bsDatepicker
                                    class="form-control wd-100"
                                    [value]="selectedToDate"
                                    (bsValueChange)="getToDateForSave($event)"
                                    [disabled]="selectedTransactionType != 'Defined Date'">
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Input
                            Type</label>
                        <select class="form-control "
                            *ngIf="!editFlag"
                            (change)="getSelectedGarnishmentData($event.target.value)"
                            formControlName="garnishmentMasterInputTypeId">
                            <!-- <option value=""> Select
                                    </option> -->
                            <option
                                value="{{input.garnishmentMasterInputTypeId}}"
                                [selected]="selectedInputType == input.garnishmentMasterInputTypeId || input.defaultInput == true "
                                *ngFor="let input of garnishmentMasterInputTypeList">
                                {{input.inputTypeName}}
                            </option>
                        </select>

                        <select class="form-control "
                            *ngIf="editFlag"
                            (change)="getSelectedGarnishmentData($event.target.value)"
                            formControlName="garnishmentMasterInputTypeId">
                            <option value=""> Select
                            </option>
                            <option
                                value="{{input.garnishmentMasterInputTypeId}}"
                                [selected]="editApplicationData.garnishmentMasterInputTypeResponseDTO.garnishmentMasterInputTypeId == input.garnishmentMasterInputTypeId"
                                *ngFor="let input of garnishmentMasterInputTypeList">
                                {{input.inputTypeName}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3"
                        *ngIf="selectedInputTypeName == 'Percentage' || selectedInputTypeName == 'percentage'">
                        <label class="form-label">Percentage
                            ( % )</label>
                        <input type="text" class="form-control"
                            formControlName="percentage">
                    </div>

                    <div class="col-md-3"
                        *ngIf="selectedInputTypeName == 'Amount' || selectedInputTypeName == 'amount'">
                        <label class="form-label">Amount</label>
                        <input type="text" class="form-control"
                            formControlName="amount">
                    </div>                                                   

                </div>
                <div class="row mt-25">

                    <div class="col-md-3" *ngIf="goalFlag">
                        <label class="form-label">Goal
                            Amount</label>
                        <input type="text" class="form-control"
                            formControlName="goalAmount">
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Remark</label>
                        <textarea class="form-control"
                            formControlName="remark"></textarea>
                    </div>
                </div>
                <div class="row mt-25">
                    <div class="col-md-3 mt-4 "></div>
                    <div class="col-md-3 mt-4 "></div>
                    <div class="col-md-3 mt-4 "></div>
                    <div class="col-md-3 mt-4 ">
                        <div class="float-right">
                            <button type="submit"
                            class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple mt-3"
                            tooltip="Go" (click)="getAllSelectedData()"
                            [disabled]="selectedEmployeeData.length == 0 || nonSalaryDetailId == '' || type == '' "
                            [ngClass]="{'disabled-btn-bg-green': selectedEmployeeData.length == 0 || nonSalaryDetailId == '' || type == ''}">
                            <b><i class="fa fa-arrow-right"></i></b> Go
                        </button>&nbsp;
                        </div>
                    </div>
                </div>

                <div class="row mt-25">
                    <div class="col-md-12">
                        <h4
                            class="font-14 text-purple font-bold">
                            <b>Upload Document</b>
                        </h4>
                    </div>
                </div>

                <div class="row mt-10">
                    <div class="col-md-6">
                        <div
                            class="table-responsive Custom_Table">
                            <table
                                class="table table-striped table-hover table-bordered m-b-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Document
                                            Name</th>
                                        <th>Mandatory</th>
                                        <th>Attachment
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let doc of garnishmentMasterDocumentList; let index = index;">
                                        <td>{{index+1}}
                                        </td>
                                        <td>{{doc.documentName}}
                                        </td>
                                        <td></td>
                                        <td><i
                                                class=" fa fa-paperclip text-red"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-upload font-16 text-blue cursor-pointer"
                                                tooltip="Upload"
                                                (click)="UploadModal(template3)"
                                                data-toggle="modal"
                                                data-target="#UploadModal">
                                            </i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>

            </form>


        </fieldset>
    </div>
</div>


<br>

<div class="mb-0">
    <h3 class="font-14 text-purple font-bold">Summary</h3>
</div>

<div class="row">
    <div class="col-md-12">

        <p-table [value]="tableData">

            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="2" class="wd-2 text-center">Sr. No.</th>
                    <th rowspan="2" class="wd-4 text-center">
                        <div class="p-d-flex p-jc-between p-ai-center">Emp. Code
                            <div class="Sort_Filter_Position">
                                <p-sortIcon field="PayrollArea" pSortableColumn="PayrollArea">
                                </p-sortIcon>
                                <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto">
                                </p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th rowspan="2" class="wd-4 text-center">
                        <div class="p-d-flex p-jc-between p-ai-center"> Emp. Name
                            <div class="Sort_Filter_Position">
                                <p-sortIcon field="Description" pSortableColumn="Description">
                                </p-sortIcon>
                                <p-columnFilter type="text" field="Desc" display="menu" class="p-ml-auto">
                                </p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th rowspan="2" class="wd-10 text-center">
                        <div class="p-d-flex p-jc-between p-ai-center" style="margin-left:25px;">
                            Payroll Area
                            <div class="Sort_Filter_Position">
                                <p-sortIcon field="Type" pSortableColumn="Type">
                                </p-sortIcon>
                                <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
                                </p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th rowspan="2" class="wd-8 text-center">
                        <div class="p-d-flex justify-content-center p-ai-center">
                            From Date
                            <div class="Sort_Filter_Position">
                                <p-sortIcon field="FromDate" pSortableColumn="FromDate"></p-sortIcon>
                                <p-columnFilter field="activity" display="menu" class="p-ml-auto">
                                </p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th rowspan="2" class="wd-10 text-center">
                        <div class="p-d-flex p-jc-between p-ai-center" style="margin-left:58px;">Type
                            <div class="Sort_Filter_Position">
                                <p-sortIcon field="ToDate" pSortableColumn="ToDate">
                                </p-sortIcon>
                                <p-columnFilter field="activity" display="menu" class="p-ml-auto">
                                </p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th rowspan="2" class="wd-10 text-center">
                        <div class="p-d-flex p-jc-between p-ai-center" style="margin-left:25px;">No. of
                            Trans.
                            <div class="Sort_Filter_Position">
                                <p-sortIcon field="ToDate" pSortableColumn="ToDate">
                                </p-sortIcon>
                                <p-columnFilter field="activity" display="menu" class="p-ml-auto">
                                </p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th rowspan="2" class="wd-8 text-center">
                        <div class="p-d-flex p-jc-between p-ai-center">To Date
                            <div class="Sort_Filter_Position">
                                <p-sortIcon field="ToDate" pSortableColumn="ToDate">
                                </p-sortIcon>
                                <p-columnFilter field="activity" display="menu" class="p-ml-auto">
                                </p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th rowspan="2" class="wd-4 text-center">
                        <div class="p-d-flex p-jc-between p-ai-center"> Amount

                            <div class="Sort_Filter_Position">
                                <p-sortIcon field="PrimaryArea" pSortableColumn="PrimaryArea">
                                </p-sortIcon>
                                <p-columnFilter field="status" matchMode="equals" display="menu" class="p-ml-auto">
                                </p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th rowspan="2" class="wd-4 text-center">
                        <div class="p-d-flex p-jc-between p-ai-center"> Remark

                            <div class="Sort_Filter_Position">
                                <p-sortIcon field="PrimaryArea" pSortableColumn="PrimaryArea">
                                </p-sortIcon>
                                <p-columnFilter field="status" matchMode="equals" display="menu" class="p-ml-auto">
                                </p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th rowspan="2" class="wd-2 text-center"></th>
                    <th rowspan="2" class="wd-3 text-center"> Action </th>
                    <th rowspan="2" class="wd-2 text-center"></th>
                </tr>

            </ng-template>

            <ng-template pTemplate="body" let-data let-rowIndex=rowIndex>
                <tr class="p-selectable-row">
                    <td class="text-center">{{rowIndex+1}}</td>
                    <td>
                        <input type="text" class="form-control" [value]="data.employeeCode"
                            (focusout)="getEmployeeName($event.target.value)" disabled>
                    </td>
                    <td>{{data.employeeName}}</td>
                    <td>
                        <select name="payrollarea" class="form-control wd-100"
                            (change)="getSelectedSavePayroll($event.target.value,data)" disabled>
                            <option value=""> Select</option>
                            <option *ngFor="let payroll of parollArea" [selected]="selectedPayrollArea == payroll.name">
                                {{payroll.name}} </option>
                        </select>
                    </td>
                    <td>
                        <div class="p-d-inline-flex">
                            <!-- <span (click)="copyDateFromTableRow()"><i
                                                                        class="fa fa-clone text-blue font-16 mr-2 mt-2"></i></span> -->
                            <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                                <div class="input-group">
                                    <!-- <div class="input-group-prepend">
                                                                            <span class="input-group-text">
                                                                                <i class="fa fa-calendar"></i>
                                                                            </span>
                                                                        </div> -->
                                    <input data-provide="datepicker" [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                        data-date-autoclose="true" [minDate]="effectiveFromDate"
                                        [maxDate]="effectiveToDate" value="{{data.fromDate | date:'dd-MMM-yyyy'}}"
                                        (bsValueChange)="getSaveFromDate($event,data)" class="form-control wd-120"
                                        placeholder="Date" bsDatepicker>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <select name="revision type" class="form-control  wd-120"
                            (change)="getsaveTransactionType($event.target.value,rowIndex,data)">
                            <option value="" [selected]="data.transactionsType == null || data.transactionsType == ''">
                                Select</option>
                            <option value="NoOfTransaction" title="No. of Transaction"
                                [selected]="data.transactionsType == 'NoOfTransaction'">
                                No. of Trans
                            </option>
                            <option value="Perpetual" title="Perpetual"
                                [selected]="data.transactionsType == 'Perpetual'">
                                Perpetual</option>
                            <option value="Defined Date" title="Defined Date"
                                [selected]="data.transactionsType == 'Defined Date'">
                                Def Date
                            </option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control wd-100" value="{{data.numberOfTransactions}}"
                            (focusout)="getsaveNumberTransaction($event.target.value,data)"
                            [disabled]="data.transactionsType != 'NoOfTransaction'">
                    </td>

                    <td>
                        <div class="p-d-inline-flex">
                            <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                                <div class="input-group">
                                    <input data-provide="datepicker" data-date-autoclose="true" [minDate]="setMinToDate"
                                        [maxDate]="effectiveToDate" [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                        placeholder="Date" bsDatepicker value="{{data.toDate | date : 'dd-MMM-yyyy'}}"
                                        (bsValueChange)="getSaveToDate($event,data)" class="form-control wd-120"
                                        [disabled]="data.transactionsType != 'Defined Date'">
                                </div>
                            </div>
                        </div>
                    </td>
                    <!-- <td>
                        <i class="fa fa-history font-16 text-blue cursor-pointer" aria-hidden="true"
                            (click)="ViewClawbackpopup(template4,data)" *ngIf="selectedApplicableAt != ''"></i>
                    </td> -->
                    <td>
                        <input type="text" class="form-control wd-100" value="{{data.amount}}"
                            (focusout)="saveAmounts($event.target.value,data)">
                    </td>
                    <td>
                        <input type="text" class="form-control wd-100" value="{{data.remark}}"
                            (focusout)="saveRemarks($event.target.value,data)">
                    </td>
                    <td>
                        <i class="fa fa-deviantart text-blue font-18 cursor-pointer" aria-hidden="true"></i>
                    </td>
                    <td>
                        <i class="fa fa-times  font-18 text-red cursor-pointer" aria-hidden="true"
                            (click)="removeDataFromSave(rowIndex)"></i>&nbsp;
                    </td>
                    <td>
                        <div class="col-md-2" *ngIf="data.deviationCount">
                            <div class="custom_Label_badge bagde1">
                                <button class="btn defaultbtn"
                                    (click)="editdeviationPopupOpen(editdeviationPopup,data,rowIndex)">
                                    <i class="fa fa-deviantart font-16 text-blue cursor-pointer" aria-hidden="true">
                                    </i></button>
                                <span class="Label_badge" style="text-align: center;">{{data.deviationCount}}</span>
                            </div>
                        </div>
                    </td>
                </tr>

            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="15" class="font-14 font500 text-center text-red">
                        <span>No Data
                            Available</span>
                    </td>
                </tr>
            </ng-template>

        </p-table>
  
    </div>
</div>

<!-- Button-->
<div class="row mt-15">
    <div class="col-12">
        <div class="float-right mb-15">
            <button type="submit" class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"
                tooltip="Save" (click)="saveFastEntries()"
                [ngClass]="{'disabled-btn-bg-green' : saveTransactionData.length == 0}"
                [disabled]="saveTransactionData.length == 0">
                <b><i class="fa fa-floppy-o"></i></b> Save
            </button>&nbsp;
            <button type="submit" class="custom_button custom_btn  btn-bg-green btn-labeled btn-labeled-left ripple"
                tooltip="Save" (click)="saveAndClearFastEntries()"
                [ngClass]="{'disabled-btn-bg-green' : saveTransactionData.length == 0}"
                [disabled]="saveTransactionData.length == 0">
                <b><i class="fa fa-floppy-o"></i></b>Save & Clear
            </button>&nbsp;
            <button type="button" class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left "
                tooltip="Reset" (click)="resetTableData()">
                <b><i class="fa fa-refresh"></i></b> Reset</button>
        </div>
    </div>
</div>

<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <app-footer></app-footer> -->