<app-leftmenu></app-leftmenu>
<div class="page">
  <app-header></app-header>
  <div class="section-body mt-3">
    <div class="container-fluid">


      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body" style="border:1px solid rgb(189, 175, 175)">
              <form [formGroup]="addAdhocForm">
                <fieldset>
                  <legend>Employee Details</legend>
                  <div class=" row" *ngIf="perticularEmpDetails">
                <div class="col-md-12 pl-0 pr-0">
                  <div class="border-dark-card radius-10 p-2">
                    <div class="row">
                      <div class="col-md-2">
                        <label class="form-label mt-1 mb-0">Employee No. & Name </label>
                        <label class="font-12 text-ellipsis mt-1 mb-0" value="">{{perticularEmpDetails.employeeCode +''+
                          perticularEmpDetails.fullName}}</label>
                      </div>
                      <div class="col-md-2">
                        <label class="form-label mt-1 mb-0">Date of Joining</label>
                        <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.joiningDate|date:
                          'dd-MMM-yyyy'}}</label>
                      </div>
                      <div class="col-md-2">
                        <label class="form-label mt-1 mb-0">Establishment</label>
                        <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.establishment}}</label>

                      </div>
                      <div class="col-md-2">
                        <label class="form-label mt-1 mb-0">Department</label>
                        <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.employeeType}}</label>

                      </div>
                      <div class="col-md-1">
                        <label class="form-label mt-1 mb-0">Grade</label>
                        <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.grade}}</label>

                      </div>
                      <div class="col-md-2">
                        <label class="form-label mt-1 mb-0">Designation</label>
                        <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.designation}}</label>
                        <!-- <input type="text" class="form-control"  value="UI Developer" disabled /> -->

                      </div>
                      <div class="col-md-1">
                        <label class="form-label mt-1 mb-0">Status</label>
                        <label class="font-12 text-ellipsis mt-1 mb-0">{{perticularEmpDetails.status}}</label>
                        <!-- <input type="text" class="form-control"  value="Probation" disabled /> -->
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </fieldset>
            <br>

            <fieldset>
              <legend>Loan Details</legend>
              <div class=" row" *ngIf="loanDetails">
              <div class="col-md-12 pl-0 pr-0">
                <div class="border-dark-card radius-10 p-2">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-label">Loan Type</label>
                      <input type="text" class="form-control" value="{{loanDetails.loanType}}" disabled />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Description</label>
                      <input type="text" class="form-control" value="{{loanDetails.carOrInstitutionType}}" disabled />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label mt-1 mb-0">Loan No.</label>
                      <input type="text" class="form-control" value="{{loanDetails.loanApplicationNumber}}" disabled />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">
                        Application Date
                      </label>

                      <div class="form-group mb-0  mt-1 SMDatepickerWidth" disabled>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                          <input data-provide="datepicker" data-date-autoclose="true" class="form-control"
                            placeholder="Date" value="{{loanDetails.createDateTime|date:
                              'dd-MMM-yyyy'}}" bsDatepicker>
                        </div>
                      </div>

                    </div>
                  </div>

                  <br>
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-label">Repayment Type</label>
                      <input type="text" class="form-control" value="{{loanDetails.repaymentType}}" disabled />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Payroll Area</label>
                      <input type="text" class="form-control" value="{{loanDetails.payrollArea}}" disabled />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Loan Balance</label>
                      <input type="text" class="form-control" value="{{loanDetails.loanAmount}}" disabled />
                    </div>
                  </div>

                  <br>


                </div>
              </div>
              </div>
            </fieldset>
            <br>

            <fieldset>
              <legend>Adhoc Payment Details</legend>
              <div class="col-md-12 pl-0 pr-0">
                <div class="border-dark-card radius-10 p-2 ">
                  <div class="row mt-1 mb-0">
                    <div class="col-md-3">
                      <label class="form-label">Transaction No.</label>
                      <input type="text" class="form-control" formControlName="loanApplicationNumber"  />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">
                        Application Date
                      </label>
                      <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                          <input data-provide="datepicker" data-date-autoclose="true" class="form-control"
                            formControlName="applicationDate" placeholder="Date" bsDatepicker>
                        </div>
                      </div>

                    </div>

                    <div class="col-md-3">
                      <label class="form-label">Mode of Payment</label>
                      <select class="form-control" formControlName="employeeModeOfPayment">
                        <option selected value=''>Select </option>
                        <option selected value='self'>self </option>
                        <option selected value='Online'>Online </option>

                      </select>
                    </div>
                    <div class="col-md-3">
                      <button type="button" tooltip="Button"
                        class="custom_button custom_btn1 btn-bg-green btn-labeled1 btn-labeled-left ml-2 mr-2 mt-4"
                        aria-hidden="true"><b><i class="fa fa-university" aria-hidden="true"></i>
                        </b>Employee Bank Details

                      </button>
                    </div>
                  </div>

                  <br>
                  <div class="row mt-1 mb-0">

                    <div class="col-md-3">
                      <label class="form-label">IFSC</label>
                      <input type="text" class="form-control" formControlName="ifscCode" />
                    </div>

                    <div class="col-md-3">
                      <label class="form-label">Bank Name</label>
                      <input type="text" class="form-control" formControlName="bankName" />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Branch Name</label>
                      <input type="text" class="form-control" formControlName="bankAddress" />
                    </div>
                    <!-- <div class="col-md-3">
                    <label class="form-label">Branch Address</label>
                    <textarea  type="text" rows="1" class="form-control" formControlName="loanAmount"
                      value="{{loanAmount | number:'1.2-2'}}" ></textarea>
                  </div> -->
                    <div class="col-md-3">
                      <label class="form-label">Cheque/ UTR No.</label>
                      <input type="text" class="form-control" formControlName="chequeUtrNo" />
                    </div>
                  </div>
                  <br>
                  <div class="row mt-1 mb-0">
                    <div class="col-md-3">
                      <label class="form-label">
                        Date Of Payment
                      </label>
                      <div class="form-group mb-0  mt-1 SMDatepickerWidth">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                          <input data-provide="datepicker" data-date-autoclose="true" class="form-control"
                            formControlName="paymentDate" placeholder="Date" bsDatepicker>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Amount</label>
                      <input type="text" class="form-control" formControlName="amount" />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Remark</label>
                      <textarea type="text" rows="1" class="form-control" formControlName="remark" ></textarea>
                    </div>
                  </div>

                </div>
              </div>

            </fieldset>
            <br>
            <fieldset>
              <legend>For Office Use</legend>
              <div class="col-md-12 pl-0 pr-0">
                <div class="border-dark-card radius-10 p-2 ">

                  <div class="row mt-1 mb-0">
                    <div class="col-md-3">
                      <label class="form-label">Mode of Payment</label>
                      <select class="form-control" placeholder="Select" disabled>
                        <option [ngValue]="null">Select</option>
                        <!-- <option
                             [selected]="loanType == loan.loanCode" 
                            selected>
                              Cheque</option>
                            <option [selected]="loanType == loan.loanCode">
                              Bank Transfer</option>
                            <option [selected]="loanType == loan.loanCode">
                              Through Salary</option> -->
                      </select>
                    </div>
                    <div class="col-md-3">
                      <button type="button" tooltip="Button"
                        class="custom_button custom_btn1 btn-bg-green btn-labeled1 btn-labeled-left ml-2 mr-2 mt-4"
                        aria-hidden="true"><b><i class="fa fa-university" aria-hidden="true"></i>
                        </b>Company Bank Details

                      </button>
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">IFSC</label>
                      <input type="text" class="form-control" />
                    </div>

                    <div class="col-md-3">
                      <label class="form-label">Bank Name</label>
                      <input type="text" class="form-control" />
                    </div>

                  </div>
                  <br>
                  <div class="row mt-1 mb-0">
                    <div class="col-md-3">
                      <label class="form-label">Branch Name</label>
                      <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Account No.</label>
                      <textarea type="text" rows="1" class="form-control"></textarea>
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Date of Receipt</label>
                      <input type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Cycle Name
                      </label>
                      <input type="text" class="form-control" disabled />
                    </div>

                  </div>
                  <br>
                  <div class="row mt-1 mb-0">
                    <div class="col-md-3">
                      <label class="form-label">Amount</label>
                      <input type="text" class="form-control" />
                    </div>


                    <div class="col-md-3">
                      <label class="form-label">Remark</label>
                      <textarea type="text" rows="1" class="form-control"></textarea>
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Loan Balance</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>


                </div>
              </div>

            </fieldset>

            <br><br>

            <br><br>

            <ng-container class="float-right">

              <div class="row float-right" style="margin: 10px">
                <button type="button" tooltip="Button"
                  class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ml-2 mr-2 "
                  aria-hidden="true" (click)="addAdhocData()"><b><i class="fa fa-check-square-o"></i></b>Save
                </button>
                <button type="button" tooltip="Button"
                  class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-2 mr-2 "
                  aria-hidden="true"><b><i class="fa  fa-reply"></i></b>Send Back
                </button>
                <button type="button" tooltip="Cancel" (click)="cancel()"
                  class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left mr-10">
                  <b><i class="fa fa-times"></i></b> Close
                </button>
              </div>
            </ng-container>

            </form>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
</div>