

    <div class="row">
        <div class="col-12">
            <div class="card">
                <form  [formGroup]="form" #formDirective="ngForm"
                (ngSubmit)="addBankInfo(form,formDirective)" method="post" novalidate>
                <div class="card-body p-0">

                    <div class="col-12 mt-10">

                        <fieldset>
                            <legend>Disbursement</legend>

                            <div class="row mt-10">


                                <div class="col-sm-3">
                                    <label class="form-label">Area</label>
                                    <select name="payrollAreaCode" class="form-control" [ngClass]="{ 'is-invalid': form.get('payrollAreaCode').touched && form.get('payrollAreaCode').errors }" formControlName='payrollAreaCode'
                                    (change)="payrollAreaChange()">
                                        <option value=""> Select</option>
                                        <option *ngFor="let list of payrollList" [value]="list.payrollAreaCode"> 
                                            {{list.payrollAreaCode}} </option>
                                       
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label class="form-label">Type of Payment</label>
                                    <select name="typeOfPayment" class="form-control" fromControlName="typeOfPayment"  [ngClass]="{ 'is-invalid': form.get('typeOfPayment').touched && form.get('typeOfPayment').errors }"  (change)="typeOfPaymentChange()">
                                        <option value=""> Select</option>
                                        <option *ngFor="let type of typeOfPaymentList" [value]="type"> {{type}} </option>
                                      
                                    </select>

                                </div>

                                <div class="col-sm-3">
                                    <label class="form-label">From Date</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <input data-provide="datepicker" data-date-autoclose="true" formControlName="fromDate" class="form-control"
                                        [minDate]="formMinDate" placement="center"  [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                            placeholder="Date" bsDatepicker>
                                    </div>

                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">To Date</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <input data-provide="datepicker" data-date-autoclose="true" class="form-control" formControlName="toDate"
                                        [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" placement="center"
                                            placeholder="Date" bsDatepicker>
                                    </div>

                                </div>

                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <label class="form-label">Copy From</label>
                                    <select name="copyFromPayrollArea" class="form-control" formControlName="copyFromPayrollArea">
                                        <option value=""> Select</option>
                                        <option *ngFor="let copy of copyFromPayrollAreaList">{{copy.name}} </option>
                                       
                                    </select>
                                </div>

                            </div>
                            <br>
                            <br>

                            
                            <div class="row" formArrayName="pfFormArray">
                                <div class="col-md-12">
                                    <p-table [value]="users1">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th rowspan="2" class="wd-2 text-center">Sr. No.</th>
                                                <th rowspan="2" class="wd-6 text-center">
                                                    <div class="p-d-flex p-jc-between p-ai-center">Mode of Payment
                                                        <div class="Sort_Filter_Position">
                                                            <p-sortIcon field="PayrollArea"
                                                                pSortableColumn="PayrollArea"></p-sortIcon>
                                                            <p-columnFilter type="text" field="name" display="menu"
                                                                class="p-ml-auto">
                                                            </p-columnFilter>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th rowspan="2" class="wd-6 text-center">
                                                    <div class="p-d-flex p-jc-between p-ai-center"> Bank Name
                                                        <div class="Sort_Filter_Position">
                                                            <p-sortIcon field="Description"
                                                                pSortableColumn="Description"></p-sortIcon>
                                                            <p-columnFilter type="text" field="Desc" display="menu"
                                                                class="p-ml-auto">
                                                            </p-columnFilter>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th rowspan="2" class="wd-12 text-center">
                                                    <div class="p-d-flex p-jc-between p-ai-center"
                                                        style="margin-left: 20px;">IFSC / SWIFT
                                                        <div class="Sort_Filter_Position">
                                                            <p-sortIcon field="Type" pSortableColumn="Type">
                                                            </p-sortIcon>
                                                            <p-columnFilter type="date" field="date" display="menu"
                                                                class="p-ml-auto"> </p-columnFilter>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th rowspan="2" class="wd-8 text-center">
                                                    <div class="p-d-flex p-jc-between p-ai-center"> Account No.

                                                        <div class="Sort_Filter_Position">
                                                            <p-sortIcon field="PrimaryArea"
                                                                pSortableColumn="PrimaryArea"></p-sortIcon>
                                                            <p-columnFilter field="status" matchMode="equals"
                                                                display="menu" class="p-ml-auto"></p-columnFilter>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th rowspan="2" class="wd-8 text-center">
                                                    <div class="p-d-flex justify-content-center p-ai-center">Payee Name
                                                        <div class="Sort_Filter_Position">
                                                            <p-sortIcon field="FromDate" pSortableColumn="FromDate">
                                                            </p-sortIcon>
                                                            <p-columnFilter field="activity" display="menu"
                                                                class="p-ml-auto">
                                                            </p-columnFilter>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th *ngIf="multiBankingAllowed" rowspan="2" class="wd-8 text-center">
                                                    <div class="p-d-flex p-jc-between p-ai-center">% Net Pay
                                                        <div class="Sort_Filter_Position">
                                                            <p-sortIcon field="ToDate" pSortableColumn="ToDate">
                                                            </p-sortIcon>
                                                            <p-columnFilter field="activity" display="menu"
                                                                class="p-ml-auto">
                                                            </p-columnFilter>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th *ngIf="multiBankingAllowed" rowspan="2" class="wd-8 text-center">
                                                    <div class="p-d-flex p-jc-between p-ai-center">Amount
                                                        <div class="Sort_Filter_Position">
                                                            <p-sortIcon field="ToDate" pSortableColumn="ToDate">
                                                            </p-sortIcon>
                                                            <p-columnFilter field="activity" display="menu"
                                                                class="p-ml-auto">
                                                            </p-columnFilter>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th *ngIf="multiBankingAllowed" rowspan="2" class="wd-8 text-center">
                                                    <div class="p-d-flex p-jc-between p-ai-center">Priority
                                                        <div class="Sort_Filter_Position">
                                                            <p-sortIcon field="ToDate" pSortableColumn="ToDate">
                                                            </p-sortIcon>
                                                            <p-columnFilter field="activity" display="menu"
                                                                class="p-ml-auto">
                                                            </p-columnFilter>
                                                        </div>
                                                    </div>
                                                </th>


                                                <th  *ngIf="multiBankingAllowed" rowspan="2" class="wd-4 text-center"> Action </th>

                                            </tr>

                                        </ng-template>
                                        <ng-template pTemplate="body"  let-rowIndex="rowIndex">
                                            <tr class="p-selectable-row"   *ngFor="let summary of pfArray.controls; index as i" [formGroupName]="i">
                                                <td class="text-center">{{i+1}}</td>
                                                <td scope="row">
                                                    <select name="modeOfPayment"  class="form-control" (change)="modeOfPaymentChange()" formControlName="modeOfPayment">
                                                        <option value=""> Select</option>
                                                        <option  *ngFor="let mode of modeOfPaymentList" [value]="mode">{{mode}}</option>
                                                    </select>
                                                </td>
                                                <td scope="row">
                                                    <select name="bankName"   class="form-control" formControlName="bankName"  (change)="ifscSelect(i)">
                                                        <option value="">Select</option>
                                                        <option  *ngFor="let bank of bankList" > {{bank.bankName}}</option>
                                                    </select>
                                                </td>
                                                <!-- let bank of summary.get('ifscList').controls -->
                                                <td scope="row"  >
                                                    <select name="ifsc" class="form-control" formControlName="ifsc" (change)="accountSelect(i)">
                                                        <option value=""> Select</option>
                                                        <option *ngFor="let bank of summary.get('ifscList').value"> {{bank.ifsc}}</option>
                                                        
                                                    </select>
                                                </td>
                                                <td scope="row">
                                                    <select name="accountNo" class="form-control" formControlName="accountNo">
                                                        <option value=""> Select</option>
                                                        <option *ngFor="let bank of summary.get('accountNoList').value"> {{bank.accountNo}}</option>
                                                  
                                                    </select>
                                                </td>
                                                <td scope="row">
                                                    <input type="text" class="form-control"  formControlName="nameAsPerBank" >
                                                </td>
                                                <td *ngIf="multiBankingAllowed" scope="row">
                                                    <input type="text" class="form-control"  formControlName="percentNetpay"
                                                     (keyup)="percentageTotal()">
                                                </td>

                                                <td *ngIf="multiBankingAllowed" scope="row">
                                                    <input type="text" class="form-control" formControlName="amount"
                                                     (keyup)="amountTotal()">
                                                </td>


                                                <td  *ngIf="multiBankingAllowed" scope="row">
                                                    <input type="text" class="form-control">
                                                </td>

                                                <td *ngIf="multiBankingAllowed" scope="row">

                                                    <i class="fa fa-times  font-18 text-red cursor-pointer" (click)="deleteRow()"
                                                        aria-hidden="true"></i>&nbsp;
                                                    <i  class="fa fa-plus-circle font-18 text-dark-green cursor-pointer" (click)="addRow()"
                                                        aria-hidden="true"></i>&nbsp;
                                                </td>
                                            </tr>
                                            <!-- <tr class="p-selectable-row">
                                                <td class="text-center">2</td>
                                                <td>
                                                    Bank Transfer

                                                </td>
                                                <td>
                                                    Kotak Name

                                                </td>
                                                <td>

                                                    KKBSDJFGjh(Kothrud)


                                                </td>
                                                <td>
                                                    ***********29 <i
                                                        class="fa fa-eye-slash  font-18 text-blue cursor-pointer"
                                                        aria-hidden="true"></i>
                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>

                                                <td>
                                                    10,000
                                                </td>


                                                <td>
                                                    1
                                                </td>

                                                <td>

                                                    <i class="fa fa-times  font-18 text-red cursor-pointer"
                                                        aria-hidden="true"></i>&nbsp;
                                                </td>
                                            </tr>
                                            <tr class="p-selectable-row">
                                                <td class="text-center">3</td>
                                                <td>Cheque</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td>
                                                    20,000
                                                </td>


                                                <td>
                                                    2
                                                </td>

                                                <td>

                                                    <i class="fa fa-times  font-18 text-red cursor-pointer"
                                                        aria-hidden="true"></i>&nbsp;
                                                </td>
                                            </tr>
                                            <tr class="p-selectable-row">
                                                <td class="text-center">4</td>
                                                <td>Cash</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>40</td>

                                                <td>

                                                </td>

                                                <td>

                                                </td>


                                                <td>

                                                    <i class="fa fa-times  font-18 text-red cursor-pointer"
                                                        aria-hidden="true"></i>&nbsp;
                                                </td>
                                            </tr>
                                            <tr class="p-selectable-row">
                                                <td class="text-center">5</td>
                                                <td>DD</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>45</td>

                                                <td>

                                                </td>

                                                <td>

                                                </td>


                                                <td>

                                                    <i class="fa fa-times  font-18 text-red cursor-pointer"
                                                        aria-hidden="true"></i>&nbsp;
                                                </td>
                                            </tr> -->

                                            <!-- <tr class="p-selectable-row table-light-color">

                                                <td colspan="6" class="text-bold text-right ">Total

                                                </td>
                                                <td class="text-center text-bold">{{percentageTotal()}}</td>
                                                <td class="text-center text-bold">40,000</td>
                                                <td colspan="2"></td>



                                            </tr> -->
                                        </ng-template>
                                        <ng-template *ngIf="multiBankingAllowed" pTemplate="footer">
                                            <tr>
                                                
                                                <td colspan="6"class="text-bold text-right ">Total</td>
                                                <td class="text-center text-bold">{{percentTotal}}</td>
                                                <td class="text-center text-bold">{{amtTotal}}</td>
                                                <td colspan="2"></td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>    
                                                <td colspan="15" class="font-14 font500 text-center text-red"><span>No
                                                        Data
                                                        Available</span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row mt-15">
                            <div class="col-12">
                                <div class="float-right mb-15">
                                    <button type="submit"
                                        class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left ripple"
                                        tooltip="Save"><b>
                                            <i class="fa fa-floppy-o"></i></b> Save</button>&nbsp;
                                    <button type="button"
                                        class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left "
                                        tooltip="Reset"><b>
                                            <i class="fa fa-refresh"></i></b> Reset</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="mb-0">
                            <h3 class="font-14 text-purple font-bold">Summary</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <p-table  [value]="disbursmentSummary"  [paginator]="true" [rows]="10"  (sortFunction)="customSort($event)" [customSort]="true"
                                [showCurrentPageReport]="true"
                                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                   [rowsPerPageOptions]="[10,25,50,100,200]" >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th rowspan="2" class="wd-6 text-center">Sr. No.</th>

                                            <th rowspan="2" class="wd-8 text-center">
                                                <div class="p-d-flex p-jc-between p-ai-center">Area
                                                    <div class="Sort_Filter_Position">
                                                        <p-sortIcon field="Area" pSortableColumn="Area">
                                                        </p-sortIcon>
                                                        <p-columnFilter type="Area" field="Area" display="menu"
                                                            class="p-ml-auto">
                                                        </p-columnFilter>
                                                    </div>
                                                </div>
                                            </th>
                                            <th rowspan="2" class="wd-8 text-center">
                                                <div class="p-d-flex p-jc-between p-ai-center">Type of Payment
                                                    <div class="Sort_Filter_Position">
                                                        <p-sortIcon field="typeOfPayment" pSortableColumn="Type"></p-sortIcon>
                                                        <p-columnFilter type="typeOfPayment" field="typeOfPayment" display="menu"
                                                            class="p-ml-auto"> </p-columnFilter>
                                                    </div>
                                                </div>
                                            </th>
                                            <th rowspan="2" class="wd-8 text-center">
                                                <div class="p-d-flex p-jc-between p-ai-center">No. of Entries
                                                    <div class="Sort_Filter_Position">
                                                        <p-sortIcon field="totalEntries" pSortableColumn="totalEntries">
                                                        </p-sortIcon>
                                                        <p-columnFilter field="totalEntries" display="menu"
                                                            class="p-ml-auto">
                                                        </p-columnFilter>
                                                    </div>
                                                </div>
                                            </th>
                                            <th rowspan="2" class="wd-8 text-center">
                                                <div class="p-d-flex p-jc-between p-ai-center">From Date

                                                    <div class="Sort_Filter_Position">
                                                        <p-sortIcon field="fromDate" pSortableColumn="fromDate">
                                                        </p-sortIcon>
                                                        <p-columnFilter field="fromDate" matchMode="equals" display="menu"
                                                            class="p-ml-auto"></p-columnFilter>
                                                    </div>
                                                </div>
                                            </th>
                                            <th rowspan="2" class="wd-8 text-center">
                                                <div class="p-d-flex justify-content-center p-ai-center">To Date
                                                    <div class="Sort_Filter_Position">
                                                        <p-sortIcon field="toDate" pSortableColumn="toDate">
                                                        </p-sortIcon>
                                                        <p-columnFilter field="toDate" display="menu"
                                                            class="p-ml-auto">
                                                        </p-columnFilter>
                                                    </div>
                                                </div>
                                            </th>





                                            <th rowspan="2" class="wd-4 text-center"> Action </th>

                                        </tr>

                                    </ng-template>
                                    <ng-template pTemplate="body" let-user1 let-rowIndex="rowIndex">
                                        <tr class="p-selectable-row">
                                            <td class="bg-color-light_gray text-center"><label
                                                class="form-lable mb-0 text-center">{{rowIndex+1}}</label></td>
                                
                                                <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                    tooltip="{{user1.Area}}">{{user1.Area}}</label></td>
                                                    
                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                        tooltip="{{user1.typeOfPayment}}">{{user1.typeOfPayment}}</label>
                                                    </td>
                                
                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                        tooltip="{{user1.totalEntries}}">{{user1.totalEntries}}</label>
                                                    </td>
                                          
                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                        tooltip="{{user1.fromDate}}">{{user1.fromDate}}</label>
                                                    </td>
                                                    <td class="bg-color-light_gray"><label class="form-lable mb-0"
                                                        tooltip="{{user1.toDate}}">{{user1.toDate}}</label>
                                                    </td>
                                                    <td>
                                                <i class="fa fa-edit  font-18 text-dark-green cursor-pointer" (click)="addRow()"
                                                    aria-hidden="true"></i>&nbsp;
                                                <i class="fa fa-eye font-18 text-blue cursor-pointer" (click)="deleteRow()"
                                                    aria-hidden="true"></i>&nbsp;

                                            </td>
                                        </tr>
                                       
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data
                                                    Available</span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>

                    </div>

                </div> <!-- card body -->
            </form>
            </div>
