
.tabset>input:checked+label {
    border: 2px solid #33ad36 !important;
    border-top: 7px solid #33ad36 !important;
    border-bottom: 2px solid #ffffff !important;
    margin-bottom: -1px;
    color: #713f93 !important;}

    textarea {
      font: 15px "Gloria Hallelujah", cursive;
      line-height: 1.5;
      border: 0;
      border-radius: 3px;
      background: aliceblue;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: box-shadow 0.5s ease;
      font-smooth: subpixel-antialiased;
      
    }
    textarea:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    }
    textarea:focus {
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
      outline: none;
    }
    .p-input-icon-left>i:first-of-type {
        top: 25px;
        z-index: 1;
        right: 90px;
        color: #6c757d;
        position: absolute;}
        .bck{
          background: #ddd1e759;
        }
        .text-number-card-text {
          background-color: #38b449!important;
          padding-bottom: 5px!important;
          padding-top: 5px!important;
          border-bottom-right-radius: .25rem!important;
          border-top-right-radius: .25rem!important;
          text-align: center;
          color: #fff!important;
      }
      .custom_btn {
        display: inline-block;
        font-weight: 400;
        color: #333;
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding-right: 8px !important;
        padding-top: 4px !important;
        padding-bottom: 6px !important;
        padding-left: 39px !important;
        font-size: 0.8125rem;
        line-height: 26px;
        border-radius: 0.1875rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .card1
    {
      border-radius: 9px;
      padding: 10px;
      height:200px;
      box-shadow: 2px 4px 9px 0px #e5daec8f;
      background: #e1dfdf;
  }
    
  .card3{
    padding:5px;
  }
  .text-link {
    color: blue !important;
    text-decoration: underline !important;
    cursor: pointer !important;
    padding: 10px;
}
.card-header {
  /* padding: 20px 20px 10px 20px; */
  border: 0;
  border-bottom: 1px solid gray;
  font-weight: 700;
  color: darkgreen;
  background: none;
  display: flex;
  align-items: center;}
