<div class="tabview-contents">
    <div class="row mt-10">
        <div class="col-12">
            <div class="table-responsive Custom_Table">
                <table class="table table-striped table-hover table-bordered m-b-0">
                    <thead class="thead-dark">
                        <tr>
                            <th rowspan="2" class="wd-25 font700">House Description</th>
                            <th rowspan="2" class="wd-15 font700">From Date</th>
                            <th rowspan="2" class="wd-10 font700">To Date</th>
                            <th colspan="2" class="wd-30 font700">Rent Amount Per Month </th>
                            <th rowspan="2" class="wd-10 font700">Action</th>
                        </tr>
                        <tr>
                            <th>Declared</th>
                            <th>Actual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of summaryGridData; let i = index">
                            <td>
                                <span tooltip="{{summary.propertyName}}">{{summary.propertyName}}</span>
                            </td>
                            <td>
                                <span tooltip="{{ summary.toDate | date :'dd-MMM-yyyy' }}">{{summary.toDate
                                    | date :"dd-MMM-yyyy"}}</span>
                            </td>
                            <td>
                                <span tooltip="{{ summary.fromDate | date :'dd-MMM-yyyy' }}">{{summary.fromDate
                                    | date :"dd-MMM-yyyy"}}</span>
                            </td>
                            <td>
                                <span tooltip="{{summary.declaredAmount}}">{{summary.declaredAmount}}</span>
                            </td>
                            <td>
                                <span tooltip="{{summary.actualAmount}}">{{summary.actualAmount}}</span>
                            </td>
                            <!-- <td><i class="fa fa-edit font-16 text-dark-green cursor-pointer"tooltip="Edit"></i>&nbsp;&nbsp;
                                <i class="fa fa-eye font-16 text-blue cursor-pointer" tooltip="View"></i>
                            </td> -->
                            <td class="wd-10">
                                <i class="fa fa-edit font-16 text-dark-green cursor-pointer"
                                    (click)="redirectToDeclarationActual(summary.propertyName,  'edit')"
                                    tooltip="Edit"></i>&nbsp;&nbsp;
                                <i class="fa fa-eye font-16 text-blue cursor-pointer"
                                    (click)="redirectToDeclarationActual(summary.propertyName, 'view')"
                                    tooltip="View"></i>
                            </td>
                        </tr>
                        <tr *ngIf="!summaryGridData?.length">
                            <td colspan="6">
                                <span class="font-14 font500 align-center text-red">No Data
                                    Available</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #template1>
            <div class="modal-header">
                <h5 class="modal-title" id="UploadedDocumentModalLabel"></h5>
                <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="col-12 mb-4 mt-4">
                <div class="table-responsive Custom_Table">
                    <table class="table table-striped table-hover table-bordered m-b-0">
                        <thead class="thead-dark">
                            <tr>
                                <th rowspan="4" class="wd-21 font700"></th>
                                <th rowspan="2" class="wd-20 font700">Declared</th>
                                <th rowspan="2" class="wd-19 font700">Actual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-right font700">Exempt Amount</td>
                                <td>
                                    <div _ngcontent-atq-c560="" class="custom_icon_badge">
                                        <input _ngcontent-atq-c560="" type="text"
                                            class="form-control align-right ng-pristine ng-valid ng-touched">
                                    </div>
                                </td>
                                <td>
                                    <div _ngcontent-atq-c560="" class="custom_icon_badge">
                                        <input _ngcontent-atq-c560="" type="text"
                                            class="form-control align-right ng-pristine ng-valid ng-touched">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>
        <div class="col-12 mt-2">
            <div class="float-right mb-15">
                <button type="button" class="btn btn-primary btn-sm " tooltip="Exemption Working"
                    (click)="opencomputationModal(template1)"><b>
                        <i class="fa fa-calendar"></i></b>Exemption Working</button>
            </div>
        </div>
    </div>
</div>