<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
  <app-header></app-header>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form class="card" role="form" [formGroup]="HeadCreationForm" (ngSubmit)="addHeadCreation()" method="post"
                #formDirective="ngForm" novalidate>
                <div class="row">

                  <div class="col-sm-6 col-md-3">
                    <label class="form-label">Code</label>
                    <div class="input-group">
                      <input type="text" [readonly]="!disabled" (change)="onChangeEvent($event)"
                        (keypress)="keyPressedSpaceNotAllow($event)" formControlName="standardName" class="form-control"
                        placeholder="Enter Code"
                        [ngClass]="{'is-invalid' : HeadCreationForm.get('standardName').status == 'INVALID'}">
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <label class="form-label">Description</label>
                    <div class="input-group">
                      <input type="text" [readonly]="!disabled" formControlName="description" class="form-control"
                        [ngClass]="{'is-invalid' : HeadCreationForm.get('description').status == 'INVALID'}"
                        placeholder="Enter Description">
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <label class="form-label">Short Name</label>
                    <div class="input-group">
                      <input type="text" [readonly]="!disabled" formControlName="shortName" class="form-control"
                        placeholder="Enter Short Name"
                        [ngClass]="{'is-invalid' : HeadCreationForm.get('shortName').status == 'INVALID'}">
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <label class="form-label">Display Name</label>
                    <div class="input-group">
                      <input type="text" formControlName="displayName" class="form-control"
                        [ngClass]="{'is-invalid' : HeadCreationForm.get('displayName').status == 'INVALID'}"
                        placeholder="Enter Display Name">
                    </div>
                  </div>

                </div>
                <div class="row mt-15">


                  <div class="col-sm-6 col-md-3" [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
                    <label class="form-label">Nature</label>
                    <select (change)="onChangeNature($event.target.value)" name="headNature" id="headNature"
                      [ngClass]="{'is-invalid' : HeadCreationForm.get('headNature').status == 'INVALID'}"
                      class="form-control  " formControlName="headNature">
                      <option selected value=''>Select </option>
                      <option *ngFor="let natureList of NatureList" [value]="natureList.value">
                        {{natureList.label}}
                      </option>
                    </select>
                  </div>
                  <!-- [ngClass]="{'is-invalid' : CycleCreationForm1.get('businessYear').status == 'INVALID'}" -->


                  <div class="col-sm-6 col-md-3" [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
                    <label class="form-label">Type</label>

                    <select name="type" id="type" class="form-control  " formControlName="type">
                      <option selected value=''>Select </option>
                      <option *ngFor="let typeList of TypeList" [value]="typeList.name">
                        {{typeList.name}}
                      </option>
                    </select>
                  </div>
                  <!-- [ngClass]="{'is-invalid' : CycleCreationForm1.get('businessYear').status == 'INVALID'}" -->
                  <!-- changed radio button to dropdown on 20-03-2021 -->
                  <!-- <div class="col-sm-6 col-md-3" [ngClass]="[disabled ? 'searchclosebutton2' : 'disableDiv']">
                    <label class="form-label">Is Statutory</label>
                    <div>
                      <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="statutory" formControlName="statutory"
                          value='true'>
                        <span class="custom-control-label">Yes</span>
                      </label>
                      <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="statutory" formControlName="statutory"
                          value='false'>
                        <span class="custom-control-label">No</span>
                      </label>
                    </div>
                  </div> -->


                  <div class="col-sm-6 col-md-3">
                    <label class="form-label">Category</label>
                    <select name="category" id="category" class="form-control  " formControlName="category">
                      <option selected value=''>Select </option>
                      <option *ngFor="let category of categoryList" [value]="category.value">
                        {{category.label}}
                      </option>
                    </select>
                  </div>


                  <!-- <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Date">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-primary btn-block"
                                        title="">Search</a>
                                </div> -->
                </div>


                <div class="row mt-15">
                  <div class="col-12">
                    <div class="float-right mb-15">
                      <button type="submit" *ngIf="!viewCancelButton" [disabled]="HeadCreationForm.invalid"
                        [ngClass]="{'disabled-btn-bg-green' : HeadCreationForm.invalid,'btn-bg-green': !HeadCreationForm.invalid}"
                        class="custom_button custom_btn btn-bg-green btn-labeled btn-labeled-left" tooltip="Save"><b><i
                            class="fa fa-floppy-o"></i></b>
                        Save</button>

                      <!--[disabled]="CycleDefinationForm.invalid" [ngClass]="{'disabled-btn-bg-green' : CycleDefinationForm.invalid,'btn-bg-green': !CycleDefinationForm.invalid}" -->


                      <button type="button" (click)="CancelHeadCreation()" *ngIf="viewCancelButton"
                        class="custom_button custom_btn bg-btn-red btn-labeled btn-labeled-left ml-10"
                        tooltip="Cancel"><b><i class="fa fa-times" aria-hidden="true"></i></b>
                        Cancel</button>

                      <button type="button" (click)="ResetHeadCreation()" *ngIf="!viewCancelButton"
                        class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left ml-10"
                        tooltip="Reset"><b><i class="fa fa-refresh" aria-hidden="true"></i></b>
                        Reset</button>
                    </div>
                  </div>
                </div>
              </form>





              <div class="row">
                <div class="col-md-11">


                  <div class="cycle-table mt-4">
                    <h3 class="font-14 text-purple font-bold">Summary</h3>

                    <p-table [value]="HeadCreationList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                      [rowsPerPageOptions]="[10,25,50,100,200]">

                      <ng-template pTemplate="header">
                        <tr>
                          <th rowspan="1" class="wd-8 text-center">
                            Sr. No.
                          </th>
                          <th rowspan="2" class="wd-12">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Code
                              <div class="Sort_Filter_Position">
                                <p-sortIcon field="standardName" pSortableColumn="standardName"></p-sortIcon>
                                <p-columnFilter field="standardName" display="menu" class="p-ml-auto"></p-columnFilter>
                              </div>
                            </div>
                          </th>

                          <th rowspan="2" class="wd-12">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Description
                              <div class="Sort_Filter_Position">
                                <p-sortIcon field="description" pSortableColumn="description"></p-sortIcon>
                                <p-columnFilter field="description" display="menu" class="p-ml-auto"></p-columnFilter>
                              </div>
                            </div>
                          </th>
                          <th rowspan="2" class="wd-8">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Short Name
                              <div class="Sort_Filter_Position">
                                <p-sortIcon field="shortName" pSortableColumn="shortName"></p-sortIcon>
                                <p-columnFilter field="shortName" display="menu" class="p-ml-auto"></p-columnFilter>
                              </div>
                            </div>
                          </th>
                          <th rowspan="2" class="wd-8">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Display Name
                              <div class="Sort_Filter_Position">
                                <p-sortIcon field="displayName" pSortableColumn="displayName"></p-sortIcon>
                                <p-columnFilter field="displayName" display="menu" class="p-ml-auto"></p-columnFilter>
                              </div>
                            </div>
                          </th>
                          <th rowspan="2" class="wd-8">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Nature
                              <div class="Sort_Filter_Position">
                                <p-sortIcon field="headNature" pSortableColumn="headNature"></p-sortIcon>
                                <p-columnFilter field="headNature" display="menu" class="p-ml-auto"></p-columnFilter>
                              </div>

                            </div>
                          </th>
                          <th rowspan="2" class="wd-8">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Type
                              <div class="Sort_Filter_Position">
                                <p-sortIcon field="type" pSortableColumn="type"></p-sortIcon>
                                <p-columnFilter field="type" display="menu" class="p-ml-auto"></p-columnFilter>
                              </div>

                            </div>
                          </th>
                          <th rowspan="2" class="wd-6">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Category
                              <div class="Sort_Filter_Position">
                                <p-sortIcon field="category" pSortableColumn="category"></p-sortIcon>
                                <p-columnFilter field="category" display="menu" class="p-ml-auto"></p-columnFilter>
                              </div>

                            </div>
                          </th>
                          <th rowspan="2" class="wd-6 text-center">
                            <div class="p-d-flex p-jc-center p-ai-center">
                              Action
                            </div>
                          </th>
                        </tr>

                      </ng-template>



                      <ng-template pTemplate="body" let-user1 let-rowIndex="rowIndex">
                        <tr class="p-selectable-row">

                          <td class="bg-color-light_gray text-center"><label
                              class="form-lable mb-0 text-center">{{rowIndex+1}}</label></td>
                          <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.standardName}}</label>
                          </td>
                          <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.description}}</label>
                          </td>
                          <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.shortName}}</label>
                          </td>
                          <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.displayName}}</label>
                          </td>
                          <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.headNature}}</label>
                          </td>
                          <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.type}}</label></td>
                          <td class="bg-color-light_gray"><label class="form-lable mb-0">{{user1.category}}</label></td>
                          <td class="wd-6 text-center">
                            <button type="button" class="btn btn-icon" title="View"
                              (click)="GetHeadCreationbyIdDisable(user1.headMasterId)">
                              <i class="fa fa-eye"></i></button>
                          </td>
                        </tr>

                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="15" class="font-14 font500 text-center text-red"><span>No Data Available</span>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
