<div class="container-fluid">
    <!-- <div class="row">
        <div class="col-12"> -->
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <legend class="nomination-title">Nomination</legend>
                            <legend class="font-size-11">All nomination details are in %</legend>
                        </div>
                        <!-- <div class="card"> -->
                        <div class="col-sm-6 col-md-3" style="margin-left: auto;">
                            <label class="form-label">Last Updated Date</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <input [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" data-provide="datepicker"
                                        data-date-autoclose="true" class="form-control" placeholder="Select Birth Date"
                                        bsDatepicker [(ngModel)]="lastUpdatedDate" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-table [value]="nominationDataSource" [scrollable]="true" [style]="{width:'1000px'}"
                        scrollHeight="275px" [style]="{'overflow':'auto!important'}">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col style="width:130px">
                                <col style="width:130px">
                                <col style="width:130px">
                                <col style="width:130px">
                                <col style="width:130px">
                                <col style="width:130px">
                                <col style="width:130px">
                                <col style="width:130px">
                                <col style="width:130px">
                                <col style="width:130px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="primeng-table-header-center">Name</th>
                                <th class="primeng-table-header-center">Provident Fund (PF)</th>
                                <th class="primeng-table-header-center">Emp. Pension Scheme (EPS)</th>
                                <th class="primeng-table-header-center">Emp. State Ins. (ESI)</th>
                                <th class="primeng-table-header-center">Gratuity</th>
                                <th class="primeng-table-header-center">Super Annuation</th>
                                <th class="primeng-table-header-center">Salary</th>
                                <th class="primeng-table-header-center">Life Insurance</th>
                                <th class="primeng-table-header-center">Mediclaim Ins.</th>
                                <th class="primeng-table-header-center">Personal Accident Ins.</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-nomination>
                            <tr>
                                <td tooltip="{{nomination.familyMemberName}}"><span>
                                        <input type="text" class="form-control"
                                            [(ngModel)]="nomination.familyMemberName"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control text-center"
                                            [(ngModel)]="nomination.pfPercentage" [ngModelOptions]="{standalone: true}"
                                            (change)="getTotalPFCost(nomination.pfPercentage)"
                                            (change)="nomination.pfPercentage < 0 ? nomination.pfPercentage = 0 : nomination.pfPercentage; nomination.pfPercentage > 100 ? nomination.pfPercentage = 0 : nomination.pfPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control text-center"
                                            [(ngModel)]="nomination.epsPercentage" [ngModelOptions]="{standalone: true}"
                                            (change)="nomination.epsPercentage < 0 ? nomination.epsPercentage = 0: nomination.epsPercentage; nomination.epsPercentage > 100 ? nomination.epsPercentage = 0: nomination.epsPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control text-center"
                                            [(ngModel)]="nomination.esicPercentage"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="esicPercentageValidation(nomination.esicPercentage);nomination.esicPercentage < 0 ? nomination.esicPercentage = 0 : nomination.esicPercentage; nomination.esicPercentage > 100 ? nomination.esicPercentage = 0 : nomination.esicPercentage; nomination.esicPercentage < 100 ? nomination.esicPercentage = 0 : nomination.esicPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control text-center"
                                            [(ngModel)]="nomination.gratuityPercentage"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="nomination.gratuityPercentage < 0 ? nomination.gratuityPercentage = 0 : nomination.gratuityPercentage; nomination.gratuityPercentage > 100 ? nomination.gratuityPercentage = 0 : nomination.gratuityPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control text-center"
                                            [(ngModel)]="nomination.superAnnuationPercentage"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="nomination.superAnnuationPercentage < 0 ? nomination.superAnnuationPercentage = 0 : nomination.superAnnuationPercentage; nomination.superAnnuationPercentage > 100 ? nomination.superAnnuationPercentage = 0 : nomination.superAnnuationPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control text-center"
                                            [(ngModel)]="nomination.salaryPercentage"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="nomination.salaryPercentage < 0 ? nomination.salaryPercentage = 0 : nomination.salaryPercentage; nomination.salaryPercentage > 100 ? nomination.salaryPercentage = 0 : nomination.salaryPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control text-center"
                                            [(ngModel)]="nomination.lifeInsurancePercentage"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="nomination.lifeInsurancePercentage < 0 ? nomination.lifeInsurancePercentage = 0 : nomination.lifeInsurancePercentage; nomination.lifeInsurancePercentage > 100 ? nomination.lifeInsurancePercentage = 0 : nomination.lifeInsurancePercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control text-center"
                                            [(ngModel)]="nomination.mediclaimInsurancePercentage"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="nomination.mediclaimInsurancePercentage < 0 ? nomination.mediclaimInsurancePercentage = 0 : nomination.mediclaimInsurancePercentage; nomination.mediclaimInsurancePercentage > 100 ? nomination.mediclaimInsurancePercentage = 0: nomination.mediclaimInsurancePercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control text-center"
                                            [(ngModel)]="nomination.personalAccidentInsurancePercentage"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="nomination.personalAccidentInsurancePercentage < 0 ? nomination.personalAccidentInsurancePercentage = 0: nomination.personalAccidentInsurancePercentage; nomination.personalAccidentInsurancePercentage > 100 ? nomination.personalAccidentInsurancePercentage = 0 : nomination.personalAccidentInsurancePercentage;">
                                    </span></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" *ngIf="nominationDataSource">
                            <tr>
                                <td class="p-text-left">Totals %</td>
                                <td class="primeng-table-header-center">{{getTotalPF()}}</td>
                                <td class="primeng-table-header-center">{{getTotalepsPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalesicPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalgratuityPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalsupeannuationPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalsalaryPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotallifeInsurancePercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalMediclaimInsurancePercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalpersonalAccidentInsurance()}}</td>
                            </tr>
                            <tr>
                                <td class="p-text-left">Remaining Balance %</td>
                                <td class="primeng-table-header-center">{{getRemainingTotalPF()}}</td>
                                <td class="primeng-table-header-center">{{getRemainingTotalepsPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getRemainingTotalesicPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getRemainingTotalgratuityPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getRemainingSupeAnnuationPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getRemainingTotalsalaryPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getRemainingLifeInsurancePercentage()}}</td>
                                <td class="primeng-table-header-center">{{getRemainingMediclaimInsurancePercentage()}}
                                </td>
                                <td class="primeng-table-header-center">{{getRemainingpersonalAccidentInsurance()}}</td>
                            </tr>
                            <tr>
                                <td class="p-text-left">Documents</td>
                                <td class="primeng-table-header-center">Form 1 &nbsp;<a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                                <td class="primeng-table-header-center">Form 2 &nbsp;<a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                                <td class="primeng-table-header-center">Form 3 &nbsp;<a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                                <td class="primeng-table-header-center">Form 4 &nbsp;<a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                                <td class="primeng-table-header-center">Form 5 &nbsp;<a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                                <td class="primeng-table-header-center">Form 6 &nbsp;<a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                                <td class="primeng-table-header-center">Form 7 &nbsp;<a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                                <td class="primeng-table-header-center">Form 8 &nbsp;<a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                                <td class="primeng-table-header-center">Form 9 &nbsp;<a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <span class="font-14 font500 align-center text-red no-data-center"
                        *ngIf="nominationDataSource.length==0">No
                        data found</span>


                    <!-- <br><br>

                    <legend class="nomination-title">Document</legend>
                    <p-table [value]="FamilyMemberList" [scrollable]="true" [style]="{width:'1000px'}"
                        scrollHeight="200px">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="primeng-table-header-center">Nomination</th>
                                <th class="primeng-table-header-center">Document Name</th>
                                <th class="primeng-table-header-center">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-nomination>
                            <tr>
                                <td class="primeng-table-header-center"><span>
                                        Provident Fund (PF) %
                                    </span></td>

                                <td class="primeng-table-header-center"><span>
                                        Form 2
                                    </span></td>

                                <td class="primeng-table-header-center"><a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <span class="font-14 font500 align-center text-red no-data-center"
                        *ngIf="FamilyMemberList.length==0">No
                        data found</span> -->
                    <!-- </div> -->


                    <br><br>
                    <legend class="nomination-title">Employee State Insurance (ESI) Dispensary</legend>

                    <p-table [value]="esicDataSource" [scrollable]="true" [style]="{width:'600px'}"
                        scrollHeight="200px">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col style="width:200px">
                                <col style="width:200px">
                                <col style="width:200px">
                                <col style="width:200px">
                                <col style="width:200px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="primeng-table-header-center">Name</th>
                                <th class="primeng-table-header-center">State</th>
                                <th class="primeng-table-header-center">City</th>
                                <th class="primeng-table-header-center">Dispensary Name</th>
                                <th class="primeng-table-header-center">Dispensary Address</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ESIC>
                            <tr>
                                <td tooltip="{{ESIC.familyMemberName}}" data-placement="top"><span>
                                        <input type="text" class="form-control" [(ngModel)]="ESIC.familyMemberName"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </span></td>

                                <td><span>
                                        <select class="form-control" placeholder="Select" [(ngModel)]="ESIC.state"
                                            [ngModelOptions]="{standalone: true}" [dropdown]="true"
                                            (completeMethod)="filterStates($event,ESIC)"
                                            (change)="filterCity($event, ESIC)" placeholder="Select">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let state of ESIC.stateList" [value]="state">
                                                {{state}}
                                            </option>
                                        </select>
                                    </span></td>

                                <td *ngIf="ESIC.cities"><span>
                                        <select class="form-control" placeholder="Select" [(ngModel)]="ESIC.city"
                                            (completeMethod)="filterCities($event,ESIC)"
                                            (change)="filterDispensaryName(ESIC.city, ESIC)" tooltip="{{ESIC.city}}">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let city of ESIC.cities" [value]="city">
                                                {{city}}
                                            </option>
                                        </select>
                                    </span></td>

                                <td *ngIf="!ESIC.cities"><span>
                                        <input type="text" class="form-control" [(ngModel)]="ESIC.city"
                                            [ngModelOptions]="{standalone: true}" tooltip="{{ESIC.city}}">
                                    </span></td>

                                <td *ngIf="ESIC.dispensaryList"><span>
                                        <select class="form-control" placeholder="Select"
                                            [(ngModel)]="ESIC.dispensaryName" [ngModelOptions]="{standalone: true}"
                                            (completeMethod)="filterDispensaryList($event,ESIC)"
                                            (change)="getDispensaryAddress(ESIC, ESIC)"
                                            tooltip="{{ESIC.dispensaryName}}">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let dispensary of ESIC.dispensaryList" [value]="dispensary">
                                                {{dispensary}}
                                            </option>
                                        </select>
                                    </span></td>

                                <td *ngIf="!ESIC.dispensaryList"><span>
                                        <input type="text" class="form-control" [(ngModel)]="ESIC.dispensaryName"
                                            [ngModelOptions]="{standalone: true}" tooltip="{{ESIC.dispensaryName}}">
                                    </span></td>

                                <td><span>
                                        <input type="text" class="form-control" [(ngModel)]="ESIC.dispensaryAddress"
                                            [ngModelOptions]="{standalone: true}" tooltip="{{ESIC.dispensaryAddress}}">
                                    </span></td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <span class="font-14 font500 align-center text-red no-data-center"
                        *ngIf="esicDataSource.length==0">No
                        data found</span>


                    <div class="row mt-15">
                        <div class="col-12">
                            <div class="float-right mb-25">
                                <button type="button" tooltip="Reset" (click)="resetNomination()"
                                    class="custom_button custom_btn bg-teal-400 btn-labeled btn-labeled-left mr-10"><b><i
                                            class="fa fa-refresh" aria-hidden="true"></i></b>Reset</button>

                                <button type="submit"
                                    (click)="saveNominationsDetails(nominationDataSource, esicDataSource)"
                                    class="custom_button custom_btn btn-labeled btn-labeled-left btn-bg-green"
                                    tooltip="Save"><b><i class="fa fa-floppy-o"></i></b>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div>
            </div> -->
        </div>
    </div>
</div>