<div class="container-fluid">
    <!-- <div class="row">
        <div class="col-12"> -->
    <div class="card">
        <legend style="font-size: 17px !important;">Nomination</legend>
        <div class="card-body">
            <div class="row mt-20">
                <div class="col-md-12">

                    <!-- <div class="card"> -->
                    <p-table [value]="nominationDataSource" [scrollable]="true" [style]="{width:'1000px'}"
                        scrollHeight="200px">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="primeng-table-header-center">Name</th>
                                <th class="primeng-table-header-center">Provident Fund (PF)<br>%</th>
                                <th class="primeng-table-header-center">Employee Pension Scheme (EPS) %</th>
                                <th class="primeng-table-header-center">Salary<br>%</th>
                                <th class="primeng-table-header-center">Employee State Insurance (ESI) %</th>
                                <th class="primeng-table-header-center">Gratuity<br>%</th>
                                <th class="primeng-table-header-center">Super Annuation<br>%</th>
                                <th class="primeng-table-header-center">Life Insurance<br>%</th>
                                <th class="primeng-table-header-center">Mediclaim Annuation<br>%</th>
                                <th class="primeng-table-header-center">Personal Accident Annuation<br>%</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-nomination>
                            <tr>
                                <td><span>
                                        <input type="text" class="form-control"
                                            [(ngModel)]="nomination.familyMemberName"
                                            [ngModelOptions]="{standalone: true}" style="text-align: center;"
                                            [disabled]="nomination.disable">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control" [(ngModel)]="nomination.pfPercentage"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="getTotalPFCost(nomination.pfPercentage)"
                                            [disabled]="nomination.disable"
                                            (change)="nomination.pfPercentage < 0 ? nomination.pfPercentage = '' : nomination.pfPercentage; nomination.pfPercentage > 100 ? nomination.pfPercentage = '' : nomination.pfPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control" [(ngModel)]="nomination.epsPercentage"
                                            [ngModelOptions]="{standalone: true}" [disabled]="nomination.disable"
                                            (change)="nomination.epsPercentage < 0 ? nomination.epsPercentage = '' : nomination.epsPercentage; nomination.epsPercentage > 100 ? nomination.epsPercentage = '' : nomination.epsPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="nomination.salaryPercentage"
                                            [ngModelOptions]="{standalone: true}" [disabled]="nomination.disable"
                                            (change)="nomination.salaryPercentage < 0 ? nomination.salaryPercentage = '' : nomination.salaryPercentage; nomination.salaryPercentage > 100 ? nomination.salaryPercentage = '' : nomination.salaryPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="nomination.esicPercentage"
                                            [ngModelOptions]="{standalone: true}" [disabled]="nomination.disable"
                                            (change)="nomination.esicPercentage < 0 ? nomination.esicPercentage = '' : nomination.esicPercentage; nomination.esicPercentage > 100 ? nomination.esicPercentage = '' : nomination.esicPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="nomination.gratuityPercentage"
                                            [ngModelOptions]="{standalone: true}" [disabled]="nomination.disable"
                                            (change)="nomination.gratuityPercentage < 0 ? nomination.gratuityPercentage = '' : nomination.gratuityPercentage; nomination.gratuityPercentage > 100 ? nomination.gratuityPercentage = '' : nomination.gratuityPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="nomination.superAnnuationPercentage"
                                            [ngModelOptions]="{standalone: true}" [disabled]="nomination.disable"
                                            (change)="nomination.superAnnuationPercentage < 0 ? nomination.superAnnuationPercentage = '' : nomination.superAnnuationPercentage; nomination.superAnnuationPercentage > 100 ? nomination.superAnnuationPercentage = '' : nomination.superAnnuationPercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="nomination.lifeInsurancePercentage"
                                            [ngModelOptions]="{standalone: true}" [disabled]="nomination.disable"
                                            (change)="nomination.lifeInsurancePercentage < 0 ? nomination.lifeInsurancePercentage = '' : nomination.lifeInsurancePercentage; nomination.lifeInsurancePercentage > 100 ? nomination.lifeInsurancePercentage = '' : nomination.lifeInsurancePercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="nomination.mediclaimInsurancePercentage"
                                            [ngModelOptions]="{standalone: true}" [disabled]="nomination.disable"
                                            (change)="nomination.mediclaimInsurancePercentage < 0 ? nomination.mediclaimInsurancePercentage = '' : nomination.mediclaimInsurancePercentage; nomination.mediclaimInsurancePercentage > 100 ? nomination.mediclaimInsurancePercentage = '' : nomination.mediclaimInsurancePercentage;">
                                    </span></td>

                                <td><span>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="nomination.personalAccidentInsurancePercentage"
                                            [ngModelOptions]="{standalone: true}" [disabled]="nomination.disable"
                                            (change)="nomination.personalAccidentInsurancePercentage < 0 ? nomination.personalAccidentInsurancePercentage = '' : nomination.personalAccidentInsurancePercentage; nomination.personalAccidentInsurancePercentage > 100 ? nomination.personalAccidentInsurancePercentage = '' : nomination.personalAccidentInsurancePercentage;">
                                    </span></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td class="p-text-right">Totals %</td>
                                <td class="primeng-table-header-center">{{getTotalPF()}}</td>
                                <td class="primeng-table-header-center">{{getTotalepsPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalsalaryPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalesicPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalgratuityPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalsupeannuationPercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotallifeInsurancePercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalMediclaimInsurancePercentage()}}</td>
                                <td class="primeng-table-header-center">{{getTotalpersonalAccidentInsurance()}}</td>
                            </tr>
                            <tr>
                                <td class="p-text-right">Remaining Balance %</td>
                                <td class="primeng-table-header-center">{{TotalPercentageDTO.remainingPf}}</td>
                                <td class="primeng-table-header-center">{{TotalPercentageDTO.remainingEps}}</td>
                                <td class="primeng-table-header-center">{{TotalPercentageDTO.remainingSalary}}</td>
                                <td class="primeng-table-header-center">{{TotalPercentageDTO.remainingEsic}}</td>
                                <td class="primeng-table-header-center">{{TotalPercentageDTO.remainingGratuity}}</td>
                                <td class="primeng-table-header-center">{{TotalPercentageDTO.remainingAnnuation}}</td>
                                <td class="primeng-table-header-center">{{TotalPercentageDTO.remainingLifeIns}}</td>
                                <td class="primeng-table-header-center">{{TotalPercentageDTO.remainingMediclaimIns}}
                                </td>
                                <td class="primeng-table-header-center">{{TotalPercentageDTO.remainingAccidentIns}}</td>
                            </tr>
                        </ng-template>
                    </p-table>


                    <br><br>

                    <legend style="font-size: 17px !important;">Document</legend>
                    <p-table [value]="FamilyMemberList" [scrollable]="true" [style]="{width:'1000px'}"
                        scrollHeight="200px">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="primeng-table-header-center">Nomination</th>
                                <th class="primeng-table-header-center">Document Name</th>
                                <th class="primeng-table-header-center">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-nomination>
                            <tr>
                                <td class="primeng-table-header-center"><span>
                                        Provident Fund (PF) %
                                    </span></td>

                                <td class="primeng-table-header-center"><span>
                                        Form 2
                                    </span></td>

                                <td class="primeng-table-header-center"><a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                            </tr>
                            <tr>
                                <td class="primeng-table-header-center"><span>
                                        Provident Fund (PF) %
                                    </span></td>

                                <td class="primeng-table-header-center"><span>
                                        Form F
                                    </span></td>

                                <td class="primeng-table-header-center"><a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                            </tr>
                            <tr>
                                <td class="primeng-table-header-center"><span>
                                        Provident Fund (PF) %
                                    </span></td>

                                <td class="primeng-table-header-center"><span>
                                    </span></td>

                                <td class="primeng-table-header-center"><a [href]="fileUrl" download="file.txt"><i
                                            class="fa fa-cloud-download"></i>
                                    </a></td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- </div> -->


                    <br><br>
                    <legend style="font-size: 17px !important;">Employee State Insurance (ESI) Dispensary</legend>

                    <p-table [value]="esicDataSource" [scrollable]="true" [style]="{width:'600px'}"
                        scrollHeight="200px">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                                <col style="width:250px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="primeng-table-header-center">Name</th>
                                <th class="primeng-table-header-center">State</th>
                                <th class="primeng-table-header-center">City</th>
                                <th class="primeng-table-header-center">Dispensary Name</th>
                                <th class="primeng-table-header-center">Dispensary Address</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ESIC>
                            <tr>
                                <td><span>
                                        <input type="text" class="form-control" [(ngModel)]="ESIC.familyMemberName"
                                            [ngModelOptions]="{standalone: true}" style="text-align: center;">
                                    </span></td>

                                <td><span>
                                        <p-autoComplete [suggestions]="ESIC.stateList" [(ngModel)]="ESIC.state"
                                            [ngModelOptions]="{standalone: true}" [dropdown]="true"
                                            (completeMethod)="filterStates($event,ESIC)"
                                            (onSelect)="filterCity($event, ESIC)" placeholder="Select">
                                        </p-autoComplete>
                                    </span></td>

                                <td><span>
                                        <p-autoComplete [suggestions]="filteredCities" [(ngModel)]="ESIC.city"
                                            (completeMethod)="filterCities($event,ESIC)"
                                            (onSelect)="filterDispensaryName(ESIC.city, ESIC)"
                                            matTooltip="{{ESIC.city}}" [dropdown]="true">
                                        </p-autoComplete>
                                    </span></td>

                                <td><span>
                                        <p-autoComplete [suggestions]="FilteredDispensaryNames"
                                            [(ngModel)]="ESIC.dispensaryName" [ngModelOptions]="{standalone: true}"
                                            (completeMethod)="filterDispensaryList($event,ESIC)"
                                            (onSelect)="getDispensaryAddress(ESIC, ESIC)"
                                            matTooltip="{{ESIC.dispensaryName}}" [dropdown]="true">
                                        </p-autoComplete>
                                    </span></td>

                                <td><span>
                                        <input type="text" class="form-control" [(ngModel)]="ESIC.dispensaryAddress"
                                            [ngModelOptions]="{standalone: true}"
                                            matTooltip="{{ESIC.dispensaryAddress}}">
                                    </span></td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <div class="row mt-15">
                        <div class="col-12">
                            <div class="float-right mb-25">

                                <button type="submit"
                                    (click)="saveNominationsDetails(nominationDataSource, esicDataSource)"
                                    class="custom_button custom_btn btn-labeled btn-labeled-left btn-bg-green"
                                    tooltip="Save"><b><i class="fa fa-floppy-o"></i></b>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div>
            </div> -->
        </div>
    </div>
</div>